{% assign block_name = 'article' %}
{% assign this_blog = blog | default: false %}
{% assign this_blog_handle = blog.handle | default: false %}

{% if tags.size > 0 and blog %}

  {% assign tag_link_base = '/blogs/' | append: this_blog_handle | append: '/tagged/' %}

  <div class="{{ block_name }}__tags">
    <div class="{{ block_name }}__tags-label">Tags:</div>
    {% for tag in tags %}
      {% assign tag_link = tag | handle | prepend: "/blogs/journal/tagged/" %}
      {% if forloop.first %}
        <div class="{{ block_name }}__tags-item"><a href="{{ tag_link }}">{{ tag }}</a></div>
      {% else %}
        <div class="{{ block_name }}__tags-item">, <a href="{{ tag_link }}">{{ tag }}</a></div>
      {% endif %}
    {% endfor %}
  </div>

{% endif %}






        {% if blog.tags.size > 0 %}
          <div class="hero__tags tags tags--blog">
            {% for tag in blog.tags %}
              {% assign tag_handle = tag | handle %}
              {% assign tag_link_base = '/blogs/' | append: blog_handle | append: '/tagged/' %}
              {% assign tag_link = tag_link_base | append: tag.handle %}
              {% assign is_active = false %}
              {% if current_tags %}
                {% if tag_handle == current_tag_handle %}
                  {% assign is_active = true %}
                {% endif %}
              {% endif %}
              <div class="tags__item {% if is_active %}active{% endif %}">
                {%
                  render 'content--link',
                  active: is_active,
                  classes: 'tags__link',
                  title: tag,
                  url: tag_link
                %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
