{% assign block_name = 'article' %}

{% assign article_next = blog.next_article | default: false %}
{% assign article_previous = blog.previous_article | default: false %}
{% assign cta_title = 'Back to the ' | append: blog.title | default: false %}
{% assign cta_link = blog.url | default: false %}

<div class='{{ block_name }}__footer'>
  {% render 'layout--container', state: 'open', col: 'col-12 col-lg-10 offset-lg-1' %}

    {% if article_next or article_previous %}

      <div class='{{ block_name }}__read-more'>

        <h2 class='{{ block_name }}__heading {{ block_name }}__heading--read-more heading heading--600 lowercase heading--read-more heading--article-title'>Read More</h2>

        <div class='row row--inner'>
          {% if article_previous %}
            <div class='col-12 col-lg-6'>
              {%
                render 'article--preview',
                article: article_previous,
                style: 'read-more'
              %}
            </div>
          {% endif %}
          {% if article_next %}
            <div class='col-12 col-lg-6'>
              {%
                render 'article--preview',
                article: article_next,
                style: 'read-more'
              %}
            </div>
          {% endif %}
        </div>

        <div class='{{ block_name }}__read-more-cta'>
          {%
            render 'content--link',
            classes: 'button button--outlined',
            title: cta_title,
            url: cta_link
          %}
        </div>

      </div>

    {% endif %}

  {% render 'layout--container', state: 'close' %}
</div>
