{% assign block_name = 'article' %}
{% assign article_author = article.author | default: false %}
{% assign article_content = article.content | default: false %}
{% assign article_content = article_content | replace: '<img src=', '<img class="lazyload lazyload-item lazyload-item--image lazypreload lazyload-item--inline" data-transition-delay="0" data-transition-duration="250" data-src=' %}
{% assign article_created_at = article.created_at | default: false %}
{% assign article_tags = article.tags | default: false %}
{% assign article_title = article.title | default: false %}

<div class="{{ block_name }}__body">
  {% render 'layout--container', state: 'open', col: 'col-12 col-lg-10 offset-lg-1' %}

    <h2 class="{{ block_name }}__title heading heading--600 lowercase heading--article-title">{{ article_title }}</h2>
    <div class="{{ block_name }}__meta">
      <time class="{{ block_name }}__date-time" datetime="{{ article_created_at | date: '%Y-%m-%d' }}">{{ article_created_at | date: '%m.%d.%y' }}</time>
      <div class="{{ block_name }}__meta-spacer">/</div>
      <div class="{{ block_name }}__author">By: {{ article_author }}</div>
    </div>
    <div class="{{ block_name }}__content rte" id="article-content">{{ article_content }}</div>

    {% render 'layout--tags', blog: blog, class_modifier: 'article', label: 'Tags:' tags: article_tags, type: 'article' %}

    {% render 'layout--share-this', label: 'Share:', title: article.title %}

  {% render 'layout--container', state: 'closed' %}
</div>
