{% assign block_name = 'article' %}
{% assign article_image = article.image | default: false %}
{% assign article_title = article.title | default: false %}
{% assign article_image_fallback = 'OPTIMI--article-feature-image-fallback.svg' | asset_url %}

<div class="{{ block_name }}__hero hero hero--article">
  {% if article_image %}
    {% render 'content--lazyload-image', background: true, image: article_image %}
  {% else %}
    <div
      class="lazyload-item lazyload-item--image lazyload-item--background lazyload lazypreload"
      data-bg="{{ article_image_fallback }}"
      data-transition-delay="0"
      data-transition-duration="250"
    ></div>
  {% endif %}
</div>
