{% comment %}

  Use snippet like so...

  {%
    render 'article--preview',
    article: article,
    type: 'read-more'
  %}

{% endcomment %}

{% assign block_name = 'article' %}
{% assign style = style | default: 'default' %}

{% if article %}

  {% assign article_link = article.url %}
  {% assign article_image = article.image | default: false %}
  {% assign article_image_fallback = 'OPTIMI--article-feature-image-fallback.svg' | asset_url %}
  {% assign article_title = article.title | default: false %}
  {% assign article_author = article.author | default: false %}
  {% assign article_created_at = article.created_at | default: false %}
  {% assign article_published_at = article.published_at | default: false %}
  {% assign excerpt = article.excerpt_or_content | truncatewords: 20 | strip_html %}

  <article class="{{ block_name }}" data-style='{{ style }}'>
    {% if 'blog-feature-small' == style %}<a href="{{ article_link }}" target="_self">{% endif %}

      <div class="{{ block_name }}__preview">

        <div class="{{ block_name }}__image">
          {% unless 'blog-feature-small' == style %}<a href="{{ article_link }}" target="_self">{% endunless %}
            {% if article_image %}
              {%
                render 'content--lazyload-image',
                background: true,
                image: article_image,
                preload: true,
                responsive: false,
              %}
            {% else %}
              {% render 'content--fallback-image', background: true %}
            {% endif %}
          {% unless 'blog-feature-small' == style %}</a>{% endunless %}
        </div>

        <div class="{{ block_name }}__content">

          {% case style %}
            {% when 'blog-feature-small' %}
              <h2 class="{{ block_name }}__title heading heading--600 lowercase heading--article-title">{{ article_title }}</h2>
              <time class="{{ block_name }}__date-time" datetime="{{ article_published_at | date: '%Y-%m-%d' }}">{{ article_published_at | date: '%m.%d.%y' }}</time>
            {% when 'search-results-article' %}
              <h2 class="{{ block_name }}__title heading heading--600 lowercase heading--article-title"><a href="{{ article_link }}" target="_self">{{ article_title }}</a></h2>
              <div class="{{ block_name }}__excerpt"><p>{{ excerpt }}</p></div>
              <div class="{{ block_name }}__cta">
                {%
                  render 'content--link',
                  classes: 'button button--with-arrow',
                  title: 'Read More',
                  url: article_link
                %}
              </div>
              <time class="{{ block_name }}__date-time" datetime="{{ article_published_at | date: '%Y-%m-%d' }}">{{ article_published_at | date: '%m.%d.%y' }}</time>
            {% else %}
              <time class="{{ block_name }}__date-time" datetime="{{ article_published_at | date: '%Y-%m-%d' }}">{{ article_published_at | date: '%m.%d.%y' }}</time>
              <h2 class="{{ block_name }}__title heading heading--600 lowercase heading--article-title"><a href="{{ article_link }}" target="_self">{{ article_title }}</a></h2>
              <div class="{{ block_name }}__cta">
                {%
                  render 'content--link',
                  classes: 'button button--with-arrow',
                  title: 'Read More',
                  url: article_link
                %}
              </div>
          {% endcase %}

        </div>

      </div>

    {% if 'blog-feature-small' == style %}</a>{% endif %}
  </article>

{% endif %}
