{% assign block_name = 'blog' %}
{% assign blog_articles = blog.articles | default: false %}
{% assign blog_feed_limit = 5 %}

<div class='{{ block_name }}__body'>
  {% render 'layout--container', state: 'open' %}

    {% if blog_articles.size > 0 %}
      {% paginate blog.articles by blog_feed_limit %}

        <div class='{{ block_name }}__feed' data-feed-size='{{ blog_articles.size }}'>
          {% for article in blog.articles %}
            {%
              render 'article--preview',
              article: article,
              style: 'blog-feed'
            %}
          {% endfor %}
        </div>

        {%
          render 'content--pagination',
          paginate: paginate,
          style: 'blog'
        %}

      {% endpaginate %}
    {% endif %}

  {% render 'layout--container', state: 'close' %}
</div>
