{% assign block_name = 'blog' %}
{% assign blog_title = blog.title | default: false %}
{% assign blog_handle = blog.handle | default: false %}
{% assign current_tag_handle = current_tags.first | handle | default: false %}

<div class="{{ block_name }}__hero hero">
  <div class="hero__main">
    {% render 'layout--container', state: 'open', col: 'col-12' %}
      <div class="hero__content">

        <h1 class="hero__title heading heading--600 lowercase heading--title heading--blog-title">The {{ blog_title }}</h1>
        {% render 'layout--tags', blog: blog, class_modifier: 'blog', tags: blog.tags, type: 'blog' %}

      </div>
    {% render 'layout--container', state: 'close' %}
  </div>
</div>
