{% assign block_name = 'cart' %}
{% assign pre_order_message = settings.pre-order--message | default: false %}

{% if cart.item_count > 0 %}

  {% assign cart_subtotal = cart.original_total_price %}
  {% assign cart_total = cart.total_price %}
  {% assign has_pre_order = false %}
  {% for item in cart.items %}
    {% if item.variant.inventory_policy == 'continue' %}
      {% assign has_pre_order = true %}
      {% break %}
    {% endif %}
  {% endfor %}

  <div class="{{ block_name }}__footer">
    {% render 'layout--container', state: 'open' %}

      <div class='{{ block_name }}__price-summary'>

        <div class='{{ block_name }}__subtotal'>
          <div class='{{ block_name }}__row'>
            <span class="{{ block_name }}__subtotal-label">Subtotal</span>
            <span class="{{ block_name }}__subtotal-value">{{ cart_subtotal | money }}</span>
          </div>
        </div>

        {% comment %} ## TODO ADD STYLES FOR THIS TOO {% endcomment %}
        {% if cart.discount_applications.size > 0 %}
          <div class='{{ block_name }}__discounts'>
            {% for discount_application in cart.discount_applications %}
              <div class='{{ block_name }}__row'>
                Discount name: {{ discount_application.title }}
                Savings: -{{ discount_application.total_allocated_amount | money }}
              </div>
            {% endfor %}
          </div>
        {% endif %}

        <div class='{{ block_name }}__total'>
          <div class='{{ block_name }}__row'>
            <span class="{{ block_name }}__total-label">Total</span>
            <span class="{{ block_name }}__toal-value">{{ cart_total | money }}</span>
          </div>
        </div>

      </div>

      <div class='{{ block_name }}__actions'>
        <div class='{{ block_name }}__row'>
          {% if has_pre_order and pre_order_message %}
            <div class='{{ block_name }}__pre-order rte'>{{ pre_order_message }}</div>
          {% endif %}
          <button class='button button--outlined' type="submit" name="update">Update Cart</button>
          <button class='button button--outlined' type="submit" name="checkout">Proceed to Checkout</button>
        </div>
        <div class='{{ block_name }}__row'>
          <div class='{{ block_name }}__continue-shopping'>or <a class='{{ block_name }}__continue-shopping-link' href='/pages/shop/' target='_self'>Continue Shopping</a></div>
        </div>
      </div>

    {% render 'layout--container', state: 'closed' %}
  </div>

{% endif %}
