{% assign block_name = 'cart' %}

{% if cart.item_count == 0 %}

  <div class="{{ block_name }}__empty">
    {% render 'layout--container', state: 'open' %}
      <h1 class="{{ block_name }}__heading heading heading--secondary heading--600 lowercase">Your cart is empty</h1>
      <div class="{{ block_name }}__message message rte">
        <p>Let's change that. <a class='link link--primary' href='/collections/supplements' target='_self'>Shop our supplements</a>.</p>
      </div>
    {% render 'layout--container', state: 'closed' %}
  </div>

{% endif %}
