{% assign block_name = 'cart' %}

{% if cart.item_count > 0 %}

  <div class='{{ block_name }}__body'>
    {% render 'layout--container', state: 'open' %}

      <div class='{{ block_name }}__table-guide'>
        <div class='{{ block_name }}__row'>
          <div class='{{ block_name }}__column info'>Item</div>
          <div class='{{ block_name }}__column price'>Price</div>
          <div class='{{ block_name }}__column quantity'>Qty.</div>
          <div class='{{ block_name }}__column line-price'>Subtotal</div>
        </div>
      </div>

      <div class='{{ block_name }}__line-items'>
        {% for item in cart.items %}
          {% render 'cart--item', item: item %}
        {% endfor %}
      </div>

    {% render 'layout--container', state: 'closed' %}
  </div>

{% endif %}
