{% assign block_name = 'cart' %}

{% if cart.item_count > 0 %}

  <div class="{{ block_name }}__header">
    <div class="{{ block_name }}__main">

      {% render 'layout--container', state: 'open' %}
        <h1>Your Cart</h1>
      {% render 'layout--container', state: 'closed' %}

    </div>
  </div>

{% endif %}
