{% comment %}

  Use snippet like so...

  {%
    render 'cart--item',
    item: item
  %}

{% endcomment %}

{% if item %}

  {% assign block_name = 'cart' %}

  {% assign url = item.url %}
  {% assign product_title = item.product.title %}
  {% assign product_type = item.product.type %}
  {% assign variant_title = item.variant.title %}
  {% assign image = item.image %}
  {% assign price = item.price %}
  {% assign price_compare_at = item.variant.compare_at_price | default: false %}
  {% assign line_price = item.line_price %}
  {% assign variant_id = item.variant_id %}
  {% assign selling_plan = item.selling_plan_allocation.selling_plan %}
  {% assign selling_plan_compare_at = item.selling_plan_allocation.compare_at_price | default: false %}

  {% comment %}

    //////////////////////////////////////////////////////////
    ////  Template
    //////////////////////////////////////////////////////////

  {% endcomment %}

  <div
    class='{{ block_name }}__item product'
    data-variant-id='{{ variant_id }}'
    data-product-style='{{ block_name }}'
    data-product-type='{{ product_type }}'
    data-product-compare-at-price='{{ price_compare_at }}'
    data-product-selling-plan-compare-at-price='{{ selling_plan_compare_at }}'
  >

  <script>

    {% if selling_plan %}
      console.log( {{ item.selling_plan_allocation.selling_plan | json }} );
    {% endif %}

    console.log({
      final_price: {{ item.final_price | json }},
      final_line_price: {{ item.final_line_price | json }},
      original_line_price: {{ item.original_line_price | json }},
      original_price: {{ item.original_price | json }},
      properties: {{ item.properties | json }},
      selling_plan_allocation: {
        price_adjustments: {{ item.selling_plan_allocation.price_adjustments | json }},
        compare_at_price: {{ item.selling_plan_allocation.compare_at_price | json }},
        per_delivery_price: {{ item.selling_plan_allocation.per_delivery_price | json }},
        price: {{ item.selling_plan_allocation.price | json }},
        selling_plan: {{ item.selling_plan_allocation.selling_plan | json }},
        selling_plan_group_id: {{ item.selling_plan_allocation.selling_plan_group_id | json }},
        unit_price: {{ item.selling_plan_allocation.unit_price | json }},
      }
    });

  </script>

    <div class='{{ block_name }}__row'>

      <div class='{{ block_name }}__column image'>
        <div class='{{ block_name }}__item-product-image product__image'>
          <a href='{{ url }}' target='_self'>
            {% render 'content--lazyload-image', image: image, alt_text: '' %}
          </a>
        </div>
      </div>

      <div class='{{ block_name }}__column info'>

        <div class='{{ block_name }}__item-product-title'>
          <a href='{{ url }}' target='_self'>{{ product_title }}</a>
        </div>

        {% unless 'Default Title' == variant_title %}
          <div class='{{ block_name }}__item-product-variant-title'>{{ variant_title }}</div>
        {% endunless %}

        {% if selling_plan %}

          {% assign selling_plan_name = selling_plan.name | default: false %}
          {% assign selling_plan_price_adjustments = selling_plan.price_adjustments | default: false %}

          <div class='{{ block_name }}__item-product-selling-plan'>
            {% if selling_plan_name %}
              <span class='{{ block_name }}__item-product-selling-plan-name'>{{ selling_plan_name }}</span>
            {% endif %}
            {% if selling_plan_price_adjustments.size > 0 %}
              <span class='{{ block_name }}__item-product-selling-plan-price-adjustments'>
                {% for adjustment in selling_plan_price_adjustments %}
                  {% case adjustment.value_type %}
                    {% when 'percentage' %}
                      (Save {{ adjustment.value }}%)
                    {% when 'fixed_amount', 'price' %}
                      (Save {{ adjustment.value | money }})
                  {% endcase %}
                {% endfor %}
              </span>
            {% endif %}
          </div>

        {% endif %}

      </div>

      <div class='{{ block_name }}__column actions'>
        <div class='{{ block_name }}__item-price'>
          {%- if price_compare_at or selling_plan_compare_at -%}
            <span class='{{ block_name }}__item-product-compare-at-price'>
              {%- if selling_plan_compare_at -%}
                {{- selling_plan_compare_at | money -}}
              {%- else %}
                {{- price_compare_at | money -}}
              {%- endif -%}
            </span>
          {%- endif -%}
          {{- price | money -}}
        </div>
        <div class='{{ block_name }}__item-quantity'>
          <div class='product__quantity'>
            <button class='product__quantity-button decrease' type='button'>-</button>
            <span class='product__quantity-total'>{{ item.quantity }}</span>
            <button class='product__quantity-button increase' type='button'>&#177;</button>
            <input class='product__quantity-input d-none' type='number' name='updates[]' id='updates_{{ item.key }}' value='{{ item.quantity }}' min='0'>
          </div>
          <div class='{{ block_name }}__item-remove'>
            <a class='{{ block_name }}__item-remove-link' href="{{ item.url_to_remove }}">Remove</a>
          </div>
        </div>
        <div class='{{ block_name }}__item-line-price d-none d-lg-block'>{{- line_price | money -}}</div>
      </div>

    </div>
  </div>

{% endif %}
