{% assign block_name = 'collection' %}

{% assign url = item.url %}
{% assign title = item.title %}
{% assign type = item.type %}
{% assign image = item.featured_image | default: false %}
{% assign price = item.price %}
{% assign line_price = item.line_price %}
{% assign variant_id = item.variant_id %}

<div class="{{ block_name }}__item product">

  {% if image %}
    <div class="product__image">
      <a href='{{ url }}'>
        {% render 'content--lazyload-image', image: image, alt_text: title %}
      </a>
    </div>
  {% endif %}

  <div class="product__info">
    <div class="product__title">
      <a href='{{ url }}'>
        <strong>Title:</strong> {{- title -}}
      </a>
    </div>
    <div class="product__type"><strong>Type:</strong> {{- type -}}</div>
    <div class="product__price"><strong>Price:</strong> {{- price | money -}}</div>
  </div>

</div>
