{% comment %}

  Use snippet like so...

  {%
    render 'collection--hero',
    include_container: true,
    collection: collection
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'collection' %}
{% assign include_container = include_container | default: false %}
{% assign collection = collection | default: false %}

{% comment %} Template {% endcomment %}

{% if collection %}

  {% assign collection_title = collection.title | default: false %}
  {% assign collection_description = collection.description | default: false %}

  <div class="{{ block_name }}__hero">
    <div class="{{ block_name }}__main">

      {% if include_container %}
        {% render 'layout--container', state: 'open' %}
      {% endif %}

      {% if collection_title %}
        <h1
          class='{{ block_name }}__title heading heading--600 lowercase heading--primary'
          {% render 'aos-attributes', delay: 100, duration: 500, transition: 'fade-left' %}
        >{{ collection_title }}</h1>
      {% endif %}

      {% if collection_description %}
        <div
          class='{{ block_name }}__description message message--primary rte'
          {% render 'aos-attributes', delay: 300, duration: 500, transition: 'fade-left' %}
        >{{ collection_description }}</div>
      {% endif %}

      {% if include_container %}
        {% render 'layout--container', state: 'closed' %}
      {% endif %}

    </div>
  </div>

{% endif %}
