{% comment %}

  Use snippet like so...

  {%
    render 'collection--body',
    include_container: true,
    collection: collection
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'collection' %}
{% assign include_container = include_container | default: false %}
{% assign collection = collection | default: false %}

{% comment %} Template {% endcomment %}

{% if collection %}

  {% assign collection_products = collection.products | default: false %}

  <div class="{{ block_name }}__body">
    <div class="{{ block_name }}__main">

      {% if include_container %}
        {% render 'layout--container', state: 'open' %}
      {% endif %}

      {% paginate collection.products by 12 %}

        {%
          render 'content--grid',
          items: collection.products,
          style: block_name,
        %}

        {% if paginate.pages > 1 %}
          {{ paginate | default_pagination }}
        {% endif %}

      {% endpaginate %}

      {% if include_container %}
        {% render 'layout--container', state: 'closed' %}
      {% endif %}

    </div>
  </div>

{% endif %}
