{% comment %}

  Use snippet like so...

  {%
    render 'collection--preview',
    collection: collection_01,
    type: 'shop-guide'
  %}

{% endcomment %}

{% comment %} ## Variables ## {% endcomment %}
{% assign block_name = "collection" %}
{% assign collection = collection | default: false %}
{% assign collection_image = collection.image | default: false %}
{% assign collection_title = collection.title | default: false %}
{% assign collection_url = collection.url | default: false %}
{% assign type = type | default: false %}

{% comment %} ## Template ## {% endcomment %}
{% if collection %}
  <div class="{{ block_name }} {% if type %}{{ type }}{% endif %}">
    <div class="{{ block_name }}__preview">
      <a href='{{ collection.url }}'>
        <div class="{{ block_name }}__image">
          {% if collection_image %}
            {% render 'content--lazyload-image', background: false, image: collection_image %}
          {% else %}
            {% render 'content--fallback-image', background: true %}
          {% endif %}
        </div>
        <h3 class="{{ block_name }}__title button button--outlined">{{ collection_title }}</h3>
      </a>
    </div>
  </div>
{% endif %}
