{% comment %}

  Use snippet like so...

  {%
    render 'content--address',
    address: customer.default_address,
    classes: 'test__class',
    style: 'default',
    tag: ''
  %}

{% endcomment %}

{% comment %} ## Default Values ## {% endcomment %}

{% assign this_appearance = appearance | default: 'primary' %}
{% assign this_classes = classes | default: false %}
{% assign this_link = link | default: false %}
{% assign this_title = title | default: false %}
{% assign this_target = '_self' %}
{% assign this_tag = tag | default: false %}

{% comment %} ## Conditional Values ## {% endcomment %}

{% if address %}

  {% assign first_name = address.first_name | default: false %}
  {% assign last_name = address.last_name | default: false %}
  {% assign address1 = address.address1 | default: false %}
  {% assign address2 = address.address2 | default: false %}
  {% assign city = address.city | default: false %}
  {% assign province_code = address.province_code | default: false %}
  {% assign country = address.country | default: false %}
  {% assign phone = address.phone | default: false %}
  {% assign zip = address.zip | default: false %}

  {% if this_tag %}<{{ this_tag }}{% if this_classes %} class='{{ this_classes}}'{% endif %}>{% endif %}

    {% case style %}

      {% when 'order' %}

        {% if first_name or last_name %}
          <p>{% if first_name %}{{ first_name }}{% endif %} {% if last_name %}{{ last_name }}{% endif %}</p>
        {% endif %}
        {% if address1 or address2 %}
          <p>{% if address2 %}{{ address2 }}–{% endif%}{% if address1 %}{{ address1 }}{% endif %}</p>
        {% endif %}
        {% if city or province_code or zip %}
          <p>{% if city %}{{ city }}{% endif %}{% if province_code %}, {{ province_code }}{% endif %}{% if zip %} {{ zip }}{% endif %}</p>
        {% endif %}
        {% if country %}
          <p>{{ country }}</p>
        {% endif %}
        {% if phone %}
          <p class='phone'>{{ phone }}</p>
        {% endif %}

      {% else %}

        {% if first_name or last_name %}
          <p>{% if first_name %}{{ first_name }}{% endif %} {% if last_name %}{{ last_name }}{% endif %}</p>
        {% endif %}
        {% if address1 or address2 %}
          <p>{% if address2 %}{{ address2 }}–{% endif%}{% if address1 %}{{ address1 }}{% endif %}</p>
        {% endif %}
        {% if city or province_code or zip %}
          <p>{% if city %}{{ city }}{% endif %}{% if province_code %}, {{ province_code }}{% endif %}{% if zip %} {{ zip }}{% endif %}</p>
        {% endif %}
        {% if country %}
          <p>{{ country }}</p>
        {% endif %}
        {% if phone %}
          <p class='phone'>{{ phone }}</p>
        {% endif %}

    {% endcase %}

  {% if this_tag %}</{{ this_tag }}>{% endif %}

{% endif %}

