{% comment %}

  Use snippet like so...

  {%
    render 'content--tabbed-content',
    active: true,
    id: 'product-description-tabbed',
    content: this_product_description
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'tabbed' %}
{% assign this_active = active | default: false %}
{% assign this_id = id | default: false %}
{% assign this_content = content | default: false %}

{% comment %} Template {% endcomment %}

{% if this_id and this_content %}
  <div class="{{ block_name }}__pane tab-pane fade rte{% if this_active %} show active{% endif %}" id="{{ this_id }}" role="tabpanel" aria-labelledby="nav-home-tab">{{ this_content }}</div>
{% endif %}

