{% comment %}

  Use snippet like so...

  {%
    render 'content--collapsible-item',
    content: richTextObject,
    id: 'some-uniue-id'
    open: true,
    style: 'chevron',
    title: 'Description'
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'collapsible' %}
{% assign this_content = content | default: false %}
{% assign this_id = id | default: false %}
{% assign this_open = open | defaut: false %}
{% assign this_style = style | default: 'chevron' %}
{% assign this_title = title | default: false %}

{% comment %} Block Vars {% endcomment %}

{% comment %} Template {% endcomment %}

{% if this_content and this_id and this_title %}
  <div class='{{ block_name }}__item'>
    <button class='{{ block_name }}__trigger{% unless this_open %} collapsed{% endunless %}' type='button' data-bs-toggle='collapse' data-bs-target='#{{ this_id }}' aria-expanded='false' aria-controls='{{ this_id }}'>
      <span class='{{ block_name }}__trigger-title'>{{ this_title }}</span>
      <span class='{{ block_name }}__trigger-icon'>
        {% render 'svg--icon-chevron', fill_colour: 'essentials-charcoal' %}
      </span>
    </button>
    <div class='{{ block_name }}__content collapse{% if this_open %} show{% endif %}' id='{{ this_id }}'>
      <div class='{{ block_name }}__padding rte'>{{ this_content }}</div>
    </div>
  </div>
{% endif %}

