{% comment %}

  Use snippet like so...

  {%
    render 'content--carousel',
    bullets: false,
    controls: false,
    id: false,
    items: items,
    limit: false,
    mobile_only: false,
    style: '',
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'glide' %}
{% assign bullets = bullets | default: false %}
{% assign controls = controls | default: false %}
{% assign id = id | default: false %}
{% assign items = items | default: false %}
{% assign limit = limit | default: 5 %}
{% assign mobile_only = mobile_only | default: false %}
{% assign style = style | default: false %}

{% comment %} Template {% endcomment %}

{% if items.size > 1 and id %}

  <div
    class='{{ block_name }} js--{{ block_name }}'
    id='{{ block_name }}--{{ id }}'
    data-glide-style='{{ style }}'
    data-glide-mobile-only='{% if mobile_only %}true{% else %}false{% endif %}'
    data-glide-limit='{{ limit }}'
  >

    <div class='{{ block_name }}__track' data-glide-el='track'>
      <ul class='{{ block_name }}__slides'>
        {% for item in items %}
          <li class='{{ block_name }}__slide'>
            {% case style %}
              {% when 'campaign-gallery' %}
              {% when 'collection-feature' %}
                {% render 'product--preview', link_photo: true, product: item, style: style %}
              {% when 'product-campaign-gallery' %}
              {% when 'product-gallery' %}
              {% when 'product-recommended' %}
            {% endcase %}
          </li>
        {% endfor %}
      </ul>
    </div>

    {% if controls %}
      <div class="{{ block_name }}__arrows" data-glide-el="controls">
        <button class="{{ block_name }}__arrow {{ block_name }}__arrow--left" data-glide-dir="<">prev</button>
        <button class="{{ block_name }}__arrow {{ block_name }}__arrow--right" data-glide-dir=">">next</button>
      </div>
    {% endif %}

    {% if bullets %}
      <div class="{{ block_name }}__bullets" data-glide-el="controls[nav]">
        {% for item in items %}
          <button class="{{ block_name }}__bullet" data-glide-dir="={{ forloop.index0 }}"></button>
        {% endfor %}
      </div>
    {% endif %}

  </div>

{% endif %}
