{% comment %}

  Use snippet like so...

  {%
    render 'content--navigation-item',
    classes: 'd-none d-lg-inline-flex',
    index: index,
    item: item,
    subnavigation: subnavigation,
    subnavigation_collapsible: true
  %}

{% endcomment %}

{% assign block_name = 'navigation' %}
{% assign classes = classes | default: false %}
{% assign index = index | default: 'no-index' %}
{% assign item = item | default: false %}
{% assign subnavigation = subnavigation | default: false %}
{% assign subnavigation_active = false %}
{% assign subnavigation_collapsible = subnavigation_collapsible | default: false %}
{% assign subnavigation_id = false %}

{% if item %}

  {% assign item_id = item.id %}
  {% assign title = item.settings.title | default: false %}
  {% assign url = item.settings.url | default: false %}

  {% for subitem in subnavigation %}
    {% if subitem.settings.parent-url == url %}
      {% assign subnavigation_active = true %}
      {% assign subnavigation_id = 'subnavigation--' | append: item_id %}
      {% break %}
    {% endif %}
  {% endfor %}

  <div
    class="{{ block_name }}__item{% if classes %} {{ classes }}{% endif %}{% if subnavigation_active %} with-children{% endif %}"
    id="{{ block_name }}--{{ item_id }}"
    data-navigation-id="{{ item_id }}"
    data-index="{{ index }}"
  >

    {% if subnavigation_collapsible and subnavigation_active %}

      <button
        class="{{ block_name }}__button button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#{{ subnavigation_id }}"
        aria-expanded="false"
        aria-controls="{{ subnavigation_id }}">
          <span class="navigation__button-title">{{ title }}</span>
          <span class="navigation__button-icon">
            {% render 'svg--icon-chevron', fill_colour: 'essentials-charcoal' %}
          </span>
      </button>

    {% else %}

      {% if url contains 'http' %}
        {% assign target = '_blank' %}
        {% assign rel = 'noopener' %}
      {% else %}
        {% assign target = '_self' %}
        {% assign rel = false %}
      {% endif %}

      <a
        class="{{ block_name }}__link{% render 'theme--is-active', url: url %}"
        href="{{ url }}"
        target="{{ target }}"
        data-navigation-id="{{ item_id }}"
        {% if rel %}rel="{{ rel }}"{% endif %}>{{ title }}</a>

    {% endif %}

    {% if subnavigation_active %}

      <nav
        class="subnavigation{% if subnavigation_collapsible %} collapse{% endif %}"
        id="{{ subnavigation_id }}"
        data-subnavigation-id="{{ item_id }}"
        data-index="{{ index }}"
      >

        <div class="subnavigation__container">

          {% for subnav in subnavigation %}
            {% if url == subnav.settings.parent-url %}

              {% assign sub_block_name = 'subnavigation' %}
              {% assign heading = subnav.settings.heading | default: false %}
              {% assign menu = subnav.settings.menu | default: false %}
              {% assign spotlight_title = subnav.settings.spotlight-title | default: false %}
              {% assign spotlight_url = subnav.settings.spotlight-url | default: false %}
              {% assign type = subnav.settings.type | default: false %}

              <div class="{{ sub_block_name }}__block">

                {% if heading %}
                  <h2 class="{{ sub_block_name }}__heading">{{ heading }}</h2>
                {% endif %}

                {% case type %}
                  {% when 'menu' %}

                    {% if menu %}
                      {%
                        render 'content--navigation',
                        is_subnav: subnavigation_active,
                        menu_handle: menu.handle,
                      %}
                    {% endif %}

                  {% when 'spotlight' %}

                    {% if spotlight_title and spotlight_url %}
                      {% if spotlight_url contains 'http' %}
                        {% assign target = '_blank' %}
                        {% assign rel = 'noopener' %}
                      {% else %}
                        {% assign target = '_self' %}
                        {% assign rel = false %}
                      {% endif %}
                      <div class="{{ sub_block_name }}__item spotlight">
                        <a class="{{ sub_block_name }}__link spotlight{% render 'theme--is-active', url: spotlight_url %}" href="{{ spotlight_url }}" target="{{ target }}" {% if rel %}rel="{{ rel }}"{% endif %}>{{ spotlight_title }}</a>
                      </div>
                    {% endif %}

                {% endcase %}

              </div>

            {% endif %}
          {% endfor %}

        </div>

      </nav>

    {% endif %}

  </div>

{% endif %}
