{% comment %}

  Use snippet like so...

  {%
    render 'content--call-to-action',
    appearance: 'primary',
    link: cta_link,
    title: cta_title
  %}

{% endcomment %}

{% comment %} ## Default Values ## {% endcomment %}

{% assign this_appearance = appearance | default: 'primary' %}
{% assign this_link = link | default: false %}
{% assign this_title = title | default: false %}
{% assign this_target = '_self' %}

{% comment %} ## Conditional Values ## {% endcomment %}

{% if this_link and this_title %}

  {% if this_link contains 'http' %}
    {% assign this_target = '_blank' %}
  {% endif %}

  <a class="cta" data-appearance="{{ this_appearance }}" href='{{ this_link }}' target='{{ this_target }}'>
    <span class="cta__title">{{ this_title }}</span>
    {% if 'secondary' == this_appearance %}
      <span class="cta__icon"><img src="{{ 'OPTIMI--icon--arrow-right.svg' | asset_url }}" /></span>
    {% endif %}
  </a>

{% endif %}
