{% comment %}

  Use snippet like so...

  {%
    render 'content--tabbed-button',
    active: true,
    id: 'some-uniue-id',
    title: 'Description'
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'tabbed' %}
{% assign this_active = active | default: false %}
{% assign this_id = id | default: false %}
{% assign this_title = title | default: false %}

{% comment %} Template {% endcomment %}

{% if this_id and this_title %}
  <button
    class="{{ block_name }}__button{% if this_active %} active{% endif %}"
    data-bs-toggle="tab"
    data-bs-target="#{{ this_id }}"
    type="button"
    role="tab"
    aria-controls="{{ this_id }}"
    aria-selected="{% if this_active %}true{% else %}false{% endif %}"
  ><span class='{{ block_name }}__button-title'>{{ this_title }}</span></button>
{% endif %}

