{% comment %}

  Use snippet like so...

  {%
    render 'content--lazyload-iframe',
    background: false,
    delay: 50,
    preload: true,
    timing: 400,
    video_id: 1234567,
    video_type: 'vimeo',
  %}

{% endcomment %}

{% comment %} ## Default Values ## {% endcomment %}

{% assign this_classes = 'lazyload lazyload-item lazyload-item--iframe' %}
{% assign this_preload = preload | default: true %}
{% assign this_delay = delay | default: 50 %}
{% assign this_duration = duration | default: 250 %}
{% assign this_background = background | default: false %}

{% comment %} ## Conditional Values ## {% endcomment %}

{% if this_preload %}
  {% assign this_classes = this_classes | append: ' lazypreload' %}
{% endif %}
{% if this_background %}
  {% assign this_classes = this_classes | append: ' lazyload-item--background' %}
{% else %}
  {% assign this_classes = this_classes | append: ' lazyload-item--inline' %}
{% endif %}

{% if video_id %}

  {% assign video_source = '' %}

  {% case video_type %}
    {% when 'vimeo' %}
      {% assign video_source = 'https://player.vimeo.com/video/' | append: video_id %}
    {% when 'youtube' %}
      {% assign video_source = 'https://www.youtube.com/embed/' | append: video_id %}
  {% endcase %}

  <iframe
    class='{{ this_classes }}'
    data-transition-delay='{{ this_delay }}'
    data-transition-duration='{{ this_duration }}'
    data-src='{{ video_source }}'
    frameborder='0'
    allow='autoplay; encrypted-media'
    webkitallowfullscreen mozallowfullscreen allowfullscreen
  ></iframe>

{% endif %}
