{% comment %}

  Use snippet like so...

  {%
    render 'content--navigation',
    is_subnav: false,
    menu_handle: 'main-menu'
  %}

{% endcomment %}

{% assign block_name = 'navigation' %}
{% assign this_menu = linklists[menu_handle] | default: false %}
{% assign is_subnav = is_subnav | default: false %}

{% if is_subnav %}
  {% assign block_name = 'subnavigation' %}
{% endif %}

{% if this_menu and this_menu.links.size > 0 %}
  {% for link in this_menu.links %}
    <div class="{{ block_name }}__item{% if link.active %} active{% endif %}">
      {% assign new_tab = false %}
      {% assign link_class = block_name | append: '__link' %}
      {% if link.url contains 'http' %}
        {% assign new_tab = true %}
      {% endif %}
      {%
        render 'content--link',
        active: link.active,
        classes: link_class,
        new_tab: new_tab,
        title: link.title,
        url: link.url
      %}
    </div>
  {% endfor %}
{% endif %}
