{% comment %}

  Use snippet like so...

  {%
    render 'content--grid',
    items: items,
    limit: false,
    style: '',
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'grid' %}
{% assign items = items | default: false %}
{% assign limit = limit | default: 50 %}
{% assign style = style | default: 'default' %}

{% comment %} Template {% endcomment %}

{% if items.size > 0 %}

  {% case style %}
    {% when 'search-results-article', 'search-results-page' %}
      {% assign columns = 'col-12 col-md-6 col-lg-4' %}
    {% else %}
      {% assign columns = 'col-6 col-lg-4' %}
  {% endcase %}

  <div class='{{ block_name }} row row--inner' data-grid-style='{{ style }}'>
    {% for item in items %}
      <div class='{{ block_name }}__item {{ columns }}' data-grid-index='{{ forloop.index }}'>
        {% case style %}

          {% when 'campaign-gallery' %}

          {% when 'collection', 'collection-feature', 'search-results-product' %}
            {% render 'product--preview', link_photo: true, product: item, style: style %}

          {% when 'product-campaign-gallery' %}

          {% when 'product-gallery' %}

          {% when 'product-recommended' %}

          {% when 'search-results-article' %}
            {%
              render 'article--preview',
              article: item,
              style: style
            %}

          {% when 'search-results-page' %}
            {%
              render 'page--preview',
              page: item,
              style: style
            %}

        {% endcase %}
      </div>
    {% endfor %}
  </div>

{% endif %}
