{% comment %}

  Use snippet like so...

  {%
    render 'content--lazyload-video',
    background: false,
    classes: 'sample-class',
    delay: 50,
    duration: 250,
    preload: true,
    video: video_obj,
    video_ratio: '16-9'
  %}

{% endcomment %}

{% comment %} ## Default Values ## {% endcomment %}


{% assign base_classes = 'lazyload lazyload-item lazyload-item--video' %}
{% assign preload = preload | default: true %}
{% assign delay = delay | default: 0 %}
{% assign duration = duration | default: 250 %}
{% assign background = background | default: false %}
{% assign video_source = 'https://player.vimeo.com/video/' %}
{% assign video_playback_options = '?autoplay=0&loop=1&autopause=0&muted=0&background=0' %}
{% assign video_ratio = video_ratio | default: '16-9' %}

{% comment %} ## Conditional Values ## {% endcomment %}

{% if preload %}
  {% assign base_classes = base_classes | append: ' lazypreload' %}
{% endif %}
{% if background %}
  {% assign base_classes = base_classes | append: ' lazyload-item--background' %}
  {% assign video_playback_options = '?autoplay=1&loop=1&autopause=0&muted=1&background=1' %}
{% else %}
  {% assign base_classes = base_classes | append: ' lazyload-item--inline' %}
{% endif %}

{% if classes %}
  {% assign base_classes = base_classes | prepend: ' ' | prepend: classes  %}
{% endif %}

{% if 'youtube' == video.type %}
  {% assign video_source = 'https://www.youtube.com/embed/' %}
{% endif %}

{% if video %}
  <iframe
    class='{{ base_classes }}'
    data-transition-delay='{{ delay }}'
    data-transition-duration='{{ duration }}'
    data-src='{{ video_source | append: video.id | append: video_playback_options }}'
    frameborder='0'
    allow='autoplay; encrypted-media'
    webkitallowfullscreen mozallowfullscreen allowfullscreen
  ></iframe>
{% endif %}
