{% comment %}

  Use snippet like so...

  {%
    render 'content--fallback-image',
    background: true
  %}

{% endcomment %}

{% comment %} ## Variables ## {% endcomment %}
{% assign block_name = "fallback-image" %}
{% assign background = background | default: false %}
{% assign fallback_image = 'OPTIMI--article-feature-image-fallback.svg' | asset_url %}

{% if background %}
   <div
    class="lazyload-item lazyload-item--image lazyload-item--background lazyload lazypreload"
    data-bg="{{ fallback_image }}"
    data-transition-delay="0"
    data-transition-duration="250"
  ></div>
{% else %}
  <img
    class="lazyload-item lazyload-item--image lazyload-item--inline lazyload lazypreload"
    src={{ fallback_image }}
    alt='Fallback Image'
    width='1296'
    height='972'
    data-transition-delay="0"
    data-transition-duration="250"
  />
{% endif %}
