{% comment %}

  Use snippet like so...

  {%
    render 'content--lazyload-video-embed',
    background: false,
    classes: 'video-embed__iframe',
    delay: 0,
    duration: 250,
    preload: false,
    video_aspect_ratio: '16-9',
    video_id: '76979871'
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign background = background | default: true %}
{% assign classes = classes | default: false %}
{% assign delay = delay | default: 0 %}
{% assign duration = duration | default: 250 %}
{% assign preload = preload | default: true %}
{% assign video_aspect_ratio = video_aspect_ratio | default: '16-9' %}
{% assign video_id = video_id | default: false %}
{% assign video_source = video_source | default: 'vimeo' %}

{% assign video_classes = 'lazyload lazyload-item lazyload-item--video-embed' %}
{% if classes %}
  {% assign video_classes = video_classes | prepend: ' ' | prepend: classes %}
{% endif %}
{% if preload %}
  {% assign video_classes = video_classes | append: ' lazypreload' %}
{% endif %}

{% case video_source %}
  {% when 'vimeo' %}
    {% assign video_source_url = 'https://player.vimeo.com/video/' %}
  {% when 'youtube' %}
    {% assign video_source_url = 'https://www.youtube.com/embed/' %}
{% endcase %}

{% if background %}
  {% assign video_params = '?autoplay=1&loop=1&autopause=0&muted=1&background=1' %}
  {% assign video_classes = video_classes | append: ' background' %}
{% else %}
  {% assign video_params = '?autoplay=0&loop=1&autopause=0&muted=0&background=0' %}
  {% assign video_classes = video_classes | append: ' inline' %}
{% endif %}

{% comment %} Template {% endcomment %}

{% if video_id %}

  <iframe
    class='{{ video_classes }}'
    data-aspect-ratio='{{ video_aspect_ratio }}'
    data-src='{{ video_source_url }}{{ video_id }}{{ video_params }}'
    data-transition-delay='{{ delay }}'
    data-transition-duration='{{ duration }}'
    frameborder='0'
    allow='autoplay; encrypted-media'
    webkitallowfullscreen mozallowfullscreen allowfullscreen
  ></iframe>

{% endif %}
