{% comment %}

  Use snippet like so...

  {%
    render 'customers--order-item',
    order: order
  %}

{% endcomment %}

{% assign block_name = 'customers' %}

{% assign created_at = order.created_at | default: 'now' | date: '%m/%d/%Y' %}
{% assign financial_status = order.financial_status | default: 'Paid' %}
{% assign fulfillment_status = order.fulfillment_status | default: 'Shipped' %}
{% assign name = order.name | default: '#1025' %}
{% assign total = order.total_net_amount | default: '$30.00' %}
{% assign url = order.customer_url %}

{% comment %}

  //////////////////////////////////////////////////////////
  ////  Template
  //////////////////////////////////////////////////////////

{% endcomment %}

<div class='{{ block_name }}__order-line-item'>
  <div class='{{ block_name }}__row'>

    <div class='{{ block_name }}__column order-number'>
      <a class='{{ block_name }}__link link link--primary' href='{{ url }}'>{{ name }}</a>
    </div>

    <div class='{{ block_name }}__column order-date'>
      <span class='{{ block_name }}__column-label'>Date</span>
      <span class='{{ block_name }}__column-value'>{{ created_at }}</span>
    </div>

    <div class='{{ block_name }}__column order-payment-status'>
      <span class='{{ block_name }}__column-label'>Fulfilment Status</span>
      <span class='{{ block_name }}__column-value'>{{ financial_status | capitalize }}{% if 'refunded' == order.financial_status %} (${{ order.total_refunded_amount | money_without_currency }}){% endif %}</span>
    </div>

    <div class='{{ block_name }}__column order-fulfillment-status'>
      <span class='{{ block_name }}__column-label'>Payment Status</span>
      <span class='{{ block_name }}__column-value'>{{ fulfillment_status | capitalize }}</span>
    </div>

    <div class='{{ block_name }}__column order-total'>
      <span class='{{ block_name }}__column-label'>Total</span>
      <span class='{{ block_name }}__column-value'>{{ total | money }}</span>
    </div>

  </div>
</div>
