{% comment %}

  Use snippet like so...

  {%
    render 'customers--hero',
    heading: 'Login'
  %}

{% endcomment %}

{% assign block_name = 'customers' %}
{% assign heading = heading | replace: '_', ' ' %}

<div class='{{ block_name }}__hero {{ template.name }}'>
  {% render 'layout--container', col: 'col-12 col-lg-10 offset-lg-1', state: 'open' %}

		<h1 class='{{ block_name }}__heading heading heading--600 lowercase heading--secondary'>{{ heading }}</h1>

    {% case template.name %}
      {% when 'account' %}
        <a class='{{ block_name }}__link' href='{{ routes.account_logout_url }}'>
          <span class='{{ block_name }}__link-icon'>
            <img src='{{ 'OPTIMI--icon--account.svg' | asset_url }}' alt='Account Icon' width='' height='' />
          </span>
          <span class='{{ block_name }}__link-title link link--primary'>Log out</span>
        </a>
      {% when 'addresses', 'order' %}
        <a class='{{ block_name }}__link link link--primary' href='{{ routes.account_url }}'>Back to account details</a>
      {% else %}
    {% endcase %}

	{% render 'layout--container', state: 'closed' %}
</div>
