{% comment %}

  Use snippet like so...

  {%
    render 'customers--address-item',
    address: address,
    customer: customer,
    index: forloop.index,
  %}

{% endcomment %}

{% assign block_name = 'customers' %}
{% assign id = address.id %}
{% assign is_default = false %}

{% if address == customer.default_address %}
  {% assign is_default = true %}
{% endif %}

{% comment %}

  //////////////////////////////////////////////////////////
  ////  Template
  //////////////////////////////////////////////////////////

{% endcomment %}

<div class='{{ block_name }}__address-item col-12 col-md-6' id='{{ block_name }}__address-item-{{ id }}' data-index='{{ index }}'>
  <div class='{{ block_name }}__address-item-main'>

    <h3 class='{{ block_name }}__address-item-heading heading heading--600 lowercase heading--tertiary'>address #{{ index }}{% if is_default %}<span>Default address</span>{% endif %}</h3>

    <div class='{{ block_name }}__address-item-address'>
      {% render 'content--address', address: address, style: 'default' %}
    </div>

    <div class='{{ block_name }}__address-item-actions'>

      <button
        class='button button--outlined js--toggle-form-by-id'
        type='button'
        aria-label='Edit Address'
        aria-expanded='false'
        data-target-id='{{ block_name }}__address-form-id-{{ id }}'
      >Edit</button>

      <button
        class='button button--outlined js--delete-address-by-url'
        type='button'
        aria-label='Delete Address'
        data-url='{{ address.url }}'
        data-confirm-message='Are you sure you want to delete this address?'
      >Delete</button>

    </div>

    {% render 'form--customers-address', address: address, id: id %}

  </div>
</div>
