{% assign block_name = 'form' %}
{% assign form_id = 'customers__address-form-id-' | append: id %}

{% comment %}
  <form data-address-delete-form method='post' action='/account/addresses/{{ address.id }}' data-confirm-message='Are you sure you want to delete this address?'>  <input type='hidden' name='_method' value='delete'/>
    <button class='button button--outlined' type='submit'>Delete</button>
  </form>
{% endcomment %}

{% form 'customer_address', address, class: 'form form--customers hide', id: form_id %}

  <h4 class='form__heading heading heading--600 lowercase heading--tertiary' style='margin-bottom: 20px;'>Edit address</h4>

  <div class='form__row'>
    <div class='form__field'>
      <input
        class="input input--border"
        type='text'
        name='address[first_name]'
        id='AddressFirstName_{{ form.id }}'
        value='{{ form.first_name }}'
        autocapitalize='words'
        placeholder="First Name"
      />
    </div>
  </div>

  <div class='form__row'>
    <div class='form__field'>
      <input
        class="input input--border"
        type='text'
        name='address[last_name]'
        id='AddressLastName_{{ form.id }}'
        value='{{ form.last_name }}'
        autocapitalize='words'
        placeholder="Last Name"
      />
    </div>
  </div>

  <div class='form__row'>
    <div class='form__field'>
      <input
        class="input input--border"
        type='text'
        name='address[company]'
        id='AddressCompany_{{ form.id }}'
        value='{{ form.company }}'
        autocapitalize='words'
        placeholder="Company"
      />
    </div>
  </div>

  <div class='form__row'>
    <div class='form__field'>
      <input
        class="input input--border"
        type='text'
        name='address[address1]'
        id='AddressAddress1_{{ form.id }}'
        value='{{ form.address1 }}'
        autocapitalize='words'
        placeholder="Street Address"
      />
    </div>
  </div>

  <div class='form__row'>
    <div class='form__field'>
      <input
        class="input input--border"
        type='text'
        name='address[address2]'
        id='AddressAddress2_{{ form.id }}'
        value='{{ form.address2 }}'
        autocapitalize='words'
        placeholder="Apartmenet, suite, etc."
      />
    </div>
  </div>

  <div class='form__row'>
    <div class='form__field'>
      <input
        class="input input--border"
        type='text'
        name='address[city]'
        id='AddressCity_{{ form.id }}'
        value='{{ form.city }}'
        autocapitalize='words'
        placeholder="City"
      />
    </div>
  </div>

  <div class='form__row'>
    <div class='form__field'>
      <select
        class='select select--outlined select--full-width'
        name='address[country]'
        id='address--country--{{ form.id }}'
        class='address-country-option'
        data-form-id='{{ form.id }}'
        data-default='{{ form.country }}'
      >{{ country_option_tags }}</select>
    </div>
  </div>

  <div class='form__row' id="address--province-container--{{ id }}">
    <div class='form__field'>
      <select
        class='select select--outlined select--full-width'
        name='address[province]'
        id='address--province--{{ form.id }}'
        data-default='{{ form.province }}'
        ></select>
    </div>
  </div>

  <div class='form__row'>
    <div class='form__field'>
      <input
        class="input input--border"
        type='text'
        name='address[zip]'
        id='AddressZip_{{ form.id }}'
        value='{{ form.zip }}'
        autocapitalize='characters'
        placeholder="Postal"
      />
    </div>
  </div>

  <div class='form__row'>
    <div class='form__field'>
      <input
        class="input input--border"
        type='tel'
        name='address[phone]'
        id='AddressPhone_{{ form.id }}'
        value='{{ form.phone }}'
        pattern='[0-9\-]*'
        placeholder="Phone"
      />
    </div>
  </div>

  <div class='form__row'>
    <div class='form__field'>
      <label class='checkbox'>
        {{ form.set_as_default_checkbox }}
        <span class='checkbox__box'></span>
        <span class='checkbox__label'>Set as default address</span>
      </label>
    </div>
  </div>

  <div class='form__row actions'>
    <button
      class='button button--outlined'
      type='submit'
    >Update</button>

    <button
      class='button button--outlined js--toggle-form-by-id'
      type='button'
      data-target-id='{{ form_id }}'
    >Cancel</button>
  </div>

{% endform %}
