{% comment %}

  Use snippet like so...

  {%
    render 'form--search'
  %}

{% endcomment %}

{% assign block_name = 'form' %}

<form class='{{ block_name }} {{ block_name }}--search' action='/search' method='get' role='search'>
  <div class='{{ block_name }}__main'>
    <div class='{{ block_name }}__row search'>
      <span class='{{ block_name }}__search-icon'><img src='{{ 'OPTIMI--icon--search.svg' | asset_url }}' alt='Search' width='20' height='20' /></span>
      <div class='{{ block_name }}__field'>
        <input type='search' name='q' value='{{ search.terms | escape }}' placeholder='Enter search terms...' autofocus>
      </div>
    </div>
    <div class='{{ block_name }}__row action'>
      <button class='{{ block_name }}__button button button--outlined button--wide' type='submit'>Search</button>
    </div>
  </div>
</form>
