{% assign block_name = 'form' %}

{% form 'customer_address', customer.new_address, class: 'form form--customers form--customers-new-address' %}

  <h2 class='{{ block_name }}__heading heading heading--600 lowercase heading--tertiary' style='margin-bottom: 20px;'>New Address</h2>

  <div class='{{ block_name }}__row' data-field-count='2'>
    <div class='{{ block_name }}__field'>
      <input class="input input--border" type='text' name='address[first_name]' size='40' autocapitalize='words' placeholder='First name'/>
    </div>
    <div class='{{ block_name }}__field'>
       <input class="input input--border" type='text' name='address[last_name]' size='40' autocapitalize='words' placeholder='Last name'/>
    </div>
  </div>

  <div class='{{ block_name }}__row'>
    <input class="input input--border" type='text' name='address[company]' size='40' autocapitalize='words' placeholder='Company'/>
  </div>

  <div class='{{ block_name }}__row' data-field-count='2'>
    <div class='{{ block_name }}__field'>
      <input class="input input--border" type='text' name='address[address1]' size='40' autocapitalize='words' placeholder='Street address'/>
    </div>
    <div class='{{ block_name }}__field'>
      <input class="input input--border" type='text' name='address[address2]' size='40' autocapitalize='words' placeholder='Apartmenet, suite, etc.'/>
    </div>
  </div>

  <div class='{{ block_name }}__row' data-field-count='2'>
    <div class='{{ block_name }}__field'>
      <input class="input input--border" type='text' name='address[city]' size='40' autocapitalize='words' placeholder='City'/>
    </div>
    <div class='{{ block_name }}__field'>
      <select
        class='select select--outlined select--full-width'
        id='address--new--country'
        name='address[country]'
        data-default='{{ form.country }}'
      >{{ country_option_tags }}</select>
    </div>
  </div>

  <div class='{{ block_name }}__row region' id='address--new--province-container'>
    <div class='{{ block_name }}__field'>
      <select
        class='select select--outlined select--full-width'
        id='address--new--province'
        name='address[province]'
        data-default='{{ form.province }}'
        ></select>
    </div>
  </div>

  <div class='{{ block_name }}__row' data-field-count='2'>
    <div class='{{ block_name }}__field'>
      <input class="input input--border" type='text' name='address[zip]' size='40' autocapitalize='characters' placeholder='Postal'/>
    </div>
    <div class='{{ block_name }}__field'>
      <input class="input input--border" type='tel' name='address[phone]' size='40' placeholder='Phone'/>
    </div>
  </div>

  <div class='{{ block_name }}__row default-address'>
    <div class='{{ block_name }}__field'>

      <label class='checkbox'>
        {{ form.set_as_default_checkbox }}
        <span class='checkbox__box'></span>
        <span class='checkbox__label'>Set as default address</span>
      </label>

    </div>
	</div>

  <div class='{{ block_name }}__row actions'>
    <button class='button button--outlined' type='submit'>Add address</button>
  </div>

{% endform %}
