{% form 'customer_login', class: 'form form--customers form--customers-login' %}

  {% comment %} {%- if form.errors contains 'form' -%}
    <div class='form__row errors rte'><p>Password fields cannot be blank and passwords must match!</p></div>
  {% endif %} {% endcomment %}

  {%- if form.errors contains 'form' -%}
    <div class='form__row errors rte'><p>Incorrect email or password.</p></div>
  {% endif %}

  <div class='form__row'>
    <div class='form__field'>
      <input class="input input--border" type='email' name='customer[email]' placeholder='Email'/>
    </div>
  </div>

  <div class='form__row'>
    <div class='form__field'>
      <input class="input input--border" type='password' name='customer[password]' placeholder='Password' />
    </div>
  </div>

  <div class='form__row'>
    <div class="form__forgot-password">
      <span class='link link--primary js--toggle-customer-password-recovery'>Forgot your password?</a>
    </div>
  </div>

  <div class='form__row actions'>
    <button class='button button--outlined' type='submit'>Sign In</button>
    <a class='link link--primary' href='/account/register' target="_self">Create account</a>
  </div>

{% endform %}
