{% comment %}

  Use snippet like so...

  {% render 'form--newsletter-sign-up' %}

{% endcomment %}

{% form 'customer', class: 'form form--newsletter js--validate-me' %}

  <div class="form__main">
    <div class="form__row email">
      <div class="form__field">
        <label>Email Address</label>
        <input class="required" type="email" name="contact[email]"  placeholder="email">
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="form__error">Please enter a valid email address!</div>
      </div>
    </div>
    <div class="form__row rude">
      <div class="form__field">
        <label class="form__label">Rude</label>
        <input class="rude" type="text" name="contact[rude]" tabindex="-1" value="">
      </div>
    </div>
    <div class="form__row action">
      <button class="form__button button button--outlined" type="submit">Sign Up</button>
    </div>
  </div>

  <div class="form__success">
    <div class="form__message message">
      <p>Thanks for Subscribing!</p>
    </div>
  </div>

{% endform %}
