{% comment %}

  Use snippet like so...

  {%
    render 'form--notify-me',
    product: product,
  %}

{% endcomment %}

{% comment %} ## Default Values ## {% endcomment %}

{% assign this_product = product | default: false %}
{% assign this_product_title = product.title | default: 'product-title-not-set' %}
{% assign this_product_variant_title = product.selected_or_first_available_variant.title | default: 'default' %}
{% assign this_product_variant_sku = product.selected_or_first_available_variant.sku | default: 'SKU not set!' %}
{% if 'default' == this_product_variant_title %}
  {% assign this_product_variant_title = 'Default Option' %}
{% endif %}
{% assign this_product_type = product.type| default: 'product-type-not-set' %}

{% form 'contact', class: 'form form--notify-me js--validate-me' %}

  <div class='form__main'>

    <div class="d-none">
      <input type="text" name="contact[subject]" placeholder="Subject" value="Notify Me - {{ this_product_title }}" />
      <textarea name="contact[body]" readonly>I'm interested in being notified when {{ this_product_title }} is available.</textarea>
      <input type="text" name="contact[product_title]" value="{{ this_product_title }}" />
      <input type="text" name="contact[product_variant]" value="{{ this_product_variant_title }}" />
      <input type="text" id="notify-me--product-sku" name="contact[product_variant_sku]" value="{{ this_product_variant_sku }}" />
      <input type="text" name="contact[product_type]" value="{{ this_product_type }}" />
      <input type="text" name="contact[date]" value="{{ "now" | date: "%Y-%m-%d %H:%M" }}" />
      <input type="text" name="contact[date_human]" value="{{ 'now' | date: "%A, %d %b %Y, %I:%M%p" }}" />
      <input class="rude" type="text" name="contact[rude]" tabindex="-1" value="">
    </div>

    <div class="form__content rte">
      <h2>We want to keep you connected</h2>
      <p>Enter your email to be notified when this product will be back in stock.</p>
    </div>

    <div class='form__row'>
      <div class="form__field first-name">
        <input class='input input--border-bottom required' type="text" name="contact[first_name]" placeholder="First Name" />
        <div class="form__error">Oops! This field cannot be blank.</div>
      </div>
      <div class="form__field last-name">
        <input class='input input--border-bottom' type="text" name="contact[last_name]" placeholder="Last Name" />
      </div>
    </div>

    <div class='form__row'>
      <div class="form__field name">
        <input class='input input--border-bottom required' type="text" name="contact[email]" placeholder="Email" />
        <div class="form__error">Please enter a valid email address!</div>
      </div>
       <div class="form__field submit">
         <button class='button button--outlined button--wide' type='submit'>Notify Me</button>
       </div>
    </div>

  </div>

  <div class='form__success rte'>
    <h2>Thank you.</h2>
    <p>We'll reach out as soon as the product is back in stock.</br> A mushroom never forgets.</p>
  </div>

{% endform %}
