{% comment %}

  Use snippet like so...

  {%
    render 'form--email-capture',
    heading: 'Subscribe to our newsletter to find out when we launch.',
    tags: 'prospect,newsletter'
  %}

{% endcomment %}

{% form 'customer', class: 'form form--email-capture js--validate-me' %}

  {% if heading %}
    <h3 class="form__heading">{{ heading }}</h3>
  {% endif %}

  <div class="form__main">

    <div class="form__row">
      <div class="form__field">
        <label>Email Address</label>
        <input class="required" type="email" name="contact[email]"  placeholder="email">
        <div class="form__error">Please enter a valid email address.</div>
      </div>
    </div>

    {% if tags %}
      <input name="contact[tags]" type="hidden" value="{{ tags }}" />
    {% endif %}

    <div class="form__row form__row--rude">
      <div class="form__field">
        <label class="form__label">Rude</label>
        <input class="rude" type="text" name="contact[rude]" tabindex="-1" value="">
      </div>
    </div>

    <div class="form__action">
      <button class="form__button" type="submit" name="subscribe">Sign Up</button>
    </div>

  </div>

  <div class="form__success">
    <div class="form__success-message rte">
      <p>Thanks for signing up!</p>
    </div>
  </div>

{% endform %}
