{% form 'contact', class: 'form form--contact-us js--validate-me' %}

  {% comment %} {%- if form.errors contains 'email' -%}

    {{ form_errors | default_errors }}

      <small class="contact__field-error" id="ContactForm-email-error">
        <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
        <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
      </small>

      <div class="order-number">
        <label for="order-number">Order number</label>
        <input type="text" name="contact[order_number]" />
      </div>

    {%- endif -%}

  {% endcomment %}

  <div class='form__main'>
    <div class='form__row name'>
      <div class="form__field">
        <input class='input input--border required' type="text" name="contact[name]" placeholder="Name" />
        <div class="form__error">Oops! This field cannot be blank.</div>
      </div>
    </div>
    <div class='form__row email'>
      <div class="form__field">
        <input class='input input--border required' type="email" name="contact[email]" placeholder="Email" />
        <div class="form__error">Please enter a valid email address!</div>
      </div>
    </div>
    <div class='form__row subject'>
      <div class="form__field">
        <input class='input input--border required' type="text" name="contact[subject]" placeholder="Subject" />
        <div class="form__error">Oops! This field cannot be blank.</div>
      </div>
    </div>
    <div class='form__row message'>
      <div class="form__field">
        <textarea class='required' name="contact[body]" placeholder="Write your message here..."></textarea>
        <div class="form__error">Oops! This field cannot be blank.</div>
      </div>
    </div>
    <div class="form__row rude">
      <div class="form__field">
        <input class="input input--border rude" type="text" name="contact[rude]" tabindex="-1" value="">
      </div>
    </div>
    <div class='form__row actions'>
      <button class='button button--outlined button--wide' type='submit'>Submit</button>
    </div>
  </div>

  <div class='form__success'>
    <p>Thanks for reaching out. We appreciate you contacting us! Expect to hear from one of our colleagues shortly! In the meantime, you can <a class='link link--primary' href='/pages/faqs/' target='_self'>check out our FAQs</a>.</p>
  </div>

{% endform %}
