{% form 'recover_customer_password', class: 'form form--customers form--customers-recover-password js--validate-me' %}

  <div class='form__row intro rte'>
    <h2 class='form__heading heading heading--600 lowercase heading--tertiary'>Reset your password</h2>
    <p>We will send you an email to reset your password.</p>
  </div>

  <div class='form__row error-status rte'></div>

  <div class='form__row'>
    <div class='form__field'>
      <input class='input input--border required' type='email' name='email' placeholder='Email'>
      <div class="form__error">Please enter a valid email address!</div>
    </div>
  </div>

  {{ form_errors | default_errors }}

  <div class='form__row actions'>
    <button class='button button--outlined' type='submit'>Submit</button>
    <button class='button button--outlined js--toggle-customer-password-recovery' type='button'>Cancel</button>
  </div>

  {% comment %}We've sent you an email with a link to update your password.{% endcomment %}

{% endform %}
