{% form 'create_customer', class: 'form form--customers form--customers-register js--validate-me' %}

    <div class='form__row'>
      <div class='form__field'>
        <input class="input input--border" type="text" value="" name="customer[first_name]" size="30" placeholder="First Name" />
      </div>
    </div>

    <div class='form__row'>
      <div class='form__field'>
        <input class="input input--border" type="text" value="" name="customer[last_name]" size="30" placeholder="Last Name" />
      </div>
    </div>

    <div class='form__row'>
      <div class='form__field'>
        <input class='input input--border required' type="email" value="" name="customer[email]" size="30" placeholder="Email" />
        <div class="form__error">Please enter a valid email address!</div>
      </div>
    </div>

    <div class='form__row'>
      <div class='form__field'>
        <input class='input input--border required' type="password" value="" name="customer[password]" size="30" placeholder="Password" />
        <div class="form__error">Oops! This field cannot be blank.</div>
      </div>
    </div>

    <div class='form__row actions'>
      <button class='button button--outlined' type="submit">Create</button>
    </div>

  {% endform %}
