{% comment %}

  Use snippet like so...

  {%
    render 'layout--subscription-details-item',
    detail: detail_01
  %}

{% endcomment %}

{% if detail %}

  {% comment %}

    //////////////////////////////////////////////////////////
    ////  Template
    //////////////////////////////////////////////////////////

  {% endcomment %}

  <div class='subscription-details__item message message--secondary'>{{ detail }}</div>

{% endif %}
