{% comment %}

  Use snippet like so...

  {%
    render 'layout--container',
    state: 'open',
    col: 'col-12',
    container: 'container-fluid'
  %}

{% endcomment %}

{% assign this_state = state | default: 'open' %}
{% assign this_container = container | default: 'container' %}
{% assign this_col = col | default: 'col-12' %}

{%- if this_state == 'open' -%}
  <div class="{{ this_container }}"><div class="row"><div class="{{ this_col }}">
{%- else -%}
  </div></div></div>
{%- endif -%}
