{% comment %}

  Use snippet like so...

  {%
    render 'layout--share-this',
    label: 'Share:',
    title: 'My amazing article that I wrote'
  %}

{% endcomment %}

{% assign block_name = 'share-this' %}
{% assign this_label = label | default: false %}
{% assign this_title = title | default: false %}
{% assign twitter_account = 'optimi' %}
{% assign shareable_url = canonical_url %}

{% comment %} $app_id = 3549970701729692;
  $display = "page";
  $share_url = 'https://www.facebook.com/dialog/share?app_id=' . $app_id . '&display=' . $display . '&href=' . $encoded_permalink . '&redirect_uri=' . $encoded_permalink;
{% endcomment %}

<div class="{{ block_name }}">

  {% if this_label %}
    <div class="{{ block_name }}__label">{{ this_label }}</div>
  {% endif %}

  <div class="{{ block_name }}__item facebook">
    <a href="http://www.facebook.com/sharer/sharer.php?u={{ shareable_url | url_encode }}&t={{ this_title | url_encode }}" target="_blank" rel="noopener">
      <img class="" src="{{ 'OPTIMI--icon--facebook--white.svg' | asset_url }}" alt="Share to Facebook" width="15" height="25" />
    </a>
  </div>

  <div class="{{ block_name }}__item twitter">
    <a href="https://twitter.com/intent/tweet?url={{ shareable_url | url_encode }}&via={{ twitter_account }}" target="_blank" rel="noopener">
      <img class="" src="{{ 'OPTIMI--icon--twitter--white.svg' | asset_url }}" alt="Share to Twitter" width="29" height="23" />
    </a>
  </div>

  <div class="{{ block_name }}__item email">
    <a href="mailto:?subject=Check out: {{ this_title }} by {{ shop.name }}&body=The full article availale here {{ shareable_url }}." target="_blank" rel="noopener">
     <img class="" src="{{ 'OPTIMI--icon--email--white.svg' | asset_url }}" alt="Share to Email" width="26" height="21" />
    </a>
  </div>

</div>
