{% comment %}

  Use snippet like so...

  {%
    render 'layout--shop-guide',
    block_id: block.id,
    block_modifier: block_modifier,
    block_settings: block.settings,
    is_hero: is_hero
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'shop-guide' %}
{% assign block_classes = block_name %}
{% assign block_modifier = block_modifier | default: false %}
{% assign block_settings = block_settings | default: false %}
{% assign is_hero = is_hero | default: false %}

{% if block_modifier %}
  {% assign block_classes = block_classes | append: ' ' | append: block_modifier %}
{% endif %}

{% comment %} Block Vars {% endcomment %}

{% assign this_collection_01 = block_settings.collection-01 | default: false %}
{% assign this_collection_02 = block_settings.collection-02 | default: false %}
{% assign this_collection_03 = block_settings.collection-03 | default: false %}
{% assign this_collection_04 = block_settings.collection-04 | default: false %}
{% assign this_heading = block_settings.heading | default: false %}
{% assign this_heading_tag = 'h2' %}
{% assign this_message = block_settings.message | default: false %}
{% assign this_sample_product = block_settings.sample-product | default: false %}

{% if is_hero %}
  {% assign this_heading_tag = 'h1' %}
{% endif %}

{% comment %} Template {% endcomment %}

<div class='{{ block_classes }}'>
  <div class="{{ block_name }}__main">
    {% render 'layout--container', state: 'open' %}

      <div class="{{ block_name }}__header">
        {% if this_heading %}
          <{{ this_heading_tag }} class="{{ block_name }}__heading heading heading--600 lowercase heading--primary heading--{{ block_name }}">{{ this_heading }}</{{ this_heading_tag }}>
        {% endif %}
        {% if this_message %}
          <div class="{{ block_name }}__message message message--primary message--{{ block_name }}">{{ this_message }}</div>
        {% endif %}
        {% if this_sample_product %}
          <div class="{{ block_name }}__sample-product">
            {%
              render 'content--lazyload-image',
              alt_text: 'Sample Product',
              image: this_sample_product,
            %}
          </div>
        {% endif %}
      </div>

      <div class="{{ block_name }}__collections">
        <span class="{{ block_name }}__collections-guide-vr top"></span>
        <div class="{{ block_name }}__collections-guide">
          <span class="{{ block_name }}__collections-guide-hr"></span>
          <span class="{{ block_name }}__collections-guide-vr first"></span>
          <span class="{{ block_name }}__collections-guide-vr"></span>
          <span class="{{ block_name }}__collections-guide-vr"></span>
          <span class="{{ block_name }}__collections-guide-vr last"></span>
        </div>
        <div class="{{ block_name }}__collections-list">
          {% render 'collection--preview', collection: this_collection_01, type: 'shop-guide' %}
          {% render 'collection--preview', collection: this_collection_02, type: 'shop-guide' %}
          {% render 'collection--preview', collection: this_collection_03, type: 'shop-guide' %}
          {% render 'collection--preview', collection: this_collection_04, type: 'shop-guide' %}
        </div>
      </div>

      <div class="{{ block_name }}__brand">
        {% render 'svg--brand-whole-mushroom', fill_colour: 'essentials-charcoal' %}
      </div>

    {% render 'layout--container', state: 'closed' %}
  </div>
</div>
