{% comment %}

  Use snippet like so...

  {%
    render 'layout--campaign-gallery-item',
    heading: 'Sample Heading',
    image: imageObject
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'campaign-gallery' %}

{% comment %} Template {% endcomment %}

{% if image %}
  <li class='glide__slide'>
    <div class='{{ block_name }}__item'>
      {% render 'content--lazyload-image', image: image %}
      <div class='{{ block_name }}__content'>
        {% if heading %}
          <div class='{{ block_name }}__hr left'></div>
          <h2 class='{{ block_name }}__heading'>{{ heading }}</h2>
          <div class='{{ block_name }}__hr right'></div>
        {% endif %}
      </div>
    </div>
  </li>
{% endif %}
