{% comment %}

  Use snippet like so...

  {%
    render 'layout--show-and-tell',
    block_id: block.id,
    block_modifier: block_modifier,
    block_settings: block.settings,
    is_hero: is_hero
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'show-and-tell' %}
{% assign block_classes = block_name %}
{% assign block_modifier = block_modifier | default: false %}
{% assign block_settings = block_settings | default: false %}

{% if block_modifier %}
  {% assign block_classes = block_classes | append: ' ' | append: block_modifier %}
{% endif %}

{% comment %} Block Vars {% endcomment %}

{% assign this_heading = block_settings.heading | default: false %}
{% assign this_heading_tag = 'h2' %}
{% assign this_message = block_settings.message | default: false %}
{% assign this_image_01 = block_settings.image-01 | default: false %}
{% assign this_image_02 = block_settings.image-02 | default: false %}
{% assign this_image_03 = block_settings.image-03 | default: false %}
{% assign this_image_04 = block_settings.image-04 | default: false %}
{% assign this_image_05 = block_settings.image-05 | default: false %}
{% assign this_item_count = 0 %}
{% assign this_product_01 = block_settings.product-01 | default: false %}
{% assign this_product_02 = block_settings.product-02 | default: false %}
{% assign this_product_03 = block_settings.product-03 | default: false %}
{% assign this_product_04 = block_settings.product-04 | default: false %}
{% assign this_product_05 = block_settings.product-05 | default: false %}
{% assign this_tagline_01 = block_settings.tagline-01 | default: false %}
{% assign this_tagline_02 = block_settings.tagline-02 | default: false %}
{% assign this_tagline_03 = block_settings.tagline-03 | default: false %}
{% assign this_tagline_04 = block_settings.tagline-04 | default: false %}
{% assign this_tagline_05 = block_settings.tagline-05 | default: false %}
{% assign this_title_01 = block_settings.title-01 | default: false %}
{% assign this_title_02 = block_settings.title-02 | default: false %}
{% assign this_title_03 = block_settings.title-03 | default: false %}
{% assign this_title_04 = block_settings.title-04 | default: false %}
{% assign this_title_05 = block_settings.title-05 | default: false %}

{% if is_hero %}
  {% assign this_heading_tag = 'h1' %}
{% endif %}

{% if this_image_01 and this_product_01 %}
  {% assign this_item_count = this_item_count | plus: 1 %}
{% endif %}
{% if this_image_02 and this_product_02 %}
  {% assign this_item_count = this_item_count | plus: 1 %}
{% endif %}
{% if this_image_03 and this_product_03 %}
  {% assign this_item_count = this_item_count | plus: 1 %}
{% endif %}
{% if this_image_04 and this_product_04 %}
  {% assign this_item_count = this_item_count | plus: 1 %}
{% endif %}
{% if this_image_05 and this_product_05 %}
  {% assign this_item_count = this_item_count | plus: 1 %}
{% endif %}

{% comment %} Template {% endcomment %}

<div class='{{ block_classes }} section--padding-y'>
  <div class='{{ block_name }}__main'>
    {% render 'layout--container', state: 'open' %}

      {% if this_heading or this_message %}
        <div class='{{ block_name }}__header'>
          {% if this_heading %}
            <{{ this_heading_tag }}
              class="{{ block_name }}__heading heading heading--600 lowercase heading--primary heading--{{ block_name }}"
              {% render 'aos-attributes', delay: 100, duration: 500, transition: 'fade-left' %}
            >{{ this_heading }}</{{ this_heading_tag }}>
          {% endif %}
          {% if this_message %}
            <div
              class="{{ block_name }}__message message message--primary message--{{ block_name }}"
              {% render 'aos-attributes', delay: 300, duration: 500, transition: 'fade-left' %}
            >{{ this_message }}</div>
          {% endif %}
        </div>
      {% endif %}

      <div class='{{ block_name }}__products' data-count='{{ this_item_count }}'>
        {% render 'layout--show-and-tell-item', image: this_image_01, product: this_product_01, tagline: this_tagline_01, title: this_title_01 %}
        {% render 'layout--show-and-tell-item', image: this_image_02, product: this_product_02, tagline: this_tagline_02, title: this_title_02 %}
        {% render 'layout--show-and-tell-item', image: this_image_03, product: this_product_03, tagline: this_tagline_03, title: this_title_03 %}
        {% render 'layout--show-and-tell-item', image: this_image_04, product: this_product_04, tagline: this_tagline_04, title: this_title_04 %}
        {% render 'layout--show-and-tell-item', image: this_image_05, product: this_product_05, tagline: this_tagline_05, title: this_title_05 %}
      </div>

    {% render 'layout--container', state: 'closed' %}
  </div>
</div>
