{% comment %}

  Use snippet like so...

  {%
    render 'layout--education-feature',
    block_id: block.id,
    block_modifier: block_modifier,
    block_settings: block.settings,
    is_hero: is_hero
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'education-feature' %}
{% assign block_classes = block_name %}
{% assign block_modifier = block_modifier | default: false %}
{% assign block_settings = block_settings | default: false %}

{% if block_modifier %}
  {% assign block_classes = block_classes | append: ' ' | append: block_modifier %}
{% endif %}

{% comment %} Block Vars {% endcomment %}

{% assign this_cta_link = block_settings.cta--link | default: false %}
{% assign this_cta_title = block_settings.cta--title | default: false %}
{% assign this_figure_01 = block_settings.figure-01 | default: false %}
{% assign this_figure_02 = block_settings.figure-02 | default: false %}
{% assign this_figure_03 = block_settings.figure-03 | default: false %}
{% assign this_html = block_settings.html | default: false %}
{% assign this_message = block_settings.message | default: false %}
{% assign this_message = block_settings.message | default: false %}
{% assign aos_delay = 150 %}
{% assign aos_delay_increment = 300 %}

{% comment %} Template {% endcomment %}

<div class='{{ block_classes }} section--padding-y'>
  <div class='{{ block_name }}__main'>
    {% render 'layout--container', state: 'open' %}
      <div class="row row--inner">

        <div class="col-12 col-lg-4">
          <div class='{{ block_name }}__figures'>

            {% if this_figure_01 %}
              <div class='{{ block_name }}__figures-item' {% render 'aos-attributes', delay: aos_delay, duration: 450, transition: 'fade-left' %}>
                {%
                  render 'content--lazyload-image',
                  alt_text: 'Education Feature – Figure 01',
                  image: this_figure_01,
                %}
              </div>
              {% assign aos_delay = aos_delay | plus: aos_delay_increment %}
            {% endif %}

            {% if this_figure_02 %}
              <div class='{{ block_name }}__figures-item' {% render 'aos-attributes', delay: aos_delay, duration: 450, transition: 'fade-left' %}>
                {%
                  render 'content--lazyload-image',
                  alt_text: 'Education Feature – Figure 01',
                  image: this_figure_02,
                %}
              </div>
              {% assign aos_delay = aos_delay | plus: aos_delay_increment %}
            {% endif %}

            {% if this_figure_03 %}
              <div class='{{ block_name }}__figures-item' {% render 'aos-attributes', delay: aos_delay, duration: 450, transition: 'fade-left' %}>
                {%
                  render 'content--lazyload-image',
                  alt_text: 'Education Feature – Figure 01',
                  image: this_figure_03,
                %}
              </div>
            {% endif %}

          </div>
        </div>

        <div class="col-12 col-lg-8">
          <div class='{{ block_name }}__content'>
            {% if this_message %}
              <div class='{{ block_name }}__message message message--{{ block_name }} rte'>{{ this_message }}</div>
            {% endif %}
              {% if this_html %}
              <div class='{{ block_name }}__html html'>{{ this_html }}</div>
            {% endif %}
            {% if this_cta_link and this_cta_title %}
              <div class='{{ block_name }}__cta'>
                <a class="button button--outlined" href="{{ this_cta_link }}">{{ this_cta_title }}</a>
              </div>
            {% endif %}
          </div>
        </div>

      </div>
    {% render 'layout--container', state: 'closed' %}
  </div>
</div>
