{% comment %}

  Use snippet like so...

  {%
    render 'layout--tags',
    blog: blog,
    class_modifier: 'blog',
    label: 'Tags:',
    tags: tags,
    type: 'article'
  %}

{% endcomment %}

{% assign block_name = 'tags' %}
{% assign this_class_modifier = class_modifier | default: false %}
{% assign this_blog = blog | default: false %}
{% assign this_label = label | default: false %}
{% assign this_type = type | default: 'article' %}
{% assign tag_link_base = false %}

{% if tags.size > 0 %}

  {% case this_type %}
    {% when "article", "blog" %}
      {% if blog %}
        {% assign tag_link_base = '/blogs/' | append: blog.handle | append: '/tagged/' %}
      {% endif %}
    {% when "product", "collection" %}
  {% endcase %}

  <nav class="{{ block_name }} {% if this_class_modifier %}{{ block_name }}--{{ this_class_modifier }}{% endif %}" role="navigation">

    {% if this_label %}
      <div class="{{ block_name }}__label">{{ this_label }}</div>
    {% endif %}

    {% for tag in tags %}

      {% if tag_link_base %}

        {% assign tag_link = tag_link_base | append: tag.handle %}
        {% assign tag_is_active = false %}

        {% if current_tags.first == tag %}
          {% assign tag_is_active = true %}
        {% endif %}

        <div class="tags__item{% if tag_is_active %} active{% endif %}" data-current-tags="{{ current_tags }}">
          {%
            render 'content--link',
            active: tag_is_active,
            classes: 'tags__link',
            title: tag,
            url: tag_link
          %}
        </div>

      {% endif %}
    {% endfor %}

  </nav>

{% endif %}
