{% comment %}

  Use snippet like so...

  {%
    render 'layout--campaign-gallery',
    block_id: block.id,
    block_modifier: block_modifier,
    block_settings: block.settings,
    is_hero: is_hero
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'campaign-gallery' %}
{% assign block_classes = block_name %}
{% assign block_modifier = block_modifier | default: false %}
{% assign block_settings = block_settings | default: false %}

{% if block_modifier %}
  {% assign block_classes = block_classes | append: ' ' | append: block_modifier %}
{% endif %}

{% comment %} Block Vars {% endcomment %}

{% assign campaign_item_count = 0 %}
{% assign heading_01 = block_settings.heading-01 | default: false %}
{% assign image_01 = block_settings.image-01 | default: false %}
{% assign heading_02 = block_settings.heading-02 | default: false %}
{% assign image_02 = block_settings.image-02 | default: false %}
{% assign heading_03 = block_settings.heading-03 | default: false %}
{% assign image_03 = block_settings.image-03 | default: false %}
{% assign heading_04 = block_settings.heading-04 | default: false %}
{% assign image_04 = block_settings.image-04 | default: false %}
{% assign heading_05 = block_settings.heading-05 | default: false %}
{% assign image_05 = block_settings.image-05 | default: false %}

{% if image_01 %}
  {% assign campaign_item_count = campaign_item_count | plus: 1 %}
{% endif %}
{% if image_02 %}
  {% assign campaign_item_count = campaign_item_count | plus: 1 %}
{% endif %}
{% if image_03 %}
  {% assign campaign_item_count = campaign_item_count | plus: 1 %}
{% endif %}
{% if image_04 %}
  {% assign campaign_item_count = campaign_item_count | plus: 1 %}
{% endif %}
{% if image_05 %}
  {% assign campaign_item_count = campaign_item_count | plus: 1 %}
{% endif %}

{% comment %} Template {% endcomment %}

<div class='{{ block_classes }}'>
  <div class='{{ block_name }}__main'>

    <div
      class='glide js--glide'
      id='glide--{{ block_name }}--{{ block_id }}'
      data-glide-style='{{ block_name }}'
      data-glide-slide-count='{{ campaign_item_count }}'
      data-glide-mobile-only='true'
    >
      <div class='glide__track' data-glide-el='track'>
        <ul class='glide__slides'>
          {% render 'layout--campaign-gallery-item', heading: heading_01, image: image_01 %}
          {% render 'layout--campaign-gallery-item', heading: heading_02, image: image_02 %}
          {% render 'layout--campaign-gallery-item', heading: heading_03, image: image_03 %}
          {% render 'layout--campaign-gallery-item', heading: heading_04, image: image_04 %}
          {% render 'layout--campaign-gallery-item', heading: heading_05, image: image_05 %}
        </ul>
      </div>
    </div>

  </div>
</div>
