{% comment %}

  Use snippet like so...

  {%
    render 'layout--collection-feature',
    block_id: block.id,
    block_modifier: block_modifier,
    block_settings: block.settings,
    is_hero: is_hero
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'collection-feature' %}
{% assign block_classes = block_name %}
{% assign block_modifier = block_modifier | default: false %}
{% assign block_settings = block_settings | default: false %}

{% if block_modifier %}
  {% assign block_classes = block_classes | append: ' ' | append: block_modifier %}
{% endif %}

{% comment %} Block Vars {% endcomment %}

{% assign collection = collections[block_settings.collection] | default: false %}
{% assign collection_description = collection.description | default: false %}
{% assign collection_limit = block_settings.collection-product-limit | default: false %}
{% assign collection_products = collection.products | default: false %}
{% assign collection_title = collection.title | default: false %}
{% assign collection_url = collection.url | default: false %}
{% assign cta_enable = block_settings.cta--enable %}
{% assign cta_title = block_settings.cta--title | default: false %}
{% assign heading = block_settings.heading | default: false %}
{% assign heading_tag = 'h2' %}
{% assign message = block_settings.message | default: false %}
{% assign style = block_settings.style | default: false %}

{% if is_hero %}
  {% assign heading_tag = 'h1' %}
{% endif %}

{% unless cta_title %}
  {% assign cta_title = 'Shop ' | append: collection_title %}
{% endunless %}

{% comment %} Template {% endcomment %}

<div class='{{ block_classes }}' data-layout-style='{{ style }}'>
  <div class='{{ block_name }}__main'>

    <div class='{{ block_name }}__header'>
      {% render 'layout--container', state: 'open' %}

        <{{ heading_tag }}
          class='{{ block_name }}__heading heading heading--600 lowercase heading--primary heading--{{ block_name }}'
          {% render 'aos-attributes', delay: 100, duration: 500, transition: 'fade-left' %}
        >
          {% if heading %}{{ heading }}{% else %}{{ collection_title }}{% endif %}
        </{{ heading_tag }}>

        <div
          class='{{ block_name }}__message message message--secondary message--{{ block_name }}'
          {% render 'aos-attributes', delay: 300, duration: 500, transition: 'fade-left' %}
        >
          {% if message %}{{ message }}{% else %}{{ collection_description }}{% endif %}
        </div>

      {% render 'layout--container', state: 'close' %}
    </div>

    <div class='{{ block_name }}__products'>
      {% if collection_products.size > 0 %}

        {% case style %}
          {% when 'carousel' %}
            {% assign carousel_id = 'glide--collection-feature--' | append: block_id %}
            {%
              render 'content--carousel',
              id: carousel_id,
              items: collection_products,
              limit: 5,
              mobile_only: true,
              style: 'collection-feature',
            %}
          {% when 'grid' %}
            {% render 'layout--container', state: 'open' %}
              {%
                render 'content--grid',
                items: collection_products,
                style: 'collection-feature',
              %}
            {% render 'layout--container', state: 'closed' %}
        {% endcase %}

      {% else %}

        {% render 'layout--container', state: 'open' %}
          <p>Oops! There doesn't seem to be any products available in this collection at the moment :(</p>
        {% render 'layout--container', state: 'closed' %}

      {% endif %}
    </div>

    {% if cta_enable %}
      <div
        class='{{ block_name }}__cta'
        {% render 'aos-attributes', delay: 100, duration: 300, transition: 'fade-up' %}
      >
        {%
          render 'content--link',
          classes: 'button button--outlined',
          title: cta_title,
          url: collection_url
        %}
      </div>
    {% endif %}

  </div>
</div>
