{% comment %}

  Use snippet like so...

  {%
    render 'layout--wysiwyg',
    block_id: block.id,
    block_modifier: block_modifier,
    block_settings: block.settings,
    is_hero: is_hero
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'wysiwyg' %}
{% assign block_classes = block_name %}
{% assign block_modifier = block_modifier | default: false %}
{% assign block_settings = block_settings | default: false %}
{% assign is_hero = is_hero | default: false %}

{% if block_modifier %}
  {% assign block_classes = block_classes | append: ' ' | append: block_modifier %}
{% endif %}

{% comment %} Block Vars {% endcomment %}

{% assign this_message = block_settings.message | default: '<p>Oops! It looks like no content has been added to this section :(</p>' %}

{% comment %} Template {% endcomment %}

<div class='{{ block_classes }}'>
  <div class="{{ block_name }}__main">
    {% render 'layout--container', state: 'open', col: 'col-12 col-lg-8 offset-lg-2' %}
      <div class="{{ block_name }}__message message message--{{ block_name }} rte">{{ this_message }}</div>
    {% render 'layout--container', state: 'closed' %}
  </div>
</div>
