{% comment %}

  Use snippet like so...

  {%
    render 'layout--product-knowledge-supporting-image-item',
    image: false,
  %}

{% endcomment %}

{% assign block_name = 'product-knowledge' %}

{% comment %} Template {% endcomment %}

{% if image %}
  <div class='{{ block_name }}__supporting-images-item'>
    {% render 'content--lazyload-image', image: image %}
  </div>
{% endif %}
