{% comment %}

  Use snippet like so...

  {%
    render 'layout--blog-feature',
    block_id: block.id,
    block_modifier: block_modifier,
    block_settings: block.settings,
    is_hero: is_hero
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = "blog-feature" %}
{% assign block_classes = block_name %}
{% assign block_modifier = block_modifier | default: false %}
{% assign block_settings = block_settings | default: false %}

{% if block_modifier %}
  {% assign block_classes = block_classes | append: ' ' | append: block_modifier %}
{% endif %}

{% comment %} Block Vars {% endcomment %}

{% assign this_blog = blogs[block_settings.blog] | default: false %}
{% assign this_blog_articles = this_blog.articles | default: false %}
{% assign this_blog_title = this_blog.title | default: false %}
{% assign this_blog_url = this_blog.url | default: false %}
{% assign this_heading = block_settings.heading | default: false %}
{% assign this_heading_tag = 'h2' %}
{% assign this_message = block_settings.message | default: false %}

{% if is_hero %}
  {% assign this_heading_tag = 'h1' %}
{% endif %}

{% comment %} Template {% endcomment %}

<div class='{{ block_classes }}'>
  <div class="{{ block_name }}__main">
    {% render 'layout--container', state: 'open' %}

      <div class="{{ block_name }}__header">
        <{{ this_heading_tag }}
          class="{{ block_name }}__heading heading heading--600 lowercase heading--primary heading--{{ block_name }}"
          {% render 'aos-attributes', delay: 100, duration: 500, transition: 'fade-left' %}
        >The {% if this_heading %}{{ this_heading }}{% else %}{{ this_blog_title }}{% endif %}</{{ this_heading_tag }}>
        {% if this_message %}
          <div
            class="{{ block_name }}__message message message--secondary message--{{ block_name }}"
            {% render 'aos-attributes', delay: 300, duration: 500, transition: 'fade-left' %}
          >{{ this_message }}</div>
        {% endif %}
      </div>

      {% if this_blog_articles.size > 0 %}
        <div class="{{ block_name }}__feed">
          <div class="{{ block_name }}__feed-featured">
            {% for article in this_blog_articles limit: 1 %}
              {%
                render 'article--preview',
                article: article,
                style: 'blog-feature-large'
              %}
            {% endfor %}
          </div>
          <div class="{{ block_name }}__feed-list">
            {% for article in this_blog_articles offset: 1 limit: 4 %}
              {%
                render 'article--preview',
                article: article,
                style: 'blog-feature-small'
              %}
            {% endfor %}
          </div>
          <div class="{{ block_name }}__vr"></div>
        </div>
      {% endif %}

      <div class="{{ block_name }}__cta">
        {%
          render 'content--link',
          classes: 'button button--outlined button--wide',
          title: 'Read More',
          url: this_blog_url
        %}
      </div>

    {% render 'layout--container', state: 'closed' %}
  </div>
</div>
