{% comment %}

  Use snippet like so...

  {%
    render 'layout--product-knowledge-cta-item',
    hover_colour: '',
    title: '',
    url: ''
  %}

{% endcomment %}

{% assign block_name = 'product-knowledge' %}
{% assign hover_colour = hover_colour | default: false %}

{% comment %} Template {% endcomment %}

{% if title and url %}
  <div class='{{ block_name }}__schema-cta'>
    {%
      render 'content--link',
      classes: 'product-knowledge__schema-link button button--outlined',
      hover_colour: hover_colour,
      title: title,
      url: url
    %}
    <div class='{{ block_name }}__schema-cta-hr'></div>
  </div>
{% endif %}
