{% comment %}

  Use snippet like so...

  {%
    render 'layout--fifty-fifty',
    block_id: block.id,
    block_modifier: block_modifier,
    block_settings: block.settings,
    is_hero: is_hero
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'fifty-fifty' %}
{% assign block_classes = block_name %}
{% assign block_modifier = block_modifier | default: false %}
{% assign block_settings = block_settings | default: false %}
{% assign is_hero = is_hero | default: false %}

{% if block_modifier %}
  {% assign block_classes = block_classes | append: ' ' | append: block_modifier %}
{% endif %}

{% comment %} Block Vars {% endcomment %}

{% assign this_cta_title = block_settings.cta--title | default: false %}
{% assign this_cta_url = block_settings.cta--url | default: false %}
{% assign this_heading = block_settings.heading | default: false %}
{% assign this_heading_tag = 'h2' %}
{% assign this_image = block_settings.image | default: false %}
{% assign this_include_border = block_settings.include-border %}
{% assign this_layout = block_settings.layout | default: false %}
{% assign this_message = block_settings.message | default: false %}
{% assign this_style = block_settings.style | default: false %}

{% if is_hero %}
  {% assign this_heading_tag = 'h1' %}
{% endif %}

{% if this_layout %}
  {% assign block_classes = block_classes | append: ' ' | append: this_layout %}
{% endif %}

{% if this_style %}
  {% assign block_classes = block_classes | append: ' ' | append: this_style %}
{% endif %}

{% comment %} Template {% endcomment %}

<div class='{{ block_classes }} section--padding-y'>
  <div class="{{ block_name }}__main">
    {% render 'layout--container', state: 'open' %}

      <div class="{{ block_name }}__layout" data-layout-setting="{{ this_layout }}" data-layout-style="{{ this_style }}">

        <div
          class="{{ block_name }}__media{% if this_include_border %} include-border{% endif %}"
          {% unless 'education' %}
            {% render 'aos-attributes', delay: 250, duration: 650, transition: 'fade-left' %}
          {% else %}
            {% render 'aos-attributes', delay: 500, duration: 650, transition: 'fade-right' %}
          {% endunless %}
        >
          {% if this_cta_url %}<a href='{{ this_cta_url }}' target='_self'>{% endif %}
            {% if this_image %}
              {% render 'content--lazyload-image', image: this_image  %}
            {% endif %}
          {% if this_cta_url %}</a>{% endif %}
        </div>

        <div class="{{ block_name }}__vr"></div>

        <div
          class="{{ block_name }}__content"
          {% unless 'education' %}
            {% render 'aos-attributes', delay: 250, duration: 1250, transition: 'fade-right' %}
          {% else %}
            {% render 'aos-attributes', delay: 250, duration: 1250, transition: 'fade-left' %}
          {% endunless %}
        >
          <div class="{{ block_name }}__hr"></div>
          {% if this_heading %}
            <{{ this_heading_tag }} class="{{ block_name }}__heading heading heading--600 lowercase heading--{{ block_name }}">{{ this_heading }}</{{ this_heading_tag }}>
          {% endif %}
          {% if this_message %}
            <div class="{{ block_name }}__message message">{{ this_message }}</div>
          {% endif %}
          {% if this_cta_title and this_cta_url %}
            <div class='{{ block_name }}__cta'>
              {%
                render 'content--link',
                classes: 'button button--outlined button--wide',
                title: this_cta_title,
                url: this_cta_url
              %}
            </div>
          {% endif %}
        </div>

      </div>

    {% render 'layout--container', state: 'closed' %}
  </div>
</div>
