{% comment %}

  Use snippet like so...

  {%
    render 'layout--full-width-feature',
    block_id: block.id,
    block_modifier: block_modifier,
    block_settings: block.settings,
    is_hero: is_hero
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'full-width-feature' %}
{% assign block_classes = block_name %}
{% assign block_modifier = block_modifier | default: false %}
{% assign block_settings = block_settings | default: false %}
{% assign is_hero = is_hero | default: false %}

{% if block_modifier %}
  {% assign block_classes = block_classes | append: ' ' | append: block_modifier %}
{% endif %}

{% comment %} Block Vars {% endcomment %}

{% assign this_cta_title = block_settings.cta--title | default: false %}
{% assign this_cta_url = block_settings.cta--url | default: false %}
{% assign this_heading = block_settings.heading | default: false %}
{% assign this_heading_tag = 'h2' %}
{% assign this_image = block_settings.image | default: false %}
{% assign this_media_type = block_settings.media-type | default: false %}
{% assign this_message = block_settings.message | default: false %}
{% assign this_style = block_settings.style | default: false %}

{% assign this_video_ratio = block_settings.video-ratio | default: false %}
{% assign this_video_embed_id = block_settings.video-embed-id | default: false %}
{% assign this_video_embed_aspect_ratio = block_settings.video-embed-aspect-ratio | default: false %}

{% if is_hero %}
  {% assign this_heading_tag = 'h1' %}
{% endif %}

{% comment %} Template {% endcomment %}

<div class='{{ block_classes }}' data-media-type='{{ this_media_type }}' data-layout-style='{{ this_style }}'>

  <div class='{{ block_name }}__media media {{ this_media_type }} {{ this_style }}'>

    {% case this_media_type %}

      {% when 'image' %}
        {%
          render 'content--lazyload-image',
          background: true,
          image: this_image
        %}
      {% when 'image-fixed' %}
        <div class='{{ block_name }}__media-clip media__clip'>
          {%
            render 'content--lazyload-image',
            background: true,
            image: this_image
          %}
        </div>
      {% when 'vimeo', 'youtube' %}
        <div class="{{ block_name }}__video-embed video-embed">
          {%
            render 'content--lazyload-video-embed',
            duration: 500,
            video_aspect_ratio: this_video_embed_aspect_ratio,
            video_id: this_video_embed_id,
            video_source: this_media_type,
          %}
        </div>
    {% endcase %}

  </div>

  {% if this_heading or this_message %}
    <div class='{{ block_name }}__main'>
      {% render 'layout--container', state: 'open' %}
        <div class='{{ block_name }}__content'>

          {% if this_heading %}
            <{{ this_heading_tag }}
              class='{{ block_name }}__heading heading heading--600 lowercase heading--primary heading--{{ block_name }}'
              {% render 'aos-attributes', delay: 150, duration: 750 %}
            >{{ this_heading }}</{{ this_heading_tag }}>
          {% endif %}

          {% if this_message %}
            <div
              class='{{ block_name }}__message message message--primary message--{{ block_name }}'
              {% render 'aos-attributes', delay: 450, duration: 500 %}
            >{{ this_message }}</div>
          {% endif %}

          {% if this_cta_title and this_cta_url %}
            <div
              class='{{ block_name }}__cta'
              {% render 'aos-attributes', delay: 550, duration: 500 %}
            >
              {%
                render 'content--link',
                classes: 'button button--outlined button--wide',
                title: this_cta_title,
                url: this_cta_url
              %}
            </div>
          {% endif %}

        </div>
      {% render 'layout--container', state: 'closed' %}
    </div>
  {% endif %}

</div>
