{% comment %}

  Use snippet like so...

  {%
    render 'layout--subscription-details',
    block: block,
    is_hero: is_hero
  %}

{% endcomment %}

{% if block %}

  {% assign block_id = block.id %}
  {% assign block_name = block.type %}
  {% assign block_settings = block.settings %}

  {% assign detail_01 = block_settings.detail-01 | default: false %}
  {% assign detail_02 = block_settings.detail-02 | default: false %}
  {% assign detail_03 = block_settings.detail-03 | default: false %}
  {% assign detail_04 = block_settings.detail-04 | default: false %}
  {% assign detail_05 = block_settings.detail-05 | default: false %}
  {% assign detail_count = 0 %}
  {% assign heading = block_settings.heading | default: false %}
  {% assign heading_tag = 'h2' %}
  {% assign message = block_settings.message | default: false %}

  {% if is_hero %}
    {% assign heading_tag = 'h1' %}
  {% endif %}

  {% if detail_01 %}
    {% assign detail_count = detail_count | plus: 1 %}
  {% endif %}
  {% if detail_02 %}
    {% assign detail_count = detail_count | plus: 1 %}
  {% endif %}
  {% if detail_03 %}
    {% assign detail_count = detail_count | plus: 1 %}
  {% endif %}
  {% if detail_04 %}
    {% assign detail_count = detail_count | plus: 1 %}
  {% endif %}
  {% if detail_05 %}
    {% assign detail_count = detail_count | plus: 1 %}
  {% endif %}

  {% comment %}

    //////////////////////////////////////////////////////////
    ////  Template
    //////////////////////////////////////////////////////////

  {% endcomment %}

  <div class='{{ block_name }}'>
    <div class='{{ block_name }}__main'>
      {% render 'layout--container', state: 'open' %}

        {% if heading %}
          <{{ heading_tag }} class='{{ block_name }}__heading heading heading--600 lowercase heading--primary'>{{ heading }}</{{ heading_tag }}>
        {% endif %}

        {% if message %}
          <div class='{{ block_name }}__message message message--primary'>{{ message }}</div>
        {% endif %}

        {% if detail_count > 1 %}
          <div class='{{ block_name }}__list' data-count='{{ detail_count }}'>
            {% render 'layout--subscription-details-item', detail: detail_01 %}
            {% render 'layout--subscription-details-item', detail: detail_02 %}
            {% render 'layout--subscription-details-item', detail: detail_03 %}
            {% render 'layout--subscription-details-item', detail: detail_04 %}
            {% render 'layout--subscription-details-item', detail: detail_05 %}
          </div>
        {% endif %}

      {% render 'layout--container', state: 'closed' %}
    </div>
  </div>

{% endif %}
