{% comment %}

  Use snippet like so...

  {%
    render 'layout--show-and-tell-item',
    image: this_image_05,
    product: this_product_05,
    tagline: this_tagline_05
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'show-and-tell' %}

{% comment %} Block Vars {% endcomment %}

{% assign this_image = image | default: false %}
{% assign this_product = product | default: false %}
{% assign this_tagline = tagline | default: false %}
{% assign this_title = title | default: false %}

{% comment %} Template {% endcomment %}

{% if this_image and this_product %}

  {% assign this_product_url = this_product.url %}
  {% assign this_product_title = this_product.title %}

  <div class='{{ block_name }}__item'>
    <div class='{{ block_name }}__item-image'>
      <a href='{{ this_product_url }}'>{% render 'content--lazyload-image', image: image %}</a>
    </div>
    <div class='{{ block_name }}__item-content'>
      {% if this_title %}
        <h3 class='{{ block_name }}__item-title'>{{ this_title }}</h3>
      {% endif %}
      {% if this_tagline %}
        <p class='{{ block_name }}__item-tagline'>{{ this_tagline }}</p>
      {% endif %}
      <div class='{{ block_name }}__item-cta'>
        {%
          render 'content--link',
          classes: 'button button--outlined',
          title: 'Shop Now',
          url: this_product_url
        %}
      </div>
    </div>
  </div>
{% endif %}
