{% comment %}

  Use snippet like so...

  {%
    render 'layout--pagination',
    class_modifier: 'blog',
    paginate: paginate
  %}

{% endcomment %}

{% assign block_name = 'pagination' %}
{% assign this_class_modifier = class_modifier | default: false %}

{% if paginate.pages > 1 %}
  <nav class="{{ block_name }} {% if this_class_modifier %}{{ block_name }}--{{ this_class_modifier }}{% endif %}" role="navigation">

    <div class="{{ block_name }}__item {{ block_name }}__item--arrow previous {% unless paginate.previous %}disabled{% endunless %}">
      {% if paginate.previous %}<a href="{{ paginate.previous.url }}">{% endif %}
        {% render 'svg--icon-arrow-right', fill_colour: 'essentials-charcoal' %}
      {% if paginate.previous %}</a>{% endif %}
    </div>

    {% for part in paginate.parts %}
      {% if part.is_link %}
        <div class="{{ block_name }}__item">
          <a href="{{ part.url }}">{{ part.title }}</a>
        </div>
      {% else %}
        {% if part.title == paginate.current_page %}
          <div class="{{ block_name }}__item active"><span>{{ part.title }}</span></div>
        {% else %}
          <div class="{{ block_name }}__item {{ block_name }}__item--not-sure">{{ part.title }}</div>
        {% endif %}
      {% endif %}
    {% endfor %}

    <div class="{{ block_name }}__item {{ block_name }}__item--arrow next {% unless paginate.next %}disabled{% endunless %}">
      {% if paginate.next %}<a href="{{ paginate.next.url }}">{% endif %}
        {% render 'svg--icon-arrow-right', fill_colour: 'essentials-charcoal' %}
      {% if paginate.next %}</a>{% endif %}
    </div>

  </nav>
{% endif %}
