{% comment %}

  Use snippet like so...

  {%
    render 'layout--hr',
    container: false
  %}

{% endcomment %}

{% assign block_name = "horizontal-rule" %}
{% assign container = container | default: false %}

<div class="{{ block_name }}">
  {% if container %}{% render 'layout--container', state: 'open' %}{% endif %}
    <div class="{{ block_name }}__main"></div>
  {% if container %}{% render 'layout--container', state: 'closed' %}{% endif %}
</div>
