{% comment %}

  Use snippet like so...

  {%
    render 'layout--flexible-content',
    section: section,
    template: 'index',
  %}

{% endcomment %}

{% if section %}

  {% for block in section.blocks %}

    {% assign block_index = forloop.index %}
    {% assign block_modifier = template | default: 'template-not-set' %}
    {% assign block_type = block.type %}
    {% assign is_hero = false %}
    {% assign section_classes = 'section' | append: ' section--' | append: block_type %}

    {% if block_index == 1 %}
      {% assign block_modifier = block_modifier | append: ' is-hero' %}
      {% assign section_classes = section_classes | append: ' is-hero' %}
      {% assign is_hero = true %}
    {% endif %}

    {% assign anchor = block.settings.anchor | default: false %}
    {% assign style = block.settings.style | default: 'default' %}

    <section
      class='{{ section_classes }}'
      data-layout='{{ block_type }}'
      data-style='{{ style }}'
      data-section-count='{{ block_index }}'
      {% if anchor %}id='{{ anchor }}'{% endif %}
    >

      {% case block_type %}

        {% when 'blog-feature' %}
          {% render 'layout--hr', container: true %}
          {% render 'layout--blog-feature', block_id: block.id, block_modifier: block_modifier, block_settings: block.settings, is_hero: is_hero %}

        {% when 'campaign-gallery' %}
          {% render 'layout--hr', container: true %}
          {% render 'layout--campaign-gallery', block_id: block.id, block_modifier: block_modifier, block_settings: block.settings, is_hero: is_hero %}

        {% when 'collection-feature' %}
          {% render 'layout--hr', container: true %}
          {% render 'layout--collection-feature', block_id: block.id, block_modifier: block_modifier, block_settings: block.settings, is_hero: is_hero %}

        {% when 'education-feature' %}
          {% render 'layout--hr', container: true %}
          {% render 'layout--education-feature', block_id: block.id, block_modifier: block_modifier, block_settings: block.settings, is_hero: is_hero %}

        {% when 'fifty-fifty' %}
          {% render 'layout--hr', container: true %}
          {% render 'layout--fifty-fifty', block_id: block.id, block_modifier: block_modifier, block_settings: block.settings, is_hero: is_hero %}

        {% when 'full-width-feature' %}
          {% render 'layout--hr', container: true %}
          {% render 'layout--full-width-feature', block_id: block.id, block_modifier: block_modifier, block_settings: block.settings, is_hero: is_hero %}

        {% when 'instagram' %}
          {% render 'layout--hr', container: true %}
          {% render 'layout--instagram', block_id: block.id, block_modifier: block_modifier, block_settings: block.settings, is_hero: is_hero %}

        {% when 'product-knowledge' %}
          {% render 'layout--product-knowledge', block_id: block.id, block_modifier: block_modifier, block_settings: block.settings, is_hero: is_hero %}

        {% when 'shop-guide' %}
          {% render 'layout--hr', container: true %}
          {% render 'layout--shop-guide', block_id: block.id, block_modifier: block_modifier, block_settings: block.settings, is_hero: is_hero %}

        {% when 'show-and-tell' %}
          {% render 'layout--hr', container: true %}
          {% render 'layout--show-and-tell', block_id: block.id, block_modifier: block_modifier, block_settings: block.settings, is_hero: is_hero %}

        {% when 'subscription-details' %}
          {% render 'layout--hr', container: true %}
          {% render 'layout--subscription-details', block: block, is_hero: is_hero %}

        {% when 'wysiwyg' %}
          {% render 'layout--hr', container: true %}
          {% render 'layout--wysiwyg', block_id: block.id, block_modifier: block_modifier, block_settings: block.settings, is_hero: is_hero %}

        {% else %}
          {% render 'layout--container', state: 'open' %}
            <p>{{ block.type | capitalize }} layout template does not exist!</p>
          {% render 'layout--container', state: 'closed' %}

      {% endcase %}

    </section>

  {% endfor %}
{% endif %}
