{% comment %}

  Use snippet like so...

  {%
    render 'layout--product-knowledge',
    block_id: block.id,
    block_modifier: block_modifier,
    block_settings: block.settings,
    is_hero: is_hero
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'product-knowledge' %}
{% assign block_classes = block_name %}
{% assign block_modifier = block_modifier | default: false %}
{% assign block_settings = block_settings | default: false %}

{% if block_modifier %}
  {% assign block_classes = block_classes | append: ' ' | append: block_modifier %}
{% endif %}

{% comment %} Block Vars {% endcomment %}

{% assign this_heading = block_settings.heading | default: false %}
{% assign this_heading_tag = 'h2' %}
{% assign this_message = block_settings.message | default: false %}
{% assign supporting_image_01 = block_settings.supporting-image-01 | default: false %}
{% assign supporting_image_02 = block_settings.supporting-image-02 | default: false %}
{% assign supporting_image_03 = block_settings.supporting-image-03 | default: false %}
{% assign supporting_image_04 = block_settings.supporting-image-04 | default: false %}
{% assign supporting_image_05 = block_settings.supporting-image-05 | default: false %}
{% assign supporting_image_count = 0 %}

{% assign cta_hover_colour_01 = block_settings.hover-colour-01 %}
{% assign cta_title_01 = block_settings.cta-title-01 | default: false %}
{% assign cta_url_01 = block_settings.cta-url-01 | default: false %}

{% assign cta_hover_colour_02 = block_settings.hover-colour-02 %}
{% assign cta_title_02 = block_settings.cta-title-02 | default: false %}
{% assign cta_url_02 = block_settings.cta-url-02 | default: false %}

{% assign cta_hover_colour_03 = block_settings.hover-colour-03 %}
{% assign cta_title_03 = block_settings.cta-title-03 | default: false %}
{% assign cta_url_03 = block_settings.cta-url-03 | default: false %}

{% assign cta_hover_colour_04 = block_settings.hover-colour-04 %}
{% assign cta_title_04 = block_settings.cta-title-04 | default: false %}
{% assign cta_url_04 = block_settings.cta-url-04 | default: false %}

{% if is_hero %}
  {% assign this_heading_tag = 'h1' %}
{% endif %}

{% if supporting_image_01 %}
  {% assign supporting_image_count = supporting_image_count | plus: 1 %}
{% endif %}
{% if supporting_image_02 %}
  {% assign supporting_image_count = supporting_image_count | plus: 1 %}
{% endif %}
{% if supporting_image_03 %}
  {% assign supporting_image_count = supporting_image_count | plus: 1 %}
{% endif %}
{% if supporting_image_04 %}
  {% assign supporting_image_count = supporting_image_count | plus: 1 %}
{% endif %}
{% if supporting_image_05 %}
  {% assign supporting_image_count = supporting_image_count | plus: 1 %}
{% endif %}

{% comment %} Template {% endcomment %}

<div class='{{ block_classes }} section--padding-y'>
  <div class="{{ block_name }}__main">
    {% render 'layout--container', state: 'open' %}

    {% if this_heading %}
      <{{ this_heading_tag }}
        class="{{ block_name }}__heading heading heading--600 lowercase heading--primary heading--{{ block_name }}"
        {% render 'aos-attributes', delay: 100, duration: 500, transition: 'fade-left' %}
      >{{ this_heading }}</{{ this_heading_tag }}>
    {% endif %}

      <div class="row row--inner">

        <div class="col-12 col-lg-6">
          {% if this_message %}
            <div
              class="{{ block_name }}__message message message--primary message--{{ block_name }}"
              {% render 'aos-attributes', delay: 300, duration: 500, transition: 'fade-left' %}
            >{{ this_message }}</div>
          {% endif %}
          <div class='{{ block_name }}__brand d-none d-lg-block'>
            {% render 'svg--brand-whole-mushroom', fill_colour: 'essentials-charcoal' %}
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class='{{ block_name }}__schema'>
            <div class='{{ block_name }}__schema-content'>
              {% render 'layout--product-knowledge-cta-item', hover_colour: cta_hover_colour_01,  title: cta_title_01, url: cta_url_01 %}
              {% render 'layout--product-knowledge-cta-item', hover_colour: cta_hover_colour_02, title: cta_title_02, url: cta_url_02 %}
              {% render 'layout--product-knowledge-cta-item', hover_colour: cta_hover_colour_03, title: cta_title_03, url: cta_url_03 %}
              {% render 'layout--product-knowledge-cta-item', hover_colour: cta_hover_colour_04, title: cta_title_04, url: cta_url_04 %}
            </div>
            <div class='{{ block_name }}__schema-image'>
              <div class='{{ block_name }}__schema-image-vr'></div>
              <div class='{{ block_name }}__schema-image-hr top'></div>
              <div class='{{ block_name }}__schema-image-hr bottom'></div>
              {% render 'svg--schema-product-knowledge' %}
            </div>
          </div>
        </div>

      </div>
      <!-- /.row--inner -->

      <div class='{{ block_name }}__brand d-lg-none'>
        {% render 'svg--brand-whole-mushroom', fill_colour: 'essentials-charcoal' %}
      </div>

      <div class='{{ block_name }}__supporting-images' data-count='{{ supporting_image_count }}'>
        {% render 'layout--product-knowledge-supporting-image-item', image: supporting_image_01 %}
        {% render 'layout--product-knowledge-supporting-image-item', image: supporting_image_02 %}
        {% render 'layout--product-knowledge-supporting-image-item', image: supporting_image_03 %}
        {% render 'layout--product-knowledge-supporting-image-item', image: supporting_image_04 %}
        {% render 'layout--product-knowledge-supporting-image-item', image: supporting_image_05 %}
      </div>

    {% render 'layout--container', state: 'closed' %}
  </div>
</div>
