{% comment %}

  Use snippet like so...

  {%
    render 'modal--subcription-details'
  %}
{% endcomment %}

{% comment %} ## Default Values ## {% endcomment %}

{% assign block_name = 'subcription-details' %}
{% assign heading = settings.subscription--information-heading | default: 'Information' %}
{% assign message = settings.subscription--information-message | default: '<p>We automatically ship your selected Optimi items every month. Shipping is free in Canada. You can skip, pause or cancel anytime through your Optimi account.</p>' %}

{% comment %} ## Template ## {% endcomment %}

<div class="modal modal--{{ block_name }} micromodal-slide" id="modal--{{ block_name }}" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">

      <button class="modal__button button" aria-label="Close modal" type="button" data-micromodal-close>
        {% render 'svg--icon-close' %}
      </button>

      <div class="modal__content rte">
        <p style="margin-bottom: 8px;"><strong>{{ heading }}</strong></p>
        {{ message }}
      </div>

    </div>
  </div>
</div>
