{% comment %}

  Use snippet like so...

  {%
    render 'content--lazyload-image',
    alt_text: 'Great Picture',
    background: false,
    classes: 'sample-class',
    cloudinary: false,
    delay: 50,
    image: false,
    preload: false,
    responsive: false,
    duration: 500,
  %}

{% endcomment %}

{% comment %} ## Default Values ## {% endcomment %}

{% assign block_name = 'newsletter-signup' %}

{% comment %} ## Template ## {% endcomment %}

<div class="modal micromodal-slide" id="modal--{{ block_name }}" aria-hidden="true" data-cookie-expires-days="{{ cookie_expires_days }}" data-timeout-delay-milliseconds="{{ timeout_delay_milliseconds }}">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">

      <button class="modal__button" data-micromodal-close aria-label="Close modal" type="button">Close</button>

      <div class="modal__content">
        {% render 'form--newsletter-signup', class: 'form--newsletter-signup' %}
      </div>

    </div>
  </div>
</div>
