{% comment %}

  Use snippet like so...

  {%
    render 'modal--notify-me'
  %}

{% endcomment %}

{% comment %} ## Default Values ## {% endcomment %}

{% assign block_name = 'notify-me' %}

{% comment %} ## Template ## {% endcomment %}

<div class="modal modal--{{ block_name }} micromodal-slide" id="modal--{{ block_name }}" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">

      <button class="modal__button button" aria-label="Close modal" type="button" data-micromodal-close>
        {% render 'svg--icon-close' %}
      </button>

      <div class="modal__content">
        {% render 'form--notify-me', product: product %}
      </div>

    </div>
  </div>
</div>
