{% comment %}

  Use snippet like so...

  {%
    render 'page--preview',
    page: page,
    style: 'default'
  %}

{% endcomment %}

{% assign block_name = 'page' %}
{% assign style = style | default: 'default' %}

{% if page %}

  {% assign author = page.author | default: false %}
  {% assign image = 'OPTIMI--article-feature-image-fallback.svg' | asset_url %}
  {% assign link = page.url %}
  {% assign published_at = page.published_at | default: false %}
  {% assign title = page.title | default: false %}

  <div class="{{ block_name }}" data-style='{{ style }}'>

      <div class="{{ block_name }}__preview">

        <div class="{{ block_name }}__image">
          <a href="{{ link }}" target="_self">
            {% render 'content--fallback-image', background: true %}
          </a>
        </div>

        <div class="{{ block_name }}__content">
          <h2 class="{{ block_name }}__title heading heading--400 lowercase heading--page-title"><a href="{{ link }}" target="_self">{{ title }}</a></h2>
          {% if page.content != '' %}
            <div class="{{ block_name }}__excerpt"><p>{{ page.content | truncatewords: 20 | strip_html }}</p></div>
          {% endif %}
          <div class="{{ block_name }}__cta">
            {%
              render 'content--link',
              classes: 'button button--with-arrow',
              title: 'Read More',
              url: link
            %}
          </div>
        </div>

      </div>

  </div>

{% endif %}
