{% comment %}
  version: 1.0.11
{% endcomment %}

{%- comment -%}
  ----------------------------------------------------------------------------------
   Plug in SEO for Shopify

   Copyright (c) 2020 SureSwift Capital, Inc.

   This file is subject to the license at https://www.pluginseo.com/eula
  ----------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign psfgLicensedTo = 'f8fd411b-6cdd-4fcb-bf85-8895ac2b9377' -%}
{%- assign psfgAppProxyPath = '/apps/pseo-app-proxy-prd' -%}
{%- assign psfgRootTemplate = template | split: '.' | first -%}

{%- include 'pluginseo-not-found' -%}

