{% comment %}

  Use snippet like so...

  {%
    render 'product--preview',
    count: count,
    link_photo: true,
    product: item,
    style: style
  %}

{% endcomment %}

{% assign block_name = 'product' %}
{% assign link_photo = link_photo | default: false %}
{% assign product = product | default: false %}
{% assign style = style | default: 'default' %}
{% assign count = count | default: 1 %}

{% if product %}

  {% assign product_id = product.id %}
  {% assign product_image = product.featured_image | default: false %}
  {% assign product_price = product.price %}
  {% assign product_price_compare = product.compare_at_price | default: false %}
  {% assign product_title = product.title | default: false %}
  {% assign product_type = product.type | default: false %}
  {% assign product_url = product.url | default: false %}

  {% if product.metafields.general.colour %}
    {% capture product_colour_rgb %}{% render 'theme--hex-to-rgb', colour_hex: product.metafields.general.colour %}{% endcapture %}
  {% endif %}

  <div
    class='{{ block_name }}'
    data-product-id='{{ product_id }}'
    data-product-type='{{ product_type }}'
    data-product-style='{{ style }}'
    data-count='{{ count }}'
    {% if 'collection-feature' == style %}
      {% assign aos_delay = 250 | times: count %}
      {% render 'aos-attributes', delay: aos_delay, duration: 450 %}
    {% endif %}
    >
    <div class='{{ block_name }}__preview'>

        <div class='{{ block_name }}__image'>
          {% if link_photo %}<a href="{{ product_url }}" target="_self">{% endif %}
          {% if product_image %}
            {%
              render 'content--lazyload-image',
              image: product_image
            %}
          {% else %}
            {% render 'content--fallback-image' %}
          {% endif %}
          {% if link_photo %}</a>{% endif %}
        </div>

        <div class='{{ block_name }}__content'>
          <div class='{{ block_name }}__cta'>
            <a
              class="button button--outlined button--rounded" href='{{ product_url }}'
              {% if product.metafields.general.colour %}
                data-colour="{% render 'theme--hex-to-rgb', colour_hex: product.metafields.general.colour %}"
              {% endif %}
            >
              <span class='{{ block_name }}__title'>{{ product_title }}</span>
              <span class='{{ block_name }}__price {{ block_name }}__price--{{ style }}'>
                {{ product_price | money_without_trailing_zeros }}
                {% if product_price_compare %}<span class="product__price-compare-at">{{ product_price_compare | money_without_trailing_zeros }}</span>{% endif %}
                {{ shop.currency }}
              </span>
            </a>
          </div>
        </div>

    </div>
  </div>

{% endif %}
