{% comment %}

  Use snippet like so...

  {%
    render 'product--health-badges-item',
    enable: this_organically_grown,
    type: 'organically-grown'
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'product' %}
{% assign this_enable = enable | default: false %}
{% assign this_type = type | default: false %}
{% assign aos_delay = aos_delay | default: 100 %}

{% comment %} Block Vars {% endcomment %}

{% assign this_badge = 'OPTIMI--health-bages--' | append: this_type | append: '--white.svg' | asset_url %}
{% assign this_message = '' %}

{% comment %} Template {% endcomment %}

{% case this_type %}
  {% when 'next-level-superfood' %}
    {% assign this_message = settings.health-badges--superfood-message | default: false %}
  {% when 'organically-grown' %}
    {% assign this_message = settings.health-badges--organically-grown | default: false %}
  {% when 'whole-body-whole-mind' %}
    {% assign this_message = settings.health-badges--whole-body-whole-mind | default: false %}
  {% when 'whole-fruiting-body' %}
    {% assign this_message = settings.health-badges--whole-fruiting-body | default: false %}
{% endcase %}

{% if this_enable %}

  <div
    class='{{ block_name }}__heath-badges-item'
    {% render 'aos-attributes', delay: aos_delay, duration: 450, transition: 'fade-up' %}
  >

    <div class='{{ block_name }}__heath-badges-badge'>
      {% case this_type %}
        {% when 'next-level-superfood' %}
          {% render 'svg--icon-health-badge-next-level-super-food' %}
        {% when 'organically-grown' %}
          {% render 'svg--icon-health-badge-organically-grown' %}
        {% when 'whole-body-whole-mind' %}
          {% render 'svg--icon-health-badge-whole-body-whole-mind' %}
        {% when 'whole-fruiting-body' %}
          {% render 'svg--icon-health-badge-whole-fruiting-body' %}
      {% endcase %}
    </div>

    {% if this_message %}
      <div class='{{ block_name }}__heath-badges-message rte'>{{ this_message }}</div>
    {% endif %}

  </div>
{% endif %}
