{% assign block_name = 'product' %}

<div class="{{ block_name }}__header">
  <div class="{{ block_name }}__main">

    {% render 'layout--container', state: 'open' %}

      <h1>{{ product.title }}</h1>

      {% render 'product--media', product: product, classes: 'header' %}

    {% render 'layout--container', state: 'closed' %}

  </div>
</div>
