{% comment %}

  Use snippet like so...

  {%
    render 'product--details',
    product: product
  %}

  *Notes:
  Prouduct.js handles button title and toggling visibility of pre-order system based on invetory level of option.
  If less than zero, and pre-order is available, it will show 'pre-order', alternatively 'out of stock'.

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'product' %}
{% assign snippet_name = 'details' %}
{% assign product = product | default: true %}

{% comment %} Block Vars {% endcomment %}

{% assign product_title = product.title %}
{% assign product_type = product.type %}
{% assign product_subtitle = product.metafields.information.subtitle | default: false %}
{% assign product_buy_button_title = product.metafields.general.buy-button-title | default: 'Add to Bag' %}

{% comment %} Template {% endcomment %}

<div data-productid=”{{ product.id }}”></div>

<div class='{{ block_name }}__{{ snippet_name }}'>
  {% render 'layout--container', state: 'open' %}
    <div class='row row--inner'>

      <div class='col-12 col-lg-6'>
        {% render 'product--gallery', product: product %}
      </div>

      <div class='col-12 col-lg-6'>

        <h1 class='product__title heading heading--600 lowercase heading--primary heading--product-title'>{{ product_title }}</h1>

        {% if product_subtitle or product_type %}
          <span class='product__type'>
            {% if product_subtitle %}{{ product_subtitle }}{% endif %}
            {% if product_subtitle and product_type %}{% render 'svg-icon--arrow-right' %}{% endif %}
            {% if product_type %}{{ product_type }}{% endif %}
            {% render 'svg-icon--arrow-right' %}
            <span class='product__price'>{{ product.price | money }}</span>
          </span>
        {% endif %}

        <div class='product__actions'>

          <div class='product__subscription'>
            <div class='product__subscription-widget'>
              <div class="rc-widget-injection-parent"></div>
            </div>
            {% if product.tags contains 'Subscription' %}
              <div class='product__subscription-widget-cta'>
                <button class='button js--show-subscription-info-modal js--open-modal' type='button' data-target-modal-id="modal--subcription-info">Learn More</button>
              </div>
            {% endif %}
          </div>

          <select class='product__variants select select--outlined' name='id'>
            {% for variant in product.variants %}
              {% assign inventory = variant.inventory_quantity %}
              {% assign inventory_policy = variant.inventory_policy %}
              {% if 'Default Title' == variant.title %}
                {% assign title = product_title %}
              {% else %}
                {% assign title = variant.title %}
              {% endif %}
              <option
                class='product__variant'
                data-price='{{ variant.price }}'
                data-price-compare='{{ variant.compare_at_price }}'
                data-inventory='{{ variant.inventory_quantity  }}'
                data-inventory-policy='{{ inventory_policy }}'
                data-sku='{{ variant.sku }}'
                value='{{ variant.id }}'
                {% if variant == product.selected_or_first_available_variant %}selected='selected'{% endif %}
              >{{ title }}</option>
            {% endfor %}
          </select>

          <div class='product__quantity'>
            <button class='product__quantity-button decrease' type='button'>-</button>
            <span class='product__quantity-total'>1</span>
            <button class='product__quantity-button increase' type='button'>&#177;</button>
            <input class='product__quantity-input d-none' type='number' name='quantity' min='1' value='1'>
          </div>

          <button
            class='button button--add-product-to-cart button--outlined'
            type='submit'
            data-title="{{ product_buy_button_title }}"
          >{{ product_buy_button_title }}</button>

        </div>

        <div class='product__inventory'>
          <div class='product__inventory-message rte'><p>This product is currently out of stock.</p></div>
          <button class='product__inventory-button button js--open-modal' type='button' data-target-modal-id="modal--notify-me">Notify me when available</button>
        </div>

        {% render 'product--information', classes: 'd-lg-none', product: product, style: 'collapsible' %}
        {% render 'product--information', classes: 'd-none d-lg-block', product: product, style: 'tabbed' %}

      </div>

    </div>
  {% render 'layout--container', state: 'closed' %}
</div>

