{% assign block_name = 'product' %}

<div class="{{ block_name }}__body">
  <div class="{{ block_name }}__main">

    {% render 'layout--container', state: 'open' %}

      <div class="{{ block_name }}__info">

        <select name="id">
          {% for variant in product.variants %}
            {% if variant.available %}
              <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
            {% else %}
              <option disabled="disabled">{{ variant.title }} - sold out</option>
            {% endif %}
          {% endfor %}
        </select>

        <label for="Quantity">quantity</label>

        <input type="number" id="Quantity" name="quantity" value="1" min="1">

        <button type="submit" name="add" id="AddToCart">Add to cart</button>

      </div>

      {% if product.description %}
        <div class="{{ block_name }}__desc rte">
          {{ product.description }}
        </div>
      {% endif %}

    {% render 'layout--container', state: 'closed' %}

  </div>
</div>
