{% assign block_name = 'product' %}
{% assign product_title = product.title %}

<div class="{{ block_name }}__media {{ classes }}">

  {% if product.media.size %}
    {% for media in product.media %}

      <div class="{{ block_name }}__media-item" data-type="{{ media.media_type }}">
        {% case media.media_type %}
          {% when 'image' %}
            {%
              render 'content--lazyload-image',
              alt_text: product_title,
              background: false,
              delay: 0,
              duration: 350,
              image: media.image,
              preload: true,
              responsive: true,
            %}
          {% when 'model' %}
          {% when 'video' %}
          {% when 'external_video' %}
          {% else %}
        {% endcase %}
      </div>

    {% endfor %}
  {% else %}
    <p>No media added yet!</p>
  {% endif %}

</div>


{% comment %}

  ## Media Types
  image
  model
  video
  external_video

  ## Get JUST images
  assign images = product.media | where: "media_type", "image"

  ## Media Object
  media.alt
  media.id
  media.media_type
  media.position
  media.preview_image

{% endcomment %}
