{% comment %}

  Use snippet like so...

  {%
    render 'product--gallery',
    product: product
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'product' %}
{% assign snippet_name = 'gallery' %}
{% assign product = product | default: false %}

{% comment %} Block Vars {% endcomment %}

{% assign carousel_id = false %}
{% assign images = product.images | default: false %}
{% assign images_size = product.images.size | default: 0 %}
{% assign is_carousel = false %}

{% if images_size > 1 %}
  {% assign is_carousel = true %}
  {% assign carousel_id = 'glide--' | append: block_name | append: '-' | append: snippet_name %}
{% endif %}

{% comment %} Template {% endcomment %}

{% comment %} products_preview?preview_key=7d308f9528e6119e9173302aef180fa1 {% endcomment %}

{% if images_size.size > 0 %}
  <div class='{{ block_name }}__gallery'>

    {% if is_carousel %}

      {%
        render 'content--carousel',
        bullets: true,
        id: carousel_id,
        items: images,
        style: 'product-gallery',
      %}

    {% else %}

      {%
        render 'content--lazyload-image',
        alt_text: product.title,
        image: images[0],
      %}

    {% endif %}

  </div>
{% endif %}
