{% comment %}

  Use snippet like so...

  {%
    render 'product--information',
    classes: 'd-lg-none',
    product: product,
    style: 'collapsible'
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'product' %}
{% assign snippet_name = 'information' %}
{% assign classes = classes | default: false %}
{% assign product = product | default: true %}
{% assign style = style | default: 'collapsible' %}

{% comment %} Block Vars {% endcomment %}

{% assign product_description = product.description | default: '<p>No product description added yet :(</p>' %}
{% assign product_features = product.metafields.information.features | default: false %}
{% assign product_how_to_use = product.metafields.information.how-to-use | default: false %}
{% assign product_ingredients = product.metafields.information.ingredients | default: false %}
{% assign product_quality_commitment = product.metafields.information.quality-commitment | default: false %}
{% assign tabs = false %}

{% if product_features or product_how_to_use or product_ingredients or product_quality_commitment %}
  {% assign tabs = true %}
{% endif %}

{% comment %} Template {% endcomment %}

<div class='{{ block_name }}__{{ snippet_name }} {{ style }}{% if classes %} {{ classes }}{% endif %}'>

  {% case style %}
    {% when 'collapsible' %}

      {% render 'content--collapsible-item', content: product_description, id: 'product-description-collapsed', open: true, style: 'chevron', title: 'Description' %}
      {% render 'content--collapsible-item', content: product_features, id: 'product-features-collapsed', style: 'chevron', title: 'Features' %}
      {% render 'content--collapsible-item', content: product_how_to_use, id: 'product-how-to-use-collapsed', style: 'chevron', title: 'How to Use' %}
      {% render 'content--collapsible-item', content: product_ingredients, id: 'product-ingredients-collapsed', style: 'chevron', title: 'Ingredients' %}
      {% render 'content--collapsible-item', content: product_quality_commitment, id: 'product-quality-commitment-collapsed', style: 'chevron', title: 'Quality Commitment' %}

    {% when 'tabbed' %}

      <div class="tabbed__nav nav nav-tabs {% if tabs %}has-tabs{% else %}no-tabs{% endif %}" id="nav-tab" role="tablist">
        {% if product_description %}
          {% render 'content--tabbed-button', active: true, id: 'product-description-tabbed', title: 'Description' %}
        {% endif %}
        {% if product_features %}
          {% render 'content--tabbed-button', id: 'product-features-tabbed', title: 'Features' %}
        {% endif %}
        {% if product_how_to_use %}
          {% render 'content--tabbed-button', id: 'product-how-to-use-tabbed', title: 'How to Use' %}
        {% endif %}
        {% if product_ingredients %}
          {% render 'content--tabbed-button', id: 'product-ingredients-tabbed', title: 'Ingredients' %}
        {% endif %}
        {% if product_quality_commitment %}
          {% render 'content--tabbed-button', id: 'product-quality-commitment-tabbed', title: 'Quality Commitment' %}
        {% endif %}
      </div>

      <div class="tabbed__content tab-content">
        {% if product_description %}
          {% render 'content--tabbed-content', active: true, id: 'product-description-tabbed', content: product_description %}
        {% endif %}
        {% if product_features %}
          {% render 'content--tabbed-content', id: 'product-features-tabbed', content: product_features %}
        {% endif %}
        {% if product_how_to_use %}
          {% render 'content--tabbed-content', id: 'product-how-to-use-tabbed', content: product_how_to_use %}
        {% endif %}
        {% if product_ingredients %}
          {% render 'content--tabbed-content', id: 'product-ingredients-tabbed', content: product_ingredients %}
        {% endif %}
        {% if product_quality_commitment %}
          {% render 'content--tabbed-content', id: 'product-quality-commitment-tabbed', content: product_quality_commitment %}
        {% endif %}
      </div>

    {% else %}
  {% endcase %}

</div>



