{% comment %}

  Use snippet like so...

  {%
    render 'product--education',
    product: product
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'product' %}
{% assign snippet_name = 'education' %}

{% comment %} Block Vars {% endcomment %}

{% if product %}

  {% assign button_link = product.metafields.education.button-link | default: false %}
  {% assign button_title = product.metafields.education.button-title | default: false %}
  {% assign details = product.metafields.education.details | default: false %}
  {% assign enable = product.metafields.education.enable | default: false %}
  {% assign heading = product.metafields.education.heading | default: false %}
  {% assign image = product.metafields.education.image | default: false %}
  {% assign image_caption = product.metafields.education.image-caption | default: false %}
  {% assign subheading = product.metafields.education.subheading | default: false %}


  {% comment %} Template {% endcomment %}

  {% if enable %}
    <div class='{{ block_name }}__education' data-colour='{{ product.metafields.general.colour }}'>
      {% render 'layout--container', state: 'open' %}

        {% render 'content--hr' %}

        <div class='{{ block_name }}__education-main row row--inner'>

          <div class='col-12 col-lg-6 order-lg-2'>

            {% if image %}
              <div class='{{ block_name }}__education-image'>
                {% for item in image %}
                  {%
                    render 'content--lazyload-image',
                    cloudinary: true,
                    image: item,
                  %}
                {% endfor %}
                {% if image_caption %}
                  <div class='{{ block_name }}__education-image-caption'>
                    <p>{{ image_caption }}</p>
                  </div>
                {% endif %}
              </div>
            {% endif %}

          </div>

          <div class='col-12 col-lg-6 order-lg-1'>
            <div class='{{ block_name }}__education-content'>
              {% if heading %}
                <h2 class='{{ block_name }}__education-heading heading heading--600 lowercase heading--tertiary'>{{ heading }}</h2>
              {% endif %}
              {% if subheading %}
                <h3 class='{{ block_name }}__education-subheading heading heading--300 lowercase heading--tertiary'>{{ subheading }}</h3>
              {% endif %}
              {% if details.size > 0 %}
                <div class='{{ block_name }}__education-details'>
                  {% for detail in details %}
                    <div class='{{ block_name }}__education-item rte'>{{ detail }}</div>
                  {% endfor %}
                </div>
              {% endif %}
              {% if button_link and button_title %}
                <div class='{{ block_name }}__education-cta'>
                  {%
                    render 'content--link',
                    classes: 'button button--outlined',
                    title: button_title,
                    url: button_link
                  %}
                </div>
              {% endif %}
            </div>
          </div>

        </div>

      {% render 'layout--container', state: 'closed' %}
    </div>
  {% endif %}

{% endif %}
