{% comment %}

  Use snippet like so...

  {%
    render 'product--campaign-gallery',
    product: product,
    style: 'collapsible'
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'product' %}
{% assign snippet_name = 'campaign-gallery' %}
{% assign this_product = product | default: true %}
{% assign this_limit = 5 %}

{% comment %} Block Vars {% endcomment %}

{% assign carousel_id = false %}
{% assign enable_this = this_product.metafields.campaign-gallery.enable | default: false %}
{% assign message = this_product.metafields.campaign-gallery.message | default: false %}
{% assign images = this_product.metafields.campaign-gallery.images | default: false %}
{% assign images_size = this_product.metafields.campaign-gallery.images.size | default: 0 %}
{% assign is_carousel = false %}

{% if images_size > 2 %}
  {% assign is_carousel = true %}
  {% assign carousel_id = 'glide--' | append: block_name | append: '-' | append: snippet_name %}
{% endif %}

{% comment %} Template {% endcomment %}

{% if enable_this and images_size > 1 %}
  <div class='{{ block_name }}__{{ snippet_name }}'>
    {% render 'layout--container', state: 'open' %}

      <div class='{{ block_name }}__{{ snippet_name }}-main'>
        {% if is_carousel %}
          {%
            render 'content--carousel',
            id: carousel_id,
            items: images,
            style: 'product-campaign-gallery',
          %}
        {% else %}
          {% for image in images %}
            {% for item in image %}
              {% render 'content--lazyload-image', cloudinary: true, image: item %}
            {% endfor %}
          {% endfor %}
        {% endif %}
      </div>

      <div class='{{ block_name }}__{{ snippet_name }}-extras'>
        {% if is_carousel %}
          <nav class='{{ block_name }}__{{ snippet_name }}-subnavigation'>
            {% for image in images %}
              {% assign image_index = forloop.index0 %}
              {% for item in image %}
                {% case item.media_type %}
                  {% when 'image' %}
                    <div
                      class='{{ block_name }}__{{ snippet_name }}-subnavigation-item'
                      data-gallery-item-index='{{ image_index }}'
                      data-gallery-id='{{ carousel_id }}'
                    >
                      <div class='{{ block_name }}__{{ snippet_name }}-subnavigation-image'>
                        <img
                          class='lazyload lazyload-item lazyload-item--image lazyload-item--inline lazypreload'
                          data-src='{{ item.cloudinary_src | append: 'w_200' }}'
                          src='{{ item.cloudinary_src | append: 'w_10' }}'
                          width='{{ item.width }}'
                          height='{{ item.height }}'
                          alt='{{ item.alt | default: this_product.title }}'
                        />
                      </div>
                      <div class='{{ block_name }}__{{ snippet_name }}-subnavigation-index'>0{{ image_index | plus: 1}}</div>
                    </div>
                {% endcase %}
              {% endfor %}
            {% endfor %}
          </nav>
        {% endif %}
        {% if message %}
          <div class='{{ block_name }}__{{ snippet_name }}-message rte'><p>{{ message }}</p></div>
        {% endif %}
      </div>

    {% render 'layout--container', state: 'closed' %}
  </div>
{% endif %}
