{% comment %}

  Use snippet like so...

  {%
    render 'product--recommended',
    product: product,
    limit: 3
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'product' %}
{% assign limit = limit | default: 3 %}

{% comment %} Block Vars {% endcomment %}

{% if product %}

  {% assign enable = product.metafields.recommended.enable | default: false %}
  {% assign heading = product.metafields.recommended.heading | default: false %}
  {% assign is_carousel = false %}
  {% assign recommended_products = product.metafields.recommended.products | default: false %}
  {% assign recommended_products_size = recommended_products.size | default: 0 %}

  {% if recommended_products_size > 2 %}
    {% assign is_carousel = true %}
  {% endif %}

  {% unless heading %}
    {% assign heading = product.title | append: ' pairs best with:' %}
  {% endunless %}

  {% comment %} Template {% endcomment %}

  {% if enable %}
    <div class='{{ block_name }}__recommended'>
      {% render 'layout--container', state: 'open' %}

        {% render 'content--hr' %}

        <div class='{{ block_name }}__recommended-main'>

          <h3
            class='{{ block_name }}__heading heading heading--600 lowercase heading--secondary'
            {% render 'aos-attributes', delay: 100, duration: 500, transition: 'fade-left' %}
          >{{ heading }}</h3>

          {% if is_carousel %}

            {%
              render 'content--carousel',
              bullets: true,
              id: 'glide--product-recommended',
              items: recommended_products,
              mobile_only: true,
              style: 'product-recommended',
            %}

          {% else %}

            <div class='row row--inner'>
              {% for product_handle in recommended_products %}
                {% assign recommended_product = all_products[product_handle] | default: false %}
                {% if recommended_product %}
                  <div class='col-6 col-lg-4'>
                    {% render 'product--preview', link_photo: true, product: recommended_product, style: 'recommended' %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>

          {% endif %}

        </div>

      {% render 'layout--container', state: 'closed' %}
    </div>

  {% endif %}

{% endif %}
