{% comment %}

  Use snippet like so...

  {%
    render 'product--health-badges',
    product: product
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'product' %}
{% assign this_product = product | default: true %}

{% comment %} Block Vars {% endcomment %}

{% assign this_enable = this_product.metafields.health-badges.enable | default: false %}
{% assign this_organically_grown = this_product.metafields.health-badges.organically-grown | default: false %}
{% assign this_whole_fruiting_body = this_product.metafields.health-badges.whole-fruiting-body | default: false %}
{% assign this_next_level_superfood = this_product.metafields.health-badges.next-level-superfood | default: false %}
{% assign this_whole_body_whole_mind = this_product.metafields.health-badges.whole-body-whole-mind | default: false %}
{% assign aos_delay = 150 %}
{% assign aos_delay_increment = 300 %}

{% comment %} Template {% endcomment %}

{% if this_enable %}
  <div class='{{ block_name }}__heath-badges'>
    {% render 'layout--container', state: 'open' %}
      {% render 'content--hr' %}

      <div class='{{ block_name }}__heath-badges-list section--padding-y'>
        {% if this_organically_grown %}
          {% render 'product--health-badges-item', aos_delay: aos_delay, enable: this_organically_grown, type: 'organically-grown' %}
          {% assign aos_delay = aos_delay | plus: aos_delay_increment %}
        {% endif %}
        {% if this_whole_fruiting_body %}
          {% render 'product--health-badges-item', aos_delay: aos_delay, enable: this_whole_fruiting_body, type: 'whole-fruiting-body' %}
          {% assign aos_delay = aos_delay | plus: aos_delay_increment %}
        {% endif %}
        {% if this_next_level_superfood %}
          {% render 'product--health-badges-item', aos_delay: aos_delay, enable: this_next_level_superfood, type: 'next-level-superfood' %}
          {% assign aos_delay = aos_delay | plus: aos_delay_increment %}
        {% endif %}
        {% if this_whole_body_whole_mind %}
          {% render 'product--health-badges-item', aos_delay: aos_delay, enable: this_whole_body_whole_mind, type: 'whole-body-whole-mind' %}
        {% endif %}
      </div>

    {% render 'layout--container', state: 'closed' %}
  </div>
{% endif %}


