<div class='video-embed'>
  <div class='video-embed__content'>
    <h1>Pellentesque interdum, dui eu facilisis sollicitudin</h1>
    <p>Vivamus consectetur velit vestibulum, dictum quam et, convallis enim. Vestibulum molestie arcu dolor, eu rutrum dui laoreet sit amet.</p>
  </div>
  <div class='video-embed__positioning'>

    {%
      render 'content--lazyload-video-embed',
      duration: 1000,
      video_aspect_ratio: '16-9',
      video_id: '646599504',
      video_source: 'vimeo',
    %}

  </div>
  <div class='video-embed__overlay'></div>
</div>
