{% comment %}

  Use snippet like so...

  {%
    render 'search--results',
    results: search.results,
    type: 'product',
    terms: search.terms
  %}

{% endcomment %}

{% comment %} Snippet Args {% endcomment %}

{% assign block_name = 'search' %}
{% assign results = results | where: 'object_type', type | default: false %}
{% assign results_style = 'search-results-' | append: type %}

{% if results and results.size > 0 %}
  <div class='{{ block_name }}__results {{ type }}'>
    {% render 'layout--container', col: 'col-12', state: 'open' %}

      <h2 class='{{ block_name }}__results-heading heading heading--600 lowercase heading--tertiary'>{{ results.size }} {{ type }} results for “{{ search.terms }}”</h2>

      {% render 'content--grid', items: results, style: results_style %}

    {% render 'layout--container', state: 'closed' %}
  </div>
{% endif %}
