{% assign fill_colour = fill_colour | default: 'essentials-charcoal' %}

<?xml version="1.0" encoding="utf-8"?>
<svg
  version="1.1"
  id="Layer_1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  x="0px"
  y="0px"
	viewBox="0 0 6 6"
  xml:space="preserve"
  style="fill: rgba(var(--theme-{{ fill_colour }}--rgb), 1);"
>
  <path d="M0,2.5v1h4.3L2.6,5.4L3.2,6L6,3L3.2,0L2.6,0.6l1.8,1.9H0z"/>
</svg>
