<svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M0.301953 2.58V3.42H4.20195L2.62195 5.01L3.16195 5.55L5.70195 3L3.16195 0.45L2.62195 0.99L4.20195 2.58H0.301953Z" />
</svg>
