{% assign fill_colour = fill_colour | default: 'essentials-charcoal' %}

<?xml version="1.0" encoding="utf-8"?>
<svg
  width="121"
  height="41"
  viewBox="0 0 121 41"
  xmlns="http://www.w3.org/2000/svg"
  style="fill: rgba(var(--theme-{{ fill_colour }}--rgb), 1);"
>
  <path d="M0 20.6565C0 14.1383 4.97102 9.86472 10.716 9.86472C16.461 9.86472 21.4759 14.1383 21.4759 20.6565C21.4759 27.1747 16.461 31.489 10.716 31.489C4.97102 31.489 0 27.1707 0 20.6565ZM16.4211 20.6565C16.4211 17.1352 13.8279 14.6222 10.716 14.6222C7.60414 14.6222 5.0548 17.1311 5.0548 20.6565C5.0548 24.2674 7.60414 26.7356 10.716 26.7356C13.8279 26.7356 16.4211 24.2674 16.4211 20.6565Z"/>
  <path d="M47.8311 20.6972C47.8311 27.2601 43.251 31.485 37.9369 31.485C35.3876 31.485 32.5789 30.4277 31.1985 28.2279V41H26.1836V10.3933H31.1985V13.1258C32.5829 10.926 35.4753 9.86878 37.897 9.86878C43.2071 9.86471 47.8311 14.0936 47.8311 20.6972ZM42.8162 20.6972C42.8162 17.3059 40.2229 14.6182 37.1111 14.6182C34.0431 14.6182 31.2783 17.0864 31.2783 20.6972C31.2783 24.3528 34.2146 26.7315 37.1111 26.7315C40.2269 26.7315 42.8162 24.1332 42.8162 20.6972Z" />
  <path d="M62.8758 10.3933V14.4433H58.599V30.9604H53.588V14.4433H49.9575V10.3933H53.588V2.8179H58.599V10.3933H62.8758Z" />
  <path d="M65.9399 3.12695C65.9399 1.32153 67.452 0 69.2234 0C71.0386 0 72.4629 1.32153 72.4629 3.12695C72.4629 4.8917 71.0386 6.25389 69.2234 6.25389C67.452 6.25389 65.9399 4.88763 65.9399 3.12695ZM66.7179 30.9604V10.3933H71.7328V30.9604H66.7179Z" />
  <path d="M109.753 19.4245V30.9604H104.782V19.6847C104.782 16.3829 103.099 14.6629 100.765 14.6629C97.8683 14.6629 96.2286 16.6879 96.2286 20.7867V30.9604H91.2176V19.6847C91.2176 16.4276 89.53 14.6629 87.3717 14.6629C85.0378 14.6629 82.7039 16.0739 82.7039 19.9937V30.9604H77.689V10.3933H82.7039V14.1831C83.2664 11.4099 86.1589 9.86878 88.7082 9.86878C91.6445 9.86878 94.0223 11.4099 95.2312 14.0082C96.831 10.7918 99.9867 9.86878 102.013 9.86878C107.076 9.86471 109.753 13.4349 109.753 19.4245Z" />
  <path d="M114.477 3.12695C114.477 1.32153 115.989 0 117.76 0C119.576 0 121 1.32153 121 3.12695C121 4.8917 119.576 6.25389 117.76 6.25389C115.989 6.25389 114.477 4.88763 114.477 3.12695ZM115.255 30.9604V10.3933H120.27V30.9604H115.255Z" />
</svg>
