{% assign fill_colour = fill_colour | default: 'essentials-charcoal' %}

<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 12 12" xml:space="preserve" style="fill: rgba(var(--theme-{{ fill_colour }}--rgb), 1);">
  <path d="M8.1,7.5c0.7-0.8,1.2-1.8,1.2-3C9.2,2,7.2,0,4.6,0S0,2,0,4.5S2.1,9,4.6,9c1,0,1.9-0.3,2.7-0.9l4,3.9l0.7-0.7
	L8.1,7.5z M4.6,8C2.6,8,1,6.4,1,4.5S2.6,1,4.6,1s3.6,1.6,3.6,3.5S6.6,8,4.6,8z"/>
</svg>

