{% assign fill_colour = fill_colour | default: 'essentials-charcoal' %}

<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 12 12" style="fill: rgba(var(--theme-{{ fill_colour }}--rgb), 1);" xml:space="preserve">
<g>
	<path class="st0" d="M6,6c1.7,0,3-1.3,3-3S7.7,0,6,0S3,1.3,3,3S4.3,6,6,6z M6,1c1.1,0,2,0.9,2,2S7.1,5,6,5S4,4.1,4,3S4.9,1,6,1z"/>
	<path class="st0" d="M6,6.5C2.7,6.5,0,9,0,12h1.1c0-2.5,2.2-4.5,4.9-4.5s4.9,2,4.9,4.5H12C12,9,9.3,6.5,6,6.5z"/>
</g>
</svg>

