{% assign fill_colour = fill_colour | default: 'essentials-charcoal' %}

<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 104 51" xml:space="preserve" style="fill: rgba(var(--theme-{{ fill_colour }}--rgb), 1);">
	<g>
		<path d="M24.4,22.5c0,0.6,0,1,0,1H24c0,0,0.1-0.4,0-1l-0.5-4.1h-1.7l-0.5,4.1c-0.1,0.6,0,1,0,1h-0.4c0,0,0.1-0.4,0-1
			l-0.3-6.3h-0.9l0.5,7.6h1.7l0.5-4.3c0-0.3,0-0.8,0-0.8h0.4c0,0,0,0.5,0,0.8l0.5,4.3h1.7l0.5-7.6h-0.9L24.4,22.5z"/>
		<polygon points="30.9,19.4 27.5,19.4 27.5,16.2 26.6,16.2 26.6,23.8 27.5,23.8 27.5,20.2 30.9,20.2 30.9,23.8
			31.8,23.8 31.8,16.2 30.9,16.2 	"/>
		<path d="M35.7,23.9c1.8,0,2.8-1.3,2.8-3.3v-1.4c0-2-0.9-3.3-2.8-3.3c-1.8,0-2.7,1.3-2.7,3.3v1.4
			C33,22.7,33.9,23.9,35.7,23.9z M33.9,19.3c0-1.6,0.7-2.4,1.8-2.4c1.1,0,1.8,0.8,1.8,2.4v1.4c0,1.6-0.7,2.4-1.8,2.4
			c-1.1,0-1.8-0.8-1.8-2.4V19.3z"/>
		<polygon points="39.8,16.2 39.8,23.8 44.7,23.8 44.7,23 40.7,23 40.7,16.2 	"/>
		<polygon points="51.2,17 51.2,16.2 46.3,16.2 46.3,23.8 51.5,23.8 51.5,23 47.2,23 47.2,20.2 50.9,20.2 50.9,19.4
			47.2,19.4 47.2,17 	"/>
		<path d="M63.2,19.9v-0.4c1-0.4,1.1-0.8,1.1-1.4c0-1.2-0.8-1.9-2.6-1.9h-2.4v7.6h2.6c1.8,0,2.7-0.9,2.7-2.2
			C64.6,20.9,64.3,20.2,63.2,19.9z M60.2,17h1.5c1.1,0,1.7,0.3,1.7,1.2c0,0.9-0.6,1.2-1.7,1.2h-1.5V17z M61.9,23h-1.7v-2.8h1.7
			c1.1,0,1.8,0.4,1.8,1.4C63.7,22.6,63,23,61.9,23z"/>
		<path d="M65.5,19.3v1.4c0,2,0.9,3.3,2.7,3.3c1.8,0,2.8-1.3,2.8-3.3v-1.4c0-2-0.9-3.3-2.8-3.3
			C66.5,16,65.5,17.3,65.5,19.3z M66.5,19.3c0-1.6,0.7-2.4,1.8-2.4c1.1,0,1.8,0.8,1.8,2.4v1.4c0,1.6-0.7,2.4-1.8,2.4
			c-1.1,0-1.8-0.8-1.8-2.4V19.3z"/>
		<path d="M74.8,16.2h-2.5v7.6h2.5c1.8,0,2.8-1.3,2.8-3.3v-1.1C77.6,17.5,76.6,16.2,74.8,16.2z M76.7,20.5
			c0,1.6-0.7,2.4-1.8,2.4h-1.6v-6h1.6c1.1,0,1.8,0.8,1.8,2.4V20.5z"/>
		<path d="M81.9,18.5c-0.3,0.5-0.4,0.7-0.4,1h-0.4c0-0.3-0.1-0.4-0.4-1l-1.4-2.3h-1l2.5,4.1v3.5h0.9v-3.5l2.5-4.1h-1
			L81.9,18.5z"/>
		<path d="M24.4,33.6c0,0.6,0,1,0,1H24c0,0,0.1-0.4,0-1l-0.5-4.1h-1.7l-0.5,4.1c-0.1,0.6,0,1,0,1h-0.4c0,0,0.1-0.4,0-1
			l-0.3-6.3h-0.9l0.5,7.6h1.7l0.5-4.3c0-0.3,0-0.8,0-0.8h0.4c0,0,0,0.5,0,0.8l0.5,4.3h1.7l0.5-7.6h-0.9L24.4,33.6z"/>
		<polygon points="30.9,30.5 27.5,30.5 27.5,27.4 26.6,27.4 26.6,35 27.5,35 27.5,31.4 30.9,31.4 30.9,35 31.8,35
			31.8,27.4 30.9,27.4 	"/>
		<path d="M35.7,35.1c1.8,0,2.8-1.3,2.8-3.3v-1.4c0-2-0.9-3.3-2.8-3.3c-1.8,0-2.7,1.3-2.7,3.3v1.4
			C33,33.9,33.9,35.1,35.7,35.1z M33.9,30.5c0-1.6,0.7-2.4,1.8-2.4c1.1,0,1.8,0.8,1.8,2.4v1.4c0,1.6-0.7,2.4-1.8,2.4
			c-1.1,0-1.8-0.8-1.8-2.4V30.5z"/>
		<polygon points="39.8,27.4 39.8,35 44.7,35 44.7,34.2 40.7,34.2 40.7,27.4 	"/>
		<polygon points="51.2,28.2 51.2,27.4 46.3,27.4 46.3,35 51.5,35 51.5,34.2 47.2,34.2 47.2,31.4 50.9,31.4 50.9,30.5
			47.2,30.5 47.2,28.2 	"/>
		<path d="M62,31.7c0,0.4,0,0.8,0,0.8h-0.5c0,0,0-0.4,0-0.8L61,27.4h-1.9l0,7.6H60v-6.3c0-0.6,0-1,0-1h0.5
			c0,0-0.1,0.4,0,1l0.5,4.1h1.7l0.5-4.1c0.1-0.6,0-1,0-1h0.5c0,0-0.1,0.4-0.1,1V35h0.9v-7.6h-1.9L62,31.7z"/>
		<polygon points="70.8,28.2 70.8,27.4 65.8,27.4 65.8,28.2 67.8,28.2 67.8,34.2 65.8,34.2 65.8,35 70.8,35 70.8,34.2
			68.7,34.2 68.7,28.2 	"/>
		<path d="M76.5,34.7h-0.4c0-0.4-0.1-0.7-0.2-1.3l-1.7-6h-2V35h0.9v-7.3h0.4c0,0.3,0,0.5,0.3,1.3l1.7,6h2v-7.6h-0.9V34.7
			z"/>
		<path d="M81.3,27.4h-2.5V35h2.5c1.8,0,2.8-1.3,2.8-3.3v-1.1C84.1,28.7,83.2,27.4,81.3,27.4z M83.2,31.7
			c0,1.6-0.7,2.4-1.8,2.4h-1.6v-6h1.6c1.1,0,1.8,0.8,1.8,2.4V31.7z"/>
		<path d="M78.5,0H25.5C11.4,0,0,11.4,0,25.5S11.4,51,25.5,51h53.1C92.6,51,104,39.6,104,25.5C104,11.4,92.6,0,78.5,0z
		 	M78.5,49.8H25.5c-13.4,0-24.2-10.9-24.2-24.3S12.1,1.2,25.5,1.2h53.1c13.4,0,24.2,10.9,24.2,24.3C102.8,38.9,91.9,49.8,78.5,49.8z
			"/>
		<path d="M78.5,2.8H25.5C13,2.8,2.8,13,2.8,25.5S13,48.2,25.5,48.2h53.1c12.5,0,22.7-10.2,22.7-22.7S91,2.8,78.5,2.8z
		 	M78.5,47.5H25.5c-12.1,0-22-9.9-22-22s9.8-22,22-22h53.1c12.1,0,22,9.9,22,22S90.6,47.5,78.5,47.5z"/>
		<path d="M36.9,11.1c0.7,0,1.1-0.5,1.1-1.3V9.3c0-0.8-0.4-1.3-1.1-1.3c-0.7,0-1.1,0.5-1.1,1.3v0.5
			C35.8,10.6,36.2,11.1,36.9,11.1z M36.2,9.3c0-0.6,0.3-0.9,0.7-0.9c0.4,0,0.7,0.3,0.7,0.9v0.5c0,0.6-0.3,0.9-0.7,0.9
			c-0.4,0-0.7-0.3-0.7-0.9V9.3z"/>
		<path d="M40.5,8.9c0-0.5-0.4-0.9-1.1-0.9v0h-1V11h0.4V9.8h0.6C40.1,9.8,40.5,9.5,40.5,8.9z M39.4,9.5h-0.6V8.4h0.6
			c0.4,0,0.7,0.1,0.7,0.5S39.8,9.5,39.4,9.5z"/>
		<polygon points="41.7,11 42.1,11 42.1,8.4 43,8.4 43,8.1 40.8,8.1 40.8,8.4 41.7,8.4 	"/>
		<polygon points="45.4,10.7 44.6,10.7 44.6,8.4 45.4,8.4 45.4,8.1 43.5,8.1 43.5,8.4 44.3,8.4 44.3,10.7 43.5,10.7
			43.5,11 45.4,11 	"/>
		<path d="M46.3,8.6c0-0.2,0-0.4,0-0.4h0.2c0,0,0,0.2,0,0.4l0.2,1.6h0.7l0.2-1.6c0-0.2,0-0.4,0-0.4h0.2c0,0,0,0.2,0,0.4
			V11H48V8.1h-0.7L47,9.7c0,0.2,0,0.3,0,0.3h-0.2c0,0,0-0.1,0-0.3l-0.2-1.7h-0.7l0,2.9h0.4V8.6z"/>
		<polygon points="50.4,10.7 49.7,10.7 49.7,8.4 50.4,8.4 50.4,8.1 48.5,8.1 48.5,8.4 49.3,8.4 49.3,10.7 48.5,10.7
			48.5,11 50.4,11 	"/>
		<polygon points="55.2,11 55.5,11 55.5,8.1 55.2,8.1 55.2,9.3 53.9,9.3 53.9,8.1 53.5,8.1 53.5,11 53.9,11 53.9,9.6
			55.2,9.6 	"/>
		<polygon points="58.1,10.7 56.4,10.7 56.4,9.6 57.9,9.6 57.9,9.3 56.4,9.3 56.4,8.4 58,8.4 58,8.1 58,8.1 56.1,8.1
			56.1,11 58.1,11 	"/>
		<path d="M59,10.1h1.1l0.3,0.9h0.4l-0.8-2.9h-0.7L58.4,11h0.4L59,10.1z M59.4,8.6c0.1-0.2,0.1-0.3,0.1-0.4h0.2
			c0,0.1,0,0.1,0.1,0.4L60,9.8h-0.9L59.4,8.6z"/>
		<polygon points="63,10.7 61.5,10.7 61.5,8.1 61.1,8.1 61.1,11 63,11 	"/>
		<polygon points="65.7,8.1 63.5,8.1 63.5,8.4 64.4,8.4 64.4,11 64.8,11 64.8,8.4 65.7,8.4 	"/>
		<polygon points="66.5,9.6 67.8,9.6 67.8,11 68.1,11 68.1,8.1 67.8,8.1 67.8,9.3 66.5,9.3 66.5,8.1 66.1,8.1 66.1,11
			66.5,11 	"/>
		<polygon points="27.1,42.7 27.5,42.7 27.5,41.3 28.9,41.3 28.9,40.9 27.5,40.9 27.5,40 29,40 29,39.7 29,39.7
			27.1,39.7 	"/>
		<path d="M31.3,41.5c0,0.6-0.3,0.9-0.7,0.9c-0.4,0-0.7-0.3-0.7-0.9v-1.8h-0.4v1.8c0,0.8,0.3,1.2,1,1.2
			c0.7,0,1-0.5,1-1.2v-1.8h-0.4V41.5z"/>
		<path d="M33.7,42.5h-0.2c0-0.2,0-0.3-0.1-0.5l-0.7-2.3h-0.8v2.9h0.4v-2.8h0.2c0,0.1,0,0.2,0.1,0.5l0.7,2.3h0.8v-2.9
			h-0.4V42.5z"/>
		<path d="M35.6,42.4c-0.4,0-0.7-0.3-0.7-0.9v-0.6c0-0.6,0.3-0.9,0.7-0.9c0.4,0,0.6,0.2,0.7,0.6h0.4
			c-0.1-0.6-0.4-1-1.1-1c-0.7,0-1.1,0.5-1.1,1.2v0.6c0,0.8,0.4,1.3,1.1,1.3c0.6,0,1-0.4,1.1-1l-0.4,0C36.3,42.2,36,42.4,35.6,42.4z"
			/>
		<polygon points="37.1,40 38,40 38,42.7 38.3,42.7 38.3,40 39.2,40 39.2,39.7 37.1,39.7 	"/>
		<polygon points="39.7,40 40.5,40 40.5,42.3 39.7,42.3 39.7,42.7 41.6,42.7 41.6,42.3 40.8,42.3 40.8,40 41.6,40
			41.6,39.7 39.7,39.7 	"/>
		<path d="M43.2,39.7c-0.7,0-1.1,0.5-1.1,1.3v0.5c0,0.8,0.4,1.3,1.1,1.3c0.7,0,1.1-0.5,1.1-1.3v-0.5
			C44.2,40.2,43.9,39.7,43.2,39.7z M43.9,41.5c0,0.6-0.3,0.9-0.7,0.9c-0.4,0-0.7-0.3-0.7-0.9v-0.5c0-0.6,0.3-0.9,0.7-0.9
			c0.4,0,0.7,0.3,0.7,0.9V41.5z"/>
		<path d="M46.4,42.5h-0.2c0-0.2,0-0.3-0.1-0.5l-0.7-2.3h-0.8v2.9H45v-2.8h0.2c0,0.1,0,0.2,0.1,0.5l0.7,2.3h0.8v-2.9
			h-0.4V42.5z"/>
		<path d="M47.9,39.7L47,42.7h0.4l0.3-0.9h1.1l0.3,0.9h0.4l-0.8-2.9H47.9z M47.8,41.4l0.3-1.2c0.1-0.2,0.1-0.3,0.1-0.4
			h0.2c0,0.1,0,0.1,0.1,0.4l0.3,1.2H47.8z"/>
		<polygon points="50.1,39.7 49.8,39.7 49.8,42.7 51.7,42.7 51.7,42.3 50.1,42.3 	"/>
		<path d="M55.9,41.4c0,0.2,0,0.3,0,0.3h-0.2c0,0,0-0.1,0-0.3l-0.2-1.7h-0.7l0,2.9h0.4v-2.4c0-0.2,0-0.4,0-0.4h0.2
			c0,0,0,0.2,0,0.4l0.2,1.6h0.7l0.2-1.6c0-0.2,0-0.4,0-0.4h0.2c0,0,0,0.2,0,0.4v2.4h0.4v-2.9h-0.7L55.9,41.4z"/>
		<path d="M59,41.5c0,0.6-0.3,0.9-0.7,0.9c-0.4,0-0.7-0.3-0.7-0.9v-1.8h-0.4v1.8c0,0.8,0.3,1.2,1,1.2c0.7,0,1-0.5,1-1.2
			v-1.8H59V41.5z"/>
		<path d="M61,41c-0.7-0.2-0.8-0.4-0.8-0.6c0-0.2,0.2-0.4,0.6-0.4c0.3,0,0.6,0.2,0.6,0.7h0.4c-0.1-0.6-0.4-1-1-1
			c-0.6,0-0.9,0.4-0.9,0.8c0,0.5,0.3,0.7,0.9,0.8c0.5,0.2,0.8,0.3,0.8,0.6c0,0.3-0.3,0.5-0.7,0.5c-0.4,0-0.7-0.2-0.7-0.7h-0.4
			c0.1,0.6,0.4,1,1.1,1c0.7,0,1-0.4,1-0.8C61.9,41.4,61.5,41.1,61,41z"/>
		<polygon points="64,40.9 62.7,40.9 62.7,39.7 62.3,39.7 62.3,42.7 62.7,42.7 62.7,41.3 64,41.3 64,42.7 64.3,42.7
			64.3,39.7 64,39.7 	"/>
		<path d="M66.9,40.4c0-0.4-0.3-0.7-1-0.7v0h-1v2.9h0.4v-1.4h0.9c0.2,0,0.4,0.1,0.4,0.4v1h0.4v-1c0-0.3-0.2-0.4-0.5-0.5
			V41C66.7,40.9,66.9,40.7,66.9,40.4z M65.9,40.9h-0.6V40h0.6c0.4,0,0.7,0.2,0.7,0.4C66.5,40.8,66.3,40.9,65.9,40.9z"/>
		<path d="M68.4,39.7c-0.7,0-1.1,0.5-1.1,1.3v0.5c0,0.8,0.4,1.3,1.1,1.3c0.7,0,1.1-0.5,1.1-1.3v-0.5
			C69.4,40.2,69.1,39.7,68.4,39.7z M69.1,41.5c0,0.6-0.3,0.9-0.7,0.9c-0.4,0-0.7-0.3-0.7-0.9v-0.5c0-0.6,0.3-0.9,0.7-0.9
			c0.4,0,0.7,0.3,0.7,0.9V41.5z"/>
		<path d="M70.9,39.7c-0.7,0-1.1,0.5-1.1,1.3v0.5c0,0.8,0.4,1.3,1.1,1.3c0.7,0,1.1-0.5,1.1-1.3v-0.5
			C72,40.2,71.6,39.7,70.9,39.7z M71.6,41.5c0,0.6-0.3,0.9-0.7,0.9c-0.4,0-0.7-0.3-0.7-0.9v-0.5c0-0.6,0.3-0.9,0.7-0.9
			c0.4,0,0.7,0.3,0.7,0.9V41.5z"/>
		<path d="M73.5,41.4c0,0.2,0,0.3,0,0.3h-0.2c0,0,0-0.1,0-0.3l-0.2-1.7h-0.7l0,2.9h0.4v-2.4c0-0.2,0-0.4,0-0.4h0.2
			c0,0,0,0.2,0,0.4l0.2,1.6h0.7l0.2-1.6c0-0.2,0-0.4,0-0.4h0.2c0,0,0,0.2,0,0.4v2.4h0.4v-2.9h-0.7L73.5,41.4z"/>
		<path d="M76.1,41c-0.7-0.2-0.8-0.4-0.8-0.6c0-0.2,0.2-0.4,0.6-0.4c0.3,0,0.6,0.2,0.6,0.7h0.4c-0.1-0.6-0.4-1-1-1
			c-0.6,0-0.9,0.4-0.9,0.8c0,0.5,0.3,0.7,0.9,0.8c0.5,0.2,0.8,0.3,0.8,0.6c0,0.3-0.3,0.5-0.7,0.5c-0.4,0-0.7-0.2-0.7-0.7h-0.4
			c0.1,0.6,0.4,1,1.1,1c0.7,0,1-0.4,1-0.8C77,41.4,76.6,41.1,76.1,41z"/>
		<polygon points="92.8,25.1 92.8,23.3 92,23.3 92,25.1 90.2,25.1 90.2,25.9 92,25.9 92,27.7 92.8,27.7 92.8,25.9
			94.6,25.9 94.6,25.1 	"/>
		<polygon points="12,23.3 11.1,23.3 11.1,25.1 9.4,25.1 9.4,25.9 11.1,25.9 11.1,27.7 12,27.7 12,25.9 13.8,25.9
			13.8,25.1 12,25.1 	"/>
	</g>
</svg>
