{% assign fill_colour = fill_colour | default: 'essentials-charcoal' %}

<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 92 61" xml:space="preserve" style="fill: rgba(var(--theme-{{ fill_colour }}--rgb), 1);">
	<g>
		<path d="M46,0C20.6,0,0,13.7,0,30.5S20.6,61,46,61s46-13.7,46-30.5S71.4,0,46,0z M46,59.9c-24.8,0-44.9-13.2-44.9-29.4
			S21.2,1.1,46,1.1s44.9,13.2,44.9,29.4S70.8,59.9,46,59.9z"/>
		<path d="M77,11.2c-8.3-5.5-19.3-8.5-31-8.5c-11.8,0-22.8,3-31,8.5C7,16.4,2.7,23.3,2.7,30.5S7,44.6,15,49.8
			c8.3,5.5,19.3,8.5,31,8.5c11.8,0,22.8-3,31-8.5c7.9-5.2,12.3-12.1,12.3-19.3S85,16.4,77,11.2z M76.7,49.3c-8.1,5.4-19,8.4-30.7,8.4
			c-11.6,0-22.5-3-30.7-8.4c-7.7-5.1-12-11.8-12-18.8s4.2-13.6,12-18.8c8.1-5.4,19-8.4,30.7-8.4c11.6,0,22.5,3,30.7,8.4
			c7.7,5.1,12,11.8,12,18.8S84.4,44.1,76.7,49.3z"/>
		<path d="M29.5,48.1l-1-0.3l-1,3.2l0.4,0.1l0.4-1.3l0.7,0.2c0.8,0.3,1.3,0,1.4-0.5C30.5,48.8,30.3,48.3,29.5,48.1z
		 	M30,49.3c-0.1,0.4-0.5,0.5-1,0.3l-0.7-0.2l0.4-1.2l0.7,0.2C29.8,48.6,30.1,48.8,30,49.3z"/>
		<path d="M32.2,48.9l-1.1-0.3l-0.9,3.2l0.4,0.1l0.4-1.5l1,0.3c0.3,0.1,0.4,0.2,0.3,0.5l-0.3,1.2l0.4,0.1l0.3-1.2
			c0.1-0.3-0.1-0.5-0.4-0.7l0-0.2c0.3,0,0.6-0.2,0.7-0.5C33.2,49.5,33,49.1,32.2,48.9z M32.7,49.9c-0.1,0.3-0.4,0.4-0.9,0.3l-0.7-0.2
			l0.3-1l0.7,0.2C32.6,49.4,32.8,49.6,32.7,49.9z"/>
		<polygon points="33.7,49.7 34.6,49.8 34.1,52.4 33.2,52.2 33.1,52.6 35.3,53 35.4,52.7 34.5,52.5 35,49.9 35.9,50.1
			36,49.7 33.8,49.3 	"/>
		<path d="M37.9,53.3l-0.2,0c0-0.2,0-0.3,0-0.6L37.3,50l-0.9-0.1L36,53.1l0.4,0.1l0.5-3.2l0.2,0c0,0.1,0,0.2,0,0.6
			l0.3,2.7l0.9,0.1l0.5-3.3l-0.4-0.1L37.9,53.3z"/>
		<path d="M40.4,50.6c0.4,0,0.7,0.3,0.7,0.8l0.4,0c0-0.7-0.4-1.1-1.1-1.2c-0.8-0.1-1.3,0.4-1.3,1.3L39,52.2
			c-0.1,0.9,0.3,1.5,1.1,1.5c0.7,0.1,1.2-0.3,1.3-1l-0.4,0c-0.1,0.5-0.5,0.7-0.9,0.7c-0.5,0-0.8-0.4-0.7-1.1l0.1-0.6
			C39.6,50.9,39.9,50.6,40.4,50.6z"/>
		<polygon points="42,53.8 44.2,54 44.2,53.6 42.4,53.5 42.4,52.3 44.1,52.4 44.1,52 42.5,51.9 42.5,50.9 44.2,51
			44.3,50.6 42.1,50.5 	"/>
		<polygon points="47.2,50.6 44.8,50.6 44.8,51 45.8,51 45.8,54 46.2,54 46.2,51 47.2,51 	"/>
		<path d="M48.8,50.5c-0.8,0-1.2,0.6-1.1,1.5l0,0.6c0,0.9,0.5,1.4,1.3,1.4c0.8,0,1.2-0.6,1.1-1.5l0-0.6
			C50,51,49.6,50.4,48.8,50.5z M48.9,53.6c-0.5,0-0.8-0.3-0.9-1l0-0.6c0-0.7,0.3-1.1,0.7-1.1c0.5,0,0.8,0.3,0.9,1l0,0.6
			C49.7,53.2,49.4,53.6,48.9,53.6z"/>
		<path d="M52.3,50.3l0.3,3.2l-0.2,0c0-0.2-0.1-0.3-0.2-0.5l-1-2.6l-0.9,0.1l0.3,3.3l0.4,0l-0.3-3.2l0.2,0
			c0,0.1,0,0.2,0.2,0.6l1,2.5l0.9-0.1l-0.3-3.3L52.3,50.3z"/>
		<polygon points="54.7,53.9 55,53.8 55,52.9 54.6,53 	"/>
		<path d="M60.8,50.3l0-0.2c0.4-0.3,0.4-0.5,0.3-0.7c-0.1-0.5-0.6-0.7-1.3-0.5l-1,0.3l0.9,3.2l1.1-0.3
			c0.8-0.2,1.1-0.7,0.9-1.2C61.5,50.6,61.3,50.3,60.8,50.3z M59.2,49.4l0.7-0.2c0.5-0.1,0.7-0.1,0.8,0.3c0.1,0.4-0.1,0.6-0.6,0.7
			l-0.7,0.2L59.2,49.4z M60.6,51.8l-0.7,0.2l-0.3-1.2l0.7-0.2c0.5-0.1,0.8,0,0.9,0.4C61.4,51.4,61.1,51.6,60.6,51.8z"/>
		<path d="M64,50c0.1,0.5-0.1,0.9-0.5,1c-0.5,0.2-0.9-0.1-1.1-0.8l-0.2-0.6c-0.2-0.7,0-1.1,0.4-1.3c0.4-0.1,0.8,0,1,0.4
			l0.4-0.1c-0.3-0.6-0.8-0.9-1.5-0.7c-0.8,0.2-1,0.9-0.7,1.7l0.2,0.6c0.3,0.8,0.8,1.2,1.6,1c0.7-0.2,0.9-0.8,0.8-1.5L64,50z"/>
		<path d="M20.6,17.5l-0.9-1.7c-0.1-0.1-0.2-0.3-0.2-0.3l0.2-0.1c0,0,0.1,0.2,0.2,0.3l1.3,1.4l0.6-0.4L20,13.9l-0.3,0.2
			l1.5,2.3c0.1,0.2,0.3,0.4,0.3,0.4l-0.2,0.1c0,0-0.1-0.2-0.3-0.4l-1.2-1.3l-0.6,0.4l0.9,1.6c0.1,0.2,0.3,0.4,0.3,0.4l-0.2,0.1
			c0,0-0.1-0.2-0.2-0.4l-1.7-2.2l-0.3,0.2L20,18L20.6,17.5z"/>
		<polygon points="22.2,12.5 22.9,13.7 21.6,14.5 20.9,13.3 20.5,13.5 22.3,16.4 22.6,16.2 21.8,14.8 23.1,14.1
			23.9,15.4 24.2,15.2 22.5,12.3 	"/>
		<path d="M25.7,14.5c0.7-0.4,0.8-1,0.5-1.8l-0.3-0.6c-0.4-0.8-1-1.1-1.7-0.7c-0.7,0.4-0.8,1-0.5,1.8l0.3,0.6
			C24.4,14.6,25,14.9,25.7,14.5z M24.4,13.6L24.1,13c-0.3-0.6-0.2-1.1,0.3-1.3c0.4-0.2,0.9,0,1.2,0.6l0.3,0.6
			c0.3,0.6,0.2,1.1-0.3,1.3C25.1,14.4,24.7,14.2,24.4,13.6z"/>
		<polygon points="29.3,12.9 29.1,12.6 27.5,13.2 26.4,10.5 26,10.6 27.3,13.7 	"/>
		<polygon points="32,12 31.9,11.7 30.1,12.2 29.8,11.1 31.3,10.6 31.2,10.2 29.7,10.7 29.3,9.7 31,9.2 30.9,8.9
			28.8,9.5 29.9,12.7 	"/>
		<path d="M36.4,11c0.8-0.1,1.1-0.6,1-1.2c-0.1-0.3-0.3-0.6-0.8-0.6l0-0.2C37,8.8,37,8.6,37,8.3
			c-0.1-0.5-0.5-0.8-1.3-0.6l-1.1,0.2l0.6,3.3L36.4,11z M37,9.9c0.1,0.4-0.2,0.7-0.7,0.8l-0.7,0.1l-0.2-1.2l0.7-0.1
			C36.6,9.3,36.9,9.4,37,9.9z M35.8,8c0.5-0.1,0.7,0,0.8,0.4C36.7,8.8,36.4,9,36,9.1l-0.7,0.1l-0.2-1L35.8,8z"/>
		<path d="M37.7,9.3c0.1,0.9,0.6,1.4,1.4,1.3c0.8-0.1,1.1-0.7,1-1.6l-0.1-0.6c-0.1-0.9-0.6-1.4-1.4-1.3
			c-0.8,0.1-1.1,0.7-1,1.6L37.7,9.3z M38.7,7.5c0.5-0.1,0.9,0.3,0.9,1l0.1,0.6c0.1,0.7-0.2,1.1-0.7,1.2c-0.5,0.1-0.8-0.3-0.9-1
			l-0.1-0.6C38,8,38.2,7.6,38.7,7.5z"/>
		<path d="M41.9,10.2c0.8-0.1,1.2-0.7,1.1-1.5l0-0.5c-0.1-0.9-0.5-1.4-1.3-1.3L40.6,7l0.3,3.3L41.9,10.2z M41.7,7.3
			c0.5,0,0.8,0.3,0.9,1l0,0.5c0.1,0.7-0.2,1.1-0.7,1.1l-0.7,0.1L41,7.3L41.7,7.3z"/>
		<path d="M44.5,10.1l0.4,0l0-1.6L46,6.7l-0.5,0l-0.6,1c-0.1,0.2-0.2,0.3-0.2,0.4l-0.2,0c0-0.1,0-0.2-0.2-0.4l-0.6-1
			l-0.5,0l1.2,1.8L44.5,10.1z"/>
		<path d="M49.8,7.4c0-0.2,0-0.4,0-0.4l0.2,0c0,0-0.1,0.2,0,0.4l0.1,1.8l0.8,0.1l0.4-1.8c0.1-0.3,0-0.4,0-0.4l0.2,0
			c0,0,0,0.2-0.1,0.4l-0.2,2.8l0.4,0L51.8,7L51,6.9l-0.4,1.9c0,0.2,0,0.3,0,0.3l-0.2,0c0,0,0-0.2,0-0.3l-0.1-1.9l-0.8-0.1l-0.3,3.3
			l0.4,0L49.8,7.4z"/>
		<path d="M53.2,10.6c0.8,0.1,1.3-0.4,1.4-1.2l0.3-2l-0.4-0.1l-0.3,2c-0.1,0.7-0.4,1-0.9,0.9c-0.5-0.1-0.7-0.4-0.6-1.1
			l0.3-2l-0.4-0.1l-0.3,2C52.1,9.9,52.4,10.5,53.2,10.6z"/>
		<path d="M57.3,10.4c0.1-0.6-0.3-0.9-0.8-1.2c-0.7-0.4-0.8-0.6-0.7-0.8c0.1-0.3,0.4-0.4,0.7-0.4
			c0.4,0.1,0.6,0.4,0.6,0.9L57.5,9c0.1-0.7-0.2-1.2-0.9-1.3c-0.7-0.1-1.1,0.2-1.2,0.7c-0.1,0.5,0.2,0.8,0.8,1.1
			c0.6,0.3,0.8,0.5,0.7,0.8c-0.1,0.3-0.4,0.5-0.9,0.4c-0.4-0.1-0.7-0.4-0.6-0.9L55,9.8c-0.1,0.7,0.3,1.2,1,1.3
			C56.7,11.3,57.2,10.9,57.3,10.4z"/>
		<polygon points="58.4,9.9 59.8,10.3 59.4,11.9 59.8,12 60.7,8.7 60.3,8.6 59.9,10 58.5,9.6 58.8,8.2 58.4,8.1
			57.6,11.4 58,11.5 	"/>
		<path d="M60.7,12.2l0.5-1.5l1,0.3c0.3,0.1,0.4,0.2,0.3,0.5l-0.4,1.1l0.4,0.1l0.4-1.1c0.1-0.3,0-0.5-0.3-0.7l0.1-0.2
			c0.3,0,0.6-0.1,0.7-0.4c0.1-0.4-0.1-0.9-0.8-1.1l-1.1-0.4l-1.1,3.2L60.7,12.2z M61.7,9.4l0.7,0.2c0.5,0.2,0.7,0.4,0.6,0.7
			c-0.1,0.3-0.4,0.4-0.9,0.3l-0.7-0.2L61.7,9.4z"/>
		<path d="M64,13.5c0.7,0.3,1.3-0.1,1.7-0.9l0.2-0.6c0.3-0.8,0.2-1.5-0.6-1.8c-0.7-0.3-1.3,0.1-1.7,0.9l-0.2,0.6
			C63.1,12.5,63.3,13.2,64,13.5z M63.8,11.9l0.2-0.6c0.3-0.7,0.7-0.9,1.1-0.7c0.5,0.2,0.6,0.6,0.3,1.3l-0.2,0.6
			c-0.3,0.7-0.7,0.9-1.2,0.7C63.7,13,63.5,12.5,63.8,11.9z"/>
		<path d="M68.5,13.4c0.4-0.8,0.3-1.5-0.4-1.8c-0.7-0.4-1.3,0-1.7,0.7l-0.3,0.6c-0.4,0.8-0.3,1.5,0.4,1.8
			c0.7,0.4,1.3,0,1.7-0.7L68.5,13.4z M67.9,13.8c-0.3,0.6-0.8,0.8-1.2,0.6c-0.4-0.2-0.6-0.7-0.2-1.3l0.3-0.6c0.3-0.6,0.8-0.8,1.2-0.6
			c0.4,0.2,0.6,0.7,0.2,1.3L67.9,13.8z"/>
		<path d="M70,12.8l0.2,0.1c0,0-0.1,0.1-0.2,0.4l-0.7,1.7l0.6,0.4l1.1-1.4c0.2-0.2,0.2-0.4,0.2-0.4l0.2,0.1
			c0,0-0.1,0.2-0.3,0.4l-1.4,2.4l0.3,0.2l1.7-2.9L71,13.3l-1.2,1.5c-0.1,0.1-0.2,0.3-0.2,0.3L69.5,15c0,0,0.1-0.1,0.2-0.3l0.8-1.7
			l-0.7-0.4L68,15.3l0.3,0.2l1.4-2.4C69.9,13,70,12.8,70,12.8z"/>
		<path d="M72,14.9c-0.3,0.4-0.1,0.8,0.2,1.4c0.4,0.5,0.5,0.8,0.3,1.1c-0.2,0.3-0.6,0.3-1,0c-0.3-0.2-0.4-0.6-0.2-1.1
			L71,16c-0.3,0.6-0.3,1.2,0.3,1.6c0.6,0.5,1.2,0.4,1.5-0.1c0.4-0.5,0.2-1-0.2-1.4c-0.5-0.6-0.5-0.8-0.3-1.1c0.2-0.2,0.5-0.2,0.8,0
			c0.3,0.2,0.4,0.6,0.1,1l0.3,0.2c0.3-0.6,0.3-1.1-0.2-1.6C72.8,14.3,72.3,14.5,72,14.9z"/>
		<path d="M14.7,23.4c-1.7,0-2.6,1.2-2.6,3.1v1.4c0,1.9,0.9,3.1,2.6,3.1c1.8,0,2.6-1.2,2.6-3.1v-1.4
			C17.4,24.7,16.5,23.4,14.7,23.4z M16.5,27.9c0,1.5-0.7,2.3-1.8,2.3c-1.1,0-1.8-0.8-1.8-2.3v-1.4c0-1.5,0.7-2.3,1.8-2.3
			c1.1,0,1.8,0.8,1.8,2.3V27.9z"/>
		<path d="M23.5,25.3c0-1-0.8-1.8-2.5-1.8h-2.4v7.3h0.9v-3.5h2.3c0.6,0,0.9,0.2,0.9,0.9v2.6h0.9v-2.6
			c0-0.8-0.4-1.1-1.1-1.2v-0.4C23.1,26.5,23.5,26,23.5,25.3z M21,26.6h-1.6v-2.3H21c1.1,0,1.6,0.4,1.6,1.1
			C22.6,26.2,22.1,26.6,21,26.6z"/>
		<path d="M28.7,29.8H29v1.1h0.8v-3.6h-2.7v0.8h1.9c0,1.5-0.9,2.1-1.9,2.1c-1.1,0-1.8-0.8-1.8-2.3v-1.4
			c0-1.5,0.7-2.3,1.8-2.3c0.9,0,1.6,0.5,1.7,1.6h0.9c-0.2-1.5-1.1-2.4-2.6-2.4c-1.7,0-2.6,1.2-2.6,3.1v1.4c0,1.9,0.8,3.1,2.5,3.1
			C28,31,28.5,30.4,28.7,29.8z"/>
		<path d="M31.5,30.9l0.7-2.3h2.7l0.7,2.3h0.9l-2.1-7.3h-1.7l-2.1,7.3H31.5z M33.1,24.8c0.2-0.6,0.1-0.6,0.1-0.9h0.4
			c0,0.3,0,0.4,0.1,0.9l0.8,2.9h-2.3L33.1,24.8z"/>
		<path d="M38.1,23.9h0.4c0,0.3,0,0.5,0.2,1.3l1.6,5.7h1.9v-7.3h-0.9v7H41c0-0.4-0.1-0.6-0.2-1.2l-1.6-5.8h-1.9v7.3h0.9
			V23.9z"/>
		<polygon points="43.6,24.4 45.6,24.4 45.6,30.1 43.6,30.1 43.6,30.9 48.4,30.9 48.4,30.1 46.4,30.1 46.4,24.4
			48.4,24.4 48.4,23.6 43.6,23.6 	"/>
		<path d="M52.3,24.2c0.9,0,1.6,0.5,1.8,1.6h0.9c-0.2-1.5-1.1-2.4-2.6-2.4c-1.7,0-2.6,1.2-2.6,3.1v1.4
			c0,1.9,0.9,3.1,2.6,3.1c1.5,0,2.5-1,2.6-2.5l-0.9,0c-0.2,1.1-0.8,1.7-1.8,1.7c-1.1,0-1.8-0.8-1.8-2.3v-1.4
			C50.5,25,51.2,24.2,52.3,24.2z"/>
		<path d="M57.2,28.6h2.7l0.7,2.3h0.9l-2.1-7.3h-1.7l-2.1,7.3h0.9L57.2,28.6z M58.2,24.8c0.2-0.6,0.1-0.6,0.1-0.9h0.4
			c0,0.3,0,0.4,0.1,0.9l0.8,2.9h-2.3L58.2,24.8z"/>
		<polygon points="63.3,23.6 62.4,23.6 62.4,30.9 67.2,30.9 67.2,30.1 63.3,30.1 	"/>
		<polygon points="69.6,23.6 68.7,23.6 68.7,30.9 73.4,30.9 73.4,30.1 69.6,30.1 	"/>
		<path d="M77.8,25.8c-0.3,0.5-0.4,0.7-0.4,0.9h-0.4c0-0.2-0.1-0.4-0.4-0.9l-1.3-2.2h-1l2.4,3.9v3.4h0.9v-3.4l2.4-3.9h-1
			L77.8,25.8z"/>
		<path d="M36.1,41.6v-3.6h-2.7v0.8h1.9c0,1.5-0.9,2.1-1.9,2.1c-1.1,0-1.8-0.8-1.8-2.3v-1.4c0-1.5,0.7-2.3,1.8-2.3
			c0.9,0,1.6,0.5,1.7,1.6h0.9c-0.2-1.5-1.1-2.4-2.6-2.4c-1.7,0-2.6,1.2-2.6,3.1v1.4c0,1.9,0.8,3.1,2.5,3.1c0.9,0,1.4-0.6,1.6-1.2h0.4
			v1.1H36.1z"/>
		<path d="M42.3,36.1c0-1-0.8-1.8-2.5-1.8v0h-2.4v7.3h0.9v-3.5h2.3c0.6,0,0.9,0.2,0.9,0.9v2.6h0.9v-2.6
			c0-0.8-0.4-1.1-1.1-1.2v-0.4C41.9,37.2,42.3,36.8,42.3,36.1z M39.8,37.4h-1.6v-2.3h1.6c1.1,0,1.6,0.4,1.6,1.1
			C41.4,37,40.9,37.4,39.8,37.4z"/>
		<path d="M46,34.2c-1.7,0-2.6,1.2-2.6,3.1v1.4c0,1.9,0.9,3.1,2.6,3.1c1.8,0,2.6-1.2,2.6-3.1v-1.4
			C48.6,35.4,47.7,34.2,46,34.2z M47.8,38.7c0,1.5-0.7,2.3-1.8,2.3c-1.1,0-1.8-0.8-1.8-2.3v-1.4c0-1.5,0.7-2.3,1.8-2.3
			c1.1,0,1.8,0.8,1.8,2.3V38.7z"/>
		<path d="M53.9,40.4c0,0.5,0,1,0,1h-0.4c0,0,0.1-0.4,0-1l-0.5-3.9h-1.6L51,40.4c-0.1,0.6,0,1,0,1h-0.4c0,0,0.1-0.4,0-1
			l-0.3-6h-0.9l0.5,7.3h1.7l0.5-4.1c0-0.3,0-0.8,0-0.8h0.4c0,0,0,0.5,0,0.8l0.5,4.1h1.7l0.5-7.3h-0.9L53.9,40.4z"/>
		<path d="M61,41.6v-7.3h-0.9v7h-0.4c0-0.4-0.1-0.6-0.2-1.2l-1.6-5.8v0H56v7.3h0.9v-7h0.4c0,0.3,0,0.5,0.2,1.3l1.6,5.7
			H61z"/>
	</g>
</svg>
