{% assign fill_colour = fill_colour | default: 'essentials-charcoal' %}

<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 82 82" xml:space="preserve" style="fill: rgba(var(--theme-{{ fill_colour }}--rgb), 1);">
	<g>
		<path d="M17.2,52l-4,1.2c-0.3,0.1-0.7,0.3-0.7,0.3l-0.2-0.4c0,0,0.4-0.2,0.7-0.3l3.6-2.1L16,49.2L9,51.6l0.3,0.8
			l5.7-2.1c0.5-0.2,0.9-0.4,0.9-0.4l0.2,0.4c0,0-0.4,0.1-0.9,0.4l-3.4,2l0.7,1.5l3.8-1.1c0.6-0.2,0.9-0.4,0.9-0.4l0.2,0.4
			c0,0-0.4,0.1-0.9,0.4L11,56.1l0.3,0.8l6.5-3.4L17.2,52z"/>
		<polygon points="15.5,47.3 12.1,48 11.5,44.8 14.9,44.1 14.8,43.3 7.5,44.6 7.7,45.4 10.7,44.9 11.3,48.1 8.3,48.7
			8.4,49.5 15.7,48.2 	"/>
		<path d="M10.4,42.3l1.4,0.1c1.9,0.1,3.2-0.8,3.2-2.5c0.1-1.8-1.1-2.7-3-2.8L10.6,37c-1.9-0.1-3.2,0.8-3.2,2.5
			C7.3,41.3,8.5,42.3,10.4,42.3z M10.5,37.9l1.4,0.1c1.5,0.1,2.3,0.8,2.3,1.9c0,1.1-0.9,1.7-2.4,1.7l-1.4-0.1
			c-1.5-0.1-2.3-0.8-2.3-1.9C8.2,38.5,9,37.9,10.5,37.9z"/>
		<polygon points="16.4,31.7 15.6,31.5 14.6,35.3 8.2,33.6 8,34.4 15.1,36.3 	"/>
		<polygon points="19.1,26.3 18.4,25.9 16.5,29.5 14.1,28.3 15.8,25.1 15.1,24.7 13.4,27.9 11.4,26.8 13.2,23.4
			12.5,23.1 10.3,27.2 16.8,30.7 	"/>
		<polygon points="23.4,21.6 21.2,18.9 24,16.6 23.5,15.9 20.7,18.2 19.2,16.5 22.3,14 21.8,13.4 18,16.4 22.7,22.1 	"/>
		<path d="M28.1,18.1L26.5,15l2.1-1c0.5-0.3,0.9-0.3,1.2,0.4l1.2,2.3l0.8-0.4L30.6,14c-0.3-0.7-0.9-0.8-1.5-0.6l-0.2-0.3
			c0.5-0.5,0.7-1.1,0.4-1.8c-0.5-0.9-1.5-1.2-3-0.5L24,12l3.2,6.6L28.1,18.1z M25.2,12.3l1.4-0.7c1-0.5,1.7-0.4,2,0.3
			c0.3,0.7,0,1.3-1,1.8l-1.4,0.7L25.2,12.3z"/>
		<path d="M35,15.6c1.7-0.4,2.3-1.8,1.8-3.6l-1-4.3L34.9,8l1,4.3c0.4,1.5-0.1,2.4-1.2,2.6c-1,0.2-1.8-0.3-2.2-1.8l-1-4.3
			L30.7,9l1,4.3C32.2,15.1,33.3,16,35,15.6z"/>
		<polygon points="40.3,8.3 40.3,14 38.4,14 38.4,14.8 43.2,14.7 43.2,14 41.2,14 41.1,8.2 43.1,8.2 43.1,7.4 38.3,7.5
			38.3,8.3 	"/>
		<polygon points="46.2,15.3 47.1,15.5 48.5,9.1 50.7,9.6 50.8,8.8 45.6,7.7 45.4,8.4 47.6,8.9 	"/>
		<polygon points="50.4,15.5 50,16.3 54.4,18.3 54.7,17.6 52.9,16.8 55.4,11.6 57.2,12.4 57.5,11.7 53.2,9.6 52.8,10.3
			54.6,11.2 52.1,16.4 	"/>
		<path d="M55.9,19.4l4.3-5.5l0.3,0.2c-0.2,0.2-0.3,0.4-0.6,1.2l-2.3,5.5l1.5,1.2l4.5-5.8L63,15.6l-4.3,5.5l-0.3-0.2
			c0.2-0.3,0.3-0.6,0.6-1.1l2.3-5.6l-1.5-1.2l-4.5,5.8L55.9,19.4z"/>
		<path d="M62,20.5c-1.5,1.2-1.9,2.6-0.8,3.9c0.6,0.7,1.4,0.7,1.9,0.5l0.2,0.3l-0.8,0.7l0.5,0.6l2.8-2.3l-1.7-2.1
			l-0.6,0.5l1.2,1.5c-1.2,0.9-2.3,0.6-2.8-0.1c-0.7-0.8-0.5-1.9,0.7-2.8l1.1-0.9c1.2-1,2.2-0.9,2.9-0.1c0.6,0.7,0.6,1.6-0.2,2.4
			l0.6,0.7c1-1.1,1.2-2.4,0.2-3.6c-1.1-1.4-2.6-1.3-4.1-0.1L62,20.5z"/>
		<path d="M66.2,33.7c0.5,1.7,1.6,2.3,2.8,1.9c0.7-0.2,1.2-0.7,1.2-1.8l0.4-0.1c0.6,0.8,1.1,0.8,1.6,0.7
			c1.1-0.3,1.6-1.3,1.1-2.9l-0.7-2.3l-7,2.1L66.2,33.7z M72,30.4l0.4,1.4c0.3,1,0.2,1.6-0.6,1.9c-0.8,0.2-1.3-0.3-1.6-1.2L69.8,31
			L72,30.4z M69.1,31.2l0.5,1.6c0.3,1,0.1,1.8-0.8,2c-0.9,0.3-1.5-0.3-1.8-1.3L66.5,32L69.1,31.2z"/>
		<path d="M70,36.6c-1.9,0.1-3.1,1.1-3,2.8c0.1,1.8,1.4,2.6,3.3,2.5l1.4-0.1c1.9-0.1,3.1-1.1,3-2.8
			c-0.1-1.7-1.4-2.6-3.3-2.5L70,36.6z M73.8,39.1c0.1,1.1-0.7,1.8-2.2,1.9L70.3,41c-1.5,0.1-2.4-0.6-2.4-1.6
			c-0.1-1.1,0.7-1.8,2.2-1.9l1.4-0.1C72.9,37.3,73.8,38,73.8,39.1z"/>
		<path d="M66.9,45.3c-0.3,1.7,0.8,2.8,2.7,3.1l1.1,0.2c1.9,0.3,3.2-0.4,3.5-2.1l0.4-2.4l-7.2-1.2L66.9,45.3z M67.6,45.5
			l0.3-1.5l5.7,0.9l-0.3,1.5c-0.2,1.1-1.1,1.6-2.6,1.4l-1.1-0.2C68.1,47.4,67.5,46.5,67.6,45.5z"/>
		<path d="M65.4,50.6l-0.3,0.8l3.1,1.3l2.7,3.8l0.4-0.9l-1.6-2.1c-0.3-0.5-0.5-0.6-0.7-0.7l0.1-0.3c0.2,0.1,0.4,0.1,1,0
			l2.6-0.4l0.4-0.9l-4.6,0.8L65.4,50.6z"/>
		<polygon points="18.6,63.7 17.5,62.6 18.3,61.9 19.4,63.1 19.7,62.9 18.2,61.4 15.9,63.6 16.2,63.9 17.3,62.8 18.4,64
				"/>
		<path d="M20.4,66.1l1.3-1.4l-0.3-0.3l-1.3,1.4c-0.4,0.5-0.9,0.6-1.2,0.2c-0.3-0.3-0.3-0.7,0.1-1.2l1.3-1.4L20,63.2
			l-1.3,1.4c-0.5,0.6-0.6,1.2,0,1.7C19.3,66.9,19.9,66.8,20.4,66.1z"/>
		<path d="M23.4,66l-1.8,2.5l-0.1-0.1c0.1-0.1,0.1-0.2,0.2-0.5l0.9-2.4L22,64.9l-1.9,2.6l0.3,0.2l1.8-2.5l0.1,0.1
			c-0.1,0.1-0.1,0.2-0.2,0.5l-0.9,2.4l0.7,0.5l1.9-2.6L23.4,66z"/>
		<path d="M25.1,67c-0.6-0.4-1.3-0.1-1.7,0.6l-0.3,0.5c-0.4,0.7-0.4,1.4,0.3,1.8c0.6,0.4,1.1,0.2,1.5-0.3l-0.3-0.2
			c-0.3,0.4-0.7,0.4-1,0.2c-0.4-0.2-0.5-0.7-0.1-1.3l0.3-0.5c0.3-0.6,0.8-0.7,1.2-0.5c0.3,0.2,0.5,0.6,0.3,1l0.3,0.2
			C25.8,67.9,25.7,67.4,25.1,67z"/>
		<polygon points="28.4,68.9 26.3,67.8 26.2,68.1 27,68.6 25.8,71.1 26.1,71.3 27.4,68.7 28.2,69.2 	"/>
		<polygon points="30.6,70.1 30.7,69.8 28.8,69 28.6,69.3 29.4,69.7 28.5,72 27.7,71.7 27.6,72 29.5,72.8 29.7,72.4
			28.9,72.1 29.8,69.8 	"/>
		<path d="M32.2,70.2c-0.7-0.2-1.3,0.2-1.5,1l-0.2,0.6c-0.2,0.8,0,1.4,0.7,1.6c0.7,0.2,1.3-0.2,1.5-1l0.2-0.6
			C33.2,71.1,33,70.4,32.2,70.2z M32.6,71.7l-0.2,0.6c-0.2,0.6-0.6,0.9-1,0.7c-0.4-0.1-0.6-0.6-0.4-1.2l0.2-0.6
			c0.2-0.6,0.6-0.9,1-0.8C32.6,70.7,32.8,71.1,32.6,71.7z"/>
		<path d="M35.5,71.1l-0.6,3l-0.2,0c0-0.2,0-0.3,0-0.5l-0.2-2.6l-0.8-0.2l-0.6,3.1l0.4,0.1l0.6-3l0.2,0
			c0,0.1,0,0.2,0,0.6l0.2,2.6l0.8,0.2l0.6-3.1L35.5,71.1z"/>
		<path d="M37,71.3l-1.3,3.1l0.4,0l0.4-1l1.2,0.1l0.2,1l0.4,0l-0.5-3.3L37,71.3z M36.6,73.1l0.5-1.2
			c0.1-0.2,0.1-0.3,0.1-0.4l0.2,0c0,0.1,0,0.2,0,0.4l0.2,1.3L36.6,73.1z"/>
		<polygon points="39.3,71.5 39,71.5 38.8,74.7 40.9,74.8 40.9,74.4 39.2,74.4 	"/>
		<path d="M44.9,71.3l0,1.8c0,0.2,0,0.3,0,0.3l-0.2,0c0,0,0-0.2,0-0.3l-0.4-1.8l-0.8,0.1l0.4,3.2l0.4,0L43.9,72
			c0-0.2-0.1-0.4-0.1-0.4l0.2,0c0,0,0,0.2,0,0.4l0.4,1.7l0.7-0.1l0-1.7c0-0.3,0-0.4,0-0.4l0.2,0c0,0,0,0.2,0,0.4l0.3,2.6l0.4,0
			l-0.4-3.2L44.9,71.3z"/>
		<path d="M48.3,70.7l-0.4,0.1l0.4,1.9c0.1,0.7-0.1,1-0.5,1.1c-0.5,0.1-0.8-0.2-0.9-0.8l-0.4-1.9l-0.4,0.1l0.4,1.9
			c0.2,0.8,0.6,1.2,1.4,1.1c0.7-0.2,1-0.7,0.8-1.5L48.3,70.7z"/>
		<path d="M50.3,71.6c-0.7,0-0.9-0.1-1-0.4c-0.1-0.3,0.1-0.5,0.4-0.6c0.4-0.1,0.7,0,0.9,0.5l0.4-0.1
			c-0.3-0.6-0.7-0.9-1.3-0.7c-0.6,0.2-0.8,0.7-0.7,1.1c0.1,0.5,0.6,0.6,1.2,0.6c0.6,0,0.9,0.1,1,0.4c0.1,0.3-0.1,0.6-0.6,0.7
			c-0.4,0.1-0.7,0-0.9-0.5l-0.4,0.1c0.3,0.6,0.8,0.9,1.4,0.7c0.7-0.2,1-0.7,0.8-1.2C51.3,71.7,50.9,71.6,50.3,71.6z"/>
		<polygon points="52.9,69.2 53.4,70.4 52.1,70.9 51.6,69.7 51.2,69.8 52.4,72.8 52.7,72.6 52.2,71.2 53.5,70.7
			54.1,72.1 54.4,72 53.2,69 	"/>
		<path d="M55.9,69.5l-0.1-0.1c0.2-0.2,0.3-0.5,0.2-0.8c-0.2-0.4-0.6-0.5-1.3-0.2l-1,0.5l1.4,2.8l0.3-0.2l-0.7-1.4
			l0.9-0.4c0.2-0.1,0.4-0.1,0.5,0.2l0.5,1l0.3-0.2l-0.5-1C56.4,69.4,56.1,69.4,55.9,69.5z M55.2,69.5l-0.6,0.3L54.2,69l0.6-0.3
			c0.4-0.2,0.7-0.2,0.9,0.1C55.8,69.1,55.6,69.3,55.2,69.5z"/>
		<path d="M58.6,67.6c-0.4-0.7-1-1-1.7-0.6c-0.6,0.4-0.7,1.1-0.3,1.8l0.3,0.5c0.4,0.7,1,1,1.7,0.6
			c0.7-0.4,0.7-1.1,0.3-1.8L58.6,67.6z M58.4,69.6c-0.4,0.2-0.8,0.1-1.2-0.5l-0.3-0.5c-0.3-0.6-0.3-1,0.1-1.3
			c0.4-0.2,0.8-0.1,1.2,0.5l0.3,0.5C58.9,68.9,58.8,69.3,58.4,69.6z"/>
		<path d="M60.8,66c-0.5-0.7-1.1-0.9-1.7-0.4c-0.6,0.4-0.6,1.1-0.1,1.8l0.4,0.5c0.5,0.7,1.1,0.9,1.7,0.4
			c0.6-0.5,0.6-1.1,0.1-1.8L60.8,66z M60.8,68c-0.4,0.3-0.8,0.2-1.2-0.4l-0.4-0.5c-0.4-0.5-0.4-1,0-1.3c0.4-0.3,0.8-0.2,1.2,0.4
			l0.4,0.5C61.2,67.2,61.2,67.7,60.8,68z"/>
		<path d="M61.4,63.8l1,1.5c0.1,0.1,0.2,0.2,0.2,0.2l-0.1,0.1c0,0-0.1-0.1-0.2-0.2l-1.3-1.2l-0.6,0.5l2.1,2.4l0.3-0.3
			l-1.7-2c-0.2-0.2-0.3-0.3-0.3-0.3l0.1-0.1c0,0,0.1,0.1,0.3,0.3l1.3,1.2l0.5-0.5l-1-1.4c-0.1-0.2-0.3-0.3-0.3-0.3l0.1-0.1
			c0,0,0.1,0.2,0.3,0.3l1.7,2l0.3-0.3L62,63.2L61.4,63.8z"/>
		<path d="M64.2,63c-0.7,0.4-0.9,0.3-1,0.2c-0.2-0.2-0.2-0.5,0.1-0.8c0.3-0.3,0.6-0.3,1,0l0.3-0.3c-0.5-0.4-1-0.4-1.5,0
			c-0.4,0.5-0.4,1-0.1,1.3c0.4,0.4,0.8,0.2,1.3-0.1c0.5-0.3,0.8-0.4,1-0.1c0.2,0.2,0.2,0.6-0.1,0.9c-0.3,0.3-0.7,0.3-1.1,0.1
			l-0.3,0.3c0.5,0.4,1.1,0.4,1.6-0.1c0.5-0.5,0.5-1.1,0.1-1.4C65.1,62.6,64.6,62.7,64.2,63z"/>
		<path d="M41,0C18.4,0,0,18.4,0,41s18.4,41,41,41s41-18.4,41-41S63.6,0,41,0z M69.1,69.1C61.6,76.7,51.6,80.8,41,80.8
			s-20.6-4.1-28.1-11.7C5.3,61.6,1.2,51.6,1.2,41s4.1-20.6,11.7-28.1S30.4,1.2,41,1.2s20.6,4.1,28.1,11.7
			c7.5,7.5,11.7,17.5,11.7,28.1S76.7,61.6,69.1,69.1z"/>
		<path d="M41,2.5C19.7,2.5,2.5,19.7,2.5,41S19.7,79.5,41,79.5c21.3,0,38.5-17.3,38.5-38.5C79.5,19.7,62.3,2.5,41,2.5z
		 	M67.8,67.8C60.7,75,51.1,78.9,41,78.9S21.3,75,14.2,67.8C7,60.7,3.1,51.1,3.1,41c0-10.1,3.9-19.7,11.1-26.8
			C21.3,7,30.9,3.1,41,3.1S60.7,7,67.8,14.2C75,21.3,78.9,30.9,78.9,41C78.9,51.1,75,60.7,67.8,67.8z"/>
		<path d="M59.8,56.2c-0.2-0.2-0.6-0.2-0.8,0c-0.6,0.6-1.2,1.1-1.8,1.7V40.8c1.4-0.5,2.3-1.2,2.3-2
			c0-10.2-8.3-18.6-18.6-18.6c-10.2,0-18.6,8.3-18.6,18.6c0,0.8,0.9,1.5,2.3,2v17.1c-0.6-0.5-1.2-1.1-1.8-1.7c-0.2-0.2-0.6-0.2-0.8,0
			c-0.2,0.2-0.2,0.6,0,0.8c5,5.1,11.7,8,18.8,8c7.2,0,13.9-2.8,18.8-8C60.1,56.8,60.1,56.4,59.8,56.2z M57.4,39.6l-11.9-0.7h13
			C58.4,39.1,58,39.3,57.4,39.6z M46,41.5l-1.8-1.1c0-0.3,0-0.5,0-0.8l5.7,1.5C48.7,41.3,47.4,41.5,46,41.5z M47.6,42.5v16.1
			c-0.6-2-1.2-4.1-1.8-6.4v-9.6C46.4,42.5,47,42.5,47.6,42.5z M44.3,41.6c0-0.3,0-0.5,0-0.8l1.3,0.7C45.1,41.6,44.7,41.6,44.3,41.6z
		 	M45.3,42.6v7.1c-0.4-2.3-0.8-4.6-1-7C44.7,42.6,45,42.6,45.3,42.6z M44.2,39.4c0,0,0-0.1,0-0.1l9.5,1.3c-0.9,0.2-1.9,0.3-3.1,0.5
			L44.2,39.4z M44,38.2C44,38.2,43.9,38.1,44,38.2l6.7-1.8c1.2,0.1,2.2,0.3,3.1,0.5L44,38.2z M46,35.9c1.4,0.1,2.7,0.2,3.9,0.3
			l-6.3,1.7c-0.2-0.1-0.3-0.2-0.5-0.2L46,35.9z M42.7,37.6c-0.6-0.1-1.2-0.2-1.5-0.2v-1.6c1.6,0,3,0,4.4,0.1L42.7,37.6z M54.6,37
			c0.9,0.2,1.6,0.4,2.2,0.6l-12.1,0.8L54.6,37z M45.5,38.6l11.9-0.7c0.6,0.3,1,0.5,1.1,0.7H45.5z M41,21.2c9.2,0,16.7,7.1,17.5,16
			c-3-1.8-11.4-2.5-17.5-2.5c-6,0-14.5,0.7-17.5,2.5C24.3,28.3,31.8,21.2,41,21.2z M36.5,41.6l1.3-0.7c0,0.3,0,0.5,0,0.8
			C37.3,41.6,36.9,41.6,36.5,41.6z M37.6,42.6c-0.2,2.4-0.5,4.8-1,7v-7.1C37,42.6,37.3,42.6,37.6,42.6z M36,41.5
			c-1.4-0.1-2.7-0.2-3.9-0.3l5.7-1.5c0,0.3,0,0.5,0,0.8L36,41.5z M36.2,42.6v9.6c-0.5,2.3-1.1,4.4-1.8,6.4V42.5
			C35,42.5,35.6,42.5,36.2,42.6z M31.4,41.1c-1.2-0.1-2.2-0.3-3.1-0.5l9.5-1.3c0,0,0,0.1,0,0.1L31.4,41.1z M28.3,36.8
			c0.9-0.2,1.9-0.3,3.1-0.5l6.7,1.8c0,0,0,0-0.1,0.1L28.3,36.8z M37.3,38.4l-12.1-0.8c0.6-0.2,1.3-0.4,2.2-0.6L37.3,38.4z M32.1,36.2
			c1.2-0.1,2.5-0.2,3.9-0.3l3,1.7c-0.2,0.1-0.4,0.1-0.5,0.2L32.1,36.2z M36.5,35.9c1.4-0.1,2.8-0.1,4.4-0.1v1.6c-0.3,0-0.9,0-1.5,0.2
			L36.5,35.9z M24.6,37.8l11.9,0.7h-13C23.6,38.4,24,38.1,24.6,37.8z M24.6,39.6c-0.6-0.3-1-0.5-1.1-0.7h13L24.6,39.6z M27,59.6
			c-0.6-0.4-1.2-0.8-1.8-1.3V41c0.5,0.2,1.1,0.3,1.8,0.5V59.6z M25.2,39.9l12.1-0.8l-9.9,1.4C26.5,40.3,25.8,40.1,25.2,39.9z
		 	M29.3,61c-0.6-0.3-1.2-0.7-1.8-1V41.6c0.6,0.1,1.1,0.2,1.8,0.3V61z M31.6,62c-0.6-0.2-1.2-0.5-1.8-0.8V42c0.6,0.1,1.2,0.2,1.8,0.2
			V62z M33.9,60.2c-0.3,0.8-0.6,1.6-0.9,2.4c-0.3-0.1-0.6-0.2-0.9-0.3v-20c0.6,0.1,1.2,0.1,1.8,0.2V60.2z M41,63.9
			c-2.4,0-4.7-0.3-7-1c2.2-6,4.8-14.9,4.8-24c0.2-0.1,1-0.4,2.2-0.4c1.2,0,1.9,0.2,2.2,0.4c0,9.1,2.6,18,4.8,24
			C45.7,63.5,43.4,63.9,41,63.9z M49.9,62.2c-0.3,0.1-0.6,0.2-0.9,0.3c-0.3-0.8-0.6-1.6-0.9-2.4V42.4c0.6,0,1.2-0.1,1.8-0.2V62.2z
		 	M52.2,61.2c-0.6,0.3-1.2,0.6-1.8,0.8V42.2c0.6-0.1,1.2-0.1,1.8-0.2V61.2z M54.5,60c-0.6,0.4-1.2,0.7-1.8,1V41.9
			c0.6-0.1,1.2-0.2,1.8-0.3V60z M56.7,58.3c-0.6,0.5-1.2,0.9-1.8,1.3V41.4c0.6-0.1,1.2-0.3,1.8-0.5V58.3z M54.6,40.5l-9.9-1.4
			l12.1,0.8C56.2,40.1,55.5,40.3,54.6,40.5z"/>
	</g>
</svg>
