{% assign fill_colour = fill_colour | default: 'essentials-charcoal' %}

<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 26.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 19 15" style="fill: rgba(var(--theme-{{ fill_colour }}--rgb), 1);" xml:space="preserve">
	<g>
		<rect class="st0" width="19" height="1.5"/>
		<rect y="6.8" class="st0" width="19" height="1.5"/>
		<rect y="13.5" class="st0" width="19" height="1.5"/>
	</g>
</svg>
