{% assign fill_colour = fill_colour | default: 'essentials-charcoal' %}

<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 89 68" xml:space="preserve" style="fill: rgba(var(--theme-{{ fill_colour }}--rgb), 1);">
	<g>
		<path d="M17.8,33.5v-7.6h-0.9v7.3h-0.4c0-0.4-0.1-0.7-0.3-1.3l-1.7-6h-2v7.6h0.9v-7.3h0.4c0,0.3,0,0.5,0.3,1.3l1.7,5.9
			H17.8z"/>
		<polygon points="24.4,32.7 20.2,32.7 20.2,29.9 23.9,29.9 23.9,29 20.2,29 20.2,26.7 24.1,26.7 24.1,25.9 19.2,25.9
			19.2,33.5 24.4,33.5 	"/>
		<path d="M31.2,33.5l-1.9-3.6v-0.5l1.9-3.6h-1l-1.3,2.4c-0.3,0.5-0.3,0.7-0.3,1H28c0-0.3-0.1-0.4-0.3-1l-1.3-2.4h-1
			l1.9,3.6v0.5l-1.9,3.6h1l1.3-2.4c0.3-0.5,0.3-0.7,0.3-1h0.4c0,0.3,0.1,0.4,0.3,1l1.3,2.4H31.2z"/>
		<polygon points="35.2,33.5 35.2,26.7 37.5,26.7 37.5,25.9 31.9,25.9 31.9,26.7 34.3,26.7 34.3,33.5 	"/>
		<rect x="39.3" y="29.2" width="3.9" height="0.8"/>
		<polygon points="50.3,32.7 46.2,32.7 46.2,25.9 45.3,25.9 45.3,33.5 50.3,33.5 	"/>
		<polygon points="56.7,26.7 56.7,25.9 51.8,25.9 51.8,33.5 57,33.5 57,32.7 52.7,32.7 52.7,29.9 56.5,29.9 56.5,29
			52.7,29 52.7,26.7 	"/>
		<path d="M57.8,25.9l2.1,7.6h1.8l2.1-7.6h-1l-1.7,6.3c-0.2,0.6-0.2,0.7-0.2,1h-0.4c0-0.3,0-0.4-0.2-1l-1.7-6.3H57.8z"/>
		<polygon points="70,32.7 65.8,32.7 65.8,29.9 69.5,29.9 69.5,29 65.8,29 65.8,26.7 69.8,26.7 69.8,25.9 64.9,25.9
			64.9,33.5 70,33.5 	"/>
		<polygon points="76.3,32.7 72.3,32.7 72.3,25.9 71.4,25.9 71.4,33.5 76.3,33.5 	"/>
		<path d="M18.9,40.3c-1.7-0.5-2-0.9-2-1.5c0-0.6,0.6-1.1,1.5-1.1c0.9,0,1.5,0.5,1.6,1.7h0.9c-0.2-1.6-1-2.5-2.5-2.5
			c-1.6,0-2.4,0.9-2.4,2.1c0,1.2,0.9,1.7,2.3,2.1c1.4,0.4,2,0.8,2,1.6c0,0.7-0.6,1.3-1.8,1.3c-1,0-1.7-0.6-1.8-1.7h-0.9
			c0.2,1.6,1.1,2.6,2.8,2.6c1.8,0,2.7-1,2.7-2.1C21.1,41.3,20.2,40.7,18.9,40.3z"/>
		<path d="M26.7,41.6c0,1.6-0.7,2.4-1.8,2.4c-1.1,0-1.8-0.8-1.8-2.4V37h-0.9v4.6c0,2,0.9,3.2,2.7,3.2
			c1.8,0,2.7-1.2,2.7-3.2V37h-0.9V41.6z"/>
		<path d="M31.5,37H29v7.6h0.9v-3.2h1.6c1.8,0,2.8-0.9,2.8-2.2S33.3,37,31.5,37z M31.5,40.6h-1.6v-2.8h1.6
			c1.1,0,1.8,0.4,1.8,1.4S32.6,40.6,31.5,40.6z"/>
		<polygon points="40.4,37.9 40.4,37 35.5,37 35.5,44.7 40.7,44.7 40.7,43.8 36.5,43.8 36.5,41.1 40.2,41.1 40.2,40.2
			36.5,40.2 36.5,37.9 	"/>
		<path d="M42,44.7h0.9V41h2.4c0.6,0,1,0.2,1,0.9v2.7h0.9V42c0-0.8-0.5-1.1-1.2-1.2v-0.4c0.7-0.3,1.2-0.7,1.2-1.5
			c0-1.1-0.8-1.8-2.6-1.8H42V44.7z M42.9,37.9h1.6c1.1,0,1.7,0.4,1.7,1.1c0,0.8-0.6,1.2-1.7,1.2h-1.6V37.9z"/>
		<polygon points="48.6,44.7 49.5,44.7 49.5,41.1 53.3,41.1 53.3,40.2 49.5,40.2 49.5,37.9 53.6,37.9 53.6,37 48.6,37
			"/>
		<path d="M57.5,36.9c-1.8,0-2.7,1.3-2.7,3.3v1.4c0,2,0.9,3.3,2.7,3.3c1.8,0,2.8-1.3,2.8-3.3v-1.4
			C60.3,38.2,59.4,36.9,57.5,36.9z M59.4,41.6c0,1.6-0.7,2.4-1.8,2.4c-1.1,0-1.8-0.8-1.8-2.4v-1.4c0-1.6,0.7-2.4,1.8-2.4
			c1.1,0,1.8,0.8,1.8,2.4V41.6z"/>
		<path d="M64,36.9c-1.8,0-2.7,1.3-2.7,3.3v1.4c0,2,0.9,3.3,2.7,3.3c1.8,0,2.8-1.3,2.8-3.3v-1.4
			C66.8,38.2,65.9,36.9,64,36.9z M65.9,41.6c0,1.6-0.7,2.4-1.8,2.4c-1.1,0-1.8-0.8-1.8-2.4v-1.4c0-1.6,0.7-2.4,1.8-2.4
			c1.1,0,1.8,0.8,1.8,2.4V41.6z"/>
		<path d="M68.1,44.7h2.5c1.8,0,2.8-1.3,2.8-3.3v-1.1c0-2-0.9-3.3-2.8-3.3h-2.5V44.7z M69,37.9h1.6
			c1.1,0,1.8,0.8,1.8,2.4v1.1c0,1.6-0.7,2.4-1.8,2.4H69V37.9z"/>
		<path d="M44.5,0L0,17v34l44.5,17L89,51V17L44.5,0z M87.9,50.2L44.5,66.8L1.1,50.2V17.8L44.5,1.2l43.4,16.6V50.2z"/>
		<path d="M2.8,19.1v29.8l41.7,15.9l41.7-15.9V19.1L44.5,3.2L2.8,19.1z M85.5,48.4L44.5,64l-41-15.6V19.6L44.5,4l41,15.6
			V48.4z"/>
		<polygon points="22.6,18.8 23.9,18.8 23.9,18.5 22.6,18.5 22.6,17.7 24,17.7 24,17.4 22.2,17.4 22.2,20 22.6,20 	"/>
		<path d="M25.3,20.1c0.6,0,0.9-0.4,0.9-1.1v-1.6H26V19c0,0.6-0.2,0.8-0.6,0.8c-0.4,0-0.6-0.3-0.6-0.8v-1.6h-0.3V19
			C24.4,19.7,24.7,20.1,25.3,20.1z"/>
		<path d="M27,17.5h0.1c0,0.1,0,0.2,0.1,0.5l0.6,2.1h0.7v-2.6h-0.3v2.5H28c0-0.1,0-0.2-0.1-0.4l-0.6-2.1h-0.7V20H27V17.5
			z"/>
		<path d="M29.9,20.1c0.6,0,0.9-0.3,1-0.9l-0.3,0c-0.1,0.4-0.3,0.6-0.6,0.6c-0.4,0-0.6-0.3-0.6-0.8v-0.5
			c0-0.5,0.2-0.8,0.6-0.8c0.3,0,0.6,0.2,0.6,0.6h0.3c-0.1-0.5-0.4-0.9-0.9-0.9c-0.6,0-0.9,0.4-0.9,1.1V19
			C28.9,19.7,29.2,20.1,29.9,20.1z"/>
		<polygon points="31.9,20 32.3,20 32.3,17.7 33.1,17.7 33.1,17.4 31.1,17.4 31.1,17.7 31.9,17.7 	"/>
		<polygon points="35.2,19.8 34.5,19.8 34.5,17.7 35.2,17.7 35.2,17.4 33.5,17.4 33.5,17.7 34.2,17.7 34.2,19.8
			33.5,19.8 33.5,20 35.2,20 	"/>
		<path d="M36.6,20.1c0.6,0,1-0.4,1-1.1v-0.5c0-0.7-0.3-1.1-1-1.1c-0.6,0-0.9,0.4-0.9,1.1V19
			C35.7,19.7,36,20.1,36.6,20.1z M36,18.5c0-0.6,0.2-0.8,0.6-0.8c0.4,0,0.6,0.3,0.6,0.8V19c0,0.6-0.3,0.8-0.6,0.8
			c-0.4,0-0.6-0.3-0.6-0.8V18.5z"/>
		<path d="M38.3,17.5h0.1c0,0.1,0,0.2,0.1,0.5l0.6,2.1h0.7v-2.6h-0.3v2.5h-0.1c0-0.1,0-0.2-0.1-0.4l-0.6-2.1H38V20h0.3
			V17.5z"/>
		<path d="M40.6,19.2h1l0.2,0.8h0.3l-0.8-2.6h-0.6L40.1,20h0.3L40.6,19.2z M41,17.9c0.1-0.2,0-0.2,0-0.3h0.2
			c0,0.1,0,0.1,0,0.3l0.3,1.1h-0.8L41,17.9z"/>
		<polygon points="44.2,19.8 42.8,19.8 42.8,17.4 42.5,17.4 42.5,20 44.2,20.1 	"/>
		<path d="M47.3,17.9c0-0.2,0-0.3,0-0.3h0.2c0,0,0,0.1,0,0.3l0.2,1.4h0.6l0.2-1.4c0-0.2,0-0.3,0-0.3h0.2c0,0,0,0.2,0,0.3
			V20h0.3v-2.6h-0.7L48,18.9c0,0.1,0,0.3,0,0.3h-0.2c0,0,0-0.1,0-0.3l-0.2-1.5H47l0,2.6h0.3V17.9z"/>
		<path d="M50.1,20.1c0.6,0,0.9-0.4,0.9-1.1v-1.6h-0.3V19c0,0.6-0.2,0.8-0.6,0.8c-0.4,0-0.6-0.3-0.6-0.8v-1.6h-0.3V19
			C49.2,19.7,49.5,20.1,50.1,20.1z"/>
		<path d="M52.4,19.8c-0.3,0-0.6-0.2-0.6-0.6h-0.3c0.1,0.5,0.4,0.9,1,0.9c0.6,0,0.9-0.3,0.9-0.7c0-0.5-0.3-0.7-0.8-0.8
			c-0.6-0.2-0.7-0.3-0.7-0.5c0-0.2,0.2-0.4,0.5-0.4c0.3,0,0.5,0.2,0.6,0.6h0.3c-0.1-0.5-0.3-0.9-0.9-0.9c-0.5,0-0.8,0.3-0.8,0.7
			c0,0.4,0.3,0.6,0.8,0.7c0.5,0.1,0.7,0.3,0.7,0.5C53,19.6,52.8,19.8,52.4,19.8z"/>
		<polygon points="54.1,18.8 55.2,18.8 55.2,20 55.5,20 55.5,17.4 55.2,17.4 55.2,18.5 54.1,18.5 54.1,17.4 53.7,17.4
			53.7,20 54.1,20 	"/>
		<path d="M56.3,18.8h0.8c0.2,0,0.3,0.1,0.3,0.3V20h0.3v-0.9c0-0.3-0.2-0.4-0.4-0.4v-0.1c0.3-0.1,0.4-0.3,0.4-0.5
			c0-0.4-0.3-0.6-0.9-0.6H56V20h0.3V18.8z M56.3,17.7h0.6c0.4,0,0.6,0.1,0.6,0.4c0,0.3-0.2,0.4-0.6,0.4h-0.6V17.7z"/>
		<path d="M59.1,20.1c0.6,0,1-0.4,1-1.1v-0.5c0-0.7-0.3-1.1-1-1.1c-0.6,0-0.9,0.4-0.9,1.1V19
			C58.2,19.7,58.5,20.1,59.1,20.1z M58.5,18.5c0-0.6,0.2-0.8,0.6-0.8c0.4,0,0.6,0.3,0.6,0.8V19c0,0.6-0.3,0.8-0.6,0.8
			c-0.4,0-0.6-0.3-0.6-0.8V18.5z"/>
		<path d="M61.4,20.1c0.6,0,1-0.4,1-1.1v-0.5c0-0.7-0.3-1.1-1-1.1c-0.6,0-0.9,0.4-0.9,1.1V19
			C60.5,19.7,60.8,20.1,61.4,20.1z M60.8,18.5c0-0.6,0.2-0.8,0.6-0.8c0.4,0,0.6,0.3,0.6,0.8V19c0,0.6-0.3,0.8-0.6,0.8
			c-0.4,0-0.6-0.3-0.6-0.8V18.5z"/>
		<path d="M63.1,17.9c0-0.2,0-0.3,0-0.3h0.2c0,0,0,0.1,0,0.3l0.2,1.4H64l0.2-1.4c0-0.2,0-0.3,0-0.3h0.2c0,0,0,0.2,0,0.3
			V20h0.3v-2.6h-0.7l-0.2,1.5c0,0.1,0,0.3,0,0.3h-0.2c0,0,0-0.1,0-0.3l-0.2-1.5h-0.7l0,2.6h0.3V17.9z"/>
		<path d="M65.9,19.8c-0.3,0-0.6-0.2-0.6-0.6H65c0.1,0.5,0.4,0.9,1,0.9c0.6,0,0.9-0.3,0.9-0.7c0-0.5-0.3-0.7-0.8-0.8
			c-0.6-0.2-0.7-0.3-0.7-0.5c0-0.2,0.2-0.4,0.5-0.4c0.3,0,0.5,0.2,0.6,0.6h0.3c-0.1-0.5-0.3-0.9-0.9-0.9c-0.5,0-0.8,0.3-0.8,0.7
			c0,0.4,0.3,0.6,0.8,0.7c0.5,0.1,0.7,0.3,0.7,0.5C66.5,19.6,66.3,19.8,65.9,19.8z"/>
		<path d="M31,50.6c-0.6,0-0.9,0.4-0.9,1.1v0.5c0,0.7,0.3,1.1,0.9,1.1c0.6,0,1-0.4,1-1.1v-0.5C31.9,51,31.6,50.6,31,50.6
			z M31.6,52.2c0,0.6-0.3,0.8-0.6,0.8c-0.4,0-0.6-0.3-0.6-0.8v-0.5c0-0.6,0.2-0.8,0.6-0.8c0.4,0,0.6,0.3,0.6,0.8V52.2z"/>
		<path d="M33.2,50.6h-0.9v2.6h0.3v-1.1h0.6c0.6,0,1-0.3,1-0.8C34.2,50.9,33.9,50.6,33.2,50.6z M33.2,51.9h-0.6v-1h0.6
			c0.4,0,0.6,0.1,0.6,0.5C33.9,51.7,33.6,51.9,33.2,51.9z"/>
		<polygon points="34.5,50.9 35.3,50.9 35.3,53.3 35.6,53.3 35.6,50.9 36.4,50.9 36.4,50.6 34.5,50.6 	"/>
		<polygon points="36.9,50.9 37.6,50.9 37.6,53 36.9,53 36.9,53.3 38.6,53.3 38.6,53 37.9,53 37.9,50.9 38.6,50.9
			38.6,50.6 36.9,50.6 	"/>
		<path d="M40.1,52.1c0,0.1,0,0.3,0,0.3h-0.2c0,0,0-0.1,0-0.3l-0.2-1.5h-0.7l0,2.6h0.3v-2.2c0-0.2,0-0.3,0-0.3h0.2
			c0,0,0,0.1,0,0.3l0.2,1.4h0.6l0.2-1.4c0-0.2,0-0.3,0-0.3h0.2c0,0,0,0.2,0,0.3v2.2h0.3v-2.6h-0.7L40.1,52.1z"/>
		<polygon points="41.4,50.9 42.1,50.9 42.1,53 41.4,53 41.4,53.3 43.1,53.3 43.1,53 42.4,53 42.4,50.9 43.1,50.9
			43.1,50.6 41.4,50.6 	"/>
		<polygon points="47.3,51.7 46.2,51.7 46.2,50.6 45.9,50.6 45.9,53.3 46.2,53.3 46.2,52 47.3,52 47.3,53.3 47.7,53.3
			47.7,50.6 47.3,50.6 	"/>
		<polygon points="48.5,52 49.8,52 49.8,51.7 48.5,51.7 48.5,50.9 49.9,50.9 49.9,50.6 48.2,50.6 48.2,53.3 49.9,53.3
			49.9,53 48.5,53 	"/>
		<path d="M50.9,50.6l-0.8,2.6h0.3l0.2-0.8h1l0.2,0.8h0.3l-0.8-2.6H50.9z M50.9,52.1l0.3-1.1c0.1-0.2,0-0.2,0-0.3h0.2
			c0,0.1,0,0.1,0,0.3l0.3,1.1H50.9z"/>
		<polygon points="53,50.6 52.7,50.6 52.7,53.3 54.4,53.3 54.4,53 53,53 	"/>
		<polygon points="54.8,50.9 55.6,50.9 55.6,53.3 55.9,53.3 55.9,50.9 56.7,50.9 56.7,50.6 54.8,50.6 	"/>
		<polygon points="58.6,51.7 57.4,51.7 57.4,50.6 57.1,50.6 57.1,53.3 57.4,53.3 57.4,52 58.6,52 58.6,53.3 58.9,53.3
			58.9,50.6 58.6,50.6 	"/>
	</g>
</svg>
