{% assign fill_colour = fill_colour | default: 'essentials-charcoal' %}

<?xml version="1.0" encoding="utf-8"?>
<svg
  width="16"
  height="16"
  viewBox="0 0 16 16"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  style="fill: rgba(var(--theme-{{ fill_colour }}--rgb), 1);"
  >
  <line x1="1.53033" y1="1.63544" x2="14.9654" y2="15.0705" stroke-width="1.5"/>
  <line x1="1.25214" y1="14.9047" x2="14.6872" y2="1.46967" stroke-width="1.5"/>
</svg>
