{% assign fill_colour = fill_colour | default: 'essentials-charcoal' %}

<?xml version="1.0" encoding="utf-8"?>
<svg
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  x="0px"
  y="0px"
	viewBox="0 0 22 11"
  style="enable-background:new 0 0 22 11;"
  xml:space="preserve"
  style="fill: rgba(var(--theme-{{ fill_colour }}--rgb), 1);"
>
  <polygon  points="11,11 0,0.8 0.7,0 11,9.5 21.3,0 22,0.8 "/>
</svg>

