{% assign fill_colour = fill_colour | default: 'essentials-charcoal' %}

<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 26.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 11 13" style="fill: rgba(var(--theme-{{ fill_colour }}--rgb), 1);" xml:space="preserve">
	<g>
		<path class="st0" d="M0,4.5V13h11V4.5H0z M10,12H1V5.5h9V12z"/>
		<path class="st0" d="M5.5,1c1.7,0,3,1.3,3,3h1c0-2.2-1.8-4-4-4c-2.2,0-4,1.8-4,4h1C2.5,2.3,3.8,1,5.5,1z"/>
	</g>
</svg>
