{% assign fill_colour = fill_colour | default: 'essentials-charcoal' %}

<?xml version="1.0" encoding="utf-8"?>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" style="fill: rgba(var(--theme-{{ fill_colour }}--rgb), 1);">
  <polygon class="baad53b8-8881-4d42-9b8e-10be7ba23e50" points="20 1.36 18.64 0 10 8.63 1.36 0 0 1.36 8.63 10 0 18.64 1.36 20 10 11.37 18.64 20 20 18.64 11.37 10 20 1.36"/>
</svg>
