{% assign fill_colour = fill_colour | default: 'essentials-charcoal' %}

<?xml version="1.0" encoding="utf-8"?>
<svg
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  x="0px" y="0px"
	viewBox="0 0 257 83.7" xml:space="preserve"
  style="fill: rgba(var(--theme-{{ fill_colour }}--rgb), 1);"
>
  <g>
	  <path d="M35.8,27.6c-0.1,0.7,0,1.3,0,1.3h-0.5c0,0,0.1-0.5,0-1.3l-0.6-5.1h-2.1L32,27.6c-0.1,0.8,0,1.3,0,1.3h-0.5
		  c0,0,0.1-0.6,0-1.3l-0.4-7.8H30l0.6,9.5h2.1l0.6-5.3c0-0.4,0-1,0-1h0.5c0,0,0,0.6,0,1l0.6,5.3h2.1l0.6-9.5h-1.1L35.8,27.6z"/>
	  <polygon points="43.6,23.7 39.5,23.7 39.5,19.8 38.4,19.8 38.4,29.3 39.5,29.3 39.5,24.8 43.6,24.8 43.6,29.3
		  44.7,29.3 44.7,19.8 43.6,19.8 	"/>
	  <path d="M49.5,19.6c-2.2,0-3.3,1.6-3.3,4v1.8c0,2.4,1.1,4,3.3,4c2.2,0,3.4-1.6,3.4-4v-1.8
		  C52.9,21.2,51.7,19.6,49.5,19.6z M51.7,25.4c0,2-0.9,3-2.3,3c-1.3,0-2.2-1-2.2-3v-1.8c0-2,0.9-3,2.2-3c1.4,0,2.3,1,2.3,3V25.4z"/>
	  <polygon points="55.6,19.8 54.5,19.8 54.5,29.3 60.5,29.3 60.5,28.2 55.6,28.2 	"/>
	  <polygon points="63.5,24.8 68,24.8 68,23.7 63.5,23.7 63.5,20.8 68.4,20.8 68.4,19.8 62.4,19.8 62.4,29.3 68.7,29.3
		  68.7,28.2 63.5,28.2 	"/>
	  <path d="M35.8,45.3c-0.1,0.7,0,1.3,0,1.3h-0.5c0,0,0.1-0.5,0-1.3l-0.6-5.1h-2.1L32,45.3c-0.1,0.8,0,1.3,0,1.3h-0.5
		  c0,0,0.1-0.6,0-1.3l-0.4-7.8H30l0.6,9.5h2.1l0.6-5.3c0-0.4,0-1,0-1h0.5c0,0,0,0.6,0,1l0.6,5.3h2.1l0.6-9.5h-1.1L35.8,45.3z"/>
	  <polygon points="43.6,41.4 39.5,41.4 39.5,37.5 38.4,37.5 38.4,47 39.5,47 39.5,42.5 43.6,42.5 43.6,47 44.7,47
		  44.7,37.5 43.6,37.5 	"/>
	  <path d="M49.5,37.3c-2.2,0-3.3,1.6-3.3,4v1.8c0,2.4,1.1,4,3.3,4c2.2,0,3.4-1.6,3.4-4v-1.8
		  C52.9,38.9,51.7,37.3,49.5,37.3z M51.7,43.1c0,2-0.9,3-2.3,3c-1.3,0-2.2-1-2.2-3v-1.8c0-2,0.9-3,2.2-3c1.4,0,2.3,1,2.3,3V43.1z"/>
	  <polygon points="55.6,37.5 54.5,37.5 54.5,47 60.5,47 60.5,45.9 55.6,45.9 	"/>
	  <polygon points="63.5,42.5 68,42.5 68,41.4 63.5,41.4 63.5,38.5 68.4,38.5 68.4,37.5 62.4,37.5 62.4,47 68.7,47
		  68.7,45.9 63.5,45.9 	"/>
	  <path d="M35.8,63c-0.1,0.7,0,1.3,0,1.3h-0.5c0,0,0.1-0.5,0-1.3l-0.6-5.1h-2.1L32,63c-0.1,0.8,0,1.3,0,1.3h-0.5
		  c0,0,0.1-0.6,0-1.3l-0.4-7.8H30l0.6,9.5h2.1l0.6-5.3c0-0.4,0-1,0-1h0.5c0,0,0,0.6,0,1l0.6,5.3h2.1l0.6-9.5h-1.1L35.8,63z"/>
	  <polygon points="43.6,59.2 39.5,59.2 39.5,55.2 38.4,55.2 38.4,64.7 39.5,64.7 39.5,60.2 43.6,60.2 43.6,64.7
		  44.7,64.7 44.7,55.2 43.6,55.2 	"/>
	  <path d="M49.5,55c-2.2,0-3.3,1.6-3.3,4v1.8c0,2.4,1.1,4,3.3,4c2.2,0,3.4-1.6,3.4-4v-1.8C52.9,56.6,51.7,55,49.5,55z
		   M51.7,60.8c0,2-0.9,3-2.3,3c-1.3,0-2.2-1-2.2-3v-1.8c0-2,0.9-3,2.2-3c1.4,0,2.3,1,2.3,3V60.8z"/>
	  <polygon points="55.6,55.2 54.5,55.2 54.5,64.7 60.5,64.7 60.5,63.7 55.6,63.7 	"/>
	  <polygon points="63.5,60.2 68,60.2 68,59.2 63.5,59.2 63.5,56.2 68.4,56.2 68.4,55.2 68.4,55.2 62.4,55.2 62.4,64.7
		  68.7,64.7 68.7,63.6 63.5,63.6 	"/>
	  <path d="M165.6,21.5c0-0.7,0-1.3-0.1-1.3h0.6c0,0-0.1,0.5,0,1.3l0.6,5.1h2.1l0.6-5.1c0.1-0.8,0-1.3,0-1.3h0.6
		  c0,0-0.1,0.6-0.1,1.3v7.8h1.1v-9.5h-2.3l-0.6,5.3c-0.1,0.5,0,1,0,1h-0.6c0,0,0-0.5,0-1l-0.6-5.3h-2.3l0,9.5h1.1V21.5z"/>
	  <path d="M175.7,29.4c2.2,0,3.3-1.5,3.3-4v-5.7h-1.1v5.7c0,2-0.8,2.9-2.2,2.9c-1.3,0-2.2-1-2.2-2.9v-5.7h-1.1v5.7
		  C172.4,27.9,173.5,29.4,175.7,29.4z"/>
	  <path d="M183.7,28.4c-1.2,0-2.1-0.7-2.3-2.2h-1.1c0.2,2,1.4,3.2,3.4,3.2c2.2,0,3.3-1.2,3.3-2.6c0-1.8-1.2-2.4-2.8-2.9
		  c-2.1-0.6-2.4-1.2-2.4-1.9c0-0.8,0.7-1.4,1.8-1.4c1.1,0,1.8,0.7,2,2.1h1.1c-0.2-2-1.2-3.1-3.1-3.1c-1.9,0-2.9,1.2-2.9,2.6
		  c0,1.5,1.1,2.2,2.8,2.7c1.7,0.5,2.4,1,2.4,2C185.9,27.7,185.1,28.4,183.7,28.4z"/>
	  <polygon points="193.7,23.7 189.5,23.7 189.5,19.8 188.4,19.8 188.4,29.3 189.5,29.3 189.5,24.8 193.7,24.8
		  193.7,29.3 194.8,29.3 194.8,19.8 193.7,19.8 	"/>
	  <path d="M197.6,24.8h2.9c0.7,0,1.2,0.2,1.2,1.1v3.4h1.1v-3.4c0-1-0.6-1.4-1.4-1.5v-0.5c0.9-0.3,1.4-0.9,1.4-1.8
		  c0-1.3-1-2.3-3.2-2.3h-3.1v9.5h1.1V24.8z M197.6,20.8h2c1.4,0,2.1,0.5,2.1,1.4c0,1-0.7,1.5-2.1,1.5h-2V20.8z"/>
	  <path d="M207.5,19.6c-2.2,0-3.3,1.6-3.3,4v1.8c0,2.4,1.1,4,3.3,4c2.2,0,3.4-1.6,3.4-4v-1.8
		  C210.8,21.2,209.7,19.6,207.5,19.6z M209.7,25.4c0,2-0.9,3-2.3,3c-1.4,0-2.2-1-2.2-3v-1.8c0-2,0.9-3,2.2-3c1.4,0,2.3,1,2.3,3V25.4z
		  "/>
	  <path d="M215.4,29.4c2.2,0,3.4-1.6,3.4-4v-1.8c0-2.4-1.1-4-3.4-4c-2.2,0-3.3,1.6-3.3,4v1.8
		  C212.1,27.9,213.2,29.4,215.4,29.4z M213.2,23.6c0-2,0.9-3,2.2-3c1.4,0,2.3,1,2.3,3v1.8c0,2-0.9,3-2.3,3c-1.3,0-2.2-1-2.2-3V23.6z"
		  />
	  <path d="M221.2,21.5c0-0.7,0-1.3-0.1-1.3h0.6c0,0-0.1,0.5,0,1.3l0.6,5.1h2.1l0.6-5.1c0.1-0.8,0-1.3,0-1.3h0.6
		  c0,0-0.1,0.6-0.1,1.3v7.8h1.1v-9.5h-2.3l-0.6,5.3c-0.1,0.5,0,1,0,1h-0.6c0,0,0-0.5,0-1l-0.6-5.3h-2.3l0,9.5h1.1V21.5z"/>
	  <path d="M201.2,42.2v-0.5c1.2-0.4,1.4-1,1.4-1.8c0-1.4-1-2.4-3.1-2.4h-3V47h3.2c2.2,0,3.3-1.1,3.3-2.7
		  C203,43.3,202.6,42.5,201.2,42.2z M197.6,38.5h1.9c1.3,0,2.1,0.3,2.1,1.4c0,1.1-0.8,1.5-2.1,1.5h-1.9V38.5z M199.7,45.9h-2.1v-3.5
		  h2.1c1.4,0,2.2,0.5,2.2,1.7C201.9,45.5,201,45.9,199.7,45.9z"/>
	  <path d="M207.5,37.3c-2.2,0-3.3,1.6-3.3,4v1.8c0,2.4,1.1,4,3.3,4c2.2,0,3.4-1.6,3.4-4v-1.8
		  C210.8,38.9,209.7,37.3,207.5,37.3z M209.7,43.1c0,2-0.9,3-2.3,3c-1.3,0-2.2-1-2.2-3v-1.8c0-2,0.9-3,2.2-3c1.4,0,2.3,1,2.3,3V43.1z
		  "/>
	  <path d="M215.4,37.5h-3.1V47h3.1c2.2,0,3.4-1.6,3.4-4v-1.4C218.8,39.1,217.7,37.5,215.4,37.5z M217.7,42.9
		  c0,2-0.9,3-2.3,3h-1.9v-7.4h1.9c1.4,0,2.3,1,2.3,3V42.9z"/>
	  <path d="M224.1,40.4c-0.4,0.6-0.4,0.9-0.4,1.2h-0.5c0-0.3-0.1-0.6-0.4-1.2l-1.7-2.9h-1.3l3.1,5.1h0V47h1.1v-4.4
		  l3.1-5.1h-1.3L224.1,40.4z"/>
	  <path d="M199.8,60.5c-0.1,0.5,0,1,0,1h-0.6c0,0,0-0.5,0-1l-0.6-5.3h-2.3l0,9.5h1.1v-7.8c0-0.7,0-1.3-0.1-1.3h0.6
		  c0,0-0.1,0.5,0,1.3l0.6,5.1h2.1l0.6-5.1c0.1-0.8,0-1.3,0-1.3h0.6c0,0-0.1,0.6-0.1,1.3v7.8h1.1v-9.5h-2.3L199.8,60.5z"/>
	  <polygon points="204.4,56.2 206.9,56.2 206.9,63.6 204.4,63.6 204.4,64.7 210.5,64.7 210.5,63.6 208,63.6 208,56.2
		  210.5,56.2 210.5,55.2 204.4,55.2 	"/>
	  <path d="M217.5,64.3H217c0-0.5-0.1-0.8-0.3-1.6l-2.1-7.5h-2.4v9.5h1.1v-9.1h0.5c0,0.4,0,0.6,0.3,1.7l2.1,7.4h2.4v-9.5
		  h-1.1V64.3z"/>
	  <path d="M223.4,55.2h-3.1v9.5h3.1c2.2,0,3.4-1.6,3.4-4v-1.4C226.8,56.8,225.6,55.2,223.4,55.2z M225.6,60.6
		  c0,2-0.9,3-2.3,3h-1.9v-7.4h1.9c1.4,0,2.3,1,2.3,3V60.6z"/>
	  <rect x="73.5" y="23.7" width="85.6" height="1"/>
	  <rect x="73.5" y="41.7" width="117.3" height="1"/>
	  <rect x="73.5" y="59.6" width="117.3" height="1"/>
	  <path d="M216.1,0H40.9C18.4,0,0,18.8,0,41.8c0,23.1,18.4,41.8,40.9,41.8h175.1c22.6,0,40.9-18.8,40.9-41.8
		  C257,18.8,238.6,0,216.1,0z M216.1,82.6H40.9C18.9,82.6,1,64.3,1,41.8S18.9,1,40.9,1h175.1c22,0,39.9,18.3,39.9,40.8
		  S238.1,82.6,216.1,82.6z"/>
  </g>
</svg>
