{% assign block_name = 'modal' %}
{% assign id = id | default: 'modal--default' %}

{% assign heading = settings.subscription--information-heading | default: false %}
{% assign message = settings.subscription--information-message | default: false %}

<div class='{{ block_name }} micromodal-slide' id='{{ id }}' aria-hidden='true'>
  <div class='{{ block_name }}__overlay' tabindex='-1' data-micromodal-close>
    <div class='{{ block_name }}__container' role='dialog' aria-{{ block_name }}='true'>

      <button class='{{ block_name }}__button button button--close' aria-label='Close' data-micromodal-close>
        {% render 'svg-icon--close' %}
      </button>
      {% if heading %}<h2 class='{{ block_name }}__heading'>{{ heading }}</h2>{% endif %}
      {% if message %}<div class='{{ block_name }}__message message'>{{ message }}</div>{% endif %}

    </div>
  </div>
</div>
