{% comment %} ## Manually copy and paste latest compiled version of PoliteDepartmentAccomplices.min.js below... Be sure to not overwrite 'Store Object' {% endcomment %}

<script type="text/javascript">

var PDTheme = PDTheme || {};

PDTheme.cart = {{ cart | json }};
PDTheme.currency = {{ shop.currency | json }};
PDTheme.orders = [];
PDTheme.assets = {};

{% if template contains 'product' %}
	PDTheme.product = {{ product | json }};
	PDTheme.product.metafields = {{ product.metafields.general.page-colour | json }};
{% endif %}

{% if template contains 'collection' %}
	PDTheme.collection = {{ collection | json }};
{% endif %}

{% if customer %}
  PDTheme.customer = {{ customer | json }};
{% endif %}

/*! lazysizes - v5.3.2 */
!function(c){var h=function(c,h,g){"use strict";var m,_;if(function(){var h,g={lazyClass:"lazyload",loadedClass:"lazyloaded",loadingClass:"lazyloading",preloadClass:"lazypreload",errorClass:"lazyerror",autosizesClass:"lazyautosizes",fastLoadedClass:"ls-is-cached",iframeLoadMode:0,srcAttr:"data-src",srcsetAttr:"data-srcset",sizesAttr:"data-sizes",minSize:40,customMedia:{},init:!0,expFactor:1.5,hFac:.8,loadMode:2,loadHidden:!0,ricTimeout:0,throttleDelay:125};for(h in _=c.lazySizesConfig||c.lazysizesConfig||{},g)h in _||(_[h]=g[h])}(),!h||!h.getElementsByClassName)return{init:function(){},cfg:_,noSupport:!0};var k=h.documentElement,j=c.HTMLPictureElement,q="addEventListener",$="getAttribute",tt=c[q].bind(c),et=c.setTimeout,nt=c.requestAnimationFrame||et,it=c.requestIdleCallback,at=/^picture$/i,ot=["load","error","lazyincluded","_lazyloaded"],st={},rt=Array.prototype.forEach,J=function(c,h){return st[h]||(st[h]=new RegExp("(\\s|^)"+h+"(\\s|$)")),st[h].test(c[$]("class")||"")&&st[h]},K=function(c,h){J(c,h)||c.setAttribute("class",(c[$]("class")||"").trim()+" "+h)},Q=function(c,h){var g;(g=J(c,h))&&c.setAttribute("class",(c[$]("class")||"").replace(g," "))},V=function(c,h,g){var m=g?q:"removeEventListener";g&&V(c,h),ot.forEach((function(g){c[m](g,h)}))},X=function(c,g,_,k,j){var q=h.createEvent("Event");return _||(_={}),_.instance=m,q.initEvent(g,!k,!j),q.detail=_,c.dispatchEvent(q),q},Y=function(h,g){var m;!j&&(m=c.picturefill||_.pf)?(g&&g.src&&!h[$]("srcset")&&h.setAttribute("srcset",g.src),m({reevaluate:!0,elements:[h]})):g&&g.src&&(h.src=g.src)},Z=function(c,h){return(getComputedStyle(c,null)||{})[h]},s=function(c,h,g){for(g=g||c.offsetWidth;g<_.minSize&&h&&!c._lazysizesWidth;)g=h.offsetWidth,h=h.parentNode;return g},lt=function(){var c,g,m=[],_=[],k=m,s=function(){var h=k;for(k=m.length?_:m,c=!0,g=!1;h.length;)h.shift()();c=!1},e=function(m,_){c&&!_?m.apply(this,arguments):(k.push(m),g||(g=!0,(h.hidden?et:nt)(s)))};return e._lsFlush=s,e}(),te=function(c,h){return h?function(){lt(c)}:function(){var h=this,g=arguments;lt((function(){c.apply(h,g)}))}},ae=function(c){var h,m=0,k=_.throttleDelay,j=_.ricTimeout,t=function(){h=!1,m=g.now(),c()},q=it&&j>49?function(){it(t,{timeout:j}),j!==_.ricTimeout&&(j=_.ricTimeout)}:te((function(){et(t)}),!0);return function(c){var _;(c=!0===c)&&(j=33),h||(h=!0,(_=k-(g.now()-m))<0&&(_=0),c||_<9?q():et(q,_))}},ie=function(c){var h,m,r=function(){h=null,c()},n=function(){var c=g.now()-m;c<99?et(n,99-c):(it||r)(r)};return function(){m=g.now(),h||(h=et(n,99))}},ct=function(){var j,it,ot,st,ct,ut,dt,ht,pt,gt,vt,mt,yt=/^img$/i,wt=/^iframe$/i,bt="onscroll"in c&&!/(gle|ing)bot/.test(navigator.userAgent),zt=0,Ct=0,At=-1,L=function(c){Ct--,(!c||Ct<0||!c.target)&&(Ct=0)},x=function(c){return null==mt&&(mt="hidden"==Z(h.body,"visibility")),mt||!("hidden"==Z(c.parentNode,"visibility")&&"hidden"==Z(c,"visibility"))},W=function(c,g){var m,_=c,j=x(c);for(ht-=g,vt+=g,pt-=g,gt+=g;j&&(_=_.offsetParent)&&_!=h.body&&_!=k;)(j=(Z(_,"opacity")||1)>0)&&"visible"!=Z(_,"overflow")&&(m=_.getBoundingClientRect(),j=gt>m.left&&pt<m.right&&vt>m.top-1&&ht<m.bottom+1);return j},t=function(){var c,g,q,tt,et,nt,at,ot,rt,lt,ct,ft,yt=m.elements;if((st=_.loadMode)&&Ct<8&&(c=yt.length)){for(g=0,At++;g<c;g++)if(yt[g]&&!yt[g]._lazyRace)if(!bt||m.prematureUnveil&&m.prematureUnveil(yt[g]))R(yt[g]);else if((ot=yt[g][$]("data-expand"))&&(nt=1*ot)||(nt=zt),lt||(lt=!_.expand||_.expand<1?k.clientHeight>500&&k.clientWidth>500?500:370:_.expand,m._defEx=lt,ct=lt*_.expFactor,ft=_.hFac,mt=null,zt<ct&&Ct<1&&At>2&&st>2&&!h.hidden?(zt=ct,At=0):zt=st>1&&At>1&&Ct<6?lt:0),rt!==nt&&(ut=innerWidth+nt*ft,dt=innerHeight+nt,at=-1*nt,rt=nt),q=yt[g].getBoundingClientRect(),(vt=q.bottom)>=at&&(ht=q.top)<=dt&&(gt=q.right)>=at*ft&&(pt=q.left)<=ut&&(vt||gt||pt||ht)&&(_.loadHidden||x(yt[g]))&&(it&&Ct<3&&!ot&&(st<3||At<4)||W(yt[g],nt))){if(R(yt[g]),et=!0,Ct>9)break}else!et&&it&&!tt&&Ct<4&&At<4&&st>2&&(j[0]||_.preloadAfterLoad)&&(j[0]||!ot&&(vt||gt||pt||ht||"auto"!=yt[g][$](_.sizesAttr)))&&(tt=j[0]||yt[g]);tt&&!et&&R(tt)}},Et=ae(t),S=function(c){var h=c.target;h._lazyCache?delete h._lazyCache:(L(c),K(h,_.loadedClass),Q(h,_.loadingClass),V(h,B),X(h,"lazyloaded"))},_t=te(S),B=function(c){_t({target:c.target})},F=function(c){var h,g=c[$](_.srcsetAttr);(h=_.customMedia[c[$]("data-media")||c[$]("media")])&&c.setAttribute("media",h),g&&c.setAttribute("srcset",g)},xt=te((function(c,h,g,m,k){var j,q,tt,nt,it,st;(it=X(c,"lazybeforeunveil",h)).defaultPrevented||(m&&(g?K(c,_.autosizesClass):c.setAttribute("sizes",m)),q=c[$](_.srcsetAttr),j=c[$](_.srcAttr),k&&(nt=(tt=c.parentNode)&&at.test(tt.nodeName||"")),st=h.firesLoad||"src"in c&&(q||j||nt),it={target:c},K(c,_.loadingClass),st&&(clearTimeout(ot),ot=et(L,2500),V(c,B,!0)),nt&&rt.call(tt.getElementsByTagName("source"),F),q?c.setAttribute("srcset",q):j&&!nt&&(wt.test(c.nodeName)?function(c,h){var g=c.getAttribute("data-load-mode")||_.iframeLoadMode;0==g?c.contentWindow.location.replace(h):1==g&&(c.src=h)}(c,j):c.src=j),k&&(q||nt)&&Y(c,{src:j})),c._lazyRace&&delete c._lazyRace,Q(c,_.lazyClass),lt((function(){var h=c.complete&&c.naturalWidth>1;st&&!h||(h&&K(c,_.fastLoadedClass),S(it),c._lazyCache=!0,et((function(){"_lazyCache"in c&&delete c._lazyCache}),9)),"lazy"==c.loading&&Ct--}),!0)})),R=function(c){if(!c._lazyRace){var h,g=yt.test(c.nodeName),m=g&&(c[$](_.sizesAttr)||c[$]("sizes")),k="auto"==m;(!k&&it||!g||!c[$]("src")&&!c.srcset||c.complete||J(c,_.errorClass)||!J(c,_.lazyClass))&&(h=X(c,"lazyunveilread").detail,k&&ft.updateElem(c,!0,c.offsetWidth),c._lazyRace=!0,Ct++,xt(c,h,k,m,g))}},Nt=ie((function(){_.loadMode=3,Et()})),o=function(){3==_.loadMode&&(_.loadMode=2),Nt()},l=function(){it||(g.now()-ct<999?et(l,999):(it=!0,_.loadMode=3,Et(),tt("scroll",o,!0)))};return{_:function(){ct=g.now(),m.elements=h.getElementsByClassName(_.lazyClass),j=h.getElementsByClassName(_.lazyClass+" "+_.preloadClass),tt("scroll",Et,!0),tt("resize",Et,!0),tt("pageshow",(function(c){if(c.persisted){var g=h.querySelectorAll("."+_.loadingClass);g.length&&g.forEach&&nt((function(){g.forEach((function(c){c.complete&&R(c)}))}))}})),c.MutationObserver?new MutationObserver(Et).observe(k,{childList:!0,subtree:!0,attributes:!0}):(k[q]("DOMNodeInserted",Et,!0),k[q]("DOMAttrModified",Et,!0),setInterval(Et,999)),tt("hashchange",Et,!0),["focus","mouseover","click","load","transitionend","animationend"].forEach((function(c){h[q](c,Et,!0)})),/d$|^c/.test(h.readyState)?l():(tt("load",l),h[q]("DOMContentLoaded",Et),et(l,2e4)),m.elements.length?(t(),lt._lsFlush()):Et()},checkElems:Et,unveil:R,_aLSL:o}}(),ft=function(){var c,g=te((function(c,h,g,m){var _,k,j;if(c._lazysizesWidth=m,m+="px",c.setAttribute("sizes",m),at.test(h.nodeName||""))for(k=0,j=(_=h.getElementsByTagName("source")).length;k<j;k++)_[k].setAttribute("sizes",m);g.detail.dataAttr||Y(c,g.detail)})),i=function(c,h,m){var _,k=c.parentNode;k&&(m=s(c,k,m),(_=X(c,"lazybeforesizes",{width:m,dataAttr:!!h})).defaultPrevented||(m=_.detail.width)&&m!==c._lazysizesWidth&&g(c,k,_,m))},m=ie((function(){var h,g=c.length;if(g)for(h=0;h<g;h++)i(c[h])}));return{_:function(){c=h.getElementsByClassName(_.autosizesClass),tt("resize",m)},checkElems:m,updateElem:i}}(),t=function(){!t.i&&h.getElementsByClassName&&(t.i=!0,ft._(),ct._())};return et((function(){_.init&&t()})),m={cfg:_,autoSizer:ft,loader:ct,init:t,uP:Y,aC:K,rC:Q,hC:J,fire:X,gW:s,rAF:lt}}(c,c.document,Date);c.lazySizes=h,"object"==typeof module&&module.exports&&(module.exports=h)}("undefined"!=typeof window?window:{}),function(c,h){var a=function(){h(c.lazySizes),c.removeEventListener("lazyunveilread",a,!0)};h=h.bind(null,c,c.document),"object"==typeof module&&module.exports?h(require("lazysizes")):"function"==typeof define&&define.amd?define(["lazysizes"],h):c.lazySizes?a():c.addEventListener("lazyunveilread",a,!0)}(window,(function(c,h,g){"use strict";var m,_,k={};function s(c,g,m){var _,j;k[c]||(_=h.createElement(g?"link":"script"),j=h.getElementsByTagName("script")[0],g?(_.rel="stylesheet",_.href=c):(_.onload=function(){_.onerror=null,_.onload=null,m()},_.onerror=_.onload,_.src=c),k[c]=!0,k[_.src||_.href]=!0,j.parentNode.insertBefore(_,j))}h.addEventListener&&(m=function(c,g){var m=h.createElement("img");m.onload=function(){m.onload=null,m.onerror=null,m=null,g()},m.onerror=m.onload,m.src=c,m&&m.complete&&m.onload&&m.onload()},addEventListener("lazybeforeunveil",(function(c){var h,k,j;if(c.detail.instance==g&&!c.defaultPrevented){var q=c.target;if("none"==q.preload&&(q.preload=q.getAttribute("data-preload")||"auto"),null!=q.getAttribute("data-autoplay"))if(q.getAttribute("data-expand")&&!q.autoplay)try{q.play()}catch(c){}else requestAnimationFrame((function(){q.setAttribute("data-expand","-10"),g.aC(q,g.cfg.lazyClass)}));(h=q.getAttribute("data-link"))&&s(h,!0),(h=q.getAttribute("data-script"))&&(c.detail.firesLoad=!0,s(h,null,(function(){c.detail.firesLoad=!1,g.fire(q,"_lazyloaded",{},!0,!0)}))),(h=q.getAttribute("data-require"))&&(g.cfg.requireJs?g.cfg.requireJs([h]):s(h)),(k=q.getAttribute("data-bg"))&&(c.detail.firesLoad=!0,m(k,(function(){q.style.backgroundImage="url("+(_.test(k)?JSON.stringify(k):k)+")",c.detail.firesLoad=!1,g.fire(q,"_lazyloaded",{},!0,!0)}))),(j=q.getAttribute("data-poster"))&&(c.detail.firesLoad=!0,m(j,(function(){q.poster=j,c.detail.firesLoad=!1,g.fire(q,"_lazyloaded",{},!0,!0)})))}}),!(_=/\(|\)|\s|'/)))})),function(){function aa(c,h,g){return c.call.apply(c.bind,arguments)}function ba(c,h,g){if(!c)throw Error();if(2<arguments.length){var m=Array.prototype.slice.call(arguments,2);return function(){var g=Array.prototype.slice.call(arguments);return Array.prototype.unshift.apply(g,m),c.apply(h,g)}}return function(){return c.apply(h,arguments)}}function p(c,h,g){return(p=Function.prototype.bind&&-1!=Function.prototype.bind.toString().indexOf("native code")?aa:ba).apply(null,arguments)}var c=Date.now||function(){return+new Date};function ca(c,h){this.a=c,this.o=h||c,this.c=this.o.document}var h=!!window.FontFace;function t(c,h,g,m){if(h=c.c.createElement(h),g)for(var _ in g)g.hasOwnProperty(_)&&("style"==_?h.style.cssText=g[_]:h.setAttribute(_,g[_]));return m&&h.appendChild(c.c.createTextNode(m)),h}function u(c,h,g){(c=c.c.getElementsByTagName(h)[0])||(c=document.documentElement),c.insertBefore(g,c.lastChild)}function v(c){c.parentNode&&c.parentNode.removeChild(c)}function w(c,h,g){h=h||[],g=g||[];for(var m=c.className.split(/\s+/),_=0;_<h.length;_+=1){for(var k=!1,j=0;j<m.length;j+=1)if(h[_]===m[j]){k=!0;break}k||m.push(h[_])}for(h=[],_=0;_<m.length;_+=1){for(k=!1,j=0;j<g.length;j+=1)if(m[_]===g[j]){k=!0;break}k||h.push(m[_])}c.className=h.join(" ").replace(/\s+/g," ").replace(/^\s+|\s+$/,"")}function y(c,h){for(var g=c.className.split(/\s+/),m=0,_=g.length;m<_;m++)if(g[m]==h)return!0;return!1}function z(c,g,m){function d(){q&&_&&k&&(q(j),q=null)}g=t(c,"link",{rel:"stylesheet",href:g,media:"all"});var _=!1,k=!0,j=null,q=m||null;h?(g.onload=function(){_=!0,d()},g.onerror=function(){_=!0,j=Error("Stylesheet failed to load"),d()}):setTimeout((function(){_=!0,d()}),0),u(c,"head",g)}function A(c,h,g,m){var _=c.c.getElementsByTagName("head")[0];if(_){var k=t(c,"script",{src:h}),j=!1;return k.onload=k.onreadystatechange=function(){j||this.readyState&&"loaded"!=this.readyState&&"complete"!=this.readyState||(j=!0,g&&g(null),k.onload=k.onreadystatechange=null,"HEAD"==k.parentNode.tagName&&_.removeChild(k))},_.appendChild(k),setTimeout((function(){j||(j=!0,g&&g(Error("Script load timeout")))}),m||5e3),k}return null}function B(){this.a=0,this.c=null}function C(c){return c.a++,function(){c.a--,D(c)}}function E(c,h){c.c=h,D(c)}function D(c){0==c.a&&c.c&&(c.c(),c.c=null)}function F(c){this.a=c||"-"}function G(c,h){this.c=c,this.f=4,this.a="n";var g=(h||"n4").match(/^([nio])([1-9])$/i);g&&(this.a=g[1],this.f=parseInt(g[2],10))}function I(c){var h=[];c=c.split(/,\s*/);for(var g=0;g<c.length;g++){var m=c[g].replace(/['"]/g,"");-1!=m.indexOf(" ")||/^\d/.test(m)?h.push("'"+m+"'"):h.push(m)}return h.join(",")}function J(c){return c.a+c.f}function H(c){var h="normal";return"o"===c.a?h="oblique":"i"===c.a&&(h="italic"),h}function ga(c){var h=4,g="n",m=null;return c&&((m=c.match(/(normal|oblique|italic)/i))&&m[1]&&(g=m[1].substr(0,1).toLowerCase()),(m=c.match(/([1-9]00|normal|bold)/i))&&m[1]&&(/bold/i.test(m[1])?h=7:/[1-9]00/.test(m[1])&&(h=parseInt(m[1].substr(0,1),10)))),g+h}function ha(c,h){this.c=c,this.f=c.o.document.documentElement,this.h=h,this.a=new F("-"),this.j=!1!==h.events,this.g=!1!==h.classes}function L(c){if(c.g){var h=y(c.f,c.a.c("wf","active")),g=[],m=[c.a.c("wf","loading")];h||g.push(c.a.c("wf","inactive")),w(c.f,g,m)}K(c,"inactive")}function K(c,h,g){c.j&&c.h[h]&&(g?c.h[h](g.c,J(g)):c.h[h]())}function ja(){this.c={}}function M(c,h){this.c=c,this.f=h,this.a=t(this.c,"span",{"aria-hidden":"true"},this.f)}function N(c){u(c.c,"body",c.a)}function O(c){return"display:block;position:absolute;top:-9999px;left:-9999px;font-size:300px;width:auto;height:auto;line-height:normal;margin:0;padding:0;font-variant:normal;white-space:nowrap;font-family:"+I(c.c)+";font-style:"+H(c)+";font-weight:"+c.f+"00;"}function P(c,h,g,m,_,k){this.g=c,this.j=h,this.a=m,this.c=g,this.f=_||3e3,this.h=k||void 0}function Q(c,h,g,m,_,k,j){this.v=c,this.B=h,this.c=g,this.a=m,this.s=j||"BESbswy",this.f={},this.w=_||3e3,this.u=k||null,this.m=this.j=this.h=this.g=null,this.g=new M(this.c,this.s),this.h=new M(this.c,this.s),this.j=new M(this.c,this.s),this.m=new M(this.c,this.s),c=O(c=new G(this.a.c+",serif",J(this.a))),this.g.a.style.cssText=c,c=O(c=new G(this.a.c+",sans-serif",J(this.a))),this.h.a.style.cssText=c,c=O(c=new G("serif",J(this.a))),this.j.a.style.cssText=c,c=O(c=new G("sans-serif",J(this.a))),this.m.a.style.cssText=c,N(this.g),N(this.h),N(this.j),N(this.m)}F.prototype.c=function(c){for(var h=[],g=0;g<arguments.length;g++)h.push(arguments[g].replace(/[\W_]+/g,"").toLowerCase());return h.join(this.a)},P.prototype.start=function(){var h=this.c.o.document,g=this,m=c(),_=new Promise((function(_,k){!function f(){c()-m>=g.f?k():h.fonts.load(function fa(c){return H(c)+" "+c.f+"00 300px "+I(c.c)}(g.a),g.h).then((function(c){1<=c.length?_():setTimeout(f,25)}),(function(){k()}))}()})),k=null,j=new Promise((function(c,h){k=setTimeout(h,g.f)}));Promise.race([j,_]).then((function(){k&&(clearTimeout(k),k=null),g.g(g.a)}),(function(){g.j(g.a)}))};var g={D:"serif",C:"sans-serif"},m=null;function T(){if(null===m){var c=/AppleWebKit\/([0-9]+)(?:\.([0-9]+))/.exec(window.navigator.userAgent);m=!!c&&(536>parseInt(c[1],10)||536===parseInt(c[1],10)&&11>=parseInt(c[2],10))}return m}function la(c,h,m){for(var _ in g)if(g.hasOwnProperty(_)&&h===c.f[g[_]]&&m===c.f[g[_]])return!0;return!1}function U(h){var g,m=h.g.a.offsetWidth,_=h.h.a.offsetWidth;(g=m===h.f.serif&&_===h.f["sans-serif"])||(g=T()&&la(h,m,_)),g?c()-h.A>=h.w?T()&&la(h,m,_)&&(null===h.u||h.u.hasOwnProperty(h.a.c))?V(h,h.v):V(h,h.B):function ma(c){setTimeout(p((function(){U(this)}),c),50)}(h):V(h,h.v)}function V(c,h){setTimeout(p((function(){v(this.g.a),v(this.h.a),v(this.j.a),v(this.m.a),h(this.a)}),c),0)}function W(c,h,g){this.c=c,this.a=h,this.f=0,this.m=this.j=!1,this.s=g}Q.prototype.start=function(){this.f.serif=this.j.a.offsetWidth,this.f["sans-serif"]=this.m.a.offsetWidth,this.A=c(),U(this)};var _=null;function na(c){0==--c.f&&c.j&&(c.m?((c=c.a).g&&w(c.f,[c.a.c("wf","active")],[c.a.c("wf","loading"),c.a.c("wf","inactive")]),K(c,"active")):L(c.a))}function oa(c){this.j=c,this.a=new ja,this.h=0,this.f=this.g=!0}function qa(c,h,g,m,k){var j=0==--c.h;(c.f||c.g)&&setTimeout((function(){var c=k||null,q=m||{};if(0===g.length&&j)L(h.a);else{h.f+=g.length,j&&(h.j=j);var $,tt=[];for($=0;$<g.length;$++){var et=g[$],nt=q[et.c],it=h.a,at=et;if(it.g&&w(it.f,[it.a.c("wf",at.c,J(at).toString(),"loading")]),K(it,"fontloading",at),it=null,null===_)if(window.FontFace){at=/Gecko.*Firefox\/(\d+)/.exec(window.navigator.userAgent);var ot=/OS X.*Version\/10\..*Safari/.exec(window.navigator.userAgent)&&/Apple/.exec(window.navigator.vendor);_=at?42<parseInt(at[1],10):!ot}else _=!1;it=_?new P(p(h.g,h),p(h.h,h),h.c,et,h.s,nt):new Q(p(h.g,h),p(h.h,h),h.c,et,h.s,c,nt),tt.push(it)}for($=0;$<tt.length;$++)tt[$].start()}}),0)}function ra(c,h){this.c=c,this.a=h}function sa(c,h){this.c=c,this.a=h}function ta(c,h){this.c=c||k,this.a=[],this.f=[],this.g=h||""}W.prototype.g=function(c){var h=this.a;h.g&&w(h.f,[h.a.c("wf",c.c,J(c).toString(),"active")],[h.a.c("wf",c.c,J(c).toString(),"loading"),h.a.c("wf",c.c,J(c).toString(),"inactive")]),K(h,"fontactive",c),this.m=!0,na(this)},W.prototype.h=function(c){var h=this.a;if(h.g){var g=y(h.f,h.a.c("wf",c.c,J(c).toString(),"active")),m=[],_=[h.a.c("wf",c.c,J(c).toString(),"loading")];g||m.push(h.a.c("wf",c.c,J(c).toString(),"inactive")),w(h.f,m,_)}K(h,"fontinactive",c),na(this)},oa.prototype.load=function(c){this.c=new ca(this.j,c.context||this.j),this.g=!1!==c.events,this.f=!1!==c.classes,function pa(c,h,g){var m=[],_=g.timeout;!function ia(c){c.g&&w(c.f,[c.a.c("wf","loading")]),K(c,"loading")}(h);m=function ka(c,h,g){var m,_=[];for(m in h)if(h.hasOwnProperty(m)){var k=c.c[m];k&&_.push(k(h[m],g))}return _}(c.a,g,c.c);var k=new W(c.c,h,_);for(c.h=m.length,h=0,g=m.length;h<g;h++)m[h].load((function(h,g,m){qa(c,k,h,g,m)}))}(this,new ha(this.c,c),c)},ra.prototype.load=function(c){function b(){if(_["__mti_fntLst"+g]){var h,m=_["__mti_fntLst"+g](),k=[];if(m)for(var j=0;j<m.length;j++){var q=m[j].fontfamily;null!=m[j].fontStyle&&null!=m[j].fontWeight?(h=m[j].fontStyle+m[j].fontWeight,k.push(new G(q,h))):k.push(new G(q))}c(k)}else setTimeout((function(){b()}),50)}var h=this,g=h.a.projectId,m=h.a.version;if(g){var _=h.c.o;A(this.c,(h.a.api||"https://fast.fonts.net/jsapi")+"/"+g+".js"+(m?"?v="+m:""),(function(m){m?c([]):(_["__MonotypeConfiguration__"+g]=function(){return h.a},b())})).id="__MonotypeAPIScript__"+g}else c([])},sa.prototype.load=function(c){var h,g,m=this.a.urls||[],_=this.a.families||[],k=this.a.testStrings||{},j=new B;for(h=0,g=m.length;h<g;h++)z(this.c,m[h],C(j));var q=[];for(h=0,g=_.length;h<g;h++)if((m=_[h].split(":"))[1])for(var $=m[1].split(","),tt=0;tt<$.length;tt+=1)q.push(new G(m[0],$[tt]));else q.push(new G(m[0]));E(j,(function(){c(q,k)}))};var k="https://fonts.googleapis.com/css";function ya(c){this.f=c,this.a=[],this.c={}}var j={latin:"BESbswy","latin-ext":"çöüğş",cyrillic:"йяЖ",greek:"αβΣ",khmer:"កខគ",Hanuman:"កខគ"},q={thin:"1",extralight:"2","extra-light":"2",ultralight:"2","ultra-light":"2",light:"3",regular:"4",book:"4",medium:"5","semi-bold":"6",semibold:"6","demi-bold":"6",demibold:"6",bold:"7","extra-bold":"8",extrabold:"8","ultra-bold":"8",ultrabold:"8",black:"9",heavy:"9",l:"3",r:"4",b:"7"},$={i:"i",italic:"i",n:"n",normal:"n"},tt=/^(thin|(?:(?:extra|ultra)-?)?light|regular|book|medium|(?:(?:semi|demi|extra|ultra)-?)?bold|black|heavy|l|r|b|[1-9]00)?(n|i|normal|italic)?$/;function Ea(c,h){this.c=c,this.a=h}var et={Arimo:!0,Cousine:!0,Tinos:!0};function Ga(c,h){this.c=c,this.a=h}function Ha(c,h){this.c=c,this.f=h,this.a=[]}Ea.prototype.load=function(c){var h=new B,g=this.c,m=new ta(this.a.api,this.a.text),_=this.a.families;!function va(c,h){for(var g=h.length,m=0;m<g;m++){var _=h[m].split(":");3==_.length&&c.f.push(_.pop());var k="";2==_.length&&""!=_[1]&&(k=":"),c.a.push(_.join(k))}}(m,_);var k=new ya(_);!function Da(c){for(var h=c.f.length,g=0;g<h;g++){var m=c.f[g].split(":"),_=m[0].replace(/\+/g," "),k=["n4"];if(2<=m.length){var et;if(et=[],nt=m[1])for(var nt,it=(nt=nt.split(",")).length,at=0;at<it;at++){var ot;if((ot=nt[at]).match(/^[\w-]+$/))if(null==(st=tt.exec(ot.toLowerCase())))ot="";else{if(ot=null==(ot=st[2])||""==ot?"n":$[ot],null==(st=st[1])||""==st)st="4";else var st=q[st]||(isNaN(st)?"4":st.substr(0,1));ot=[ot,st].join("")}else ot="";ot&&et.push(ot)}0<et.length&&(k=et),3==m.length&&(et=[],0<(m=(m=m[2])?m.split(","):et).length&&(m=j[m[0]])&&(c.c[_]=m))}for(c.c[_]||(m=j[_])&&(c.c[_]=m),m=0;m<k.length;m+=1)c.a.push(new G(_,k[m]))}}(k),z(g,function wa(c){if(0==c.a.length)throw Error("No fonts to load!");if(-1!=c.c.indexOf("kit="))return c.c;for(var h=c.a.length,g=[],m=0;m<h;m++)g.push(c.a[m].replace(/ /g,"+"));return h=c.c+"?family="+g.join("%7C"),0<c.f.length&&(h+="&subset="+c.f.join(",")),0<c.g.length&&(h+="&text="+encodeURIComponent(c.g)),h}(m),C(h)),E(h,(function(){c(k.a,k.c,et)}))},Ga.prototype.load=function(c){var h=this.a.id,g=this.c.o;h?A(this.c,(this.a.api||"https://use.typekit.net")+"/"+h+".js",(function(h){if(h)c([]);else if(g.Typekit&&g.Typekit.config&&g.Typekit.config.fn){h=g.Typekit.config.fn;for(var m=[],_=0;_<h.length;_+=2)for(var k=h[_],j=h[_+1],q=0;q<j.length;q++)m.push(new G(k,j[q]));try{g.Typekit.load({events:!1,classes:!1,async:!0})}catch($){}c(m)}}),2e3):c([])},Ha.prototype.load=function(c){var h=this.f.id,g=this.c.o,m=this;h?(g.__webfontfontdeckmodule__||(g.__webfontfontdeckmodule__={}),g.__webfontfontdeckmodule__[h]=function(h,g){for(var _=0,k=g.fonts.length;_<k;++_){var j=g.fonts[_];m.a.push(new G(j.name,ga("font-weight:"+j.weight+";font-style:"+j.style)))}c(m.a)},A(this.c,(this.f.api||"https://f.fontdeck.com/s/css/js/")+function ea(c){return c.o.location.hostname||c.a.location.hostname}(this.c)+"/"+h+".js",(function(h){h&&c([])}))):c([])};var nt=new oa(window);nt.a.c.custom=function(c,h){return new sa(h,c)},nt.a.c.fontdeck=function(c,h){return new Ha(h,c)},nt.a.c.monotype=function(c,h){return new ra(h,c)},nt.a.c.typekit=function(c,h){return new Ga(h,c)},nt.a.c.google=function(c,h){return new Ea(h,c)};var it={load:p(nt.load,nt)};"function"==typeof define&&define.amd?define((function(){return it})):"undefined"!=typeof module&&module.exports?module.exports=it:(window.WebFont=it,window.WebFontConfig&&nt.load(window.WebFontConfig))}(),window.lazySizesConfig=window.lazySizesConfig||{},window.lazySizesConfig.lazyClass="lazyload",lazySizesConfig.loadMode=1,document.addEventListener("lazybeforeunveil",(function(c){var h=c.target.getAttribute("data-bg");h&&(c.target.style.backgroundImage="url("+h+")")})),document.addEventListener("lazyloaded",(function(c){c.target.parentNode.classList.add("lazyloaded")})),WebFont.load({typekit:{id:"ada2gsq"}});

</script>
