{% assign block_name = 'announcement' %}
{% assign enable = settings.announcement--enable %}
{% assign message_count = 0 %}
{% assign is_carousel = false %}

{% for i in (1..3) %}
  {% assign key = 'announcement--message-0' | append: i %}
  {% if settings[key] != '' %}
    {% assign message_count = message_count | plus: 1 %}
  {% endif %}
{% endfor %}

{% if message_count > 1 %}
  {% assign is_carousel = true %}
{% endif %}

{% if enable and message_count > 0 %}
  <div class="{{ block_name }}" data-message-count="{{ message_count }}">

    <div class="{{ block_name }}__main">
      {% render 'layout--container', state: 'open', container: 'container-fluid' %}
        <div class="{{ block_name }}__content">

          {% if is_carousel %}<div class="glide js--glide" id="glide--{{ block_name }}" data-glide-style="{{ block_name }}"><div class="glide__track" data-glide-el="track"><ul class="glide__slides">{% endif %}

            {% for i in (1..3) %}

              {% assign key = 'announcement--message-0' | append: i %}
              {% assign value = settings[key] | default: false %}

              {% if value %}
                {% if is_carousel %}<li class="glide__slide">{% endif %}
                  <div class="{{ block_name }}__item rte">{{ value }}</div>
                {% if is_carousel %}</li>{% endif %}
              {% endif %}

            {% endfor %}

          {% if is_carousel %}</ul></div></div>{% endif %}

        </div>
      {% render 'layout--container', state: 'closed' %}
    </div>

    <button class="{{ block_name }}__button button js--hide-announcement" type="button">{% render 'svg--icon-close' %}</button>

  </div>
{% endif %}
