{% assign colour_values = 'red, green, blue' | split: ', ' %}
{% assign rgb = '' %}
{% assign theme_colour = '#FFFFFF' | strip %}

{% if product.metafields.general.colour %}
  {% assign theme_colour = product.metafields.general.colour | strip %}
{% endif %}

{% for value in colour_values %}
  {% assign extracted_colour = theme_colour | color_extract: value  %}
  {% assign rgb = rgb | append: extracted_colour %}
  {% unless forloop.last %}
    {% assign rgb = rgb | append: ', ' %}
  {% endunless %}
{% endfor %}

{% assign recharge_enable_login = settings.recharge--enable-login | default: false %}

<style>

  :root {
    --theme-page-colour-rgb: {{ rgb }};
    --theme-page-colour-rgb: 255, 255, 255;
  }

  {% unless recharge_enable_login %}
    body #rc_login {
      display: none !important;
    }
  {% endunless %}

</style>


