{%- assign colour_hex = colour_hex | strip -%}
{%- assign extract_values = 'red, green, blue' | split: ', ' -%}
{%- assign colour_rgb = '' -%}

{%- for value in extract_values -%}
  {%- assign extracted_colour = colour_hex | color_extract: value  -%}
  {%- assign colour_rgb = colour_rgb | append: extracted_colour -%}
  {%- unless forloop.last -%}
    {%- assign colour_rgb = colour_rgb | append: ', ' -%}
  {%- endunless -%}
{%- endfor -%}

{{- colour_rgb -}}
