{%- comment -%}

  Use snippet like so...

  {%-
    render 'theme--is-active',
    url: url
  -%}

{%- endcomment -%}

{%- assign template_name = template.name | default: false -%}
{%- assign current_url = '' -%}
{%- assign active_state = '' -%}

{%- case template_name -%}
  {%- when 'article' -%}
    {%- assign current_url = article.url -%}
  {%- when 'blog' -%}
    {%- assign current_url = blog.url -%}
  {%- when 'collection' -%}
    {%- assign current_url = collection.url -%}
  {%- when 'page' -%}
    {%- assign current_url = page.url -%}
  {%- when 'product' -%}
    {%- assign current_url = product.url -%}
{%- endcase -%}

{%- if url == current_url -%}
  {%- assign active_state = ' ' | append: 'active' -%}
{%- endif -%}

{{- active_state -}}
