//////////////////////////////////////////////////////////
////  Mixins
//////////////////////////////////////////////////////////

@mixin clearfix {
	clear: both;
	&:after{
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
  }
}

@mixin link( $border: true ) {
	transition: border 280ms, color 280ms, opacity 280ms;
  color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
  @if $border == true {
    border-bottom: 1px solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
    &:hover {
      border-bottom-color: transparent;
    }
  } @else {
    &:hover {
      opacity: var(--theme-hover-opacity);
    }
  }
  &:hover {
    color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
  }
}

@mixin video-aspect-ratios( $width, $height ) {

  // Given a 16:9 aspect ratio, 9/16*100 = 56.25
  min-height: 100%;
  height: math.div( $height, $width ) * 100%;
  height: math.div( $height, $width ) * 100vw;

  // Given a 16:9 aspect ratio, 16/9*100 = 177.77
  min-width: 100%;
  width: math.div( $width, $height ) * 100%;
  width: math.div( $width, $height ) * 100vh;

}

@mixin keyframes( $animation-name ) {
  @keyframes #{$animation-name} { @content; }
}

@mixin animation( $str ) {
  animation: #{$str};
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}

@mixin greysacle( $value ) {
  filter:#{"grayscale(#{$value})"};
}

@mixin brightness( $value ) {
  filter: brightness( $value );
}

@function lighten( $color, $percentage ) {
  @return mix( white, $color, $percentage );
}

@function darken( $color, $percentage ) {
  @return mix( black, $color, $percentage );
}

@mixin add-border( $colour: #454142, $radius: $theme-border-radius, $style: solid, $width: $theme-border-width ) {
  border-color: $colour;
  border-width: $width;
  border-style: $style;
  border-radius: $radius;
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

@mixin set-column-width( $total-columns: 3, $gutter-width: 18px ) {
  $gutter-width: $gutter-width;
  $gutter-count: $total-columns - 1;
  $column-width-percentage: math.div(1, $total-columns);
  $column-width: calc( ( 100% - ( #{$gutter-width} * #{$gutter-count}) ) * #{$column-width-percentage} );
  width: $column-width;
}

//////////////////////////////////////////////////////////
////  Mixin | Typography | Body Copy
//////////////////////////////////////////////////////////

@mixin add-padding( $direction: all ) {

  @if $direction == y {
    padding: var(--theme-section-padding) 0;
  } @else if $direction == x {
    padding: 0 var(--theme-section-padding);
  } @else {
    padding: var(--theme-section-padding);
  }

  @include media-breakpoint-up(sm) {
    @if $direction == y {
      padding: var(--theme-section-padding--sm) 0;
    } @else if $direction == x {
      padding: 0 var(--theme-section-padding--sm);
    } @else {
      padding: var(--theme-section-padding--sm);
    }
  }

  @include media-breakpoint-up(md) {
    @if $direction == y {
      padding: var(--theme-section-padding--md) 0;
    } @else if $direction == x {
      padding: 0 var(--theme-section-padding--md);
    } @else {
      padding: var(--theme-section-padding--md);
    }
  }

  @include media-breakpoint-up(lg) {
    @if $direction == y {
      padding: var(--theme-section-padding--lg) 0;
    } @else if $direction == x {
      padding: 0 var(--theme-section-padding--lg);
    } @else {
      padding: var(--theme-section-padding--lg);
    }
  }

  @include media-breakpoint-up(xl) {
    @if $direction == y {
      padding: var(--theme-section-padding--xl) 0;
    } @else if $direction == x {
      padding: 0 var(--theme-section-padding--xl);
    } @else {
      padding: var(--theme-section-padding--xl);
    }
  }

  @include media-breakpoint-up(xxl) {
    @if $direction == y {
      padding: var(--theme-section-padding--xxl) 0;
    } @else if $direction == x {
      padding: 0 var(--theme-section-padding--xxl);
    } @else {
      padding: var(--theme-section-padding--xxl);
    }
  }

}

@mixin select( $type: 'default' ) {

  color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
  font-size: var(--theme-foundation-font-size);
  transition: background 280ms, border 280ms, color 280ms, opacity 280ms;
  line-height: 1;
  display: inline-flex;

  background: transparent;
  width: auto;
  text-decoration: none;
  outline: none;
  border: none;

  @if $type == 'outlined' {
    font-family: var(--theme-serif--avenue-x);
    border-radius: var(--theme-border-radius);
    border-width: var(--theme-border-width);
    border-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    min-height: var(--theme-button-height);
    appearance: none;
    border-style: solid;
    padding-left: 22px;
    padding-right: 22px;
    background-image: url(./OPTIMI--icon--chevron--dark.svg);
    background-repeat: no-repeat;
    background-position-x: calc( 100% - 15px );
    background-position-y: 17px;
    background-size: 16px;
  }

  @include media-breakpoint-up(sm) {

    font-size: var(--theme-foundation-font-size--sm);

  } // min width sm

  @include media-breakpoint-up(md) {

    font-size: var(--theme-foundation-font-size--md);

  } // min width md

  @include media-breakpoint-up(lg) {

    font-size: var(--theme-foundation-font-size--lg);

    @if $type == 'outlined' {
      min-height: var(--theme-button-height--lg);
      background-position-x: calc(100% - 14px);
      background-position-y: 20px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    font-size: var(--theme-foundation-font-size--xl);

  } // min width xl

  @include media-breakpoint-up(xxl) {

    font-size: var(--theme-foundation-font-size--xxl);

  } // min width xxl

}

//////////////////////////////////////////////////////////
////  Mixin | Typography | Body Copy
//////////////////////////////////////////////////////////

@mixin body-copy( $font-size-modifier: 1, $line-height: 1.2, $font-weight: normal ) {

  font-size: calc( var(--theme-body-copy) * #{$font-size-modifier} );
  font-weight: $font-weight;
  line-height: $line-height;

  @include media-breakpoint-up(sm) {
    font-size: calc( var(--theme-body-copy--sm) * #{$font-size-modifier} );
  } // min width sm

  @include media-breakpoint-up(md) {
    font-size: calc( var(--theme-body-copy--md) * #{$font-size-modifier} );
  } // min width md

  @include media-breakpoint-up(lg) {
    font-size: calc( var(--theme-body-copy--lg) * #{$font-size-modifier} );
  } // min width lg

  @include media-breakpoint-up(xl) {
    font-size: calc( var(--theme-body-copy--xl) * #{$font-size-modifier} );
  } // min width xl

  @include media-breakpoint-up(xxl) {
    font-size: calc( var(--theme-body-copy--xxl) * #{$font-size-modifier} );
  } // min width xxl

}

@mixin body-copy-foundation( $font-size-modifier: 1, $line-height: 1.2, $font-weight: normal ) {

  font-size: calc( var(--theme-foundation-font-size) * #{$font-size-modifier} );
  font-weight: $font-weight;
  line-height: $line-height;

  @include media-breakpoint-up(sm) {
    font-size: calc( var(--theme-foundation-font-size--sm) * #{$font-size-modifier} );
  } // min width sm

  @include media-breakpoint-up(md) {
    font-size: calc( var(--theme-foundation-font-size--md) * #{$font-size-modifier} );
  } // min width md

  @include media-breakpoint-up(lg) {
    font-size: calc( var(--theme-foundation-font-size--lg) * #{$font-size-modifier} );
  } // min width lg

  @include media-breakpoint-up(xl) {
    font-size: calc( var(--theme-foundation-font-size--xl) * #{$font-size-modifier} );
  } // min width xl

  @include media-breakpoint-up(xxl) {
    font-size: calc( var(--theme-foundation-font-size--xxl) * #{$font-size-modifier} );
  } // min width xxl

}
