//////////////////////////////////////////////////////////
////  SCSS | Functions & Mixins
//////////////////////////////////////////////////////////

@function hexToRGB( $hex: false ) {

  @if $hex {
    $red: color.red( $hex );
    $green: color.green( $hex );
    $blue: color.blue( $hex );
    @return $red, $green, $blue;
  }

  @return $hex;

}

//////////////////////////////////////////////////////////
////  SCSS | Vars
//////////////////////////////////////////////////////////

// ---------------------------------------- Announcement Heights
$theme-announcement-heights: (
  base: 40px,
  sm: 40px,
  md: 40px,
  lg: 40px,
  xl: 40px,
  xxl: 40px
);

// ---------------------------------------- Article Preview Image Heights
// aspect ratio of 1 : 0.66
$theme-article-preview-feature-image-heights: (
  base: 240px,
  sm: 340px,
  md: 460px,
  lg: 400px,
  xl: 480px,
  xxl: 560px
);

// ---------------------------------------- Border Radius
$theme-border-radius: 6px;

// ---------------------------------------- Border Width
$theme-border-width: 1px;

// ---------------------------------------- Button / Input Height
$theme-button-heights: (
  base: 44px,
  sm: 44px,
  md: 44px,
  lg: 50px,
  xl: 50px,
  xxl: 50px
);

// ---------------------------------------- Colours
$theme-colours: (
  'black': #101010,
  'white': #ffffff,
  'mindful-purple': #6C6E7F,
  'essentials-charcoal': #454142,
  'defense-tan': #CFB79A,
  'immunity-red': #A8725E,
  'perform-teal': #61716C,
  'optimi-orange': #BB7F51,
  'longevity-green': #696E59,
);

// ---------------------------------------- Layout | Header
$theme-header-heights: (
  base: 98px,
  sm: 98px,
  md: 98px,
  lg: 98px,
  xl: 98px,
  xxl: 98px
);

// ---------------------------------------- Typography | Body Copy
$theme-body-copy-sizes: (
  base: 14px,
  sm: 14px,
  md: 16px,
  lg: 14px,
  xl: 16px,
  xxl: 18px
);

// ---------------------------------------- Bootstrap | Gutter
$grid-gutter-width: 24px;

// ---------------------------------------- Bootstrap | Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// ---------------------------------------- Bootstrap | Container Sizes
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

//////////////////////////////////////////////////////////
////  CSS | Vars
//////////////////////////////////////////////////////////

:root {

  //////////////////////////////////////////////////////////
  ////  Bootstrap
  //////////////////////////////////////////////////////////

  // ---------------------------------------- Gutter Width
  --bs-gutter-width: #{ $grid-gutter-width };

  // ---------------------------------------- Container Breakpoints
  --bs-container-breakpoint--sm: #{ map-get( $grid-breakpoints, sm ) };
  --bs-container-breakpoint--md: #{ map-get( $grid-breakpoints, md ) };
  --bs-container-breakpoint--lg: #{ map-get( $grid-breakpoints, lg ) };
  --bs-container-breakpoint--xl: #{ map-get( $grid-breakpoints, xl ) };
  --bs-container-breakpoint--xxl: #{ map-get( $grid-breakpoints, xxl ) };

  // ---------------------------------------- Container Max Widths
  --bs-container-width--sm: #{ map-get( $container-max-widths, sm ) };
  --bs-container-width--md: #{ map-get( $container-max-widths, md ) };
  --bs-container-width--lg: #{ map-get( $container-max-widths, lg ) };
  --bs-container-width--xl: #{ map-get( $container-max-widths, xl ) };
  --bs-container-width--xxl: #{ map-get( $container-max-widths, xxl ) };

  //////////////////////////////////////////////////////////
  ////  Theme
  //////////////////////////////////////////////////////////

  // ---------------------------------------- Announcement Heights
  --theme-announcement-height: #{ map-get( $theme-announcement-heights, base ) };
  --theme-announcement-height--sm: #{ map-get( $theme-announcement-heights, sm ) };
  --theme-announcement-height--md: #{ map-get( $theme-announcement-heights, md ) };
  --theme-announcement-height--lg: #{ map-get( $theme-announcement-heights, lg ) };
  --theme-announcement-height--xl: #{ map-get( $theme-announcement-heights, xl ) };
  --theme-announcement-height--xxl: #{ map-get( $theme-announcement-heights, xxl ) };

  // ---------------------------------------- Article Preview Feature Image Heights
  --theme-article-preview-feature-image-height: #{ map-get( $theme-article-preview-feature-image-heights, base ) };
  --theme-article-preview-feature-image-height--sm: #{ map-get( $theme-article-preview-feature-image-heights, sm ) };
  --theme-article-preview-feature-image-height--md: #{ map-get( $theme-article-preview-feature-image-heights, md ) };
  --theme-article-preview-feature-image-height--lg: #{ map-get( $theme-article-preview-feature-image-heights, lg ) };
  --theme-article-preview-feature-image-height--xl: #{ map-get( $theme-article-preview-feature-image-heights, xl ) };
  --theme-article-preview-feature-image-height--xxl: #{ map-get( $theme-article-preview-feature-image-heights, xxl ) };

  // ---------------------------------------- Article Stack Margin Bottom
  --theme-article-stack-margin-bottom: 60px;
  --theme-article-stack-margin-bottom--sm: 60px;
  --theme-article-stack-margin-bottom--md: 60px;
  --theme-article-stack-margin-bottom--lg: 60px;
  --theme-article-stack-margin-bottom--xl: 60px;
  --theme-article-stack-margin-bottom--xxl: 60px;

  // ---------------------------------------- Border Radius
  --theme-border-radius: #{ $theme-border-radius };

  // ---------------------------------------- Border Width
  --theme-border-width: #{ $theme-border-width };

  // ---------------------------------------- Button Height
  --theme-button-height: #{ map-get( $theme-button-heights, base ) };
  --theme-button-height--sm: #{ map-get( $theme-button-heights, sm ) };
  --theme-button-height--md: #{ map-get( $theme-button-heights, md ) };
  --theme-button-height--lg: #{ map-get( $theme-button-heights, lg ) };
  --theme-button-height--xl: #{ map-get( $theme-button-heights, xl ) };
  --theme-button-height--xxl: #{ map-get( $theme-button-heights, xxl ) };

  // ---------------------------------------- Colours
  --theme-black: #{ map-get( $theme-colours, 'black' ) };
  --theme-white: #{ map-get( $theme-colours, 'white' ) };
  --theme-white--rgb: 255, 255, 255;
  --theme-defense-tan: #{ map-get( $theme-colours, 'defense-tan' ) };
  --theme-essentials-charcoal: #{ map-get( $theme-colours, 'essentials-charcoal' ) };
  --theme-essentials-charcoal--rgb: 69, 65, 66;
  --theme-immunity-red: #{ map-get( $theme-colours, 'immunity-red' ) };
  --theme-longevity-green: #{ map-get( $theme-colours, 'longevity-green' ) };
  --theme-mindful-purple: #{ map-get( $theme-colours, 'mindful-purple' ) };
  --theme-optimi-orange: #{ map-get( $theme-colours, 'optimi-orange' ) };
  --theme-perform-teal: #{ map-get( $theme-colours, 'perform-teal' ) };

  // ---------------------------------------- Article Meta Font Size
  --theme-foundation-font-size: 14px;
  --theme-foundation-font-size--sm: 14px;
  --theme-foundation-font-size--md: 16px;
  --theme-foundation-font-size--lg: 12px;
  --theme-foundation-font-size--xl: 14px;
  --theme-foundation-font-size--xxl: 16px;

  // ---------------------------------------- Header Heights
  --theme-header-height: #{ map-get( $theme-header-heights, base ) };
  --theme-header-height--sm: #{ map-get( $theme-header-heights, sm ) };
  --theme-header-height--md: #{ map-get( $theme-header-heights, md ) };
  --theme-header-height--lg: #{ map-get( $theme-header-heights, lg ) };
  --theme-header-height--xl: #{ map-get( $theme-header-heights, xl ) };
  --theme-header-height--xxl: #{ map-get( $theme-header-heights, xxl ) };

  // ---------------------------------------- Hover Opacity
  --theme-hover-opacity: 0.3333;

  // ---------------------------------------- Font Families
  --theme-sans-serif--sofia-pro: sofia-pro, sans-serif;
  --theme-sans-serif: sans-serif;
  --theme-serif: sans-serif;
  --theme-serif--avenue-x: 'Avenue X', serif;
  --theme-display: serif;

  // ---------------------------------------- Body Copy Sizes
  --theme-body-copy: #{ map-get( $theme-body-copy-sizes, base ) };
  --theme-body-copy--sm: #{ map-get( $theme-body-copy-sizes, sm ) };
  --theme-body-copy--md: #{ map-get( $theme-body-copy-sizes, md ) };
  --theme-body-copy--lg: #{ map-get( $theme-body-copy-sizes, lg ) };
  --theme-body-copy--xl: #{ map-get( $theme-body-copy-sizes, xl ) };
  --theme-body-copy--xxl: #{ map-get( $theme-body-copy-sizes, xxl ) };

  // ---------------------------------------- Main Padding Bottom
  --theme-main-padding-bottom: 65px;
  --theme-main-padding-bottom--sm: 65px;
  --theme-main-padding-bottom--md: 65px;
  --theme-main-padding-bottom--lg: 80px;
  --theme-main-padding-bottom--xl: 80px;
  --theme-main-padding-bottom--xxl: 80px;

  // ---------------------------------------- Section Padding
  --theme-section-padding: 55px;
  --theme-section-padding--sm: 70px;
  --theme-section-padding--md: 85px;
  --theme-section-padding--lg: 55px;
  --theme-section-padding--xl: 70px;
  --theme-section-padding--xxl: 85px;

  --theme-viewport-height: auto;

}
