//////////////////////////////////////////////////////////
////  Section | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Section | Styles
//////////////////////////////////////////////////////////

.section {

  &--padding {
    padding: var(--theme-section-padding);
  }

  &--padding-x {
    padding: 0 var(--theme-section-padding);
  }

  &--padding-y {
    padding: var(--theme-section-padding) 0;
  }

  &[data-layout="full-width-feature"] {
    overflow: hidden;
    & + [data-layout="full-width-feature"] {
      .full-width-feature {
        border-top: none;
      }
    }
  }

  &.section--fifty {
    @import '../fixes/_cd-fixes-section.scss';
  }

  @include media-breakpoint-up(sm) {

    &--padding {
      padding: var(--theme-section-padding--sm);
    }

    &--padding-x {
      padding: 0 var(--theme-section-padding--sm);
    }

    &--padding-y {
      padding: var(--theme-section-padding--sm) 0;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &--padding {
      padding: var(--theme-section-padding--md);
    }

    &--padding-x {
      padding: 0 var(--theme-section-padding--md);
    }

    &--padding-y {
      padding: var(--theme-section-padding--md) 0;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &--padding {
      padding: var(--theme-section-padding--lg);
    }

    &--padding-x {
      padding: 0 var(--theme-section-padding--lg);
    }

    &--padding-y {
      padding: var(--theme-section-padding--lg) 0;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &--padding {
      padding: var(--theme-section-padding--xl);
    }

    &--padding-x {
      padding: 0 var(--theme-section-padding--xl);
    }

    &--padding-y {
      padding: var(--theme-section-padding--xl) 0;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &--padding {
      padding: var(--theme-section-padding--xxl);
    }

    &--padding-x {
      padding: 0 var(--theme-section-padding--xxl);
    }

    &--padding-y {
      padding: var(--theme-section-padding--xxl) 0;
    }

  } // min width xxl

} // section
