{% assign block_name = 'customers' %}

{% render 'customers--hero', heading: 'Account Details' %}

<div class='{{ block_name }}__account'>
  {% render 'layout--container', col: 'col-12 col-lg-10 offset-lg-1', state: 'open' %}
    <div class='row row--inner'>

      <div class='col-12 col-lg-8'>
        <div class='{{ block_name }}__history'>

          <h2 class='{{ block_name }}__heading heading heading--600 lowercase heading--tertiary'>Order History</h2>

          <div class="{{ block_name }}__orders">

            {% if customer.orders_count > 0 %}
              {% paginate customer.orders by 9 %}

                {% comment %} ## Bogus test orders will not paginate correctly! {% endcomment %}

                <div class='{{ block_name }}__table-guide'>
                  <div class='{{ block_name }}__row'>
                    <div class="{{ block_name }}__column order-number">Order</div>
                    <div class="{{ block_name }}__column order-date">Date</div>
                    <div class="{{ block_name }}__column order-payment-status">Payment Status</div>
                    <div class="{{ block_name }}__column order-fulfillment-status">Fulfillment Status</div>
                    <div class="{{ block_name }}__column order-total">Total</div>
                  </div>
                </div>

                <div class='{{ block_name }}__order-line-items'>
                  {% for order in customer.orders %}
                    {% render 'customers--order-line-item', index: forloop.index, order: order %}
                  {% endfor %}
                </div>

                {%
                  render 'content--pagination',
                  paginate: paginate,
                  style: 'account'
                %}

              {% endpaginate %}
            {% else %}

              <div class='rte'>
                <p>No orders to date. <a class='{{ block_name }}__link link link--primary' href='/pages/shop' target='_self'>Shop all products</a>.</p>
              </div>

            {% endif %}

          </div>

        </div>
      </div>

      <div class='col-12 col-lg-4'>
        <div class='{{ block_name }}__details'>

          <h2 class='{{ block_name }}__heading heading heading--600 lowercase heading--tertiary'>Account Details</h2>

            <div class='{{ block_name }}__address'>
              {% if customer.default_address %}
                {% render 'content--address', address: customer.default_address, style: 'default' %}
              {% else %}
                <p>It looks like there's no address on file. Add one!</p>
              {% endif %}
            </div>

          <a class="{{ block_name }}__update-address-button button button--outlined" href='/account/addresses'>Update Addresses</a>
          <a class="{{ block_name }}__update-address-button button button--outlined" href="/tools/recurring/login">Manage Subscriptions</a>

        </div>
      </div>

    </div>
  {% render 'layout--container', state: 'closed' %}
</div>
