<!-- /templates/customers/activate_account.liquid -->

{% assign block_name = 'customers' %}

{% render 'customers--hero', heading: template.name %}

<div class='{{ block_name }}__activate-account'>
  {% render 'layout--container', state: 'open', col: 'col-12 col-lg-6 offset-lg-3' %}

    {% form 'activate_customer_password', class: 'form form--customers form--activate-customer' %}

      <div class='form__row intro rte'>
        <p>Create your password to activate your account.</p>
      </div>

      <div class='form__row'>
        <input type="password" name="customer[password]" placeholder='Password'/>
      </div>

      <div class='form__row'>
        <input type="password" name="customer[password_confirmation]" placeholder='Confirm Password' />
      </div>

      {%- if form.errors -%}
        <div class='form__row errors rte'>
          <p>Password fields cannot be blank and passwords must match!</p>
        </div>
      {% endif %}

      <div class='form__row actions'>
        <input class='button button--outlined' type="submit" value="Activate Account" />
      </div>

      <div class='form__row decline-actions'>
        <span>or</span>
        <input class='link link--primary' type="submit" name="decline" value="Decline Invitation" />
      </div>

    {% endform %}

  {% render 'layout--container', state: 'closed' %}
</div>
