{% assign block_name = 'customers' %}
{% assign customer_has_addresses = false %}

{% if customer.addresses.size > 0 %}
	{% assign customer_has_addresses = true %}
{% endif %}

{% render 'customers--hero', heading: 'Addresses' %}

{% if customer_has_addresses %}
	<div class='{{ block_name }}__addresses'>
	  {% render 'layout--container', col: 'col-12 col-lg-10 offset-lg-1', state: 'open' %}
	    <div class='{{ block_name }}__addresses-grid row row--inner'>

        {% paginate customer.addresses by 9 %}

          {% for address in customer.addresses %}
            {% render 'customers--address-item', address: address, customer: customer, index: forloop.index  %}
          {% endfor %}

          {%
				    render 'content--pagination',
				    paginate: paginate,
				    style: 'account-addresses'
				  %}

        {% endpaginate %}

	    </div>
	  {% render 'layout--container', state: 'closed' %}
	</div>
{% endif %}

<div class='{{ block_name }}__new-address-cta'>
	{% render 'layout--container', col: 'col-12 col-lg-10 offset-lg-1', state: 'open' %}
		<button class='button button--outlined js--toggle-new-address-form' type='button'>Add a new address</button>
	{% render 'layout--container', state: 'closed' %}
</div>

<div class='{{ block_name }}__new-address-form hide'>
  {% render 'layout--container', col: 'col-12 col-lg-10 offset-lg-1', state: 'open' %}
    {% render 'form--customers-new-address' %}
  {% render 'layout--container', state: 'closed' %}
</div>

<script type="text/javascript">

	// Initialize observers on address selectors
	new Shopify.CountryProvinceSelector('address--new--country', 'address--new--province', {
		hideElement: 'address--new--province-container'
	});

	// Setup province selector on each customer address
	{% paginate customer.addresses by 9 %}

		{% for address in customer.addresses %}

		  new Shopify.CountryProvinceSelector('address--country--{{ address.id }}', 'address--province--{{ address.id }}', {
		    hideElement: 'address--province-container--{{ address.id }}' }
			);

		{% endfor %}

	{% endpaginate %}

	// // Modified contents of customer_area.js (global asset)
	// Shopify.CustomerAddress = {
	// 	toggleForm: function(id) {
	// 		var editEl = document.getElementById('address--edit--'+id);
	// 		editEl.style.display = editEl.style.display == 'none' ? '' : 'none';
	// 		return false;
	// 	},
	// 	toggleNewForm: function() {
	// 		var el = document.getElementById('address--add');
	// 		el.style.display = el.style.display == 'none' ? '' : 'none';
	// 		return false;
	// 	},
	// 	destroy: function(id, confirm_msg) {
	// 		if (confirm(confirm_msg || "Are you sure you wish to delete this address?")) {
	// 			Shopify.postLink('/account/addresses/'+id, {'parameters': {'_method': 'delete'}});
	// 		}
	// 	}
	// }
//
	var checkboxes = document.getElementsByClassName('form-checkbox');

</script>
