{% comment %} https://optimilife.com/account/login#recover to reset password {% endcomment %}

{% assign block_name = 'customers' %}

{% render 'customers--hero', heading: template.name %}

<div class='{{ block_name }}__login'>
  {% render 'layout--container', state: 'open', col: 'col-12 col-lg-6 offset-lg-3' %}

    {% if shop.customer_accounts_enabled %}

      {% if customer  %}
        <div class='{{ block_name }}__logged-in'>
          <a class='button button--outlined' href="/account">Access Your Account</a>
        </div>
      {% else %}

        <div class='{{ block_name }}__login-form' id='{{ block_name }}__login-form'>
          {% render 'form--customers-login' %}
        </div>

        <div class='{{ block_name }}__recover-password-form hide' id='{{ block_name }}__recover-password-form'>
          {% render 'form--customers-recover-password' %}
        </div>

        {% comment %}
          {% if shop.customer_accounts_optional %}
            <span>or</span>
            {{ 'Create an account' | customer_register_link }}
          {% endif %}
        {% endcomment %}

      {% endif %}

    {% endif %}

  {% render 'layout--container', state: 'closed' %}
</div>
