{% assign block_name = 'customers' %}

{% render 'customers--hero', heading: 'Order Details' %}

<div class='{{ block_name }}__account'>
  {% render 'layout--container', col: 'col-12 col-lg-10 offset-lg-1', state: 'open' %}
    <div class='row row--inner'>

      <div class='col-12 col-lg-8'>

        <div class='order__intro'>
          <h2 class='order__heading heading heading--600 lowercase heading--tertiary'>Order {{ order.name }}</h2>
          <p class='order__date date'>Placed on {{ order.created_at | date: '%m/%d/%y' }} at {{ order.created_at | date: '%l:%M%P' }}</p>
        </div>

        <div class='order__summary'>
          <div class='order__summary-table d-none d-lg-flex'>
            <div class='order__summary-table-heading product'>Product</div>
            <div class='order__summary-table-heading sku'>SKU</div>
            <div class='order__summary-table-heading price'>Price</div>
            <div class='order__summary-table-heading quantity'>Qty.</div>
            <div class='order__summary-table-heading total'>Total</div>
          </div>
          {% for line_item in order.line_items %}
            <div class='order__row line-item'>
              <div class='product'>
                <a class='order__link link link--primary' href='{{ line_item.product.url }}'>{{ line_item.title }}</a>
              </div>
              <div class='info'>
                <div class='order__row sku'>
                  <div class='order__label'>SKU</div>
                  <div class='order__value'>{{ line_item.sku | default: 'XXXXXXXX' }}</div>
                </div>
                <div class='order__row price'>
                  <div class='order__label'>Price</div>
                  <div class='order__value'>{{ line_item.final_price | money }}</div>
                </div>
                <div class='order__row quantity'>
                  <div class='order__label'>Qty.</div>
                  <div class='order__value'>{{ line_item.quantity }}</div>
                </div>
                <div class='order__row total'>
                  <div class='order__label'>Total</div>
                  <div class='order__value'>{{ line_item.final_line_price | money }}</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <div class='order__pricing'>
          {% if order.total_discounts > 0 %}
            <div class='order__row discounts'>
              <div class='order__label'>Discounts</div>
              <div class='order__value'>-{{ order.total_discounts | money }}</div>
            </div>
          {% endif %}
          <div class='order__row subtotal'>
            <div class='order__label'>Subtotal</div>
            <div class='order__value'>{{ order.subtotal_price | money }}</div>
          </div>
          {% for tax_line in order.tax_lines %}
            <div class='order__row tax'>
              <div class='order__label'>Tax ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</div>
              <div class='order__value'>{{ tax_line.price | money }}</div>
            </div>
          {% endfor %}
          <div class='order__row shipping'>
            <div class='order__label'>Shipping</div>
            <div class='order__value'>{{ order.shipping_price | money }}</div>
          </div>
          <div class='order__row total'>
            <div class='order__label'>Total</div>
            <div class='order__value'>{{ order.total_net_amount |  money_with_currency }}</div>
          </div>
          {% if order.total_refunded_amount > 0 %}
            <div class='order__row refund'>
              <div class='order__label'>Refunded</div>
              <div class='order__value'>{{ order.total_refunded_amount |  money_with_currency }}</div>
            </div>
          {% endif %}
        </div>

      </div>

      <div class='col-12 col-lg-4'>

        <div class='order__address billing'>
          <h3 class='order__heading heading heading--600 lowercase heading--tertiary'>Billing Address</h3>
          <p class='font--600 payment-status'>Payment status: {{ order.financial_status | capitalize }}</p>
          {% render 'content--address', address: order.billing_address, style: 'order' %}
        </div>

        <div class='order__address shipping'>
          <h3 class='order__heading heading heading--600 lowercase heading--tertiary'>Billing Address</h3>
          <p class='font--600 fulfillment-status'>Fulfillment status: {{ order.fulfillment_status | capitalize }}</p>
          {% render 'content--address', address: order.shipping_address, style: 'order' %}
        </div>

      </div>

      <div class='col-12'>

        <div class='order__cta'>
          <a class="order__button button button--outlined" href='/account/'>Back to Account</a>
        </div>

      </div>

    </div>
  {% render 'layout--container', state: 'closed' %}
</div>
