{% assign block_name = 'customers' %}

{% render 'customers--hero', heading: template.name %}

<div class='{{ block_name }}__register'>
  {% render 'layout--container', state: 'open', col: 'col-12 col-lg-6 offset-lg-3' %}
    {% render 'form--customers-register' %}
  {% render 'layout--container', state: 'closed' %}
</div>
