{% comment %} https://optimilife.com/account/login#recover to reset password {% endcomment %}

{% assign block_name = 'customers' %}

{% render 'customers--hero', heading: template.name %}

<div class='{{ block_name }}__login'>
  {% render 'layout--container', state: 'open', col: 'col-12 col-lg-6 offset-lg-3' %}

    {% form 'reset_customer_password', class: 'form form--customers form--customers-reset-password' %}

      {{ form.errors | default_errors }}

      <div class='form__row intro rte'>
        <p>Enter a new password for your {{ email }} account.</p>
      </div>

      <div class='form__row'>
        <div class='form__field'>
          <input class='input input--border' type='password' value='' name='customer[password]' size='16' placeholder='Password' />
        </div>
      </div>

      <div class='form__row'>
        <div class='form__field'>
          <input class='input input--border' type='password' value='' name='customer[password_confirmation]' size='16' placeholder='Confirm Password' />
        </div>
      </div>

      <div class='form__row actions'>
        <button class='button button--outlined' type='submit'>Reset Password</button>
      </div>

    {% endform %}

  {% render 'layout--container', state: 'closed' %}
</div>
