<!doctype html>
<html>

  <head>

    <title>{{ page_title }}</title>

  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<meta name="author" content="Very Polite">
  	<meta http-equiv="Expires" content="7" />

    <!-- Cannoical URL -->
  	<link rel='canonical' href='{{ canonical_url }}'>

    <!-- Icons -->
    <link href='{{ "favicon.ico" | asset_url }}' type='image/x-icon' rel='shortcut icon' />
    <link href='{{ "apple-touch-icon.png" | asset_url }}' type='image/png' rel='apple-touch-icon'>

    <!-- DNS Prefetch -->
    <link rel="dns-prefetch" href='//www.google-analytics.com'>

    <!-- Preconnect -->
    <link rel='preconnect' href='https://fonts.googleapis.com' crossorigin>
    <link rel='preconnect' href='https://ajax.googleapis.com' crossorigin>
    <link rel='preconnect' href='https://cdn.shopify.com' crossorigin>
    <link rel='preconnect' href='https://v.shopify.com' crossorigin>

    <!-- Preload Scripts & Styles -->
    <link rel='preload' href='{{ 'main.css' | asset_url }}' as='style' onload="this.rel='stylesheet'">
    <link rel='preload' href='{{ 'PoliteDepartment.min.js' | asset_url }}' as='script'>

    <!-- Preload Fonts  -->
    {% render 'theme--preload-fonts' %}

    <!-- SEO -->
    {% assign enable_seo = true %}
    {% if enable_seo %}
      {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
      {% endif %}
      {% render 'theme--meta-tags' %}
    {% else %}
  		<meta name="robots" content="noindex, nofollow">
    {% endif %}

    <!-- Styles -->
    {{ 'main.css' | asset_url | stylesheet_tag }}

    <!-- Shopify Specific -->
    {% if template contains 'customer' %}
      {{ 'option_selection.js' | shopify_asset_url | script_tag }}
      {{ 'customer_area.js' | shopify_asset_url | script_tag }}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}

    <!-- Theme Scripts -->
    {% render 'theme--scripts' %}

    <!-- Google Analytics -->
    {% render 'theme--google-analytics' %}

    <!-- Conditional CSS -->
    {% render 'theme--conditional-css' %}

    <!-- Shopify Hooks for Plugins -->
    {{ content_for_header }}

    <!-- LOOX -->
	  {{ shop.metafields.loox["global_html_head"] }}

</head>

  <body class="{% render 'theme--classes' %} sticky-footer vc-d--03.04.2022">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PNJ9HJ3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

      <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PNJ9HJ3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% section 'theme--mobile-menu' %}

    <main class="{% render 'theme--classes' %}" role="main">

      {% section 'theme--header' %}

      {{ content_for_layout }}

    </main>

    {% section 'theme--footer' %}

    {% case template.name %}
      {% when 'product' %}
        {% render 'modal--subscription-details' %}
        {% render 'modal--notify-me' %}
    {% endcase %}

    <!-- Very Polite Scripts -->
    <script src='{{ "PoliteDepartment.min.js" | asset_url }}' async></script>

    <!-- LOOX -->
	  {{ shop.metafields.loox["global_html_body"] }}

</body>

</html>
