{% schema %}
	{
		"name": "404",
		"tag": "section",
		"class": "error-404",
		"settings": [
			{
				"content": "404",
				"type": "header"
			},
			{
				"content": "Add 404 settings here.",
				"type": "paragraph"
			}
    ],
    "blocks": []
  }
{% endschema %}
