{{ 'landing-page.css' | asset_url | stylesheet_tag }}
{{ 'newsletter-form.css' | asset_url | stylesheet_tag }}

<section class="section section--about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about--heading">
                    <h4>
                        <strong>
                            Learn About:
                        </strong>
                    </h4>
                </div>
                <div class="about--image">
                    {{ 'section_about_chart.jpg' | asset_url | img_tag: 'A Chart detailing our process' }}
                </div>
                <div class="about--image--mobile">
                    {{ 'section_about_chart_mobile.jpg' | asset_url | img_tag: 'A Chart detailing our process' }}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--block-centred">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ 'optimize_wordmark_dark.png' | asset_url | img_tag: 'Optimize' }}

                <div class="block-centred--message rte">
                    <h3>
                        Editorial Director Lisa Petty, PhD has curated a collection of research-supported strategies to
                        help
                        you amp up your immunity. In this issue:
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--fifty left">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-6">
                    {{ 'fifty_1_dark.png' | asset_url | img_tag: 'Man in woods with serene face'}}
                </div>
                <div class="col-6 text">
                    <div class="line">
                    </div>
                    <div class="fifty--message rte">
                        <h4>
                            <strong>
                                Paradox of the Immune System
                            </strong>
                        </h4>
                        <p>
                            Learn how the immune system protects us from cold and flu viruses, and how it lets us know
                            when it needs support. You’ll also discover research-supported strategies to amp up your
                            immunity.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--fifty right">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-6 text">
                    <div class="line">
                    </div>
                    <div class="fifty--message rte">
                        <h4>
                            Immunity and the </br> Body-Mind Connection
                        </h4>
                        <p>
                            Learn how emotions impact health (and vice versa).
                        </p>
                    </div>
                </div>
                <div class="col-6">
                    {{ 'fifty_2_dark.png' | asset_url | img_tag: 'Women doing yoga' }}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--fifty left">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-6">
                    {{ 'fifty_3_dark.png' | asset_url | img_tag: 'Mushroom powder and dried mushrooms' }}
                </div>
                <div class="col-6 text">
                    <div class="line">
                    </div>
                    <div class="fifty--message rte">
                        <h4>
                            Unlocking The Power of </br> Functional Mushrooms
                        </h4>
                        <p>
                            Research is explaining what traditional healers have known for centuries: Mushrooms just
                            might be the thing that keeps the doctor away. Learn how a variety of functional mushrooms
                            can support your immune system health.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--fifty right">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-6 text">
                    <div class="line">
                    </div>
                    <div class="fifty--message rte">
                        <h4>
                            Meet Dr. Lisa Petty
                        </h4>
                        <p>
                            Optimi’s line of functional mushrooms is designed to help you optimize your lifestyle with
                            high quality, natural, plant-based products.
                            </br>
                            </br>
                            Editorial Director Lisa Petty, PhD combines her nutrition expertise with a research
                            doctorate in
                            applied health sciences to bring you information about health and well-being you won’t find
                            anywhere else.
                        </p>
                    </div>
                </div>
                <div class="col-6">
                    {{ 'lisa_headshot_dark.png' | asset_url | img_tag: 'A headshot of Lisa Petty' }}
                </div>
            </div>
        </div>
    </div>
</section>

<div class="line">
</div>

<section id="signup" class="section section--form">
    <div class="klaviyo-form-TgdQJG"></div>
</section>