{{ 'privacy-page.css' | asset_url | stylesheet_tag }}

<section class="section section--privacy-policy">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Privacy policy</h1>
                <p data-mce-fragment="1">Last Updated: December 1, 2021<br></p>
                <p data-mce-fragment="1">The purpose of this Privacy Policy is to inform our customers and other
                    individuals who visit
                    our website (“you” or “your”) of how we collect, use, disclose, and protect personal information in
                    connection with
                    our online services (the “Services”), which are available to you through our website located at
                    optimilife.com (the
                    “Site”, “us”, “we” or “our”).</p>
                <h3 data-mce-fragment="1">YOUR CONSENT</h3>
                <p data-mce-fragment="1">By visiting our Site and/or using our Services, you are consenting to the
                    collection, use and
                    disclosure of your Personal Information in accordance with this Privacy Policy. You acknowledge and
                    agree that such
                    Personal Information may be transferred from your current location to our offices and servers. If
                    you have any
                    objections to this Privacy Policy, please do not use the Site.</p>
                <h3 data-mce-fragment="1">PERSONAL INFORMATION WE COLLECT</h3>
                <p data-mce-fragment="1">In this Privacy Policy,&nbsp; “Personal Information” collectively refers to
                    Personal
                    Information, Device Information, and Order Information.</p>
                <p data-mce-fragment="1">a. Personal Information</p>
                <p data-mce-fragment="1">For the purposes of this Privacy Policy, Personal Information means any
                    information that
                    identifies you, or by which your identity could be deduced. It does not include information that is
                    publicly
                    available, as defined in applicable laws.</p>
                <p data-mce-fragment="1">b. Device Information</p>
                <p data-mce-fragment="1">When you visit our Site, we automatically collect certain information about
                    your device,
                    including information about your web browser, IP address, the date and time of your visit, and some
                    of the cookies
                    that are installed on your device.</p>
                <p data-mce-fragment="1">As you browse the Site, we collect information about the individual web pages
                    or products that
                    you view, the features you use, how you interact with the Site, and what websites or search terms
                    referred you to
                    the Site.</p>
                <p data-mce-fragment="1">We refer to this automatically collected information as “Device Information”.
                </p>
                <p data-mce-fragment="1">We collect Device Information using the following technologies:</p>
                <ul data-mce-fragment="1">
                    <li data-mce-fragment="1">“Cookies”, which are data files that are placed on your device or computer
                        and often
                        include an anonymous unique identifier. For more information about cookies, and how to disable
                        cookies, visit <a href="http://www.allaboutcookies.org" data-mce-fragment="1"
                            data-mce-href="http://www.allaboutcookies.org">http://www.allaboutcookies.org</a>.</li>
                    <li data-mce-fragment="1">“Log files”, which track actions occurring on the Site, and collect data
                        including your IP
                        address, browser type, internet service provider, referring/exit pages, and date and time
                        stamps.</li>
                    <li data-mce-fragment="1">“Web beacons,” “tags,” and “pixels”, which are electronic files used to
                        record information
                        about how you browse the Site.</li>
                </ul>
                <p data-mce-fragment="1">c. Order Information</p>
                <p data-mce-fragment="1">When you make a purchase or attempt to make a purchase through the Site, we
                    collect certain
                    information from you, including your name, &nbsp;email address, phone number, billing address,
                    shipping address, and
                    credit card informationto complete and fulfill your order. However, your credit card information
                    will not be stored
                    on file for future use.</p>
                <p data-mce-fragment="1">We refer to the above information as “Order Information”.</p>
                <h3 data-mce-fragment="1">HOW WE USE YOUR PERSONAL INFORMATION</h3>
                <p data-mce-fragment="1">We may use the Personal Information we collect to:</p>
                <ul data-mce-fragment="1">
                    <li data-mce-fragment="1">Fulfill any orders placed through the Site, including processing your
                        payment information,
                        arranging for shipping, and providing you with invoices and/or order confirmations;</li>
                    <li data-mce-fragment="1">Communicate with you, including through tailored marketing messages and
                        transactional
                        emails about our products, services and related services;</li>
                    <li data-mce-fragment="1">Screen our orders for potential risk of fraud;</li>
                    <li data-mce-fragment="1">Improve and optimize our Site by generating analytics about how our
                        customers browse and
                        interact with the Site;</li>
                    <li data-mce-fragment="1">Assess the success of our marketing and advertising campaigns; and</li>
                    <li data-mce-fragment="1">Meet legal, regulatory, insurance, security and processing requirements.
                    </li>
                </ul>
                <h3 data-mce-fragment="1">SHARING YOUR PERSONAL INFORMATION</h3>
                <p data-mce-fragment="1">We may share your Personal Information with third parties to fulfill the
                    purposes identified in
                    this Privacy Policy, and for purposes related to providing our Services. Third-party platforms or
                    websites used for
                    the operation of our website may also collect, use, and disclose your Personal Information. While
                    some of these
                    third-party platforms may collect Personal Information on our behalf, including the information set
                    forth above,
                    they may also collect additional Personal Information about you or the devices that you use to
                    access the Site. We
                    do not control these third party platforms or websites and note that such third parties also have
                    their own privacy
                    policies that govern how they collect, use and disclose your Personal Information. Links to these
                    third party
                    privacy policies have been reproduced below.</p>
                <ul data-mce-fragment="1">
                    <li data-mce-fragment="1">Shopify, in respect of the Site’s ecommerce platforms: <a
                            href="https://www.shopify.com/legal/privacy" data-mce-fragment="1"
                            data-mce-href="https://www.shopify.com/legal/privacy">https://www.shopify.com/legal/privacy</a>
                    </li>
                    <li data-mce-fragment="1">Google Analytics, in respect of collecting statistics about the behaviour
                        of customers and
                        visitors to our Site: <a href="https://www.google.com/intl/en/policies/privacy/"
                            data-mce-fragment="1"
                            data-mce-href="https://www.google.com/intl/en/policies/privacy/">https://www.google.com/intl/en/policies/privacy/</a>.&nbsp;
                        You can also opt-out of Google Analytics here: <a
                            href="https://tools.google.com/dlpage/gaoptout" data-mce-fragment="1"
                            data-mce-href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>.
                    </li>
                    <li data-mce-fragment="1">Loox - <a href="https://loox.app/legal/privacy-policy-merchants"
                            data-mce-fragment="1"
                            data-mce-href="https://loox.app/legal/privacy-policy-merchants">https://loox.app/legal/privacy-policy-merchants</a>
                    </li>
                    <li data-mce-fragment="1">Recharge - <a href="https://rechargepayments.com/privacy-policy/"
                            data-mce-fragment="1"
                            data-mce-href="https://rechargepayments.com/privacy-policy/">https://rechargepayments.com/privacy-policy/</a>
                    </li>
                    <li data-mce-fragment="1">Klaviyo - <a href="https://www.klaviyo.com/legal/privacy-notice"
                            data-mce-fragment="1"
                            data-mce-href="https://www.klaviyo.com/legal/privacy-notice">https://www.klaviyo.com/legal/privacy-notice</a>
                    </li>
                    <li data-mce-fragment="1">eShipper - <a href="https://www.eshipper.com/privacy-policy/"
                            data-mce-fragment="1"
                            data-mce-href="https://www.eshipper.com/privacy-policy/">https://www.eshipper.com/privacy-policy/</a>
                    </li>
                </ul>
                <p data-mce-fragment="1">We encourage you to read these third party privacy policies, along with the
                    privacy policies of
                    any other third-party websites, plug-ins, services, social networks, or applications linked to or
                    made accessible
                    through our Sites.</p>
                <p data-mce-fragment="1">We may also share your Personal Information to comply with applicable laws and
                    related rules
                    and regulations, to respond to a lawful request for information we receive, or to otherwise protect
                    our rights.</p>
                <h3 data-mce-fragment="1">BEHAVIOURAL ADVERTISING</h3>
                <p data-mce-fragment="1">As described above, we use your Personal Information to provide you with
                    targeted
                    advertisements or marketing communications we believe may be of interest to you. For more
                    information about how
                    targeted advertising works, you can visit the Network Advertising Initiative’s (“NAI”) educational
                    page at <a
                        href="http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work"
                        data-mce-fragment="1"
                        data-mce-href="http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work">http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work</a>.
                </p>
                <p data-mce-fragment="1">We may allow others to provide analytics services and serve advertisements on
                    our behalf across
                    the web and in mobile applications. These entities may use cookies, web beacons, device identifiers,
                    and other
                    tracking technologies which collect information about your use of the Services and other websites
                    and applications.
                    This information may be used by us and others to, among other things, analyze and track data,
                    determine the
                    popularity of certain content, deliver advertising and content targeted to your interest on our
                    Services and other
                    websites, and better understand your online activity. For more information about interest-based ads,
                    or to opt out
                    of having your web browsing information used for behavioral advertising purposes, please visit <a
                        href="http://www.aboutads.info/choices" data-mce-fragment="1"
                        data-mce-href="http://www.aboutads.info/choices">www.aboutads.info/choices</a>. For
                    advertisements on any third
                    party platforms, please refer to the particular third party platform’s Privacy Policy to learn more
                    about your
                    choices.</p>
                <ul data-mce-fragment="1">
                    <li data-mce-fragment="1">Facebook -<a href="https://www.facebook.com/settings/?tab=ads"
                            data-mce-fragment="1" data-mce-href="https://www.facebook.com/settings/?tab=ads">
                            https://www.facebook.com/settings/?tab=ads</a>
                    </li>
                    <li data-mce-fragment="1">Google (Search, YouTube, etc.) - <a
                            href="https://www.google.com/settings/ads/anonymous" data-mce-fragment="1"
                            data-mce-href="https://www.google.com/settings/ads/anonymous">https://www.google.com/settings/ads/anonymous</a>
                    </li>
                    <li data-mce-fragment="1">Bing - <a
                            href="https://advertise.bingads.microsoft.com/en-us/resources/policies/personalized-ads"
                            data-mce-fragment="1"
                            data-mce-href="https://advertise.bingads.microsoft.com/en-us/resources/policies/personalized-ads">https://advertise.bingads.microsoft.com/en-us/resources/policies/personalized-ads</a>
                    </li>
                    <li data-mce-fragment="1">Stackadapt - <a href="https://www.stackadapt.com/privacy-policy"
                            data-mce-fragment="1"
                            data-mce-href="https://www.stackadapt.com/privacy-policy">https://www.stackadapt.com/privacy-policy</a>
                    </li>
                </ul>
                <p data-mce-fragment="1">Additionally, you can opt out of some of these services by visiting the Digital
                    Advertising
                    Alliance’s opt-out portal at: <a href="http://optout.aboutads.info/" data-mce-fragment="1"
                        data-mce-href="http://optout.aboutads.info/">http://optout.aboutads.info/</a>.</p>
                <h3 data-mce-fragment="1">DO NOT TRACK</h3>
                <p data-mce-fragment="1">Please note that we do not alter our Site’s data collection and use practices
                    when we see a Do
                    Not Track signal from your browser.&nbsp;</p>
                <h3 data-mce-fragment="1">YOUR RIGHTS</h3>
                <p data-mce-fragment="1">Subject to certain limited exceptions, you have the right to access your
                    Personal Information
                    held by us. You may require us to change, amend or delete Personal Information that you have
                    provided to us at any
                    time.</p>
                <p data-mce-fragment="1">If you wish to change, amend, or delete any of your Personal Information in our
                    custody or
                    control, you may contact us using the information below. You can also contact us to stop receiving
                    e-mails from us
                    or request a list of third parties to which we may have provided your Personal Information. We take
                    reasonable steps
                    to verify your identity before granting access, updating or making corrections, therefore we may
                    require you to
                    provide sufficient Personal Information to allow us to identify you (which Personal Information will
                    only be used
                    for this purpose).</p>
                <p data-mce-fragment="1">If you prefer that we not use or disclose your information for any of these
                    purposes or wish to
                    revoke your consent, you may notify us in writing at any time using the contact information below.
                    Note that a
                    request from you that we not use or disclose your personal information for certain purposes may
                    affect our ability
                    to provide you with products and/or services.</p>
                <p data-mce-fragment="1">If you are a European resident, you have the right to access personal
                    information we hold about
                    you and to ask that your personal information be corrected, updated, or deleted. If you would like
                    to exercise this
                    right, please contact us through the contact information below.</p>
                <p data-mce-fragment="1">Additionally, if you are a European resident, we note that we are processing
                    your information
                    in order to fulfill contracts we might have with you (for example, if you make an order through the
                    Site), or
                    otherwise to pursue our legitimate business interests listed above. Additionally, please note that
                    your information
                    will be transferred outside of Europe to Canada and the United States.</p>
                <h3 data-mce-fragment="1">DATA RETENTION</h3>
                <p data-mce-fragment="1">When you place an order through the Site, we will retain your Personal
                    Information in
                    accordance with applicable legal retention periods.</p>
                <h3 data-mce-fragment="1">PROTECTING YOUR INFORMATION</h3>
                <p data-mce-fragment="1">We use commercially reasonable efforts to protect the Personal Information in
                    our custody or
                    control from loss, theft, and unauthorized access, disclosure, alteration or destruction.&nbsp;</p>
                <p data-mce-fragment="1">However, please note that no security measures can offer absolute security. We
                    cannot guarantee
                    the security of our databases, nor can we guarantee that the information you supply will not be
                    intercepted while
                    being transmitted to and from us over the internet. In particular, e-mails sent to or from us may
                    not be secure, and
                    you should therefore take special care in deciding what information you send to us via e-mail.</p>
                <p data-mce-fragment="1">You also have a role in protecting the security of your information; for
                    example, you should
                    guard your password and not permit unauthorized use of your account.</p>
                <h3 data-mce-fragment="1">TRANSFER OF DATA</h3>
                <p data-mce-fragment="1">Your personal information may be transferred, processed and retained on
                    third-party servers in
                    countries outside of Canada, including the United States, and may therefore be subject to laws that
                    do not offer the
                    same degree of protection as Canadian laws. While we undertake to protect your personal information
                    when it is
                    transferred to other jurisdictions, the laws of other jurisdictions may require the disclosure of
                    your personal
                    information to governmental authorities under circumstances that are different than those that apply
                    in Canada and
                    are contemplated under this privacy policy.</p>
                <h3 data-mce-fragment="1">MINORS</h3>
                <p data-mce-fragment="1">The Site is not intended for use by individuals under the age of 19. We do not
                    knowingly
                    collect or use any personal information from any individuals under the age of 13. If we become aware
                    that we have
                    unknowingly collected personal information from an individual under the age of 13, we will make
                    commercially
                    reasonable efforts to delete such Personal Information from our database.</p>
                <h3 data-mce-fragment="1">CHANGES</h3>
                <p data-mce-fragment="1">This Privacy Policy is effective as of the last updated date above. We may
                    change our Privacy
                    Policy from time to time, and in our sole discretion, to reflect changes to our practices,
                    operational, legal or
                    regulatory reasons, or any such other purpose. We encourage visitors and users to frequently check
                    this page for any
                    changes to the Privacy Policy. Your continued use of this site after any change in this Privacy
                    Policy will
                    constitute your acceptance of such change.</p>
                <h3 data-mce-fragment="1">CONTACT US</h3>
                <p data-mce-fragment="1">For more information about our privacy practices, you may direct your
                    questions, comments, or
                    complaints&nbsp; to us by e-mail at <a href="mailto:hello@optimilife.com" data-mce-fragment="1"
                        data-mce-href="mailto:hello@optimilife.com">hello</a><a href="mailto:hello@optimilife.com"
                        data-mce-fragment="1" data-mce-href="mailto:hello@optimilife.com">@optimilife.com</a> or by mail
                    using the details provided below:</p>
                <p data-mce-fragment="1">330 – 1122 Mainland Street<br>Vancouver, BC<br>V6B 5L1</p>
                <p data-mce-fragment="1">If you are not satisfied with our response to your complaint, you have the
                    right to lodge your
                    complaint with the relevant data protection authority. You can contact your local data protection
                    authority, or our
                    supervisory authority here: <a href="https://www.oipc.bc.ca/" data-mce-fragment="1"
                        data-mce-href="https://www.oipc.bc.ca/">https://www.oipc.bc.ca/</a>.</p>
            </div>
        </div>
    </div>
</section>