{% render 'layout--flexible-content', section: section, template: 'index' %}

{% schema %}
	{
		"name": "Home",
		"class": "section section--index flexible-content flexible-content--index",
		"tag": "div",
		"settings": [
			{
				"content": "Splash Page",
				"type": "header"
			},
			{
  			"label": "Enable",
        "type": "checkbox",
        "default": false,
        "id": "splash-page--enable"
      }
    ],
    "blocks": [
      {
        "name": "Blog Feature",
        "type": "blog-feature",
        "limit": 1,
        "settings": [
          {
            "content": "Settings",
            "type": "header"
          },
          {
            "label": "Anchor",
            "info": "Optional field used for linking content within the same page. Anchor must be all lowercase, exclude special characters and white/blank spaces",
            "type": "text",
            "id": "anchor"
          },
          {
            "content": "Content",
            "type": "header"
          },
          {
            "label": "Heading",
            "info": "Overwrite the default blog title",
            "type": "text",
            "id": "heading"
          },
          {
            "label": "Message",
            "type": "richtext",
            "id": "message"
          },
          {
            "label": "Blog",
            "type": "blog",
            "id": "blog"
          }
        ]
      },
      {
        "name": "Collection Feature",
        "type": "collection-feature",
        "settings": [
          {
            "content": "Settings",
            "type": "header"
          },
          {
            "label": "Anchor",
            "info": "Optional field used for linking content within the same page. Anchor must be all lowercase, exclude special characters and white/blank spaces",
            "type": "text",
            "id": "anchor"
          },
          {
            "label": "Style",
            "type": "select",
            "options": [
              { "value": "carousel", "label": "Carousel" },
              { "value": "grid", "label": "Grid (Default)" }
            ],
            "default": "grid",
            "id": "style"
          },
          {
            "content": "Content",
            "type": "header"
          },
          {
            "label": "Heading",
            "info": "Optionally overwrite the default collection title",
            "type": "text",
            "id": "heading"
          },
          {
            "label": "Message",
            "info": "Optionally overwrite the default collection message",
            "type": "richtext",
            "id": "message"
          },
          {
            "label": "Collection",
            "type": "collection",
            "id": "collection"
          },
          {
            "label": "Product Limit",
            "type": "select",
            "options": [
              { "value": "3", "label": "3" },
              { "value": "5", "label": "5" }
            ],
            "default": "5",
            "id": "collection-product-limit"
          },
          {
            "content": "Call to Action",
            "type": "header"
          },
          {
            "label": "Enable",
            "type": "checkbox",
            "default": true,
            "id": "cta--enable"
          },
          {
            "label": "Title",
            "info": "Optionally overwrite the default call to action title",
            "type": "text",
            "id": "cta--title"
          }
        ]
      },
      {
        "name": "Fifty-Fifty",
        "type": "fifty-fifty",
        "settings": [
          {
            "content": "Settings",
            "type": "header"
          },
          {
            "label": "Anchor",
            "info": "Optional field used for linking content within the same page. Anchor must be all lowercase, exclude special characters and white/blank spaces",
            "type": "text",
            "id": "anchor"
          },
          {
            "label": "Style",
            "type": "select",
            "options": [
              { "value": "campaign", "label": "Campaign (Default)" },
              { "value": "education", "label": "Education" },
              { "value": "product", "label": "Product" }
            ],
            "default": "campaign",
            "id": "style"
          },
          {
            "label": "Layout",
            "type": "select",
            "options": [
              { "value": "media-left", "label": "Media Left (Default)" },
              { "value": "media-right", "label": "Media Right" }
            ],
            "default": "media-left",
            "id": "layout"
          },
          {
            "content": "Content",
            "type": "header"
          },
          {
            "label": "Heading",
            "type": "text",
            "id": "heading"
          },
          {
            "label": "Message",
            "type": "richtext",
            "id": "message"
          },
          {
            "content": "Call to Action",
            "type": "header"
          },
          {
            "label": "Title",
            "type": "text",
            "id": "cta--title"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "cta--url"
          },
          {
            "content": "Media",
            "type": "header"
          },
          {
            "label": "Include Border",
            "type": "checkbox",
            "default": true,
            "id": "include-border"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "image"
          }
        ]
      },
      {
        "name": "Full Width Feature",
        "type": "full-width-feature",
        "settings": [
          {
            "content": "Settings",
            "type": "header"
          },
          {
            "label": "Anchor",
            "info": "Optional field used for linking content within the same page. Anchor must be all lowercase, exclude special characters and white/blank spaces",
            "type": "text",
            "id": "anchor"
          },
          {
            "label": "Style",
            "type": "select",
            "options": [
              { "value": "full-bleed", "label": "Full Bleed (Default)" },
              { "value": "inset", "label": "Inset" }
            ],
            "default": "full-bleed",
            "id": "style"
          },
          {
            "content": "Content",
            "type": "header"
          },
          {
            "label": "Heading",
            "type": "text",
            "id": "heading"
          },
          {
            "label": "Message",
            "type": "richtext",
            "id": "message"
          },
          {
            "content": "Call to Action",
            "type": "header"
          },
          {
            "label": "Title",
            "type": "text",
            "id": "cta--title"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "cta--url"
          },
          {
            "content": "Media",
            "type": "header"
          },
          {
            "label": "Type",
            "type": "select",
            "options": [
              { "value": "image", "label": "Image" },
              { "value": "image-fixed", "label": "Image Fixed" },
              { "value": "vimeo", "label": "Vimeo" },
              { "value": "youtube", "label": "YouTube" }
            ],
            "default": "image",
            "id": "media-type"
          },
          {
            "content": "Media Type | Image",
            "type": "paragraph"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "image"
          },
          {
            "content": "Media Type | Embedded Video",
            "type": "paragraph"
          },
          {
            "label": "Embedded Video ID",
            "info": "Vimeo or YouTube",
            "type": "text",
            "id": "video-embed-id"
          },
          {
            "label": "Embedded Video Aspect Ratio",
            "type": "select",
            "options": [
              { "value": "4-3", "label": "4:3" },
              { "value": "16-9", "label": "16:9" },
              { "value": "16-10", "label": "16:10" },
              { "value": "21-9", "label": "21:9" }
            ],
            "default": "16-9",
            "id": "video-embed-aspect-ratio"
          }
        ]
      },
      {
        "name": "Instagram",
        "type": "instagram",
        "limit": 1,
        "settings": [
          {
            "content": "Settings",
            "type": "header"
          },
          {
            "content": "Content",
            "type": "header"
          },
          {
            "label": "Heading",
            "type": "text",
            "id": "heading"
          }
        ]
      },
      {
        "name": "Shop Guide",
        "type": "shop-guide",
        "settings": [
          {
            "content": "Settings",
            "type": "header"
          },
          {
            "label": "Anchor",
            "info": "Optional field used for linking content within the same page. Anchor must be all lowercase, exclude special characters and white/blank spaces",
            "type": "text",
            "id": "anchor"
          },
          {
            "content": "Content",
            "type": "header"
          },
          {
            "label": "Heading",
            "type": "text",
            "id": "heading"
          },
          {
            "label": "Message",
            "type": "richtext",
            "id": "message"
          },
          {
            "label": "Sample Product",
            "type": "image_picker",
            "id": "sample-product"
          },
          {
            "content": "Collections",
            "type": "header"
          },
          {
            "label": "01",
            "type": "collection",
            "id": "collection-01"
          },
          {
            "label": "02",
            "type": "collection",
            "id": "collection-02"
          },
          {
            "label": "03",
            "type": "collection",
            "id": "collection-03"
          },
          {
            "label": "04",
            "type": "collection",
            "id": "collection-04"
          }
        ]
      },
      {
        "name": "Image Feature",
        "type": "image-feature",
        "settings": [
          {
            "label": "Image",
            "type": "image_picker",
            "id": "image"
          },
          {
            "content": "Content",
            "type": "header"
          },
          {
            "label": "Heading",
            "type": "textarea",
            "id": "heading"
          },
          {
            "label": "Message",
            "type": "richtext",
            "id": "message"
          },
          {
            "content": "Call to Action",
            "type": "header"
          },
          {
            "label": "Title",
            "type": "text",
            "id": "cta--title"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "cta--link"
          }
        ]
      },
      {
        "name": "Image",
        "type": "image",
        "limit": 3,
        "settings": [
          {
            "label": "Image",
            "type": "image_picker",
            "id": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
