{{ 'landing-page.css' | asset_url | stylesheet_tag }}

<section class="section section--about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about--heading">
                    <h4>
                        <strong>
                            Learn About:
                        </strong>
                    </h4>
                </div>
                <div class="about--image">
                    {{ 'section_about_chart.jpg' | asset_url | img_tag: 'A Chart detailing our process' }}
                </div>
                <div class="about--image--mobile">
                    {{ 'section_about_chart_mobile.jpg' | asset_url | img_tag: 'A Chart detailing our process' }}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--block-centred">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ 'optimize_wordmark_dark.png' | asset_url | img_tag: 'Optimize' }}

                <div class="block-centred--message rte">
                    <h3>
                        Editorial Director Lisa Petty, PhD has curated a collection of research-supported strategies to
                        help
                        you amp up your immunity. In this issue:
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--fifty left">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-6">
                    {{ 'fifty_1_dark.png' | asset_url | img_tag: 'Man in woods with serene face'}}
                </div>
                <div class="col-6 text">
                    <div class="line">
                    </div>
                    <div class="fifty--message rte">
                        <h4>
                            <strong>
                                Paradox of the Immune System
                            </strong>
                        </h4>
                        <p>
                            Learn how the immune system protects us from cold and flu viruses, and how it lets us know
                            when it needs support. You’ll also discover research-supported strategies to amp up your
                            immunity.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--fifty right">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-6 text">
                    <div class="line">
                    </div>
                    <div class="fifty--message rte">
                        <h4>
                            Immunity and the </br> Body-Mind Connection
                        </h4>
                        <p>
                            Learn how emotions impact health (and vice versa).
                        </p>
                    </div>
                </div>
                <div class="col-6">
                    {{ 'fifty_2_dark.png' | asset_url | img_tag: 'Women doing yoga' }}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--fifty left">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-6">
                    {{ 'fifty_3_dark.png' | asset_url | img_tag: 'Mushroom powder and dried mushrooms' }}
                </div>
                <div class="col-6 text">
                    <div class="line">
                    </div>
                    <div class="fifty--message rte">
                        <h4>
                            Unlocking The Power of </br> Functional Mushrooms
                        </h4>
                        <p>
                            Research is explaining what traditional healers have known for centuries: Mushrooms just
                            might be the thing that keeps the doctor away. Learn how a variety of functional mushrooms
                            can support your immune system health.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--fifty right">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-6 text">
                    <div class="line">
                    </div>
                    <div class="fifty--message rte">
                        <h4>
                            Meet Dr. Lisa Petty
                        </h4>
                        <p>
                            Optimi’s line of functional mushrooms is designed to help you optimize your lifestyle with
                            high quality, natural, plant-based products.
                            </br>
                            </br>
                            Editorial Director Lisa Petty, PhD combines her nutrition expertise with a research
                            doctorate in
                            applied health sciences to bring you information about health and well-being you won’t find
                            anywhere else.
                        </p>
                    </div>
                </div>
                <div class="col-6">
                    {{ 'lisa_headshot_dark.png' | asset_url | img_tag: 'A headshot of Lisa Petty' }}
                </div>
            </div>
        </div>
    </div>
</section>

<div class="line">
</div>

{% form 'contact' %}
{{ form.errors | default_errors }}
<section class="section section--form">
    <h2>
        Get Your Comprehensive Guide to Beating Cold + Flu Season, the Natural Way
    </h2>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form>
                    <div class="col-12">
                        <h3>
                            Share your email address to get instant access!
                        </h3>
                        <div class="form-input--container">
                            <input type="text" placeholder="Name*" required name="contact[name]" />
                            <input type="email" placeholder="Email*" required name="contact[email]">
                            <input type="text" placeholder="City (Optional)" required name="contact[city]">
                        </div>
                    </div>
                    <div class="col-12">
                        <h3>
                            Do you currently take any mushroom supplements? (optional)
                        </h3>
                        <select name="contact[do_you_take]">
                            <option>
                                Yes/No
                            </option>
                            <option name="yes" value="yes">
                                Yes
                            </option>
                            <option name="no" value="yes">
                                No
                            </option>
                        </select>
                    </div>
                    <div class="col-12">
                        <h3>
                            Tell us all the reasons you might consider using functional mushrooms. Choose all that apply
                            (optional):
                        </h3>
                        <div class="message--hidden">
                            <input type="text" name="contact[body]" value="Tell us all the reasons you might consider using functional mushrooms - pick all that apply
                                (optional):">
                        </div>
                        <div class="form-checkbox--wrapper">
                            <div class="form-checkbox--container">
                                <input type="checkbox" id="immune_sytem_health" name="contact[immune_system_health]"
                                    value="immune_system_health">
                                <label for="immune_sytem_health">
                                    Immune System Health
                                </label>
                            </div>
                            <div class="form-checkbox--container">
                                <input type="checkbox" id="stress_support" name="contact[stress_support"
                                    value="stress_support">
                                <label for="stress_support">
                                    Stress Support
                                </label>
                            </div>
                            <div class="form-checkbox--container">
                                <input type="checkbox" id="stress_support" name="contact[cog_memory" value="cog_memory">
                                <label for="cog_memory">
                                    Cognition + Memory
                                </label>
                            </div>
                            <div class="form-checkbox--container">
                                <input type="checkbox" id="healthy_aging" name="contact[healthy_aging]"
                                    value="healthy_aging">
                                <label for="healthy_aging">
                                    Healthy Aging
                                </label>
                            </div>
                            <div class="form-checkbox--container">
                                <input type="checkbox" id="metabolic_health" name="contact[metabolic_health]"
                                    value="metabolic_health">
                                <label for="metabolic_health">
                                    Metabolic Health
                                </label>
                            </div>
                            <div class="form-checkbox--container">
                                <input type="checkbox" id="endurance" name="contact[endurance]" value="endurance">
                                <label for="endurance">
                                    Endurance
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-radio--container">
                            <input required type="radio" id="tnc" name="contact[tnc]" value="tnc">
                            <label for="tnc">
                                *By providing your personal contact information, you agree to be
                                contacted by and/or receive marketing communication from or on
                                behalf of Optimi Life through email.
                            </label>
                        </div>
                    </div>
                    <div class="col-12" style="text-align:center;">
                        <input type="hidden" name="return_to" value="/pages/thank-you">
                        <input type="submit" value="Get My Guide">
                        </input>
                    </div>
                </form>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
</section>

{% endform %}