{% assign block_name = 'contact-us' %}

{% assign address_1 = shop.address.address1 | default: false %}
{% assign address_2 = shop.address.address2 | default: false %}
{% assign address_city = shop.address.city | default: false %}
{% assign address_company = shop.address.company | default: false %}
{% assign address_country = shop.address.country | default: false %}
{% assign address_province_code = shop.address.province_code | default: false %}
{% assign address_zip = shop.address.zip | default: false %}

{% assign email = settings.contact--email | default: shop.email %}
{% assign menu = section.settings.menu | default: false %}
{% assign phone = settings.contact--phone | default: shop.phone %}

<div class='{{ block_name }}__hero hero hero--page'>
  {% render 'layout--container', col: 'col-12', state: 'open' %}
		<h1 class='{{ block_name }}__heading {{ block_name }}__heading--page-title heading heading--600 lowercase '>{{ page.title }}</h1>
	{% render 'layout--container', state: 'closed' %}
</div>

<div class='{{ block_name }}__body'>
  {% render 'layout--container', col: 'col-12', state: 'open' %}
    <div class='row row--inner'>
      <div class='col-12 col-lg-8'>
        {% render 'form--contact-us' %}
      </div>
      <div class='col-12 col-lg-4'>

        <div class='{{ block_name }}__address'>
          <p>{% if address_2 %}{{ address_2 }}–{% endif %}{{ address_1 }}</p>
          <p>{{ address_city }}, {{ address_province_code }} {{ address_zip }}</p>
        </div>

        <div class='{{ block_name }}__info'>
          <p><span>Phone:</span> <a class='link link--secondary' href='tel:{{ phone }}' target='_self'>{{ phone }}</a></p>
          <p><span>Email:</span> <a class='link link--primary' href='mailto:{{ email }}' target='_self'>{{ email }}</a></p>
        </div>

        {% if menu %}
          <nav class='{{ block_name }}__navigation navigation'>
            {% render 'content--navigation', menu_handle: menu %}
          </nav>
        {% endif %}

      </div>
    </div>
	{% render 'layout--container', state: 'closed' %}
</div>

{% render 'layout--flexible-content', section: section, template: 'shop' %}

{% schema %}
	{
		"name": "Contact Us",
		"class": "section section--contact-us flexible-content",
		"tag": "div",
		"settings": [
      {
				"content": "Contact Info",
				"type": "header"
			},
      {
        "label": "Menu",
        "type": "link_list",
        "id": "menu"
      }
    ],
    "blocks": [
      {
        "name": "Instagram",
        "type": "instagram",
        "limit": 1,
        "settings": [
          {
            "content": "Settings",
            "type": "header"
          },
          {
            "content": "Content",
            "type": "header"
          },
          {
            "label": "Heading",
            "type": "text",
            "id": "heading"
          }
        ]
      }
    ]
  }
{% endschema %}
