{{ 'thank-you-page.css' | asset_url | stylesheet_tag }}

<section class="section section--privacy-policy">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>get ready to optimize your immunity</h1>
        <h3>Your guide to beating winter and cold + flu season naturally is on its way.</h3>
        <h3>Check your email for the link to download.</h3>
      </div>
    </div>
  </div>
</section>

{% schema %}
	{
		"name": "Thank You",
		"class": "section section--thank-you thank-you",
		"tag": "div",
		"settings": [],
    "blocks": []
  }
{% endschema %}
