{% render 'layout--flexible-content', section: section, template: 'shop' %}

{% schema %}
	{
		"name": "Shop",
		"class": "section section--shop flexible-content flexible-content--shop",
		"tag": "div",
		"settings": [],
    "blocks": [
      {
        "name": "Collection Feature",
        "type": "collection-feature",
        "settings": [
          {
            "content": "Settings",
            "type": "header"
          },
          {
            "label": "Anchor",
            "info": "Optional field used for linking content within the same page. Anchor must be all lowercase, exclude special characters and white/blank spaces",
            "type": "text",
            "id": "anchor"
          },
          {
            "label": "Style",
            "type": "select",
            "options": [
              { "value": "carousel", "label": "Carousel" },
              { "value": "grid", "label": "Grid (Default)" }
            ],
            "default": "grid",
            "id": "style"
          },
          {
            "content": "Content",
            "type": "header"
          },
          {
            "label": "Heading",
            "info": "Optionally overwrite the default collection title",
            "type": "text",
            "id": "heading"
          },
          {
            "label": "Message",
            "info": "Optionally overwrite the default collection message",
            "type": "richtext",
            "id": "message"
          },
          {
            "label": "Collection",
            "type": "collection",
            "id": "collection"
          },
          {
            "label": "Product Limit",
            "type": "select",
            "options": [
              { "value": "3", "label": "3" },
              { "value": "5", "label": "5" }
            ],
            "default": "5",
            "id": "collection-product-limit"
          },
          {
            "content": "Call to Action",
            "type": "header"
          },
          {
            "label": "Enable",
            "type": "checkbox",
            "default": true,
            "id": "cta--enable"
          },
          {
            "label": "Title",
            "info": "Optionally overwrite the default call to action title",
            "type": "text",
            "id": "cta--title"
          }
        ]
      },
      {
        "name": "Full Width Feature",
        "type": "full-width-feature",
        "settings": [
          {
            "content": "Settings",
            "type": "header"
          },
          {
            "label": "Anchor",
            "info": "Optional field used for linking content within the same page. Anchor must be all lowercase, exclude special characters and white/blank spaces",
            "type": "text",
            "id": "anchor"
          },
          {
            "label": "Style",
            "type": "select",
            "options": [
              { "value": "full-bleed", "label": "Full Bleed (Default)" },
              { "value": "inset", "label": "Inset" }
            ],
            "default": "full-bleed",
            "id": "style"
          },
          {
            "content": "Content",
            "type": "header"
          },
          {
            "label": "Heading",
            "type": "text",
            "id": "heading"
          },
          {
            "label": "Message",
            "type": "richtext",
            "id": "message"
          },
          {
            "content": "Call to Action",
            "type": "header"
          },
          {
            "label": "Title",
            "type": "text",
            "id": "cta--title"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "cta--url"
          },
          {
            "content": "Media",
            "type": "header"
          },
          {
            "label": "Type",
            "type": "select",
            "options": [
              { "value": "image", "label": "Image" },
              { "value": "image-fixed", "label": "Image Fixed" },
              { "value": "vimeo", "label": "Vimeo" },
              { "value": "youtube", "label": "YouTube" }
            ],
            "default": "image",
            "id": "media-type"
          },
          {
            "content": "Media Type | Image",
            "type": "paragraph"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "image"
          },
          {
            "content": "Media Type | Embedded Video",
            "type": "paragraph"
          },
          {
            "label": "Embedded Video ID",
            "info": "Vimeo or YouTube",
            "type": "text",
            "id": "video-embed-id"
          },
          {
            "label": "Embedded Video Aspect Ratio",
            "type": "select",
            "options": [
              { "value": "4-3", "label": "4:3" },
              { "value": "16-9", "label": "16:9" },
              { "value": "16-10", "label": "16:10" },
              { "value": "21-9", "label": "21:9" }
            ],
            "default": "16-9",
            "id": "video-embed-aspect-ratio"
          }
        ]
      }
    ]
  }
{% endschema %}
