{% render 'layout--flexible-content', section: section, template: 'learn' %}

{% schema %}
	{
		"name": "Learn",
		"class": "section section--learn flexible-content flexible-content--learn",
		"tag": "div",
		"settings": [],
    "blocks": [
      {
        "name": "Campaign Gallery",
        "type": "campaign-gallery",
        "settings": [
          {
            "content": "Settings",
            "type": "header"
          },
          {
            "label": "Anchor",
            "info": "Optional field used for linking content within the same page. Anchor must be all lowercase, exclude special characters and white/blank spaces",
            "type": "text",
            "id": "anchor"
          },
          {
            "content": "Content",
            "type": "header"
          },
          {
            "content": "Slide 01",
            "type": "paragraph"
          },
          {
            "label": "Heading 01",
            "type": "text",
            "id": "heading-01"
          },
          {
            "label": "Image 01",
            "type": "image_picker",
            "id": "image-01"
          },
          {
            "content": "Slide 02",
            "type": "paragraph"
          },
          {
            "label": "Heading 02",
            "type": "text",
            "id": "heading-02"
          },
          {
            "label": "Image 02",
            "type": "image_picker",
            "id": "image-02"
          },
          {
            "content": "Slide 03",
            "type": "paragraph"
          },
          {
            "label": "Heading 03",
            "type": "text",
            "id": "heading-03"
          },
          {
            "label": "Image 03",
            "type": "image_picker",
            "id": "image-03"
          },
          {
            "content": "Slide 04",
            "type": "paragraph"
          },
          {
            "label": "Heading 04",
            "type": "text",
            "id": "heading-04"
          },
          {
            "label": "Image 04",
            "type": "image_picker",
            "id": "image-04"
          },
          {
            "content": "Slide 05",
            "type": "paragraph"
          },
          {
            "label": "Heading 05",
            "type": "text",
            "id": "heading-05"
          },
          {
            "label": "Image 05",
            "type": "image_picker",
            "id": "image-05"
          }
        ]
      },
      {
        "name": "Collection Feature",
        "type": "collection-feature",
        "settings": [
          {
            "content": "Settings",
            "type": "header"
          },
          {
            "label": "Anchor",
            "info": "Optional field used for linking content within the same page. Anchor must be all lowercase, exclude special characters and white/blank spaces",
            "type": "text",
            "id": "anchor"
          },
          {
            "label": "Style",
            "type": "select",
            "options": [
              { "value": "carousel", "label": "Carousel" },
              { "value": "grid", "label": "Grid (Default)" }
            ],
            "default": "grid",
            "id": "style"
          },
          {
            "content": "Content",
            "type": "header"
          },
          {
            "label": "Heading",
            "info": "Optionally overwrite the default collection title",
            "type": "text",
            "id": "heading"
          },
          {
            "label": "Message",
            "info": "Optionally overwrite the default collection message",
            "type": "richtext",
            "id": "message"
          },
          {
            "label": "Collection",
            "type": "collection",
            "id": "collection"
          },
          {
            "label": "Product Limit",
            "type": "select",
            "options": [
              { "value": "3", "label": "3" },
              { "value": "5", "label": "5" }
            ],
            "default": "5",
            "id": "collection-product-limit"
          },
          {
            "content": "Call to Action",
            "type": "header"
          },
          {
            "label": "Enable",
            "type": "checkbox",
            "default": true,
            "id": "cta--enable"
          },
          {
            "label": "Title",
            "info": "Optionally overwrite the default call to action title",
            "type": "text",
            "id": "cta--title"
          }
        ]
      },
      {
        "name": "Education Feature",
        "type": "education-feature",
        "settings": [
          {
            "content": "Settings",
            "type": "header"
          },
          {
            "label": "Anchor",
            "info": "Optional field used for linking content within the same page. Anchor must be all lowercase, exclude special characters and white/blank spaces",
            "type": "text",
            "id": "anchor"
          },
          {
            "content": "Content",
            "type": "header"
          },
          {
            "label": "Message",
            "type": "richtext",
            "id": "message"
          },
          {
            "label": "HTML",
            "type": "html",
            "id": "html"
          },
          {
            "content": "Call to Action",
            "type": "header"
          },
          {
            "label": "Title",
            "type": "text",
            "id": "cta--title"
          },
          {
            "label": "Link",
            "type": "text",
            "id": "cta--link"
          },
          {
            "content": "Media",
            "type": "header"
          },
          {
            "label": "Figure 01",
            "type": "image_picker",
            "id": "figure-01"
          },
          {
            "label": "Figure 02",
            "type": "image_picker",
            "id": "figure-02"
          },
          {
            "label": "Figure 03",
            "type": "image_picker",
            "id": "figure-03"
          }
        ]
      },
      {
        "name": "Fifty-Fifty",
        "type": "fifty-fifty",
        "settings": [
          {
            "content": "Settings",
            "type": "header"
          },
          {
            "label": "Anchor",
            "info": "Optional field used for linking content within the same page. Anchor must be all lowercase, exclude special characters and white/blank spaces",
            "type": "text",
            "id": "anchor"
          },
          {
            "label": "Style",
            "type": "select",
            "options": [
              { "value": "campaign", "label": "Campaign (Default)" },
              { "value": "education", "label": "Education" },
              { "value": "product", "label": "Product" }
            ],
            "default": "campaign",
            "id": "style"
          },
          {
            "label": "Layout",
            "type": "select",
            "options": [
              { "value": "media-left", "label": "Media Left (Default)" },
              { "value": "media-right", "label": "Media Right" }
            ],
            "default": "media-left",
            "id": "layout"
          },
          {
            "content": "Content",
            "type": "header"
          },
          {
            "label": "Heading",
            "type": "text",
            "id": "heading"
          },
          {
            "label": "Message",
            "type": "richtext",
            "id": "message"
          },
          {
            "content": "Call to Action",
            "type": "header"
          },
          {
            "label": "Title",
            "type": "text",
            "id": "cta--title"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "cta--url"
          },
          {
            "content": "Media",
            "type": "header"
          },
          {
            "label": "Include Border",
            "type": "checkbox",
            "default": true,
            "id": "include-border"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "image"
          }
        ]
      },
      {
        "name": "Full Width Feature",
        "type": "full-width-feature",
        "settings": [
          {
            "content": "Settings",
            "type": "header"
          },
          {
            "label": "Anchor",
            "info": "Optional field used for linking content within the same page. Anchor must be all lowercase, exclude special characters and white/blank spaces",
            "type": "text",
            "id": "anchor"
          },
          {
            "label": "Style",
            "type": "select",
            "options": [
              { "value": "full-bleed", "label": "Full Bleed (Default)" },
              { "value": "inset", "label": "Inset" }
            ],
            "default": "full-bleed",
            "id": "style"
          },
          {
            "content": "Content",
            "type": "header"
          },
          {
            "label": "Heading",
            "type": "text",
            "id": "heading"
          },
          {
            "label": "Message",
            "type": "richtext",
            "id": "message"
          },
          {
            "content": "Call to Action",
            "type": "header"
          },
          {
            "label": "Title",
            "type": "text",
            "id": "cta--title"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "cta--url"
          },
          {
            "content": "Media",
            "type": "header"
          },
          {
            "label": "Type",
            "type": "select",
            "options": [
              { "value": "image", "label": "Image" },
              { "value": "image-fixed", "label": "Image Fixed" },
              { "value": "vimeo", "label": "Vimeo" },
              { "value": "youtube", "label": "YouTube" }
            ],
            "default": "image",
            "id": "media-type"
          },
          {
            "content": "Media Type | Image",
            "type": "paragraph"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "image"
          },
          {
            "content": "Media Type | Embedded Video",
            "type": "paragraph"
          },
          {
            "label": "Embedded Video ID",
            "info": "Vimeo or YouTube",
            "type": "text",
            "id": "video-embed-id"
          },
          {
            "label": "Embedded Video Aspect Ratio",
            "type": "select",
            "options": [
              { "value": "4-3", "label": "4:3" },
              { "value": "16-9", "label": "16:9" },
              { "value": "16-10", "label": "16:10" },
              { "value": "21-9", "label": "21:9" }
            ],
            "default": "16-9",
            "id": "video-embed-aspect-ratio"
          }
        ]
      },
      {
        "name": "Instagram",
        "type": "instagram",
        "limit": 1,
        "settings": [
          {
            "content": "Settings",
            "type": "header"
          },
          {
            "label": "Anchor",
            "info": "Optional field used for linking content within the same page. Anchor must be all lowercase, exclude special characters and white/blank spaces",
            "type": "text",
            "id": "anchor"
          },
          {
            "content": "Content",
            "type": "header"
          },
          {
            "label": "Heading",
            "type": "text",
            "id": "heading"
          }
        ]
      },
      {
        "name": "Product Knowledge",
        "type": "product-knowledge",
        "limit": 1,
        "settings": [
          {
            "content": "Settings",
            "type": "header"
          },
          {
            "label": "Anchor",
            "info": "Optional field used for linking content within the same page. Anchor must be all lowercase, exclude special characters and white/blank spaces",
            "type": "text",
            "id": "anchor"
          },
          {
            "content": "Content",
            "type": "header"
          },
          {
            "label": "Heading",
            "type": "text",
            "id": "heading"
          },
          {
            "label": "Message",
            "type": "richtext",
            "id": "message"
          },
          {
            "content": "Call to Action 01",
            "type": "paragraph"
          },
          {
            "label": "Hover Colour",
            "type": "color",
            "id": "hover-colour-01",
            "default": "#454142"
          },
          {
            "label": "Title",
            "type": "text",
            "id": "cta-title-01"
          },
          {
            "label": "URL",
            "type": "url",
            "id": "cta-url-01"
          },
          {
            "content": "Call to Action 02",
            "type": "paragraph"
          },
          {
            "label": "Hover Colour",
            "type": "color",
            "id": "hover-colour-02",
            "default": "#454142"
          },
          {
            "label": "Title",
            "type": "text",
            "id": "cta-title-02"
          },
          {
            "label": "URL",
            "type": "url",
            "id": "cta-url-02"
          },
          {
            "content": "Call to Action 03",
            "type": "paragraph"
          },
          {
            "label": "Hover Colour",
            "type": "color",
            "id": "hover-colour-03",
            "default": "#454142"
          },
          {
            "label": "Title",
            "type": "text",
            "id": "cta-title-03"
          },
          {
            "label": "URL",
            "type": "url",
            "id": "cta-url-03"
          },
          {
            "content": "Call to Action 04",
            "type": "paragraph"
          },
          {
            "label": "Title",
            "type": "text",
            "id": "cta-title-04"
          },
          {
            "label": "Hover Colour",
            "type": "color",
            "id": "hover-colour-04",
            "default": "#454142"
          },
          {
            "label": "URL",
            "type": "url",
            "id": "cta-url-04"
          },
          {
            "content": "Media",
            "type": "header"
          },
          {
            "content": "Supporting",
            "type": "paragraph"
          },
          {
            "label": "Image 01",
            "type": "image_picker",
            "id": "supporting-image-01"
          },
          {
            "label": "Image 02",
            "type": "image_picker",
            "id": "supporting-image-02"
          },
          {
            "label": "Image 03",
            "type": "image_picker",
            "id": "supporting-image-03"
          },
          {
            "label": "Image 04",
            "type": "image_picker",
            "id": "supporting-image-04"
          },
          {
            "label": "Image 05",
            "type": "image_picker",
            "id": "supporting-image-05"
          }
        ]
      },
      {
        "name": "Show & Tell",
        "type": "show-and-tell",
        "limit": 1,
        "settings": [
          {
            "content": "Settings",
            "type": "header"
          },
          {
            "label": "Anchor",
            "info": "Optional field used for linking content within the same page. Anchor must be all lowercase, exclude special characters and white/blank spaces",
            "type": "text",
            "id": "anchor"
          },
          {
            "content": "Content",
            "type": "header"
          },
          {
            "label": "Heading",
            "type": "text",
            "id": "heading"
          },
          {
            "label": "Message",
            "type": "richtext",
            "id": "message"
          },
          {
            "content": "Products",
            "type": "header"
          },
          {
            "content": "Item 01",
            "type": "paragraph"
          },
          {
            "label": "Title",
            "type": "text",
            "id": "title-01"
          },
          {
            "label": "Tagline",
            "type": "text",
            "id": "tagline-01"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "image-01"
          },
          {
            "label": "Product",
            "type": "product",
            "id": "product-01"
          },
          {
            "content": "Item 02",
            "type": "paragraph"
          },
          {
            "label": "Title",
            "type": "text",
            "id": "title-02"
          },
          {
            "label": "Tagline",
            "type": "text",
            "id": "tagline-02"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "image-02"
          },
          {
            "label": "Product",
            "type": "product",
            "id": "product-02"
          },
          {
            "content": "Item 03",
            "type": "paragraph"
          },
          {
            "label": "Title",
            "type": "text",
            "id": "title-03"
          },
          {
            "label": "Tagline",
            "type": "text",
            "id": "tagline-03"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "image-03"
          },
          {
            "label": "Product",
            "type": "product",
            "id": "product-03"
          },
          {
            "content": "Item 04",
            "type": "paragraph"
          },
          {
            "label": "Title",
            "type": "text",
            "id": "title-04"
          },
          {
            "label": "Tagline",
            "type": "text",
            "id": "tagline-04"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "image-04"
          },
          {
            "label": "Product",
            "type": "product",
            "id": "product-04"
          },
          {
            "content": "Item 05",
            "type": "paragraph"
          },
          {
            "label": "Title",
            "type": "text",
            "id": "title-05"
          },
          {
            "label": "Tagline",
            "type": "text",
            "id": "tagline-05"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "image-05"
          },
          {
            "label": "Product",
            "type": "product",
            "id": "product-05"
          }
        ]
      },
      {
        "name": "WYSIWYG",
        "type": "wysiwyg",
        "settings": [
          {
            "content": "Settings",
            "type": "header"
          },
          {
            "label": "Anchor",
            "info": "Optional field used for linking content within the same page. Anchor must be all lowercase, exclude special characters and white/blank spaces",
            "type": "text",
            "id": "anchor"
          },
          {
            "content": "Content",
            "type": "header"
          },
          {
            "label": "Message",
            "type": "richtext",
            "id": "message"
          }
        ]
      }
    ]
  }
{% endschema %}
