{% assign block_name = 'mobile-menu' %}
{% assign navigation = section.blocks | where: "type", "navigation" %}
{% assign subnavigation = section.blocks | where: "type", "subnavigation" %}

<div class="{{ block_name }}__main">
  <div class="{{ block_name }}__content">

    <nav class="navigation">
      {% for item in navigation %}
        {% render 'content--navigation-item', index: forloop.index, item: item, subnavigation: subnavigation, subnavigation_collapsible: true %}
      {% endfor %}
    </nav>

  </div>
</div>

{% schema %}
	{
		"name": "Mobile Menu",
		"tag": "div",
		"class": "mobile-menu",
		"settings": [],
    "blocks": [
      {
        "name": "Navigation",
        "type": "navigation",
        "settings": [
          {
            "label": "Title",
            "type": "text",
            "id": "title"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "url"
          }
        ]
      },
      {
        "name": "Subnavigation",
        "type": "subnavigation",
        "settings": [
          {
            "label": "Heading",
            "type": "text",
            "id": "heading"
          },
          {
            "label": "Parent Link",
            "info": "Choose the same navigation link that you'd like to nest this subnavigation under.",
            "type": "url",
            "id": "parent-url"
          },
          {
            "label": "Type",
            "type": "select",
            "options": [
              { "value": "menu", "label": "Menu" },
              { "value": "spotlight", "label": "Spotlight" }
            ],
            "default": "menu",
            "id": "type"
          },
          {
            "label": "Spotlight Title",
            "type": "text",
            "id": "spotlight-title"
          },
          {
            "label": "Spotlight Link",
            "type": "url",
            "id": "spotlight-url"
          },
          {
            "label": "Menu",
            "type": "link_list",
            "id": "menu"
          }
        ]
      }
    ]
  }
{% endschema %}
