{% assign block_name = 'footer' %}
{% assign heading = 'website coming soon' %}
{% assign message = 'Functional mushrooms that optimize your whole body and mind.' %}
{% assign phone = settings.contact--phone | default: shop.phone %}
{% assign email = settings.contact--email | default: shop.email %}
{% assign menu_policies = section.settings.menu--policies | default: false %}
{% assign navigation = section.blocks | where: "type", "navigation" %}
{% assign page_template = page.template_suffix | default: 'not-page' %}

<div class="{{ block_name }}__main">

  {% case page_template %}

      {% comment %}
        //////////////////////////////////////////////////////////
        ////  Lead Gen, Lead Gen Thank You, Privacy Policy
        //////////////////////////////////////////////////////////
      {% endcomment %}

      {% when 'landing-lead-gen', 'privacy-lead-gen', 'thank-you' %}

        <div class="footer--landing">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h5>Stay in touch:</h5>
              </div>
              <div class="footer--landing--contact">
                <p>contact</p>
                <a href="mailto:hello@optimilife.com" target="_blank">hello@optimilife.com</a>
              </div>
              <div class="footer--landing--social">
                <p>social</p>
                <a href="https://www.instagram.com/optimi_life/" target="_blank">instagram</a>
              </div>
              <div class="footer--landing--logo">{{ 'optimi_logo_dark.png' | asset_url | img_tag : 'Optimi Logo'}}</div>
              <div class="col-12 subfooter">
                <p>© 2021 Optimi Health Inc.</p>
                <a href="#">Terms & Conditions</a>
                <a href="/pages/privacy-policy">Privacy Policy</a>
              </div>
            </div>
          </div>
        </div>

      {% else %}

        {% comment %}
          //////////////////////////////////////////////////////////
          ////  Default
          //////////////////////////////////////////////////////////
        {% endcomment %}

        {% render 'layout--container', state: 'open', container: 'container-fluid' %}

          {% render 'layout--hr' %}

          <div class="{{ block_name }}__newsletter newsletter" id="signup">
            <h2 class="{{ block_name }}__heading heading heading--600 lowercase heading--newsletter">Sign up for our newsletter to receive updates and product launches:</h2>
            {% render 'form--newsletter' %}
          </div>

          <div class="row row--inner">

            {% comment %}
              //////////////////////////////////////////////////////////
              ////  Mobile
              //////////////////////////////////////////////////////////
            {% endcomment %}

            <div class="col-8 d-lg-none">
              <div class="{{ block_name }}__contact">
                <h3 class="{{ block_name }}__heading heading heading--600 lowercase heading--secondary">Contact</h3>
                <p><a href="tel:{{ phone }}" target="_blank" rel="noopener">{{ phone }}</a></p>
                <p><a href="mailto:{{ email }}" target="_blank" rel="noopener">{{ email }}</a></p>
              </div>
            </div>

            <div class="col-4 d-lg-none">
              <div class="{{ block_name }}__brand">
                {% render 'svg--brand-badge-pattern' %}
              </div>
            </div>

            {% for item in navigation %}

              {% assign title = item.settings.title | default: false %}
              {% assign menu_handle = item.settings.menu | default: false %}

              <div class="col-4 d-lg-none">
                <nav class="navigation navigation--{{ title | handleize }}">
                  <h3 class="{{ block_name }}__heading heading heading--600 lowercase heading--secondary">{{ title }}</h3>
                  {% render 'content--navigation',
                    menu_handle: menu_handle
                  %}
                </nav>
              </div>

            {% endfor %}

            <div class="col-4 d-lg-none">
              <nav class="navigation navigation--social">
                <h3 class="footer__heading heading heading--600 lowercase heading--secondary">Social</h3>
                {% assign social_accounts = 'instagram, twitter, linkedin' | split: ', '  %}
                {% for account in social_accounts %}
                  {% assign account_key = 'social--' | append: account %}
                  {% assign account_url = settings[account_key] | default: '' %}
                  {% if account_url != blank %}
                    <div class="navigation__item">
                      <a href="{{ account_url }}" class="navigation__link" target="_blank">
                        <span>{{ account }}</span>
                      </a>
                    </div>
                  {% endif %}
                {% endfor %}
              </nav>
            </div>

            <div class="col-12 d-lg-none">
              <div class="{{ block_name }}__legal">
                <div class="{{ block_name }}__copyright">&copy; {{ "now" | date: "%Y" }} {{ shop.name }}.</div>
                <nav class="navigation navigation--policies">
                  {%
                    render 'content--navigation',
                    menu_handle: menu_policies
                  %}
                </nav>
              </div>
            </div>

      {% comment %}
        //////////////////////////////////////////////////////////
        ////  Desktop
        //////////////////////////////////////////////////////////
      {% endcomment %}

      <div class="d-none d-lg-flex col-lg-10">

        <div class="{{ block_name }}__contact">
          <h3 class="{{ block_name }}__heading heading heading--600 lowercase heading--secondary">Contact</h3>
          <p><a href="tel:{{ phone }}" target="_blank" rel="noopener">{{ phone }}</a></p>
          <p><a href="mailto:{{ email }}" target="_blank" rel="noopener">{{ email }}</a></p>
          <p><a href="/pages/faqs">FAQ</a></p>
          <div class="{{ block_name }}__copyright">&copy; {{ "now" | date: "%Y" }} {{ shop.name }}.</div>
        </div>

        {% for item in navigation %}

          {% assign title = item.settings.title | default: false %}
          {% assign menu_handle = item.settings.menu | default: false %}

          <nav class="navigation navigation--{{ title | handleize }}">
            <h3 class="{{ block_name }}__heading heading heading--600 lowercase heading--secondary">{{ title }}</h3>
            {% render 'content--navigation',
              menu_handle: menu_handle
            %}
          </nav>

        {% endfor %}

        <nav class="navigation navigation--social">
          <h3 class="footer__heading heading heading--600 lowercase heading--secondary">Social</h3>
          {% assign social_accounts = 'instagram, twitter, linkedin' | split: ', '  %}
          {% for account in social_accounts %}
            {% assign account_key = 'social--' | append: account %}
            {% assign account_url = settings[account_key] | default: '' %}
            {% if account_url != blank %}
              <div class="navigation__item">
               <a href="{{ account_url }}" class="navigation__link" target="_blank">
                  <span>{{ account }}</span>
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </nav>

      </div>

      <div class="d-none d-lg-flex col-lg-2">
        <div class="{{ block_name }}__brand">
          {% render 'svg--brand-badge-pattern' %}
        </div>
      </div>

    </div>

        {% render 'layout--container', state: 'closed' %}

  {% endcase %}

</div>

{% schema %}
	{
		"name": "Footer",
		"tag": "footer",
		"class": "footer",
		"settings": [
			{
				"content": "Contact Info",
				"type": "header"
			},
			{
  			"label": "Email",
        "info": "If left blank, the default shop email account will be used.",
				"type": "text",
        "id": "email"
			},
      {
  			"label": "Phone",
        "info": "If left blank, the default shop phone account will be used.",
				"type": "text",
        "id": "phone"
			},
      {
				"content": "Store Policies",
				"type": "header"
			},
      {
        "label": "Menu",
        "type": "link_list",
        "id": "menu--policies"
      }
    ],
    "blocks": [
      {
        "name": "Navigation",
        "type": "navigation",
        "limit": 3,
        "settings": [
          {
            "label": "Title",
            "type": "text",
            "id": "title"
          },
          {
            "label": "Menu",
            "type": "link_list",
            "id": "menu"
          }
        ]
      }
    ]
  }
{% endschema %}
