{% assign block_name = 'header' %}
{% assign page_template = page.template_suffix | default: 'not-page' %}
{% assign navigation = section.blocks | where: "type", "navigation" %}
{% assign subnavigation = section.blocks | where: "type", "subnavigation" %}

{% render 'theme--announcement' %}

<div class="{{ block_name }}__main">
  {% render 'layout--container', state: 'open', container: 'container-fluid' %}
    <div class="{{ block_name }}__content">

      {% case page_template %}

        {% when 'landing-lead-gen' %}

          {% comment %}
            //////////////////////////////////////////////////////////
            ////  Lead Generator
            //////////////////////////////////////////////////////////
          {% endcomment %}

		      <div class="{{ block_name }}__brand__landing {{ block_name }}__brand wordmark">
			      <a href='/' target='_self' style="pointer-events: all;">{% render 'svg--brand-wordmark', fill_colour: 'white' %}</a>
		      </div>

		      <section class="section section--intro" style="padding-bottom: 90px;">
			      <h1>
				      Everything You Need to Know About Naturally Boosting Immunity
			      </h1>
			      <div class="message rte">
				      <h3>
					      Share your email address to get instant access to the Optimi<sup>[ze]</sup> Guide.
				      </h3>
				      <a href="#signup" class="button button--outlined button--wide" style="border-color: rgba(var(--theme-white--rgb),1); color: rgba(var(--theme-white--rgb),1);">Download Now</a>
			      </div>
		      </section>

        {% when 'privacy-lead-gen', 'thank-you' %}

          {% comment %}
            //////////////////////////////////////////////////////////
            ////  Privacy Policy, Thank You
            //////////////////////////////////////////////////////////
          {% endcomment %}

          <div class="{{ block_name }}__brand wordmark test">
			      <a href='/' target='_self' style="pointer-events: all;">{% render 'svg--brand-wordmark' %}</a>
		      </div>

        {% else %}

          {% comment %}
            //////////////////////////////////////////////////////////
            ////  Default
            //////////////////////////////////////////////////////////
          {% endcomment %}

          <div class="{{ block_name }}__brand wordmark">
            <a href='/' target='_self'>{% render 'svg--brand-wordmark.liquid', fill_colour: 'essentials-charcoal' %}</a>
          </div>

          <nav class="{{ block_name }}__navigation navigation">

            {% for item in navigation %}
              {% render 'content--navigation-item', classes: 'd-none d-lg-inline-flex', index: forloop.index, item: item, subnavigation: subnavigation %}
            {% endfor %}

            <div class="navigation__item icon">
              <a href='/search'>{% render 'svg--icon-search' %}</a>
            </div>

            <div class="navigation__item icon">
              <a href='{% if customer %}/account/{% else %}/account/login{% endif %}'>{% render 'svg--icon-account' %}</a>
            </div>

            <div class="navigation__item icon">
              <a href='/cart'>
                {% render 'svg--icon-cart' %}
                {% if cart.item_count > 0 %}
                  <span class="cart-total">{{ cart.item_count }}</span>
                {% endif %}
              </a>
            </div>

            <div class="navigation__item icon icon--mobile-menu d-lg-none js--mobile-menu-trigger">
              <span class="icon__open">{% render 'svg--icon-burger' %}</span>
              <span class="icon__closed">{% render 'svg--icon-close' %}</span>
            </div>

          </nav>

      {% endcase %}

    </div>
  {% render 'layout--container', state: 'close' %}
</div>

{% schema %}
	{
		"name": "Header",
		"tag": "header",
		"class": "header",
		"settings": [
			{
				"content": "Header",
				"type": "header"
			},
			{
				"content": "Add Header settings here.",
				"type": "paragraph"
			}
    ],
    "blocks": [
      {
        "name": "Navigation",
        "type": "navigation",
        "settings": [
          {
            "label": "Title",
            "type": "text",
            "id": "title"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "url"
          }
        ]
      },
      {
        "name": "Subnavigation",
        "type": "subnavigation",
        "settings": [
          {
            "label": "Heading",
            "type": "text",
            "id": "heading"
          },
          {
            "label": "Parent Link",
            "info": "Choose the same navigation link that you'd like to nest this subnavigation under.",
            "type": "url",
            "id": "parent-url"
          },
          {
            "label": "Type",
            "type": "select",
            "options": [
              { "value": "menu", "label": "Menu" },
              { "value": "spotlight", "label": "Spotlight" }
            ],
            "default": "menu",
            "id": "type"
          },
          {
            "label": "Spotlight Title",
            "type": "text",
            "id": "spotlight-title"
          },
          {
            "label": "Spotlight Link",
            "type": "url",
            "id": "spotlight-url"
          },
          {
            "label": "Menu",
            "type": "link_list",
            "id": "menu"
          }
        ]
      }
    ]
  }
{% endschema %}
