.image {
  display: block;
  width: 100%;
  height: auto;
  img, svg {
    display: block;
    width: 100%;
    height: auto;
  }
}

.image, .message {
  padding: 40px 0;
}

.line {
  border-bottom: 1px solid #454142;
  width: 100%;
  margin-bottom: 20px;
}

.message {
  font-size: 18px;
  padding-bottom: 85px;
  h4, p {
    letter-spacing: -.03em;
  }
  h4 {
    margin-bottom: 45px;
    font-weight: 600;
  }
  p {
    font-style: normal;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -.03em;
  }
}
