//////////////////////////////////////////////////////////
////  Product Inventory | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Product Inventory | Styles
//////////////////////////////////////////////////////////

.product__inventory {

  padding-bottom: var(--bs-gutter-width);
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-flow: column;
  align-items: flex-end;

  &-button {
    border-bottom: 1px solid rgba(var(--theme-essentials-charcoal--rgb), 1);
    border-radius: 0;
    background: transparent;
    padding: 0;
    line-height: 1;
    &:hover {
      border-bottom-color: rgba(var(--theme-essentials-charcoal--rgb), 0 );
    }
  }

  @include media-breakpoint-up(sm) {

    flex-flow: row;
    align-items: baseline;

  } // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .product__inventory
