#modal--notify-me {

  .form {
    input {
      -webkit-appearance: none;
      border-radius: 0;
    }
    .error {
      & + .submit {
        margin-top: 30px;
      }
    }
    &__row {
      flex-flow: column;
      & + .form__row {
        margin: 18px 0 0 0;
      }
    }
    &__field {
      width: 100%;
      & + .form__field {
        margin: 18px 0 0 0;
      }
    }
  }

  @include media-breakpoint-up(sm) {

    .form {
      .error {
        & + .submit {
          margin-top: 0;
        }
      }
      &__row {
        flex-flow: row nowrap;
        & + .form__row {
          margin: var(--bs-gutter-width) 0 0 0;
        }
      }
      &__field {
        width: 100%;
        & + .form__field {
          margin: 0 0 0 var(--bs-gutter-width);
        }
      }
    }

    .modal__container {
      width: calc( 0.85 * var(--bs-container-width--sm) );
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .modal__container {
      width: calc( 0.85 * var(--bs-container-width--md) );
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .modal__container {
      width: calc( 0.65 * var(--bs-container-width--lg) );
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .modal__container {
      width: calc( 0.65 * var(--bs-container-width--xl) );
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .modal__container {
      width: calc( 0.65 * var(--bs-container-width--xxl) );
    }

  } // min width xxl

} // #modal--notify-me
