/*
    GLOBAL
*/

html {
  scroll-behavior: smooth;
}

.page--landing-lead-gen {
  background: #fff;
}

.page--landing-lead-gen h1,
.page--landing-lead-gen h2,
.page--landing-lead-gen h3,
.page--landing-lead-gen h4,
.page--landing-lead-gen h5,
.page--landing-lead-gen h6,
.page--landing-lead-gen p,
.page--landing-lead-gen a {
  color: #454142;
}

.page--landing-lead-gen .line {
  border-bottom: 1px solid #454142;
  width: 100%;
}

.page--landing-lead-gen .line.fullwidth {
  border-bottom: 1px solid #454142;
  width: 100vw;
  margin-left: -30px;
}

.page--landing-lead-gen sup {
  top: -0.4em;
}

#main-body {
  margin: 0 30px;
}

@media only screen and (max-width: 674px) {
  .page--landing-lead-gen .container {
    max-width: none;
    padding: 0;
  }
}

/*
    TYPOGRAPHY
*/

.page--landing-lead-gen strong {
  font-weight: 600;
}

.page--landing-lead-gen h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 88px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.03em;
  width: 100%;
  text-transform: lowercase;
}

.page--landing-lead-gen h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: lowercase;
}

.page--landing-lead-gen h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.03em;
}

.page--landing-lead-gen h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: lowercase;
}

.page--landing-lead-gen h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 30.784px;
  line-height: 39px;
}

.page--landing-lead-gen p {
/*   font-style: normal;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.03em; */
}

.page--landing-lead-gen .button {
/*   width: 181.86px;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1.12245px solid #454142;
  border-radius: 4.4898px;
  font-family: "Avenue X", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20.2041px;
  line-height: 25px;
  text-align: center;
  text-transform: capitalize;
  color: #454142;
  opacity: 1;
  transition: all 500ms ease; */
}

.page--landing-lead-gen .button:hover {
/*   opacity: 0.5;
  transition: all 500ms ease;
  text-decoration: none; */
}

@media only screen and (max-width: 800px) {
  .page--landing-lead-gen h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    width: 90vw;
  }

  .page--landing-lead-gen h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.03em;
  }

  .page--landing-lead-gen h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.03em;
  }
}

@media only screen and (max-width: 674px) {
  .page--landing-lead-gen h4 {
    max-width: 100%;
    font-size: 24px;
    line-height: 110%;
    margin: auto;
    text-align: center;
    letter-spacing: -0.03em;
  }

  .page--landing-lead-gen p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.03em;
  }

  .page--landing-lead-gen .button {
/*     width: 137px;
    height: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center; */
  }
}

/*
    HEADER
*/

.page--landing-lead-gen .header__main {
  background: url("https://cdn.shopify.com/s/files/1/0568/3793/1181/files/hero_placeholder.png?v=1639778873");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.page--landing-lead-gen .header__content {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
  height: 100vh;
  max-height: 950px;
  width: 100%;
}

.page--landing-lead-gen .header__brand__landing {
  margin-top: 50px;
  pointer-events: none;
}

.page--landing-lead-gen .header__brand__landing img {
  width: 164px;
}

.page--landing-lead-gen .header__main h1,
.page--landing-lead-gen .header__main h3 {
  color: #fff;
}

.section--intro {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
  flex-wrap: nowrap;
  padding-bottom: 90px;
  padding-top: 100px;
}

.section--intro .rte {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
  flex-wrap: nowrap;
}

.section--intro .message h3 {
  margin: 5% 0;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.03em;
}

.page--landing-lead-gen .header__main .button {
/*   border: 1.12245px solid #fff;
  color: #fff; */
}

@media only screen and (max-width: 800px) {
  .page--landing-lead-gen .header__brand__landing {
    margin-top: 30px;
    margin-left: -5px;
    pointer-events: none;
    width: 100%;
  }

  .page--landing-lead-gen .header__brand__landing img {
    max-height: 40px;
    width: auto;
  }
  .page--landing-lead-gen .header__content {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    align-items: center;
    height: 100vh;
    max-height: 730px;
    width: 100%;
    padding-top: 0;
  }

  .section--intro {
    padding-bottom: 0;
  }

  .section--intro .message h3 {
    margin: 50px 0;
  }

  .section--intro .message p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.03em;
  }
}

/*
    ABOUT
*/

.section--about img {
  margin-top: 75px;
  width: 100%;
  max-width: 100%;
}

.section--about .about--heading {
  padding-top: 75px;
  text-align: center !important;
}

.section--about .about--image {
  display: block;
}

.section--about .about--image--mobile {
  display: none;
}

@media only screen and (max-width: 800px) {
  .section--about .about--message {
    padding: 130px 0px;
  }

  .section--about .about--image {
    display: none;
  }

  .section--about .about--image--mobile {
    display: block;
  }
}

/*
    BLOCK
*/

.section--block-centred {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
  text-align: center;
  padding-top: 70px;
}

.section--block-centred .col-12 {
  padding: 100px 0;
}

.section--block-centred .block-centred--message {
  max-width: 875px;
  margin: 100px auto;
}

.section--block-centred .block-centred--message.margin--less {
  margin: 66px auto;
}

.section--block-centred img {
  width: auto;
  max-width: 497px;
}

@media only screen and (max-width: 800px) {
  .section--block-centred {
    padding: 0px 0;
  }

  .section--block-centred .col-12 {
    padding-bottom: 0px;
  }

  .section--block-centred img {
    width: auto;
    max-width: 269px;
  }

  .section--block-centred .block-centred--message {
    max-width: 875px;
    margin: 60px auto;
  }
}

/*
    FIFTY FIFTY
*/

.section--fifty .fifty--message p {
  padding: 45px 0 0 0;
}

.section--fifty .fifty--message {
  padding-top: 20px;
}

.section--fifty.left .fifty--message h4,
.section--fifty.left .fifty--message p,
.section--fifty.left .col-6 {
  text-align: left;
}

.section--fifty .col-6 img {
  width: 100%;
}

/* .section--fifty.left .text.col-6 {
  margin-left: 20px;
}

.section--fifty.right .text.col-6 {
  margin-right: 20px;
} */

.section--fifty h4 {
  font-weight: 600;
}

@media only screen and (max-width: 800px) {

/*   .section--fifty.left .col-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0px 0;
  } */

/*   .section--fifty.right .col-12 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0px 0;
  } */

  .section--fifty .col-6 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    flex: none;
    padding: 40px 0;
  }

  .section--fifty.right .fifty--message {
    padding-right: 0px;
  }

  .section--fifty.left .fifty--message {
    padding-left: 0px;
  }

  .section--fifty .fifty--message h4,
  .section--fifty .fifty--message p,
  .section--fifty .col-6 {
    text-align: center !important;
  }

  .section--fifty .fifty--message p {
    padding: 45px 0;
  }

  .section--fifty.left .text.col-6 {
    margin-left: 0px;
  }

  .section--fifty.right .text.col-6 {
    margin-right: 0px;
  }
}

/*
    FOOTER
*/

.footer--landing {
  padding-top: 100px;
  padding-bottom: 40px;
  position: relative;
  margin: 0 30px;
}

.footer--landing .col-12,
.footer--landing .col-2,
.footer--landing .col-8 {
  padding: 0;
}

.footer--landing .row {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
}

.footer--landing h5 {
  margin-bottom: 40px;
}

.footer--landing .footer--landing--social p,
.footer--landing .footer--landing--contact p {
  font-style: normal;
  font-weight: 600;
  font-size: 23.088px;
  line-height: 23px;
  margin-bottom: 30px;
  text-align: left;
}

.footer--landing--contact {
  margin-right: 67px;
}

.footer--landing--social,
.footer--landing--contact {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
}

.footer--landing--logo {
  text-align: right;
  -webkit-box-flex: 8;
  -moz-box-flex: 8;
  flex: 8;
}

.footer--landing a {
  font-style: normal;
  font-weight: 400;
  font-size: 19.24px;
  line-height: 29px;
  color: #454142;
}

.footer--landing .subfooter {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.footer--landing .subfooter p,
.footer--landing .subfooter a {
  font-style: normal;
  font-weight: 400;
  font-size: 11.544px;
  line-height: 15px;
  margin-right: 15px;
  font-family: "Avenue X", sans-serif;
  text-align: left;
}

@media only screen and (max-width: 674px) {
  .footer--landing {
    padding-top: 60px;
  }

  .footer--landing h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
  }

  .footer--landing .footer--landing--social {
    margin-top: 30px;
  }

  .footer--landing .footer--landing--social p,
  .footer--landing .footer--landing--contact p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 8px;
  }

  .footer--landing a {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 200%;
  }

  .footer--landing .row {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
  }

  .footer--landing--logo {
    text-align: right;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    flex: none;
    position: absolute;
    top: 60px;
    right: 5%;
  }

  .footer--landing .subfooter a {
    font-size: 10px;
    line-height: 9px;
    margin-right: 0px;
    font-family: "Avenue X", sans-serif;
    width: 50%;
  }

  .footer--landing .subfooter p {
    width: 100%;
    font-size: 10px;
    line-height: 9px;
  }
}
