/* 
    FORM
*/

.section--form {
  padding: 100px 0 !important;
  overflow: hidden;
}

.section--form .col-12 {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  flex: none !important;
}

.section--form .ql-editor {
  overflow: visible !important;
}

.section--form .ql-editor p:first-child strong {
  font-family: var(--theme-sans-serif--sofia-pro) !important;
  max-width: 900px !important;
  margin: auto !important;
  color: #454142 !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 36px !important;
  line-height: 100% !important;
  text-align: center !important;
  letter-spacing: -0.03em !important;
  text-transform: lowercase !important;
}

.section--form .ql-editor p span {
  font-family: var(--theme-sans-serif--sofia-pro) !important;
  font-style: normal !important;
  font-style: normal !important;
  font-weight: 200 !important;
  font-size: 18px !important;
  line-height: 100% !important;
  letter-spacing: -0.03em !important;
}

.section--form h3 {
  font-family: var(--theme-sans-serif--sofia-pro) !important;
  max-width: 788px !important;
  margin: auto !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 29px !important;
  line-height: 110% !important;
  text-align: center !important;
  letter-spacing: -0.03em !important;
  color: #454142 !important;
  padding: 50px 0 !important;
}

.section--form label {
  font-family: var(--theme-sans-serif--sofia-pro) !important;
  max-width: 788px !important;
  margin: auto !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 29px !important;
  line-height: 110% !important;
  text-align: center !important;
  letter-spacing: -0.03em !important;
  color: #454142 !important;
  padding: 50px 0 !important;
}

.section--form input,
.section--form select {
  margin: 20px auto !important;
  border: 1px solid #454142 !important;
  box-sizing: border-box !important;
  border-radius: 41px !important;
  width: 419px !important;
  max-width: 419px !important;
  height: 57px !important;
  background: transparent !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 22px !important;
  line-height: 28px !important;
  color: #454142 !important;
  text-indent: 30px !important;
  font-family: "Avenue X", sans-serif !important;
  padding-left: 0 !important;
}

.section--form .go3959024032 {
  border: none !important;
  width: 419px !important;
  height: 53px !important;
  border-radius: 41px !important;
  max-width: 419px !important;
  padding: 0 !important;
  margin: 50px auto 10px auto !important;
}

.section--form .go3959024032 svg {
  position: absolute;
  margin-left: 370px;
}

.section--form .go3959024032:focus-within {
  height: 53px !important;
  border-radius: 41px !important;
  width: 419px !important;
}

.section--form .go2171984413 {
  margin-top: 50px;
}

.section--form button {
  font-family: var(--theme-sans-serif--sofia-pro) !important;
  width: 333px !important;
  height: 65px !important;
  border: 1px solid #454142 !important;
  box-sizing: border-box !important;
  border-radius: 41px !important;
  color: #454142 !important;
  margin: 130px auto 0 auto !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  display: block !important;
  opacity: 1 !important;
  transition: all 500ms ease !important;
  background: transparent !important;
}

.section--form button:hover {
  opacity: 0.5 !important;
  transition: all 500ms ease !important;
}

.section--form input::placeholder {
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 22px !important;
  line-height: 28px !important;
  color: #454142 !important;
  text-indent: 30px !important;
  font-family: "Avenue X", sans-serif !important;
}

.section--form #downshift-0-menu {
  width: 419px !important;
  max-width: 419px !important;
  margin: auto !important;
  left: 0 !important;
  right: 0 !important;
  border: none !important;
  margin-bottom: 50px !important;
  overflow-y: visible !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 22px !important;
  line-height: 28px !important;
}

#downshift-0-item-0,
#downshift-0-item-1 {
  color: #454142 !important;
  text-indent: 30px !important;
  font-family: "Avenue X", sans-serif !important;
  border-radius: 41px !important;
}

#downshift-0-item-0:hover,
#downshift-0-item-1:hover {
  background: #454142 !important;
  color: #fff !important;
  font-family: "Avenue X", sans-serif !important;
}

.section--form .go2171984413 label,
.section--form .go2171984413 input {
  margin: 0 !important;
  padding: 5px 0 !important;
}

.section--form .go2171984413 input {
  pointer-events: none;
}

.section--form .go2171984413 div[role="group"] {
  padding-top: 50px !important;
  transform: translateX(25%);
}

label[for="Accepts%20Marketing__6__20"] {
  width: 100vw !important;
  transform: translateX(-60px) !important;
}

label[for="Accepts%20Marketing__6__20"] div {
  margin: 15px 32px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 22px !important;
  line-height: 28px !important;
  font-family: "Avenue X", sans-serif !important;
  position: relative !important;
  color: #454142 !important;
  text-align: left !important;
}

.section--form .go2171984413 div[role="group"] div {
  margin-left: 32px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 110% !important;
}

.section--form .go2171984413 div[role="group"] svg {
  transform: translateX(-10px) !important;
}

.go2171984413 div {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  cursor: pointer !important;
  margin: 15px 0 !important;
  font-family: "Avenue X", sans-serif !important;
  color: #454142 !important;
}

.message--hidden {
  display: none !important;
}

@media only screen and (max-width: 800px) {
  .section--form {
    padding: 50px 0 !important;
  }

  .section--form svg {
    transform: translateX(0);
  }

  .section--form .ql-editor p:first-child strong {
    font-size: 28px !important;
    line-height: 110% !important;
  }

  .section--form form {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  label[for="Accepts%20Marketing__6__20"] {
    width: 100% !important;
    transform: translateX(0px) !important;
  }

  label[for="Accepts%20Marketing__6__20"] div {
    margin: 15px 32px !important;
    font-size: 13px !important;
    line-height: 16px !important;
  }

  .section--form .go2171984413 div[role="group"] {
    transform: translateX(5%);
  }

  .section--form .go2171984413 div[role="group"] div {
    margin-left: 0px !important;
  }

  .section--form h2 {
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 28px !important;
    line-height: 110% !important;
    letter-spacing: -0.03em !important;
    margin-left: -100% !important;
    margin-right: -100% !important;
    text-align: center !important;
    max-width: 95vw !important;
  }

  .section--form h2 {
    font-style: normal !important;
    padding: 30px !important;
  }

  .section--form h3,
  .section--form label {
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 110% !important;
    text-align: center !important;
    letter-spacing: -0.03em !important;
    max-width: 350px !important;
    padding: 25px 0 !important;
  }

  .section--form input,
  .section--form #downshift-0-menu,
  .section--form input::placeholder,
  .section--form select::placeholder,
  .section--form .go3959024032,
  .section--form button {
    width: 275.19px !important;
    height: 37.44px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    line-height: 37.44px !important;
  }

  .section--form .go3959024032 {
    width: 275.19px !important;
    height: 37.44px !important;
    max-width: 275.19px !important;
    margin: 50px auto 10px auto !important;
  }

  .section--form .go3959024032 svg {
    position: absolute;
    margin-left: 230px;
  }

  .section--form .go3959024032:focus-within {
    width: 275.19px !important;
    height: 37.44px !important;
  }

  .section--form .go2171984413 {
    margin: 50px auto 0 auto !important;
  }

  .section--form button {
    padding-top: 0 !important;
  }

  .section--form input[type="submit"] {
    width: 243px !important;
    height: 47.43px !important;
    padding-right: 35px !important;
  }
}

@media only screen and (max-width: 674px) {
  .section--form {
    padding: 30px 0 !important;
  }

  .section--form h2 {
    padding: 30px 0 !important;
  }
}
