/*
    GLOBAL
*/

.page--thank-you {
  background: #ffffff;
}

.page--thank-you .line {
  border-bottom: 1px solid #454142;
  width: 100%;
}

#thank-you-body {
  margin: 100px 0;
}

/*
    HEADER
*/

.header__brand {
  margin: auto;
  pointer-events: none;
}

/*
    TYPOGRAPHY
*/

.page--thank-you strong {
  font-weight: 600;
}

.page--thank-you h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 90px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.03em;
  width: 100%;
  margin: 30px 0;
  color: #454142;
}

.page--thank-you h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #454142;
}

.page--thank-you h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 28px !important;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.03em;
  margin-top: 60px;
  margin-bottom: 30px;
  color: #454142;
}

.page--thank-you h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #454142;
}

.page--thank-you h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 30.784px;
  line-height: 39px;
  color: #454142;
}

.page--thank-you p {
/*   font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #454142; */
}

.page--thank-you .button {
/*   width: 181.86px;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1.12245px solid #454142;
  border-radius: 4.4898px;
  font-family: "Avenue X", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20.2041px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #454142; */
}

@media only screen and (max-width: 800px) {
  .page--thank-you h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
  }

  .page--thank-you h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.03em;
  }

  .page--thank-you h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.03em;
  }

  .page--thank-you .button {
/*     width: 137px;
    height: 35px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center; */
  }
}

/*
    FOOTER
*/

.footer--landing {
  padding-top: 100px;
  padding-bottom: 40px;
  position: relative;
}

.footer--landing .col-12,
.footer--landing .col-2,
.footer--landing .col-8 {
  padding: 0;
}

.footer--landing .row {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
}

.footer--landing h5 {
  margin-bottom: 40px;
}

.footer--landing .footer--landing--social p,
.footer--landing .footer--landing--contact p {
  font-style: normal;
  font-weight: 600;
  font-size: 23.088px;
  line-height: 23px;
  margin-bottom: 30px;
}

.footer--landing--contact {
  margin-right: 67px;
}

.footer--landing--social,
.footer--landing--contact {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
}

.footer--landing--logo {
  text-align: right;
  -webkit-box-flex: 8;
  -moz-box-flex: 8;
  flex: 8;
}

.footer--landing a {
  font-style: normal;
  font-weight: normal;
  font-size: 19.24px;
  line-height: 29px;
  color: #454142;
}

.footer--landing .subfooter {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.footer--landing .subfooter p,
.footer--landing .subfooter a {
  font-style: normal;
  font-weight: normal;
  font-size: 11.544px;
  line-height: 15px;
  margin-right: 15px;
  font-family: "Avenue X", sans-serif;
}

@media only screen and (max-width: 674px) {
  .footer--landing {
    padding-top: 60px;
  }

  .footer--landing h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
  }

  .footer--landing .footer--landing--social {
    margin-top: 30px;
  }

  .footer--landing .footer--landing--social p,
  .footer--landing .footer--landing--contact p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 8px;
  }

  .footer--landing a {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 200%;
  }

  .footer--landing .row {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
  }

  .footer--landing--logo {
    text-align: right;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    flex: none;
    position: absolute;
    top: 60px;
    right: 5%;
  }

  .footer--landing .subfooter a {
    font-size: 10px;
    line-height: 9px;
    margin-right: 0px;
    font-family: "Avenue X", sans-serif;
    width: 50%;
  }

  .footer--landing .subfooter p {
    width: 100%;
    font-size: 10px;
    line-height: 9px;
  }
}
