//////////////////////////////////////////////////////////
////  404 | Vars
//////////////////////////////////////////////////////////

$block-name: 'error-404';

//////////////////////////////////////////////////////////
////  404 | Styles
//////////////////////////////////////////////////////////

.#{$block-name} {

  margin-top: calc( var(--theme-announcement-height) + var(--theme-header-height) );
  padding-top: var(--theme-header-height);

  &__cta {
    margin-top: 32px;
  }

  &__heading {
    & + .#{$block-name}__message {
      margin-top: 20px;
    }
  }

  @include media-breakpoint-up(sm) {

    margin-top: calc( var(--theme-announcement-height) + var(--theme-header-height--sm) );
    padding-top: var(--theme-header-height--sm);

  } // min width sm

  @include media-breakpoint-up(md) {

    margin-top: calc( var(--theme-announcement-height) + var(--theme-header-height--md) );
    padding-top: var(--theme-header-height--md);

  } // min width md

  @include media-breakpoint-up(lg) {

    margin-top: calc( var(--theme-announcement-height) + var(--theme-header-height--lg) );
    padding-top: var(--theme-header-height--lg);

    &__cta {
      margin-top: 52px;
    }

    &__heading {
      & + .#{$block-name}__message {
        margin-top: 24px;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    margin-top: calc( var(--theme-announcement-height) + var(--theme-header-height--xl) );
    padding-top: var(--theme-header-height--xl);

    &__cta {
      margin-top: 54px;
    }

    &__heading {
      & + .#{$block-name}__message {
        margin-top: 24px;
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    margin-top: calc( var(--theme-announcement-height) + var(--theme-header-height--xxl) );
    padding-top: var(--theme-header-height--xxl);

    &__cta {
      margin-top: 56px;
    }

    &__heading {
      & + .#{$block-name}__message {
        margin-top: 24px;
      }
    }

  } // min width xxl

} // .error-404
