//////////////////////////////////////////////////////////
////  Announcement | Vars
//////////////////////////////////////////////////////////

:root {
  --theme-announcement-btn-close-size: 14px;
}

//////////////////////////////////////////////////////////
////  Announcement | Styles
//////////////////////////////////////////////////////////

.announcement {

  position: relative;
  display: none;

  .rte {
    font-size: 10px;
    line-height: 1.1;
  }

  &__button {
    height: var(--theme-announcement-btn-close-size);
    width: var(--theme-announcement-btn-close-size);
    margin-top: calc( -0.5 * var(--theme-announcement-btn-close-size) );
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    right: 22px;
    position: absolute;
    top: 50%;
    img, svg {
      display: block;
      width: auto;
      height: 100%;
    }
    &:hover {
      opacity: var(--theme-hover-opacity);
    }
  }

  &__content {
    color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    font-family: var(--theme-serif--avenue-x);
    height: var(--theme-announcement-height);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    padding: 0 28px;
  }

  &__item {
    text-align: center;
  }

  &__main {
    border-bottom-width: var(--theme-border-width);
    border-bottom-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    border-bottom-style: solid;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    .rte {
      font-size: 12px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {

    .rte {
      font-size: 14px;
    }

  } // min width xxl

} // .announcement
