//////////////////////////////////////////////////////////
////  Article | Vars
//////////////////////////////////////////////////////////

$block-name: 'article';

//////////////////////////////////////////////////////////
////  Article | Styles
//////////////////////////////////////////////////////////

.#{$block-name} {

  .share-this,
  .tags {
    margin-top: 34px;
  }

  .heading {
    &--read-more {
      font-size: calc( .55 * var(--theme-heading-font-size) );
    }
    &--title {}
  }

  .hero {
    border-bottom-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    border-bottom-width: var(--theme-border-width);
    border-bottom-style: solid;
    min-height: 100%;
    min-height: 75vh;
    width: 100%;
    position: relative;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  }

  .share-this {}

  .tags {}

  &__author,
  &__date-time {
    font-family: var(--theme-serif--avenue-x);
    font-size: var(--theme-foundation-font-size);
    font-weight: inherit;
    line-height: inherit;
    display: block;
    width: 100%;
  }

  &__content {
    margin-top: 45px;
    &.rte {
      img {
        border-radius: var(--theme-border-radius);
        border-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
        border-width: var(--theme-border-width);
        border-style: solid;
        position: relative;
        display: block;
        width: 100%;
        margin: auto;
        height: auto;
      }
    }
  }

  &__image {
    @include add-border();
    overflow: hidden;
    position: relative;
    width: 100%;
    a {
      display: block;
      height: 100%;
      width: 100%;
      position: relative;
    }
  }

  &__meta {
    font-weight: 400;
    margin-top: 32px;
    line-height: 1;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
    &-spacer {
      display: none;
    }
    & > * {
      margin-bottom: 14px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__preview {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__read-more {

    border-top: var(--theme-border-width) solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
    display: block;
    margin-top: 40px;

    .row--inner {
      margin-bottom: calc( -1 * var(--theme-article-stack-margin-bottom) );
    }

    [class^="col"] {
      margin-bottom: var(--theme-article-stack-margin-bottom);
    }

    .article__preview {
      .article {
        &__content,
        &__image {
          width: 100%;
        }
      }
    }

    &-cta {
      text-align: center;
      margin-top: 42px;
    }

  }

  &__tags {
    font-family: var( --theme-serif--avenue-x );
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 100%;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    a {
      color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
      display: inline-block;
    }
    &-label {
      margin-right: 5px;
    }
  }

  &__title {
    &.heading {
      font-size: calc( 0.55 * var(--theme-heading-font-size) );
      margin-top: 32px;
    }
  }

  // ---------------------------------------- Blog Feed & Read More
  &[data-style="blog-feed"],
  &[data-style="blog-feature-large"],
  &[data-style="read-more"] {
    .article {
      &__content,
      &__image {
        width: 100%;
      }
      &__image,
      &__title {
        a {
          display: block;
        }
      }
      &__content {
        margin-top: 28px;
      }
      &__cta {
        margin-top: 30px;
      }
      &__date-time {
        margin-bottom: 4px;
      }
      &__image {
        height: var(--theme-article-preview-feature-image-height);
        a {
          &:hover {
            & > * {
              opacity: var(--theme-hover-opacity);
            }
          }
        }
      }
      &__preview {
        align-items: center;
        flex-flow: row wrap;
      }
      &__title {
        margin-top: 0;
        a {
          color: inherit;
          transition: opacity 280ms;
          &:hover {
            opacity: var(--theme-hover-opacity);
          }
        }
      }
    }
  }

  // ---------------------------------------- Blog Feature Large
  &[data-style="blog-feature-large"] {}

  // ---------------------------------------- Blog Feature Small
  &[data-style="blog-feature-small"] {
    a {
      transition: opacity 280ms;
      display: block;
      width: 100%;
      height: auto;
      color: inherit;
      &:hover {
        opacity: var(--theme-hover-opacity);
      }
    }
    .article {
      &__content,
      &__image {
        width: calc( (100% - var(--bs-gutter-width)) * 0.5 );
        margin: 0;
      }
      &__date-time {
        margin-top: 10px;
      }
      &__image {
        height: 120px;
      }
      &__preview {
        align-items: flex-start;
        width: 100%;
        flex-flow: row nowrap;
      }
      &__title {
        font-size: 18px;
        margin: 0;
      }
    }
  }

  // ---------------------------------------- Blog Feed
  &[data-style="blog-feed"] {
    .article {
      &__title {
        font-size: calc( .45 * var(--theme-heading-font-size) );
      }
    }
  }

  // ---------------------------------------- Read More
  &[data-style="read-more"] {}

  @include media-breakpoint-up(sm) {

    .heading {
      &--read-more {
        font-size: calc( .6 * var(--theme-heading-font-size--sm) );
      }
      &--title {}
    }

    &__author,
    &__date-time {
      font-size: var(--theme-foundation-font-size--sm);
    }

    &__content {}

    &__meta {
      font-size: var(--theme-foundation-font-size--sm);
    }

    &__read-more {
      .row--inner {
        margin-bottom: calc( -1 * var(--theme-article-stack-margin-bottom--sm) );
      }
      [class^="col"] {
        margin-bottom: var(--theme-article-stack-margin-bottom--sm);
      }
    }

    &__title {
      &.heading {
        font-size: calc( 0.6 * var(--theme-heading-font-size--sm) );
      }
    }

    // ---------------------------------------- Blog Feed & Read More
    &[data-style="blog-feed"],
    &[data-style="blog-feature-large"],
    &[data-style="read-more"] {
      .article {
        &__image {
          height: var(--theme-article-preview-feature-image-height--sm);
        }
      }
    }

    // ---------------------------------------- Blog Feature Large
    &[data-style="blog-feature-large"] {}

    // ---------------------------------------- Blog Feature Small
    &[data-style="blog-feature-small"] {
      .article {

        &__content,
        &__image {}

        &__date-time {
          margin-top: 12px;
        }

        &__image {
          height: 160px;
        }

        &__preview {}

        &__title {
          font-size: 22px;
        }

      }
    }

    // ---------------------------------------- Blog Feed
    &[data-style="blog-feed"] {
      .article {
        &__title {
          font-size: calc( .55 * var(--theme-heading-font-size--sm) );
        }
      }
    }

    // ---------------------------------------- Read More
    &[data-style="read-more"] {}

  } // min width sm

  @include media-breakpoint-up(md) {

    .heading {
      &--read-more {
        font-size: calc( .6 * var(--theme-heading-font-size--md) );
      }
      &--title {}
    }

    &__author,
    &__date-time {
      font-size: var(--theme-foundation-font-size--md);
    }

    &__content {
      margin-top: 55px;
    }

    &__meta {
      font-size: var(--theme-foundation-font-size--md);
      margin-top: 34px;
      & > * {
        margin-bottom: 12px;
      }
    }

    &__read-more {
      .row--inner {
        margin-bottom: calc( -1 * var(--theme-article-stack-margin-bottom--md) );
      }
      [class^="col"] {
        margin-bottom: var(--theme-article-stack-margin-bottom--md);
      }
    }

    &__title {
      &.heading {
        font-size: calc( 0.6 * var(--theme-heading-font-size--md) );
        margin-top: 34px;
      }
    }

    // ---------------------------------------- Blog Feed & Read More
    &[data-style="blog-feed"],
    &[data-style="blog-feature-large"],
    &[data-style="read-more"] {
      .article {
        &__image {
          height: var(--theme-article-preview-feature-image-height--md);
        }
      }
    }

    // ---------------------------------------- Blog Feature Large
    blog-feed-large {}

    // ---------------------------------------- Blog Feature Small
    &[data-style="blog-feature-small"] {
      .article {

        &__content,
        &__image {}

        &__date-time {
          margin-top: 14px;
        }

        &__image {
          height: 220px;
        }

        &__preview {}

        &__title {
          font-size: 30px;
        }

      }
    }

    // ---------------------------------------- Blog Feed
    &[data-style="blog-feed"] {
      .article {
        &__title {
          font-size: calc( .55 * var(--theme-heading-font-size--md) );
        }
      }
    }

    // ---------------------------------------- Read More
    &[data-style="read-more"] {}

  } // min width md

  @include media-breakpoint-up(lg) {

    .heading {
      &--read-more {
        font-size: calc( .6 * var(--theme-heading-font-size--lg) );
        padding-bottom: 36px;
        padding-top: 14px;
      }
      &--title {}
    }

    &__author,
    &__date-time {
      font-size: var(--theme-foundation-font-size--lg);
    }

    &__author,
    &__date-time {
      width: auto;
    }

    &__content {
      margin-top: 40px;
      &.rte {
        img {
          width: 120%;
          left: -10%;
          margin-top: 34px;
          margin-bottom: 34px;
        }
      }
    }

    &__meta {
      font-size: var(--theme-foundation-font-size--lg);
      margin-top: 40px;
      font-size: 14px;
      flex-flow: row nowrap;
      &-spacer {
        display: block;
        margin-left: 12px;
        margin-right: 12px;
      }
      & > * {
        margin-bottom: 0;
      }
    }

    &__read-more {
      margin-top: 60px;
      .row--inner,
      [class^="col"] {
        margin-bottom: 0;
      }
      &-cta {
        margin-top: 70px;
      }
    }

    &__title {
      &.heading {
        font-size: calc( 0.45 * var(--theme-heading-font-size--lg) );
        margin-top: 38px;
      }
    }

    // ---------------------------------------- Blog Feed & Read More
    &[data-style="blog-feed"],
    &[data-style="read-more"] {}

    // ---------------------------------------- Blog Feature Large
    &[data-style="blog-feature-large"] {
      .article {

        &__cta,
        &__date-time {
          position: absolute;
          right: 0;
          top: 0;
        }

        &__content {
          position: relative;
          margin-top: var(--bs-gutter-width);
        }

        &__cta {
          margin-top: 20px;
        }

        &__date-time {}

        &__image {
          height: 348px;
        }

        &__title {
          &.heading {
            font-size: calc( 0.33 * var(--theme-heading-font-size--lg) );
            width: 70%;
            margin-top: -12px;
          }
        }

      }
    }

    // ---------------------------------------- Blog Feature Small
    &[data-style="blog-feature-small"] {
      .article {

        &__content,
        &__image {}

        &__date-time {
          margin-top: 10px;
        }

        &__image {
          height: 100px;
        }

        &__preview {}

        &__title {
          font-size: 16px;
        }

      }
    }

    // ---------------------------------------- Blog Feed
    &[data-style="blog-feed"] {
      .article {
        &__content {
          margin: 0;
          width: calc( 33.3333% - 12px );
          text-align: center;
        }
        &__cta {
          margin-top: 20px;
        }
        &__image {
          height: var(--theme-article-preview-feature-image-height--lg);
          width: calc( 66.6666% - 12px );
        }
        &__preview {
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;
        }
        &__title {
          font-size: calc( .45 * var(--theme-heading-font-size--lg) );
          margin-top: 6px;
        }
      }
    }

    // ---------------------------------------- Read More
    &[data-style="read-more"] {
      .article {
        &__cta {
          margin-top: 20px;
        }
        &__image {
          height: 246px;
        }
        &__title {
          font-size: calc( .35 * var(--theme-heading-font-size--lg) );
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .share-this,
    .tags {
      margin-top: 40px;
    }

    .heading {
      &--read-more {
        font-size: calc( .6 * var(--theme-heading-font-size--xl) );
        padding-bottom: 38px;
        padding-top: 16px;
      }
      &--title {}
    }

    &__author,
    &__date-time {
      font-size: var(--theme-foundation-font-size--xl);
    }

    &__content {
      margin-top: 40px;
    }

    &__meta {
      font-size: var(--theme-foundation-font-size--xl);
    }

    &__read-more {
      margin-top: 80px;
    }

    &__title {
      &.heading {
        font-size: calc( 0.45 * var(--theme-heading-font-size--xl) );
        margin-top: 38px;
      }
    }

    // ---------------------------------------- Blog Feed & Read More
    &[data-style="blog-feed"],
    &[data-style="read-more"] {}

    // ---------------------------------------- Blog Feature Large
    &[data-style="blog-feature-large"] {
      .article {

        &__cta,
        &__date-time {}

        &__content {}

        &__cta {
          margin-top: 24px;
        }

        &__date-time {}

        &__image {
          height: 420px;
        }

        &__title {
          font-size: calc( 0.33 * var(--theme-heading-font-size--xl) );
          margin-top: -14px;
        }

      }
    }

    // ---------------------------------------- Blog Feature Small
    &[data-style="blog-feature-small"] {
      .article {

        &__content,
        &__image {}

        &__date-time {
          margin-top: 12px;
        }

        &__image {
          height: 124px;
        }

        &__preview {}

        &__title {
          font-size: 18px;
        }

      }
    }

    // ---------------------------------------- Blog Feed
    &[data-style="blog-feed"] {
      .article {
        &__cta {
          margin-top: 24px;
        }
        &__image {
          height: var(--theme-article-preview-feature-image-height--xl);
        }
        &__title {
          font-size: calc( .45 * var(--theme-heading-font-size--xl) );
        }
      }
    }

    // ---------------------------------------- Read More
    &[data-style="read-more"] {
      .article {
        &__image {
          height: 296px;
        }
        &__title {
          font-size: calc( .35 * var(--theme-heading-font-size--xl) );
        }
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .share-this,
    .tags {
      margin-top: 46px;
    }

    .heading {
      &--read-more {
        font-size: calc( .6 * var(--theme-heading-font-size--xxl) );
        padding-bottom: 44px;
        padding-top: 20px;
      }
      &--title {}
    }

    &__content {
      margin-top: 46px;
    }

    &__author,
    &__date-time {
      font-size: var(--theme-foundation-font-size--xxl);
    }

    &__meta {
      font-size: var(--theme-foundation-font-size--xxl);
    }

    &__read-more {
      margin-top: 100px;
      &-cta {
        margin-top: 80px;
      }
    }

    &__title {
      &.heading {
        font-size: calc( 0.45 * var(--theme-heading-font-size--xxl) );
        margin-top: 38px;
      }
    }

    // ---------------------------------------- Blog Feed & Read More
    &[data-style="blog-feed"],
    &[data-style="read-more"] {}

    // ---------------------------------------- Blog Feature Large
    &[data-style="blog-feature-large"] {
      .article {

        &__cta,
        &__date-time {}

        &__content {}

        &__cta {
          margin-top: 30px;
        }

        &__date-time {}

        &__image {
          height: 486px;
        }

        &__title {
          font-size: calc( 0.33 * var(--theme-heading-font-size--xxl) );
          margin-top: -16px;
        }

      }
    }

    // ---------------------------------------- Blog Feature Small
    &[data-style="blog-feature-small"] {
      .article {

        &__content,
        &__image {}

        &__date-time {
          margin-top: 14px;
        }

        &__image {
          height: 146px;
        }

        &__preview {}

        &__title {
          font-size: 20px;
        }

      }
    }

    // ---------------------------------------- Blog Feed
    &[data-style="blog-feed"] {
      .article {
        &__cta {
          margin-top: 28px;
        }
        &__image {
          height: var(--theme-article-preview-feature-image-height--xxl);
        }
        &__title {
          font-size: calc( .45 * var(--theme-heading-font-size--xxl) );
        }
      }
    }

    // ---------------------------------------- Read More
    &[data-style="read-more"] {
      .article {
        &__image {
          height: 346px;
        }
        &__title {
          font-size: calc( .35 * var(--theme-heading-font-size--xxl) );
        }
      }
    }

  } // min width xxl

} // .article
