//////////////////////////////////////////////////////////
////  Blog | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Blog | Styles
//////////////////////////////////////////////////////////

.blog {

  .article {
    margin-bottom: var(--theme-article-stack-margin-bottom);
  }

  .hero {
    margin-bottom: 40px;
    &__content {
      display: flex;
      width: 100%;
      flex-flow: row wrap;
    }
    &__title {
      display: inline-block;
      width: 100%;
      border: none;
    }
  }

  .tags {
    margin-top: 26px;
  }

  &__feed {
    margin-bottom: calc( -1 * var(--theme-article-stack-margin-bottom) );
  }

  @include media-breakpoint-up(sm) {

    .article {
      margin-bottom: var(--theme-article-stack-margin-bottom--sm);
    }

    &__feed {
      margin-bottom: calc( -1 * var(--theme-article-stack-margin-bottom--sm) );
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .article {
      margin-bottom: var(--theme-article-stack-margin-bottom--md);
    }

    &__feed {
      margin-bottom: calc( -1 * var(--theme-article-stack-margin-bottom--md) );
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .article {
      margin-bottom: var(--theme-article-stack-margin-bottom--lg);
    }

    .hero {
      margin-bottom: 64px;
      &__tags,
      &__title {
        width: auto;
      }
      &__content {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: baseline;
      }
    }

    .tags {
      margin-top: 0;
      flex: 1;
      justify-content: flex-end;
    }

    &__feed {
      margin-bottom: calc( -1 * var(--theme-article-stack-margin-bottom--lg) );
    }

    &__pagination {
      padding-top: 80px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .article {
      margin-bottom: var(--theme-article-stack-margin-bottom--xl);
    }

    &__feed {
      margin-bottom: calc( -1 * var(--theme-article-stack-margin-bottom--xl) );
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .article {
      margin-bottom: var(--theme-article-stack-margin-bottom--xxl);
    }

    &__feed {
      margin-bottom: calc( -1 * var(--theme-article-stack-margin-bottom--xxl) );
    }

  } // min width xxl

} // .blog
