//////////////////////////////////////////////////////////
////  Body | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Body | Styles
//////////////////////////////////////////////////////////

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  scroll-margin-top: 20px;
  scroll-padding-top: 100px;
}

html {
  scroll-padding-top: 100px;
}

body {

  background: rgba( var(--theme-page-colour-rgb), 1 );
  color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
  position: relative;
  scroll-margin-top:20px;

  a {
    text-decoration: none;
    outline: none;
    &:focus,
    &:hover {
      text-decoration: none;
      outline: none;
    }
  }

  &.sticky-footer {
    display: flex;
    flex-direction: column;
    main {
      flex: 1 0 auto;
    }
    footer {
      flex-shrink: 0;
    }
  }

  &.template--index {
  }

  &.page--learn {
  }

  &.page--landing-lead-gen {
    header {
      position: relative;
    }
    main {
      padding-top: 0;
    }
  }

  @include media-breakpoint-up(sm) {
  } // min width sm

  @include media-breakpoint-up(md) {
  } // min width md

  @include media-breakpoint-up(lg) {
  } // min width lg

  @include media-breakpoint-up(xl) {
  } // min width xl

  @include media-breakpoint-up(xxl) {
  } // min width xxl
} // body
