//////////////////////////////////////////////////////////
////  Cart | Variables
//////////////////////////////////////////////////////////

:root {
  --theme-cart-product-tbn-size: 64px;
  --theme-cart-product-tbn-size--sm: 108px;
  --theme-cart-product-tbn-size--md: 136px;
  --theme-cart-product-tbn-size--lg: 100px;
  --theme-cart-product-tbn-size--xl: 100px;
  --theme-cart-product-tbn-size--xxl: 100px;
}

//////////////////////////////////////////////////////////
////  Cart | Styles
//////////////////////////////////////////////////////////

.cart {

  .product {

    &__quantity {
      width: 100%;
      &-button,
      &-total {
        font-size: 12px;
      }
      &-button {
        &.decrease,
        &.increase {
          min-width: 40px;
        }
        &.decrease {
          padding-left: 12px;
        }
        &.increase {
          padding-right: 12px;
        }
      }
    }

    &[data-product-type="Set"] {
      .product__image {
        @include add-border();
      }
    }

  }

  &__actions {
    padding-top: var(--bs-gutter-width);
    .button {
      width: 100%;
      & + .button {
        margin-top: var(--bs-gutter-width);
      }
    }
    .cart__row {
      flex-flow: row wrap;
      justify-content: center;
      & + .cart__row {
        margin-top: var(--bs-gutter-width);
      }
    }
  }

  &__body {
    padding-top: 30px;
  }

  &__item {

    padding: calc( 1.5 * var(--bs-gutter-width) ) 0;

    &-line-price,
    &-price,
    &-product-selling-plan,
    &-remove-link {
      font-family: var(--theme-serif--avenue-x);
      font-weight: 300;
    }

    &-line-price,
    &-price {
      font-size: 14px;
      margin-bottom: 12px;
    }

    &-product-selling-plan,
    &-remove-link {
      font-size: 10px;
    }

    &-product-title,
    &-product-variant-title {
      text-transform: lowercase;
    }

    &-product-selling-plan,
    &-product-variant-title {
      margin-top: 10px;
    }

    // ---------------------------------------- Product
    &-product {

      a {
        transition: color 280ms, opacity 280ms;
        &:hover {
          opacity: var(--theme-hover-opacity);
        }
      }

      &-compare-at-price {
        margin-right: 10px;
        opacity: 0.3333;
        text-decoration: line-through;
      }

      &-image {
        width: var(--theme-cart-product-tbn-size);
        height: auto;
        a, img, svg {
          display: block;
          width: 100%;
          height: auto;
        }
        a {
          transition: opacity 280ms;
          &:hover {
            opacity: var(--theme-hover-opacity);
          }
        }
      }

      &-selling-plan {
        display: flex;
        width: 100%;
        flex-flow: column;
        line-height: 1.5;
      }

      &-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        a {
          transition: opacity 280ms;
          color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
          &:hover {
            opacity: var(--theme-hover-opacity);
          }
        }
      }

      &-variant-title {
        font-family: var(--theme-serif--avenue-x);
        font-weight: 300;
        font-size: 12px;
        line-height: 1;
      }

    }

    &-quantity {
      display: inline-flex;
      align-items: flex-end;
      flex-flow: column;
      position: relative;
    }

    &-remove {
      margin-top: 24px;
    }

    &-remove-link {
      transition: border 280ms, opacity 280ms;
      color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
      border-bottom: 1px solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
      &:hover {
        opacity: var(--theme-hover-opacity);
        color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
        border-bottom-color: transparent;
      }
    }

    & + .cart__item {
      border-top: var(--theme-border-width) solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
    }

  }

  &__column {
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    &.actions,
    &.info {
      margin-left: var(--bs-gutter-width);
      justify-content: center;
    }
    &.actions {
      align-items: flex-end;
    }
    &.info {
      flex: 1;
    }
  }

  &__continue-shopping {
    font-family: var(--theme-serif--avenue-x);
    a {
      color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
      border-bottom: 1px solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
      &:hover {
        border-bottom-color: transparent;
      }
    }
  }

  &__empty {
    text-align: center;
    padding-top: 30px;
    .rte {
      margin-top: 22px;
    }
  }

  &__line-items {
    border-bottom: var(--theme-border-width) solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
    border-top: var(--theme-border-width) solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
  }

  &__pre-order {
    padding-bottom: var(--bs-gutter-width);
    text-align: center;
    font-weight: bold !important;
    p, li {
      font-weight: inherit;
    }
  }

  &__price-summary {
    border-bottom: var(--theme-border-width) solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
    font-family: var(--theme-serif--avenue-x);
    padding: var(--bs-gutter-width) 0;
    font-size: 12px;
    line-height: 1;
    font-weight: 300;
    .cart__row {
      justify-content: space-between;
      align-items: center;
    }
  }

  &__subtotal {}

  &__total {
    margin-top: 12px;
  }

  &__row {
    display: flex;
    width: 100%;
    height: auto;
    flex-flow: row nowrap;
  }

  &__table-guide {
    display: none;
  }

  @include media-breakpoint-up(sm) {

    .product {
      &__quantity {
        &-button,
        &-total {
          font-size: 16px;
        }
        &-button {
          &.decrease,
          &.increase {
            min-width: 45px;
          }
          &.decrease {
            padding-left: 12px;
          }
          &.increase {
            padding-right: 12px;
          }
        }
      }
    }

    &__item {

      &-line-price,
      &-price {
        font-size: 16px;
        margin-bottom: 16px;
      }

      &-product-selling-plan,
      &-remove-link {
        font-size: 13px;
      }

      &-product-selling-plan,
      &-product-variant-title {
        margin-top: 12px;
      }

      // ---------------------------------------- Product
      &-product {

        &-image {
          width: var(--theme-cart-product-tbn-size--sm);
        }

        &-title {
          font-size: 21px;
        }

        &-variant-title {
          font-size: 16px;
        }

      }

      &-remove {
        margin-top: 28px;
      }

    }

    &__price-summary {
      font-size: 16px;
    }

    &__total {
      margin-top: 15px;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .product {

      &__quantity {
        &-button,
        &-total {
          font-size: 18px;
        }
        &-button {
          &.decrease,
          &.increase {
            min-width: 50px;
          }
          &.decrease {
            padding-left: 12px;
          }
          &.increase {
            padding-right: 12px;
          }
        }
      }

    }

    &__item {

      &-line-price,
      &-price {
        font-size: 18px;
        margin-bottom: 18px;
      }

      &-product-selling-plan,
      &-remove-link {
        font-size: 15px;
      }

      &-product-selling-plan,
      &-product-variant-title {
        margin-top: 14px;
      }

      // ---------------------------------------- Product
      &-product {
        &-image {
          width: var(--theme-cart-product-tbn-size--md);
        }
        &-title {
          font-size: 28px;
        }
        &-variant-title {
          font-size: 18px;
        }
      }

      &-remove {
        margin-top: 28px;
      }

    }

    &__price-summary {
      font-size: 18px;
    }

    &__total {
      margin-top: 15px;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    $table-column-width: 140px;
    $table-column-width--price: 90px;

    .product {
      &__quantity {
        width: auto;
        &-button,
        &-total {
          font-size: 13px;
        }
        &-button {
          &.decrease,
          &.increase {
            min-width: 40px;
          }
          &.decrease {
            padding-left: 12px;
          }
          &.increase {
            padding-right: 12px;
          }
        }
      }
    }

    &__empty {
      padding-top: 50px;
      .rte {
        margin-top: 26px;
      }
    }

    &__subtotal-value,
    &__toal-value {
      min-width: 160px;
      text-align: right;
    }

    &__actions {
      padding-top: calc( 1.25 * var(--bs-gutter-width) );
      .button {
        width: auto;
        & + .button {
          margin-left: var(--bs-gutter-width);
          margin-top: 0;
        }
      }
      .cart__row {
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
      }
    }

    &__body {
      padding-top: 50px;
    }

    &__continue-shopping {
      font-size: 12px;
    }

    &__item {

      padding: calc( 2 * var(--bs-gutter-width) ) 0;

      &-line-price,
      &-price {
        font-size: 14px;
        margin: 0;
        text-align: right;
      }

      &-product-selling-plan,
      &-remove-link {
        font-size: 12px;
      }

      &-line-price,
      &-quantity {
        width: $table-column-width;
      }

      &-product-selling-plan,
      &-product-variant-title {
        margin-top: 16px;
      }

      &-price {
        margin-right: $table-column-width--price;
        text-align: right;
        width: auto;
      }

      // ---------------------------------------- Product
      &-product {

        &-image {
          width: var(--theme-cart-product-tbn-size--lg);
        }

        &-selling-plan {
          flex-flow: row nowrap;
        }

        &-selling-plan-price-adjustments {
          margin-left: 10px;
        }

        &-title {
          font-size: 22px;
        }

        &-variant-title {
          font-size: 16px;
        }

      }

      &-quantity {
        text-align: center;
        align-items: center;
      }

      &-remove {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        text-align: center;
        margin: 20px 0 0 0;
      }

    }

    &__column {
      &.actions {
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
      }
    }

    &__pre-order {
      margin-right: var(--bs-gutter-width);
      text-align: left;
      padding: 0;
      flex: 1;
    }

    &__price-summary {
      padding: calc( 1.25 * var(--bs-gutter-width) ) 0;
      font-size: 14px;
      .cart__row {
        justify-content: flex-end;
      }
    }


    &__table-guide {
      display: block;
      margin: 0 0 10px 0;
      .cart__column {
        font-family: var(--theme-serif--avenue-x);
        font-size: 12px;
        &.info {
          flex: 1;
          margin: 0;
        }
        &.line-price,
        &.price,
        &.quantity {
          width: $table-column-width;
        }
        &.price {
          margin-right: $table-column-width--price;
          text-align: right;
          width: auto;
        }
        &.quantity {
          text-align: center;
        }
        &.line-price {
          text-align: right;
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    $table-column-width: 160px;
    $table-column-width--price: 110px;

    .product {
      &__quantity {
        &-button,
        &-total {
          font-size: 14px;
        }
        &-button {
          &.decrease,
          &.increase {
            min-width: 45px;
          }
          &.decrease {
            padding-left: 12px;
          }
          &.increase {
            padding-right: 12px;
          }
        }
      }
    }

    &__subtotal-value,
    &__toal-value {
      min-width: 180px;
    }

    &__actions {
      padding-top: calc( 1.25 * var(--bs-gutter-width) );
    }

    &__continue-shopping {
      font-size: 13px;
    }

    &__item {

      &-line-price,
      &-price {
        font-size: 15px;
      }

      &-line-price,
      &-quantity {
        width: $table-column-width;
      }

      &-product-selling-plan,
      &-remove-link {
        font-size: 13px;
      }

      &-product-selling-plan,
      &-product-variant-title {
        margin-top: 18px;
      }

      &-price {
        margin-right: $table-column-width--price;
      }

      // ---------------------------------------- Product
      &-product {

        &-image {
          width: var(--theme-cart-product-tbn-size--xl);
        }

        &-title {
          font-size: 24px;
        }

        &-variant-title {
          font-size: 17px;
        }

      }

      &-remove {
        margin: 20px 0 0 0;
      }

    }

    &__price-summary {
      padding: calc( 1.25 * var(--bs-gutter-width) ) 0;
      font-size: 15px;
    }

    &__table-guide {
      .cart__column {
        font-size: 13px;
        &.line-price,
        &.price,
        &.quantity {
          width: $table-column-width;
        }
        &.price {
          margin-right: $table-column-width--price;
        }
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    $table-column-width: 180px;
    $table-column-width--price: 120px;

    .product {
      &__quantity {
        &-button,
        &-total {
          font-size: 15px;
        }
        &-button {
          &.decrease,
          &.increase {
            min-width: 45px;
          }
          &.decrease {
            padding-left: 12px;
          }
          &.increase {
            padding-right: 12px;
          }
        }
      }
    }

    &__subtotal-value,
    &__toal-value {
      min-width: 200px;
    }

    &__actions {
      padding-top: calc( 1.25 * var(--bs-gutter-width) );
    }

    &__continue-shopping {
      font-size: 14px;
    }

    &__item {

      &-line-price,
      &-price {
        font-size: 16px;
      }

      &-line-price,
      &-quantity {
        width: $table-column-width;
      }

      &-product-selling-plan,
      &-remove-link {
        font-size: 14px;
      }

      &-product-selling-plan,
      &-product-variant-title {
        margin-top: 20px;
      }

      &-price {
        margin-right: $table-column-width--price;
      }

      // ---------------------------------------- Product
      &-product {

        &-image {
          width: var(--theme-cart-product-tbn-size--xxl);
        }

        &-title {
          font-size: 26px;
        }

        &-variant-title {
          font-size: 18px;
        }

      }

      &-remove {
        margin: 20px 0 0 0;
      }

      &-remove-link {
        font-size: 14px;
      }

    }

    &__price-summary {
      padding: calc( 1.25 * var(--bs-gutter-width) ) 0;
      font-size: 16px;
    }

    &__table-guide {
      .cart__column {
        font-size: 14px;
        &.line-price,
        &.price,
        &.quantity {
          width: $table-column-width;
        }
        &.price {
          margin-right: $table-column-width--price;
        }
      }
    }

  } // min width xxl

} // .cart
