//////////////////////////////////////////////////////////
////  Collection | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Collection | Styles
//////////////////////////////////////////////////////////

.collection {

  &__hero {
    padding-top: var(--theme-total-header-height);
    .heading {
      border-top-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
      border-top-width: var(--theme-border-width);
      border-top-style: solid;
      padding-top: 15px;
    }
    margin-bottom: 40px;
  }

  &__image {}

  &__preview {
    a {
      display: block;
      height: auto;
    }
  }

  &__title {}

  // ---------------------------------------- Shop Guide
  &.shop-guide {
    width: calc( ( 100% * 0.5 ) - var(--bs-gutter-width) );
    padding: 0;
    position: relative;
    .collection {
      &__image {
        @include add-border( rgba( var(--theme-essentials-charcoal--rgb), 1 ), 9999px );
        overflow: hidden;
        width: 100%;
        height: auto;
        position: relative;
      }
      &__title {
        margin-top: 22px;
        width: 100%;
        text-align: center;
        line-height: 1.25;
        font-weight: 300;
        &:hover {
          opacity: inherit;
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {

    // ---------------------------------------- Shop Guide
    &.shop-guide {
      .collection {
        &__image {}
        &__title {}
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    // ---------------------------------------- Shop Guide
    &.shop-guide {
      .collection {
        &__image {}
        &__title {}
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__hero {
      margin-bottom: 58px;
    }

    // ---------------------------------------- Shop Guide
    &.shop-guide {
      width: calc( ( 100% * 0.25 ) - var(--bs-gutter-width) );
      .collection {
        &__image {}
        &__title {
          margin-top: 26px;
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    // ---------------------------------------- Shop Guide
    &.shop-guide {
      .collection {
        &__image {}
        &__title {
          margin-top: 28px;
        }
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    // ---------------------------------------- Shop Guide
    &.shop-guide {
      .collection {
        &__image {}
        &__title {
          margin-top: 30px;
        }
      }
    }

  } // min width xxl

} // .collection
