//////////////////////////////////////////////////////////
////  Container | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Container | Styles
//////////////////////////////////////////////////////////

.container {

  width: calc( 100% - 22px );

  &-fluid,
  &-xxl,
  &-xl,
  &-lg,
  &-md,
  &-sm {
    width: calc( 100% - 22px );
  }

  @include media-breakpoint-up(sm) {

    width: 100%;

    &-xxl,
    &-xl,
    &-lg,
    &-md,
    &-sm {
      width: 100%;
    }

  } // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

}

