//////////////////////////////////////////////////////////
////  Customers | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Customers | Styles
//////////////////////////////////////////////////////////

.customers {

  .form {
    &--customers {
      .form {
        &__link {
          &--create-account {
            margin-top: 32px;
          }
        }
      }
    }
  }

  .form--customers-register,
  .form--customers-reset-password {
    .actions {
      justify-content: center;
    }
  }

  .form--activate-customer,
  .form--customers-reset-password {
    .errors,
    .intro {
      justify-content: center;
    }
  }

  .form--activate-customer {
    span {
      margin: 0 12px 0 0;
    }
    .actions,
    .decline-actions {
      justify-content: center;
    }
    .actions {
      .button {
        min-width: auto;
        flex: auto;
        flex: none;
        width: auto;
        display: inline-flex;
      }
    }
    .decline-actions {
      align-items: baseline;
      span,
      .link {
        line-height: 1;
      }
      .link {
        border-radius: 0px;
        min-width: auto;
        flex: none;
        padding: 0;
        margin: 0;
        border: none;
        min-height: unset;
        width: auto;
        border-bottom: var(--theme-border-width) solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
        &:focus,
        &:hover {
          border-bottom-color: transparent;
        }
      }
    }
  }

  .form--customers-login {
    .actions {
      flex-flow: column;
      justify-content: center;
      align-items: center;
      .button + .link {
        margin-top: 32px;
      }
    }
  }

  .form--customers-recover-password {
    .intro {
      flex-flow: row wrap;
      width: 100%;
      h2, p {
        width: 100%;
      }
      p {
        margin-top: -20px;
      }
    }
  }

  .heading {
    &--primary {
      border-top: solid rgba( var(--theme-essentials-charcoal--rgb), 1 ) var(--theme-border-width);
    }
    &--tertiary {
      // margin-bottom: 32px;
    }
  }

  .hide {
    display: none;
  }

  &__details,
  &__history {
    text-align: center;
    .heading {
      margin-bottom: 32px;
    }
  }

  &__address {
    p {
      font-size: 14px;
      margin: 0;
      line-height: 1.45;
    }
  }

  &__address-item {
    margin-bottom: 45px;
    .form {
      padding-top: 45px;
    }
    &-actions {
      margin-top: 32px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .button {
        min-width: 100px;
        & + .button {
          margin-left: 15px;
        }
      }
    }
    &-address {
      font-size: 16px;
      line-height: 1.45;
      p {
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        margin: 0;
      }
    }
    &-heading {
      position: relative;
      margin-bottom: 36px;
      span {
        font-family: var(--theme-serif--avenue-x);
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
        display: block;
        position: absolute;
        left: 0;
        top: calc( 100% + 12px );
        text-transform: none;
      }
    }
    &-main {
      @include add-border();
      padding: var(--bs-gutter-width);
    }
  }

  &__addresses {
    &-grid {
      margin-bottom: -45px;
    }
    & + .customers__new-address-cta {
      margin-top: 50px;
    }
  }

  &__column {
    font-family: var(--theme-serif--avenue-x);
    display: inline-flex;
    font-size: 12px;
    font-weight: inherit;
    line-height: 1;
    width: 72%;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    &.order-number {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__details {
    margin-top: 36px;
  }

  &__hero {
    text-align: center;
    .heading {
      padding-top: 30px;
      & + .link {
        margin-top: 24px;
      }
    }
    padding-bottom: 46px;
    .customers__link {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-top: 32px;
      &-icon,
      &-title {
        display: block;
      }
      &-icon {
        height: 18px;
        width: auto;
        margin-right: 10px;
        img, svg {
          height: 100%;
          width: auto;
          display: block;
        }
      }
    }
  }

  &__logged-in {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__login-form {
    .errors {
      color: red;
    }
  }

  &__new-address {
    &-cta {
      text-align: center;
    }
    &-form {
      padding-top: 45px;
    }
  }

  &__table-guide {
    font-family: var(--theme-serif--avenue-x);
    font-weight: 300;
    line-height: 1;
    padding-bottom: 14px;
    display: none;
  }

  &__order-line-items {
    border-top: rgba( var(--theme-essentials-charcoal--rgb), 1 ) var(--theme-border-width) solid;
    border-bottom: rgba( var(--theme-essentials-charcoal--rgb), 1 ) var(--theme-border-width) solid;
  }

  &__order-line-item {
    padding: var(--bs-gutter-width) 0;
    .customers__row {
      margin-bottom: -12px;
    }
    & + .customers__order-line-item {
      border-top: rgba( var(--theme-essentials-charcoal--rgb), 1 ) var(--theme-border-width) solid;
    }
  }

  &__row {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    position: relative;
    flex-flow: column;
  }

  &__update-address-button {
    margin-top: 32px;
  }

  @include media-breakpoint-up(sm) {

    &__address {
      p {
        font-size: 15px;
      }
    }

    &__column {
      font-size: 13px;
      margin-bottom: 13px;
    }

    &__order-line-item {
      .customers__row {
        margin-bottom: -13px;
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__address {
      p {
        font-size: 16px;
      }
    }

    &__column {
      font-size: 14px;
      margin-bottom: 14px;
    }

    &__order-line-item {
      .customers__row {
        margin-bottom: -14px;
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__address {
      p {
        font-size: 12px;
      }
    }

    &__details,
    &__history {
      text-align: left;
    }

    &__column {
      font-size: 10px;
      width: auto;
      margin: 0;
      width: 20%;
      &-label {
        display: none;
      }
      &.order-payment-status,
      &.order-fulfillment-status {
        width: auto;
        flex: 1;
      }
      &.order-number {
        position: relative;
        top: unset;
        left: unset;
        //background: rgba( red, 0.05 );
        width: 15%;
      }
      &.order-date {
        //background: rgba( green, 0.05 );
      }
      &.order-payment-status {
        //background: rgba( pink, 0.05 );
      }
      &.order-fulfillment-status {
        //background: rgba( blue, 0.05 );
      }
      &.order-total {
        //background: rgba( yellow, 0.05 );
        justify-content: flex-end;
        width: 15%;
      }
    }

    &__details {
      margin-top: 0;
    }

    &__hero {
      .heading {
        padding-top: 50px;
      }
      padding-bottom: 66px;
    }

    &__history {
      padding-right: var(--bs-gutter-width);
    }

    &__order-line-item {
      .customers__row {
        margin-bottom: 0;
      }
    }

    &__row {
      flex-flow: row;
      justify-content: space-between;
    }

    &__table-guide {
      display: block;
      .customers__column {
        font-size: 9px;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__address {
      p {
        font-size: 14px;
      }
    }

    &__column {
      font-size: 12px;
    }

    &__table-guide {
      display: block;
      .customers__column {
        font-size: 10px;
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__address {
      p {
        font-size: 16px;
      }
    }

    &__column {
      font-size: 14px;
    }

    &__table-guide {
      display: block;
      .customers__column {
        font-size: 12px;
      }
    }

  } // min width xxl

} // .customers
