//////////////////////////////////////////////////////////
////  Fonts | Variables
//////////////////////////////////////////////////////////

@font-face {
  font-family: 'Avenue X';
  src: url('AvenueX-Regular.eot');
  src: local('Avenue X Regular'), local('AvenueX-Regular'),
      url('AvenueX-Regular.eot?#iefix') format('embedded-opentype'),
      url('AvenueX-Regular.woff2') format('woff2'),
      url('AvenueX-Regular.woff') format('woff'),
      url('AvenueX-Regular.ttf') format('truetype'),
      url('AvenueX-Regular.svg#AvenueX-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

