//////////////////////////////////////////////////////////
////  Footer | Variables
//////////////////////////////////////////////////////////

:root {

  --theme-footer-font-size: 13px;
  --theme-footer-font-size--sm: 13px;
  --theme-footer-font-size--md: 13px;
  --theme-footer-font-size--lg: 13px;
  --theme-footer-font-size--xl: 13px;
  --theme-footer-font-size--xxl: 13px;

}

//////////////////////////////////////////////////////////
////  Footer | Styles
//////////////////////////////////////////////////////////

.footer {

  @import '../fixes/_cd-fixes-footer.scss';

  .form {
    min-height: 36px;
    input {
      border: none;
      border-bottom: rgba( var(--theme-essentials-charcoal--rgb), 1 ) solid var(--theme-border-width);
      border-radius: 0;
      padding-left: 0;
    }
    label {
      display: none;
    }
    &__main {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-end;
      max-width: 454px;
    }

    &__field {
      &.error {
        margin: 0;
      }
    }

    &__row {
      &.action {
        margin-left: var(--bs-gutter-width);
        width: auto;
      }
      &.email {
        flex: 1;
      }
    }
  }

  .heading {
    color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    font-family: var(--theme-sans-serif--sofia-pro);
    text-transform: lowercase;
    width: 100%;
    &--newsletter {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.3125;
      max-width: 280px;
      margin-bottom: 18px;
    }
    &--secondary {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 0.9;
      margin-bottom: 24px;
    }
  }

  .horizontal-rule {
    &__main {
      width: calc( 100% + (22px * 2));
      left: -22px;
    }
  }

  .navigation {
    color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 52px;
    &__item {
      width: 100%;
      & + .navigation__item {
        margin-top: 18px;
      }
    }
    &__link {
      font-family: var(--theme-sans-serif--sofia-pro);
      font-size: var(--theme-footer-font-size);
      font-style: normal;
      font-weight: normal;
    }
    &--policies {
      margin-top: 18px;
      width: 100%;
      .navigation {
        &__item {
          width: auto;
          & + .navigation__item {
            margin-top: 0;
            margin-left: 18px;
          }
        }
        &__link {

        }
      }
    }
  }

  .newsletter {
    margin: 48px 0;
    display: block;
  }

  &__brand {
    height: 42px;
    img {
      display: block;
      height: 100%;
      width: auto;
    }
  }

  &__contact {
    width: 100%;
    p {
      font-family: var(--theme-sans-serif--sofia-pro);
      font-size: var(--theme-footer-font-size);
      font-style: normal;
      font-weight: normal;
      margin: 0;
      a {
        display: inline-block;
        color: inherit;
      }
      & + p {
        margin-top: 18px;
      }
    }
  }

  &__legal {
    font-family: var(--theme-serif--avenue-x);
    margin-top: 52px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    .navigation__link {
      text-transform: initial;
      font-family: inherit;
      font-weight: inherit;
      font-style: inherit;
      font-size: inherit;
    }

  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    .navigation,
    &__contact {
      min-width: 200px;
    }

    .form {
      button,
      input,
      textarea {
        font-size: 12px;
      }
      &__main {
        max-width: 390px;
      }
    }

    .heading {
      &--newsletter {
        max-width: 438px;
        font-size: 22px;
      }
      &--secondary {
        font-size: 16px;
        margin-bottom: 16px;
      }
    }

    .horizontal-rule {
      &__main {
        width: 100%;
        left: 0;
      }
    }

    .navigation {
      flex-flow: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0;
      &__item {
        & + .navigation__item {
          margin-top: 8px;
        }
      }
      &__link {
        font-size: 12px;
      }
      &--policies {
        margin-top: 0;
        width: auto;
        justify-content: flex-start;
        flex: 1;
        margin-left: 16px;
        .navigation {
          &__item {
            width: auto;
            & + .navigation__item {
              margin-top: 0;
              margin-left: 20px;
            }
          }
          &__link {
            font-size: 10px;
          }
        }
      }
    }

    &__brand {
      margin-left: auto;
      img {
        margin-left: auto;
      }
    }

    &__contact {
      width: auto;
      margin-right: 25px;
      p {
        font-size: 12px;
        & + p {
          margin-top: 10px;
        }
      }
    }

    &__copyright {
      font-family: var(--theme-serif--avenue-x);
      font-size: 10px;
      font-weight: 300;
      margin-top: 25px;
    }

    &__legal {
      align-items: baseline;
      font-size: 10px;
    }

    &__main {
      padding-bottom: 50px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .navigation,
    &__contact {
      min-width: 210px;
    }

    .form {
      &__main {
        max-width: 430px;
      }
    }

    .heading {
      &--newsletter {
        max-width: 500px;
        font-size: 25px;
      }
      &--secondary {
        font-size: 17px;
      }
    }

    .navigation {
      &__item {}
      &__link {
        font-size: 13px;
      }
      &--policies {
        margin-left: 16px;
        .navigation {
          &__item {
            & + .navigation__item {
              margin-left: 20px;
            }
          }
          &__link {
            font-size: 11px;
          }
        }
      }
    }

    &__contact {
      margin-right: 35px;
      p {
        font-size: 13px;
        & + p {
          margin-top: 10px;
        }
      }
    }

    &__legal {
      font-size: 11px;
    }

    &__main {
      padding-bottom: 55px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .navigation,
    &__contact {
      min-width: 220px;
    }

    .heading {
      &--newsletter {
        max-width: 525px;
        font-size: 26px;
      }
      &--secondary {
        font-size: 18px;
      }
    }

    .form {
      &__main {
        max-width: 460px;
      }
    }

    .navigation {
      &__item {}
      &__link {
        font-size: 14px;
      }
      &--policies {
        margin-left: 16px;
        .navigation {
          &__item {
            & + .navigation__item {
              margin-left: 20px;
            }
          }
          &__link {
            font-size: 12px;
          }
        }
      }
    }

    &__contact {
      margin-right: 45px;
      p {
        font-size: 14px;
        & + p {
          margin-top: 10px;
        }
      }
    }

    &__legal {
      font-size: 12px;
    }

    &__main {
      padding-bottom: 60px;
    }

  } // min width xxl

} // .footer
