//////////////////////////////////////////////////////////
////  Form | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Form | Styles
//////////////////////////////////////////////////////////

.form {

  transition: height 280ms;

  button,
  input,
  textarea {
    font-family: var(--theme-serif--avenue-x);
    color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    background: transparent;
    font-size: 14px;
    line-height: 1;
    outline: none;
    &:focus {
      outline: none;
    }
  }

  button,
  input {
    min-height: var(--theme-button-height);
  }

  input,
  select,
  textarea {
    @include placeholder {
      color: rgba( var(--theme-essentials-charcoal--rgb), 0.3333 );
    }
    width: 100%;
    display: block;
  }

  select,
  textarea {
    @include add-border();
    padding-left: 22px;
    padding-right: 22px;
  }

  textarea {
    padding-top: 22px;
    padding-bottom: 22px;
    line-height: 1.2;
    min-height: calc( 3 * var(--theme-button-height));
  }

  .error {
    .form__error {
      transform: translate3d(0, 10px, 0);
      opacity: 1;
    }
  }

  .error-status {
    display: none;
    p {
      margin: 0;
      font-size: 15px;
    }
  }

  .rude {
    display: none;
  }

  &__action,
  &__row {
    display: inline-flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__row {
    &.actions {
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      button + button,
      .button + .button {
        margin-left: 12px;
      }
    }
    & + .form__row {
      margin-top: var(--bs-gutter-width);
      &.actions {
        margin-top: calc( 1.6666 * var(--bs-gutter-width) );
      }
    }
  }

  &__error {
    transition: opacity 280ms 50ms, transform 280ms;
    font-family: var( --theme-sans-serif--sofia-pro );
    font-size: 10px;
    transform: translate3d(0, -2px, 0);
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
  }

  &__field {
    transition: margin 280ms;
    display: inline-flex;
    flex-flow: row wrap;
    position: relative;
    width: 100%;
    &.error {
      margin-bottom: 10px;
    }
  }

  &__link {
    transition: border 280ms, color 280ms, opacity 280ms;
    color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    border-bottom: 1px solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
    &:hover {
      color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
      border-bottom-color: transparent;
    }
  }

  &__main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__success {
    display: none;
    &-message {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
    }
  }

  [data-field-count='2'] {
    justify-content: space-between;
    flex-flow: row wrap;
    .form__field {
      width: 100%;
      & + .form__field {
        margin-top: var(--bs-gutter-width);
      }
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {

    [data-field-count='2'] {
      flex-flow: row nowrap;
      .form__field {
        width: 48%;
        width: calc( (100% - var(--bs-gutter-width)) * 1/2 );
        & + .form__field {
          margin-top: 0;
        }
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    button,
    input {
      min-height: var(--theme-button-height--lg);
    }

    textarea {
      min-height: calc( 3 * var(--theme-button-height--lg));
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .form
