//////////////////////////////////////////////////////////
////  Header | Variables
//////////////////////////////////////////////////////////

:root {

  --theme-total-header-height: auto;

  --theme-header-navigation-icon-size: 20px;

  --theme-header-navigation-font-size--lg: 12x;
  --theme-header-navigation-font-size--xl: 14x;
  --theme-header-navigation-font-size--xxl: 16x;

}

//////////////////////////////////////////////////////////
////  Header | Styles
//////////////////////////////////////////////////////////

.header {

  transition: background 550ms, border 280ms;
  transition-timing-function: cubic-bezier( 0.22, 1, 0.36, 1 );
  background: rgba( var(--theme-white--rgb), 1 );
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 150;
  border-bottom-style: solid;
  border-bottom-width: var(--theme-border-width);
  border-bottom-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );

  .icon {
    height: var(--theme-header-navigation-icon-size);
    position: relative;
    a, img, svg {
      display: block;
      width: auto;
      height: 100%;
      margin: auto;
    }
    a {
      transition: opacity 280ms;
      position: relative;
      &:hover {
        opacity: var(--theme-hover-opacity);
      }
    }
    &__open,
    &__closed {
      transition: opacity 280ms;
      display: block;
      width: auto;
      height: 100%;
    }
    &__open {
      opacity: 1;
    }
    &__closed {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
    }
    &--mobile-menu {
      height: calc( var(--theme-header-navigation-icon-size) - 4px );
      cursor: pointer;
    }
  }

  .navigation {
    &__item {
      & + .navigation__item {
        margin-left: 24px;
      }
    }
    &__link {
      color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
      &.active,
      &:hover {
        color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
      }
    }
  }

  .cart-total {
    color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    position: absolute;
    right: 50%;
    line-height: 1;
    top: 50%;
    margin-top: -2px;
    font-size: 10px;
    margin-right: -2px;
  }

  &__brand {
    &.wordmark {
      height: 33px;
    }
    a, img {
      display: block;
      width: auto;
      height: 100%;
    }
    a {
      transition: opacity 280ms;
      &:hover {
        opacity: var(--theme-hover-opacity);
      }
    }
  }

  &__content {
    height: var(--theme-header-height);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &.scroll-pos--scrolled {
    // background: rgba( var(--theme-white--rgb), 0.95 );
    // border-bottom-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
  }

  &.mobile-menu--active {
    // background: rgba( var(--theme-white--rgb), 0.5 );
    // border-bottom-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    .icon {
      &__open {
        opacity: 0;
      }
      &__closed {
        opacity: 1;
      }
    }
  }

  &:hover {
    // background: rgba( var(--theme-white--rgb), 1 );
    // border-bottom-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
  }

  @include media-breakpoint-up(sm) {

    .navigation {
      &__item {
        & + .navigation__item {
          margin-left: 24px;
        }
      }
    }

    &__content {
      height: var( --theme-header-height--sm );
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .navigation {
      &__item {
        & + .navigation__item {
          margin-left: 24px;
        }
      }
    }

    &__brand {
      &.wordmark {
        height: 42px;
      }
    }

    &__content {
      height: var( --theme-header-height--md );
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .navigation {
      height: 100%;
      .icon {
        & + .icon {
          margin-left: 20px;
        }
      }
      &__item {
        &:not(.icon) {
          height: 100%;
          margin: 0 20px;
          justify-content: center;
          align-items: center;
        }
      }
      &__link {
        font-size: var(--theme-header-navigation-font-size--lg);
        border-bottom: var(--theme-border-width) solid transparent;
        font-weight: 500;
        display: inline-block;
        width: auto;
        line-height: 1.2;
        &.active,
        &:hover {
          border-bottom-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
        }
      }
    }

    .subnavigation {

      background: rgba( var(--theme-white--rgb), 1 );
      border-bottom: var(--theme-border-width) solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
      top: calc( var(--theme-total-header-height) - 10px );
      position: absolute;
      width: 100%;
      height: auto;
      left: 0;
      visibility: hidden;
      opacity: 0;

      &[data-index="1"] {
        .subnavigation__container {
          .subnavigation__block {
            & + .subnavigation__block {
              margin-left: 42px;
            }
            &:last-child {
              margin-right: 176px;
            }
          }
        }
      }

      &__heading,
      &__link {
        font-size: var(--theme-header-navigation-font-size--lg);
        color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
      }

      &__container {
        width: calc( 100% );
        margin: auto;
        justify-content: flex-end;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
      }

      &__heading {
        & + .subnavigation__item {
          margin-top: 12px;
        }
      }

      &__item {
        & + .subnavigation__item {
          margin-top: 6px;
        }
      }

      &__link {
        border-bottom: var(--theme-border-width) solid transparent;
        display: inline-block;
        width: auto;
        line-height: 1.2;
        &.active,
        &:hover {
          border-bottom-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
        }
      }

      &.active {
        border-bottom-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
        visibility: visible;
        opacity: 1;
      }

    }

    &__content {
      height: var( --theme-header-height--lg );
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .navigation {
      .icon {
        & + .icon {
          margin-left: 22px;
        }
      }
      &__item {
        &:not(.icon) {
          margin: 0 34px;
        }
      }
      &__link {
        font-size: var(--theme-header-navigation-font-size--xl);
      }
    }

    .subnavigation {

      &[data-index="1"] {
        .subnavigation__container {
          .subnavigation__block {
            & + .subnavigation__block {
              margin-left: 42px;
            }
            &:last-child {
              margin-right: 278px;
            }
          }
        }
      }

      &__heading,
      &__link {
        font-size: var(--theme-header-navigation-font-size--xl);
      }

      &__container {}

      &__heading {
        & + .subnavigation__item {
          margin-top: 12px;
        }
      }

      &__item {
        & + .subnavigation__item {
          margin-top: 6px;
        }
      }

    }

    &__content {
      height: var( --theme-header-height--xl );
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .navigation {
      .icon {
        & + .icon {
          margin-left: 24px;
        }
      }
      &__item {
        &:not(.icon) {
          margin: 0 36px;
        }
      }
      &__link {
        font-size: var(--theme-header-navigation-font-size--xxl);
      }
    }

    .subnavigation {

      &[data-index="1"] {
        .subnavigation__container {
          .subnavigation__block {
            & + .subnavigation__block {
              margin-left: 42px;
            }
            &:last-child {
              margin-right: 299px;
            }
          }
        }
      }

      &__heading,
      &__link {
        font-size: var(--theme-header-navigation-font-size--xxl);
      }

      &__container {
        padding-left: 5px;
        padding-right: 5px;
      }

      &__heading {
        & + .subnavigation__item {
          margin-top: 12px;
        }
      }

      &__item {
        & + .subnavigation__item {
          margin-top: 6px;
        }
      }

    }

    &__content {
      height: var( --theme-header-height--xxl );
    }

  } // min width xxl

} // .header
