//////////////////////////////////////////////////////////
////  Main | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Main | Styles
//////////////////////////////////////////////////////////

main {

  padding-top: var(--theme-total-header-height);
  padding-bottom: var(--theme-main-padding-bottom);

  &:not(.template--blog) {}

  &:not(.template--index) {
    // padding-bottom: 60px;
  }

  &.template--index {
    padding-bottom: 0;
  }

  &.page--contact-us,
  &.page--default,
  &.template--blog,
  &.template--cart,
  &.template--customers,
  &.template--product,
  &.template--search {
    padding-top: calc( 25px + var(--theme-total-header-height) );
  }

  @include media-breakpoint-up(sm) {

    padding-bottom: var(--theme-main-padding-bottom--sm);

  } // min width sm

  @include media-breakpoint-up(md) {

    padding-bottom: var(--theme-main-padding-bottom--md);

  } // min width md

  @include media-breakpoint-up(lg) {

    padding-bottom: var(--theme-main-padding-bottom--lg);

  } // min width lg

  @include media-breakpoint-up(xl) {

    padding-bottom: var(--theme-main-padding-bottom--xl);

  } // min width xl

  @include media-breakpoint-up(xxl) {

    padding-bottom: var(--theme-main-padding-bottom--xxl);

  } // min width xxl

}
