//////////////////////////_subnavigation.scss////////////////////////////////
////  Mobile Menu | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Mobile Menu | Styles
//////////////////////////////////////////////////////////

body {

  &.announcement-enabled {
    .mobile-menu {
      &__main {
        margin-top: calc( var(--theme-announcement-height) + var(--theme-header-height));
      }
    }
  }

  &.mobile-menu--active {
    overflow: hidden;
    .mobile-menu {
      transform: translate3d( 0, 0, 0 );
      overflow-y: auto;
      height: 100%;
    }
  }

  @include media-breakpoint-up(sm) {

    &.announcement-enabled {
      .mobile-menu {
        &__main {
          margin-top: calc( var(--theme-announcement-height) + var(--theme-header-height--sm));
        }
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &.announcement-enabled {
      .mobile-menu {
        &__main {
          margin-top: calc( var(--theme-announcement-height) + var(--theme-header-height--md));
        }
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &.announcement-enabled {
      .mobile-menu {
        &__main {
          margin-top: calc( var(--theme-announcement-height) + var(--theme-header-height--lg));
        }
      }
    }

    &.mobile-menu--active {
      .mobile-menu {
        transform: translate3d( 0, -100%, 0 );
      }
    }

  }

  @include media-breakpoint-up(xl) {

    &.announcement-enabled {
      .mobile-menu {
        &__main {
          margin-top: calc( var(--theme-announcement-height) + var(--theme-header-height--xl));
        }
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &.announcement-enabled {
      .mobile-menu {
        &__main {
          margin-top: calc( var(--theme-announcement-height) + var(--theme-header-height--xxl));
        }
      }
    }

  } // min width xxl

}

.mobile-menu {

  transition: transform 550ms;
  transition-timing-function: cubic-bezier( 0.22, 1, 0.36, 1 );
  transform: translate3d( 0, -100%, 0 );
  background: rgba( var(--theme-page-colour-rgb), 1);
  color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
  position: fixed;
  width: 100%;
  min-height: 100%;
  z-index: 100;
  text-align: center;

  .navigation,
  .subnavigation {
    width: 100%;
  }

  .navigation {

    text-align: left;
    flex-flow: row wrap;

    &__button,
    &__link {
      font-family: var(--theme-sans-serif--sofia-pro);
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 0.9;
      letter-spacing: -0.03em;
      text-transform: lowercase;
      padding: 0;
      margin: 0;
    }

    &__item {
      width: 100%;
      & + .navigation__item {
        margin-top: 40px
      }
    }

    &__link {
      border-bottom: var(--theme-border-width) solid transparent;
      display: inline-block;
      width: auto;
      line-height: 1.1;
      &.active,
      &:hover {
        border-bottom-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
      }
    }

  }

  .subnavigation {

    &__block {
      margin-top: 42px;
      width: 100%;
    }

    &__container {
      flex-flow: row wrap;
      justify-content: flex-start;
    }

    &__link {
      border-bottom: var(--theme-border-width) solid transparent;
      display: inline-block;
      width: auto;
      line-height: 1.1;
      &.active,
      &:hover {
        border-bottom-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
      }
    }

  }

  &__content {
    text-align: left;
    padding: 40px 22px 60px;
  }

  &__main {
    margin-top: var(--theme-header-height);
  }

  @include media-breakpoint-up(sm) {

    &__main {
      margin-top: var(--theme-header-height--sm);
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__main {
      margin-top: var(--theme-header-height--md);
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__main {
      margin-top: var(--theme-header-height--lg);
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__main {
      margin-top: var(--theme-header-height--xl);
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__main {
      margin-top: var(--theme-header-height--xxl);
    }

  } // min width xxl

} // .mobile-menu
