//////////////////////////////////////////////////////////
////  Navigation | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Navigation | Styles
//////////////////////////////////////////////////////////

.navigation {

  color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;

  &__button {
    width: 100%;
    background: transparent;
    justify-content: space-between;
    border: none;
    &-title {}
    &-icon {
      transition: transform 280ms;
      transform: rotate3d(0, 0, 1, 180deg);
      height: 10px;
      img, svg {
        height: 100%;
        width: auto;
        display: block;
      }
    }
    &.collapsed {
      .navigation__button-icon {
        transform: rotate3d(0, 0, 1, 0deg);
      }
    }
  }

  &__item,
  &__link {
    margin: 0;
    padding: 0;
  }

  &__link {
    font-family: var( --theme-sans-serif--sofia-pro );
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    color: inherit;
    text-transform: lowercase;
    text-decoration: none;
    &.active,
    &:hover {
      color: inherit;
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {

    &__link {
      font-size: 14px;
    }

  } // min width xxl

} // .navigation
