//////////////////////////////////////////////////////////
////  Page | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Page | Styles
//////////////////////////////////////////////////////////

.page {

  &__body {
    padding-top: 38px;
  }

  // ---------------------------------------- Search Results
  &[data-style='search-results-page'] {
    .page {
      &__image {
        position: relative;
      }
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .page
