//////////////////////////////////////////////////////////
////  Product | Vars
//////////////////////////////////////////////////////////

$block-name: 'product';

//////////////////////////////////////////////////////////
////  Product | Styles
//////////////////////////////////////////////////////////


[data-product-type="Set"] {
  .product__gallery,
  .product__image {
    .lazyload-item {
      @include add-border();
    }
  }
}

.product {

  &[data-product-style="collection-feature"] {
    position: relative;
    z-index: 10;
    .product__cta a {
      position: relative;
      z-index: 10;
    }
  }

  @import '../components/product/inventory.scss';
  @import '../components/product/modal-notify-me.scss';
  @import '../components/product/price.scss';
  @import '../components/recharge-widget.scss';

  .button {
    &[disabled] {
      opacity: 0.3333;
      cursor: no-drop;
    }
  }

  [data-slider-type="product-gallery"] {
    .glide__bullets {
      margin-top: 30px;
    }
  }

  .heading {
    &--recommended {
      width: 100%;
      margin-bottom: 36px;
      margin-top: 14px;
    }
  }

  .modal {
    &__button {
      top: calc( 0.5 * var(--bs-gutter-width) );
      right: calc( 0.5 * var(--bs-gutter-width) );
      position: absolute;
      background: none;
      height: calc( 0.75 * var(--bs-gutter-width) );
      width: calc( 0.75 * var(--bs-gutter-width) );
      padding: 0;
      img, svg {
        stroke: rgba( var(--theme-essentials-charcoal--rgb), 1 );
        display: block;
        width: 100%;
        height: auto;
      }
      &:hover {
        opacity: var(--theme-hover-opacity);
      }
    }
    &__container {
      width: calc( 100% - 22px );
      margin: auto;
      background: rgba(var(--theme-page-colour-rgb), 1 );
      border: var(--theme-border-width) solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
      border-radius: var(--theme-border-radius);
      padding: var(--bs-gutter-width);
      position: relative;
      height: auto;
    }
    &__heading {
      @include body-copy( 1, 1.3, 500 );
      & + .message {
        margin-top: 10px;
      }
    }
  }

  &__price,
  &__title {
    display: block;
  }

  &__actions {
    padding: 22px 0;
    border-top: var(--theme-border-width) solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-flow: row wrap;
    .button {
      margin-top: var(--bs-gutter-width);
      width: 100%;
    }
    .select {
      margin-right: var(--bs-gutter-width);
      flex: 1;
    }
  }

  &__campaign-gallery {
    padding-bottom: var(--theme-section-padding);
    .glide {
      border-top: rgba( var(--theme-essentials-charcoal--rgb), 1 ) solid var(--theme-border-width);
      border-bottom: rgba( var(--theme-essentials-charcoal--rgb), 1 ) solid var(--theme-border-width);
      overflow: hidden;
      width: calc(100% + 44px);
      left: -22px;
      position: relative;
    }
    .rte {
      font-size: 18px;
    }
    &-extras,
    &-subnavigation {
      display: inline-flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
    }
    &-extras {
      flex-flow: row wrap;
      margin-top: 32px;
    }
    &-subnavigation {
      flex-flow: row nowrap;
      &-image {
        @include add-border();
        overflow: hidden;
      }
      &-index {
        font-family: var(--theme-serif--avenue-x);
        font-weight: 400;
        font-size: 10px;
        line-height: 1;
        margin-top: 8px;
      }
      &-item {
        @include set-column-width( 5, 10px );
        opacity: var(--theme-hover-opacity);
        cursor: pointer;
        &.active,
        &:hover {
          opacity: 1;
        }
      }
      & + .product__campaign-gallery-message {
        margin-top: 30px;
      }
    }
  }

  &__cta {
    .button {
      flex-flow: row wrap;
    }
    .product {
      &__price {
        margin-top: 8px;
        font-weight: 300;
      }
      &__title {
        width: 100%;
      }
    }
  }

  &__details {
    padding-bottom: var(--theme-section-padding);
  }

  &__education {
    &-content,
    &-cta,
    &-details {
      margin-top: 32px;
    }
    &-heading,
    &-subheading {
      font-size: 24px;
      line-height: 1.1;
      text-transform: lowercase;
    }
    &-image {
      width: 100%;
      height: auto;
      position: relative;
      img, svg {
        @include add-border();
        overflow: hidden;
        width: 100%;
        height: auto;
      }
      &-caption {
        margin-top: 10px;
        font-size: 10px;
        p {
          font-family: var(--theme-serif--avenue-x);
          font-weight: 400;
          font-size: inherit;
          margin: 0;
        }
      }
    }
    &-item {
      & + .product__education-item {
        border-top: rgba( var(--theme-essentials-charcoal--rgb), 1 ) solid var(--theme-border-width);
        margin-top: 26px;
        padding-top: 24px;
      }
    }
    &-main {
      @include add-padding(y);
    }
    &-subheading {
      font-weight: 300;
    }
  }

  &__gallery {
    margin-bottom: 38px;
  }

  &__heath-badges {
    text-align: center;
    .rte {
      font-size: 12px;
      line-height: 1.4;
    }
    &-badge {
      margin: auto;
      img, svg {
        display: block;
        width: 100%;
        height: auto;
        max-height: 80px;
      }
      & + .product__heath-badges-message {
        margin-top: 20px;
      }
    }
    &-item {
      @include set-column-width( 2, 24px );
      margin-bottom: 46px;
    }
    &-list {
      @include add-padding(y);
      display: flex;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-flow: row wrap;
      margin-bottom: -46px;
    }
    &-message {
      margin: auto;
      width: 90%;
    }
  }

  &__information {
    border-top: rgba( var(--theme-essentials-charcoal--rgb), 1 ) solid var(--theme-border-width);
    border-bottom: rgba( var(--theme-essentials-charcoal--rgb), 1 ) solid var(--theme-border-width);
    .collapsible {
      &__item {
        padding: 14px 0;
        & + .collapsible__item {
          border-top: rgba( var(--theme-essentials-charcoal--rgb), 1 ) solid var(--theme-border-width);
        }
      }
      &__padding {
        padding: 18px 0 12px;
      }
      &__trigger {
        color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
        width: 100%;
        justify-content: space-between;
        &-title {
          font-family: var(--theme-sans-serif--sofia-pro);
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 1;
        }
      }
    }
    .tabbed {}
  }

  &__preview {
    .product {
      &__content {
        margin-top: var(--bs-gutter-width);
        width: 100%;
      }
      &__cta {
        text-align: center;
        padding-bottom: 1px;
      }
    }
  }

  &__quantity {
    @include add-border();
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    &-button,
    &-total {
      font-family: var(--theme-serif--avenue-x);
      color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
      display: inline-flex;
      min-height: 42px;
      min-width: 24px;
      padding: 0;
      margin: 0;
      justify-content: center;
      align-items: center;
      outline: none;
      border: none;
    }
    &-button {
      &.decrease,
      &.increase {
        min-width: 40px;
        background: transparent;
      }
      &.decrease {
        padding-left: 14px;
      }
      &.increase {
        padding-right: 14px;
      }
    }
  }

  &__recommended {
    .heading {
      border-top-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
      border-top-width: var(--theme-border-width);
      border-top-style: solid;
      padding-top: 15px;
      margin-bottom: 38px;
    }
  }

  &__subscription {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    &-widget,
    &-widget-cta {
      display: block;
      width: 100%;
    }
    &-widget-cta {
      text-align: right;
      margin: -10px 0 15px;
      .button  {
        border-bottom: var(--theme-border-width) solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
        border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        background: none;
        outline: none;
        margin: 0;
        width: auto;
        padding: 0;
        line-height: 1.3;
        &:hover {
          border-bottom-color: transparent;
        }
      }
    }
  }

  &__type {
    font-family: var(--theme-serif--avenue-x);
    display: flex;
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 16px;
    width: 100%;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    svg {
      fill: rgba( var(--theme-essentials-charcoal--rgb), 1 );
      display: block;
      height: 10px;
      width: auto;
      margin: 0 10px;
    }
  }

  // ---------------------------------------- Collection Feature
  &[data-product-style="collection"],
  &[data-product-style="collection-feature"],
  &[data-product-style="recommended"] {
    padding: 0;
    .button {
      flex-flow: row wrap;
      min-width: 160px;
    }
    .product {
      &__price,
      &__title {
        width: 100%;
      }
      &__content {
        text-align: center;
        margin-top: 22px;
      }
      &__image {
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
      &__price {
        font-weight: 300;
        margin-top: 8px;
      }
      &__title {
        font-weight: 600;
      }
    }
  }

  // ---------------------------------------- Recommended
  &[data-product-style="recommended"] {
    .product {}
  }

  @include media-breakpoint-up(sm) {

    .modal {
      &__container {
        width: calc( 0.66 * var(--bs-container-width--sm) );
      }
    }

    &__actions {
      padding: 24px 0;
    }

    &__campaign-gallery {
      padding-bottom: var(--theme-section-padding--sm);
      .glide {
        @include add-border();
        left: 0;
        width: 100%;
      }
      .rte {
        font-size: 20px;
      }
      &-subnavigation {
        &-image {}
        &-index {
          font-size: 12px;
          margin-top: 9px;
        }
        &-item {
          @include set-column-width( 5, 12px );
        }
        & + .product__campaign-gallery-message {
          margin-top: 38px;
        }
      }
    }

    &__details {
      padding-bottom: var(--theme-section-padding--sm);
    }

    &__education {
      &-item {
        & + .product__education-item {
          margin-top: 28px;
          padding-top: 24px;
        }
      }
    }

    &__heath-badges {
      .rte {
        font-size: 13px;
      }
      &-badge {
        img, svg {
          max-height: 90px;
        }
        & + .product__heath-badges-message {
          margin-top: 22px;
        }
      }
      &-item {
        margin-bottom: 50px;
      }
      &-list {
        margin-bottom: -50px;
      }
      &-message {
        width: 80%;
      }
    }

    &__information {
      .collapsible {
        &__item {
          padding: 14px 0;
        }
        &__padding {
          padding: 18px 0 12px;
        }
        &__trigger {
          &-title {
            font-size: 13px;
          }
        }
      }
      .tabbed {}
    }

    &__recommended {}

    &__type {
      font-size: 17px;
    }

    // ---------------------------------------- Collection
    &[data-product-style="collection"],
    &[data-product-style="collection-feature"],
    &[data-product-style="recommended"] {
      position: relative;
      z-index: 10;
      .product {
        &__cta {
          position: relative;
          z-index: 10;
        }
      }
    }

    // ---------------------------------------- Recommended
    &[data-product-style="recommended"] {
      .product {}
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .modal {
      &__container {
        width: calc( 0.66 * var(--bs-container-width--md) );
      }
    }

    &__actions {
      padding: 26px 0;
    }

    &__campaign-gallery {
      padding-bottom: var(--theme-section-padding--md);
      .rte {
        font-size: 22px;
      }
      &-subnavigation {
        &-image {}
        &-index {
          font-size: 14px;
          margin-top: 10px;
        }
        &-item {
          @include set-column-width( 5, 14px );
        }
        & + .product__campaign-gallery-message {
          margin-top: 42px;
        }
      }
    }

    &__details {
      padding-bottom: var(--theme-section-padding--md);
    }

    &__education {
      &-image {
        &-caption {
          font-size: 12px;
        }
      }
      &-item {
        & + .product__education-item {
          margin-top: 30px;
          padding-top: 24px;
        }
      }
    }

    &__heath-badges {
      .rte {
        font-size: 14px;
      }
      &-badge {
        img, svg {
          max-height: 100px;
        }
        & + .product__heath-badges-message {
          margin-top: 24px;
        }
      }
      &-item {
        margin-bottom: 58px;
      }
      &-list {
        margin-bottom: -58px;
      }
      &-message {
        width: 70%;
      }
    }

    &__information {
      .collapsible {
        &__item {
          padding: 14px 0;
        }
        &__padding {
          padding: 18px 0 12px;
        }
        &__trigger {
          &-title {
            font-size: 14px;
          }
        }
      }
      .tabbed {}
    }

    &__recommended {}

    &__type {
      font-size: 18px;
    }

    // ---------------------------------------- Collection
    &[data-product-style="collection"],
    &[data-product-style="collection-feature"],
    &[data-product-style="recommended"] {
      .product {}
    }

    // ---------------------------------------- Recommended
    &[data-product-style="recommended"] {
      .product {}
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .modal {
      &__container {
        width: calc( 0.66 * var(--bs-container-width--lg) );
      }
    }

    .heading {
      &--recommended {
        margin-bottom: 40px;
        margin-top: 18px
      }
    }

    &__actions {
      padding-top: 28px;
      padding-bottom: 28px;
      .select,
      .product__quantity {
        margin-right: 24px;
      }
      .button {
        margin-top: 0;
        width: auto;
      }
      .select {
        margin-right: var(--bs-gutter-width);
        flex: 1;
        min-width: auto;
      }
    }

    &__campaign-gallery {
      padding-bottom: var(--theme-section-padding--lg);
      .rte {
        font-size: 18px;
      }
      &-extras {
        flex-flow: row nowrap;
      }
      &-message,
      &-subnavigation {
        @include set-column-width( 2, 24px );
      }
      &-subnavigation {
        &-image {}
        &-index {
          font-size: 14px;
          margin-top: 10px;
        }
        &-item {
          @include set-column-width( 5, 16px );
        }
        & + .product__campaign-gallery-message {
          margin-top: -6px;
        }
      }
    }

    &__details {
      padding-bottom: var(--theme-section-padding--lg);
    }

    &__education {
      &-content {
        padding-right: calc( 0.5 * var(--bs-gutter-width) );
        margin-top: 0;
      }
      &-image {
        padding-left: calc( 0.5 * var(--bs-gutter-width) );
      }
    }

    &__gallery {
      margin-bottom: 0;
    }

    &__heath-badges {
      .rte {
        font-size: 12px;
      }
      &-badge {
        img, svg {
          max-height: 85px;
        }
        & + .product__heath-badges-message {
          margin-top: 20px;
        }
      }
      &-item {
        @include set-column-width( 4, 24px );
        margin-bottom: 0;
        margin-left: 12px;
        margin-right: 12px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      &-list {
        justify-content: center;
        margin-bottom: 0;
      }
      &-message {
        width: 90%;
      }
    }

    &__information {
      padding: 22px 0;
      .collapsible {}
      .tabbed {
        &__button {
          &-title {
            font-size: 11px;
          }
          & + .tabbed__button {
            margin-left: 24px;
          }
        }
        &__content {
          padding-top: 20px;
        }
      }
    }

    &__recommended {
      .glide {
        &__slides {
          justify-content: space-between;
          align-items: flex-start;
        }
        &__slide {
          @include set-column-width( 3, 24px );
        }
      }
    }

    &__type {
      font-size: 14px;
    }

    // ---------------------------------------- Collection
    &[data-product-style="collection"],
    &[data-product-style="collection-feature"],
    &[data-product-style="recommended"] {
      .product {}
    }

    // ---------------------------------------- Recommended
    &[data-product-style="recommended"] {
      .product {}
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .modal {
      &__container {
        width: calc( 0.66 * var(--bs-container-width--xl) );
      }
    }

    &__actions {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &__campaign-gallery {
      padding-bottom: var(--theme-section-padding--xl);
      .rte {
        font-size: 20px;
      }
      &-message,
      &-subnavigation {
        @include set-column-width( 2, 24px );
      }
      &-subnavigation {
        &-image {}
        &-index {
          font-size: 15px;
          margin-top: 10px;
        }
        &-item {
          @include set-column-width( 5, 18px );
        }
      }
    }

    &__details {
      padding-bottom: var(--theme-section-padding--xl);
    }

    &__education {
      &-image {
        &-caption {
          font-size: 14px;
        }
      }
    }

    &__heath-badges {
      .rte {
        font-size: 13px;
      }
      &-badge {
        img, svg {
          max-height: 90px;
        }
        & + .product__heath-badges-message {
          margin-top: 22px;
        }
      }
      &-item {
        @include set-column-width( 4, 30px );
        margin-left: 15px;
        margin-right: 15px;
      }
      &-message {
        width: 80%;
      }
    }

    &__information {
      padding: 22px 0;
      .collapsible {}
      .tabbed {
        &__button {
          &-title {
            font-size: 13px;
          }
          & + .tabbed__button {
            margin-left: 24px;
          }
        }
        &__content {
          padding-top: 20px;
        }
      }
    }

    &__recommended {
      .glide {}
    }

    &__type {
      font-size: 15px;
    }

    // ---------------------------------------- Collection
    &[data-product-style="collection"],
    &[data-product-style="collection-feature"],
    &[data-product-style="recommended"] {
      .product {}
    }

    // ---------------------------------------- Recommended
    &[data-product-style="recommended"] {
      .product {}
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .modal {
      &__container {
        width: calc( 0.66 * var(--bs-container-width--xxl) );
      }
    }

    &__actions {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    &__campaign-gallery {
      padding-bottom: var(--theme-section-padding--xxl);
      .rte {
        font-size: 22px;
      }
      &-message,
      &-subnavigation {
        @include set-column-width( 2, 24px );
      }
      &-subnavigation {
        &-image {}
        &-index {
          font-size: 16px;
          margin-top: 10px;
        }
        &-item {
          @include set-column-width( 5, 20px );
        }
      }
    }

    &__details {
      padding-bottom: var(--theme-section-padding--xxl);
    }

    &__heath-badges {
      .rte {
        font-size: 14px;
      }
      &-badge {
        img, svg {
          max-height: 100px;
        }
        & + .product__heath-badges-message {
          margin-top: 24px;
        }
      }
      &-item {
        @include set-column-width( 4, 36px );
        margin-left: 18px;
        margin-right: 18px;
      }
      &-message {
        width: 70%;
      }
    }

    &__information {
      padding: 22px 0;
      .collapsible {}
      .tabbed {
        &__button {
          &-title {
            font-size: 15px;
          }
          & + .tabbed__button {
            margin-left: 24px;
          }
        }
        &__content {
          padding-top: 20px;
        }
      }
    }

    &__recommended {
      .glide {}
    }

    &__type {
      font-size: 16px;
    }

    // ---------------------------------------- Collection
    &[data-product-style="collection"],
    &[data-product-style="collection-feature"],
    &[data-product-style="recommended"] {
      .product {}
    }

    // ---------------------------------------- Recommended
    &[data-product-style="recommended"] {
      .product {}
    }

  } // min width xxl

} // .#{$block-name}
