//////////////////////////////////////////////////////////
////  Search | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Search | Styles
//////////////////////////////////////////////////////////

.search {

  .article,
  .page {

    &__content,
    &__image {
      width: 100%;
    }

    &__content {
      position: relative;
      margin: 18px 0 0 0;
    }

    &__cta {
      margin-top: 18px;
    }

    &__excerpt {
      margin-top: 18px;
      font-size: 16px;
      line-height: 1.3;
      font-weight: 300;
      p {
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        margin: 0;
      }
    }

    &__image {
      @include add-border();
      height: var(--theme-article-preview-feature-image-height);
    }

    &__preview {
      flex-flow: row wrap;
      width: 100%;
    }

    &__title {
      font-size: calc( .45 * var(--theme-heading-font-size) );
      margin: 0;
      border: none;
      padding: 0;
      line-height: 1.1;
      font-weight: 400;
      a {
        transition: color 280ms, opacity 280ms;
        color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
        &:hover {
          color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
          opacity: var(--theme-hover-opacity);
        }
      }
    }

  }

  .article {
    &__cta {
      text-align: right;
    }
    &__date-time {
      position: absolute;
      left: 0;
      bottom: 0;
      width: auto;
      display: inline-block;
    }
  }

  .form--search {

    padding: 90px 0;

    input {

  }

  input[type="search"] {
    -webkit-appearance: none;
  }

    input {
      border: none;
      border-radius: 0;
      font-family: var(--theme-sans-serif--sofia-pro);
      padding: 10px;
      padding-left: calc( 18px + 12px );
      font-weight: 300;
      font-size: 24px;
      border-bottom: rgba( var(--theme-essentials-charcoal--rgb), 1 ) solid var(--theme-border-width);
      &[type="search"] {
        -webkit-appearance: none;
      }
    }

    .form__main {
      flex-flow: row wrap;
      justify-content: center;
    }

    .form__row {
      width: 100%;
      &.action {
        justify-content: center;
      }
      &.search {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        .form__field {
          margin-left: -18px;
        }
      }
      & + .form__row {
        margin-top: calc( 2 * var(--bs-gutter-width) );
      }
    }

    .form__search-icon {
      display: block;
      width: 18px;
      height: auto;
      img, svg {
        display: block;
        width: 100%;
        height: auto;
      }
    }

  }

  &__hero {}

  &__results {

    .grid {
      margin-top: calc( 2 * var(--bs-gutter-width) );
    }

    & + .search__results {
      margin-top: 60px;
    }

  }

  &__results-heading {
    border-top: var(--theme-border-width) solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
    padding-top: var(--bs-gutter-width);
  }

  &__results-message {
    margin-top: 20px;
  }

  @include media-breakpoint-up(sm) {

    .article,
    .page {
      &__excerpt {
        font-size: 17px;
      }
      &__image {
        height: var(--theme-article-preview-feature-image-height--sm);
      }
      &__title {
        font-size: calc( .55 * var(--theme-heading-font-size--sm) );
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .article,
    .page {
      &__excerpt {
        font-size: 15px;
      }
      &__image {
        height: 220px;
      }
      &__title {
        font-size: calc( .35 * var(--theme-heading-font-size--md) );
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .article,
    .page {
      &__image {
        height: 194px;
      }
      &__title {
        font-size: calc( .35 * var(--theme-heading-font-size--lg) );
      }
    }

    .form--search {

      padding: 120px 0;

      input {
        padding: 10px;
        padding-left: calc( 20px + 12px );
        font-size: 26px;
      }

      .form__row {
        &.search {
          .form__field {
            margin-left: -20px;
          }
        }
      }

      .form__search-icon {
        width: 20px;
      }

    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .article,
    .page {
      &__excerpt {
        font-size: 16px;
      }
      &__image {
        height: 234px;
      }
      &__title {
        font-size: calc( .35 * var(--theme-heading-font-size--xl) );
      }
    }

    .form--search {

      input {
        padding: 10px;
        padding-left: calc( 22px + 12px );
        font-size: 28px;
      }

      .form__row {
        &.search {
          .form__field {
            margin-left: -22px;
          }
        }
      }

      .form__search-icon {
        width: 22px;
      }

    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .article,
    .page {
      &__excerpt {
        font-size: 17px;
      }
      &__image {
        height: 273px;
      }
      &__title {
        font-size: calc( .35 * var(--theme-heading-font-size--xxl) );
      }
    }

    .form--search {

      input {
        padding: 10px;
        padding-left: calc( 24px + 12px );
        font-size: 30px;
      }

      .form__row {
        &.search {
          .form__field {
            margin-left: -24px;
          }
        }
      }

      .form__search-icon {
        width: 24px;
      }

    }

  } // min width xxl

} // .search
