//////////////////////////////////////////////////////////
////  Shopify Policy | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Shopify Policy | Styles
//////////////////////////////////////////////////////////
body {
  .shopify-policy {

    &__body {
      padding-top: 38px;
    }

    &__container {
      width: calc(100% - 22px);
      padding: var(--theme-total-header-height) 0 0 0;
      padding-right: var(--bs-gutter-x, 12px);
      padding-left: var(--bs-gutter-x, 12px);
      margin: 0 auto;
      max-width: none;
    }

    &__title {
      text-align: left;
      h1 {
        border-top-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
        border-top-width: var(--theme-border-width);
        border-top-style: solid;
        text-transform: lowercase;
        font-size: 36px;
        padding-top: 15px;
        font-weight: 500;
      }
    }

    @include media-breakpoint-up(sm) {

      &__container {
        max-width: var(--bs-container-width--sm);
      }

      &__title {
        h1 {
          font-size: 40px;
        }
      }

    } // min width sm

    @include media-breakpoint-up(md) {

      &__container {
        max-width: var(--bs-container-width--md);
      }

      &__title {
        h1 {
          font-size: 44px;
        }
      }

    } // min width md

    @include media-breakpoint-up(lg) {

      &__container {
        max-width: calc( var(--bs-container-width--lg) * 0.8333 );
      }

      &__title {
        h1 {
          font-size: 46px;
        }
      }

    } // min width lg

    @include media-breakpoint-up(xl) {

      &__container {
        max-width: calc( var(--bs-container-width--xl) * 0.8333 );
      }

      &__title {
        h1 {
          font-size: 50px;
        }
      }

    } // min width xl

    @include media-breakpoint-up(xxl) {

      &__container {
        max-width: calc( var(--bs-container-width--xxl) * 0.8333 );
      }

      &__title {
        h1 {
          font-size: 54px;
        }
      }

    } // min width xxl

  } // .shopify-policy
}
