//////////////////////////////////////////////////////////
////  Subnavigation | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Subnavigation | Styles
//////////////////////////////////////////////////////////

.subnavigation {

  color: rgba( var(--theme-essentials-charcoal--rgb), 1 );

  &__heading,
  &__link {
    font-family: var( --theme-sans-serif--sofia-pro );
    font-style: normal;
    color: inherit;
    line-height: 1;
    text-transform: lowercase;
  }

  &__container {
    margin: auto;
    display: flex;
  }

  &__heading {
    font-size: 14px;
    font-weight: 500;
    & + .subnavigation__item {
      margin-top: 14px;
    }
  }

  &__item {
    & + .subnavigation__item {
      margin-top: 20px;
    }
  }

  &__item,
  &__link {
    margin: 0;
    padding: 0;
  }

  &__link {
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    &.active,
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .subnavigation
