//////////////////////////////////////////////////////////
////  Typography | Variables
//////////////////////////////////////////////////////////

:root {

  --theme-heading-font-size: 64px;
  --theme-heading-font-size--sm: 78px;
  --theme-heading-font-size--md: 90px;
  --theme-heading-font-size--lg: 88px;
  --theme-heading-font-size--xl: 105px;
  --theme-heading-font-size--xxl: 122px;

  --theme-message-font-size: 24px;
  --theme-message-font-size--sm: 26px;
  --theme-message-font-size--md: 34px;
  --theme-message-font-size--lg: 29px;
  --theme-message-font-size--xl: 34px;
  --theme-message-font-size--xxl: 40px;

}

//////////////////////////////////////////////////////////
////  Typography | Styles
//////////////////////////////////////////////////////////

/*
font-family: sofia-pro, sans-serif;
font-weight: 900;
font-style: normal;

Sofia Pro Black italic
font-family: sofia-pro, sans-serif;
font-weight: 900;
font-style: italic;

Sofia Pro Bold
font-family: sofia-pro, sans-serif;
font-weight: 700;
font-style: normal;

Sofia Pro Bold italic
font-family: sofia-pro, sans-serif;
font-weight: 700;
font-style: italic;

Sofia Pro Extra Light
font-family: sofia-pro, sans-serif;
font-weight: 200;
font-style: normal;

Sofia Pro Extra Light italic
font-family: sofia-pro, sans-serif;
font-weight: 200;
font-style: italic;

Sofia Pro Light
font-family: sofia-pro, sans-serif;
font-weight: 300;
font-style: normal;

Sofia Pro Light italic
font-family: sofia-pro, sans-serif;
font-weight: 300;
font-style: italic;

Sofia Pro Medium
font-family: sofia-pro, sans-serif;
font-weight: 500;
font-style: normal;

Sofia Pro Medium italic
font-family: sofia-pro, sans-serif;
font-weight: 500;
font-style: italic;

Sofia Pro Regular
font-family: sofia-pro, sans-serif;
font-weight: 400;
font-style: normal;

Sofia Pro Regular italic
font-family: sofia-pro, sans-serif;
font-weight: 400;
font-style: italic;

Sofia Pro Semi Bold
font-family: sofia-pro, sans-serif;
font-weight: 600;
font-style: normal;

Sofia Pro Ultra Light
font-family: sofia-pro, sans-serif;
font-weight: 100;
font-style: normal;

Sofia Pro Ultra Light italic
font-family: sofia-pro, sans-serif;
font-weight: 100;
font-style: italic;

Sofia Pro Semi Bold italic
font-family: sofia-pro, sans-serif;
font-weight: 600;
font-style: italic;
*/

@import '../components/_heading.scss';
@import '../components/_message.scss';
@import '../components/_title.scss';

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

@for $i from 1 through 9 {
  .font--#{$i}00 {
    font-weight: $i * 100;
  }
}

body {
  @include body-copy( 1, 1.25, 300 );
  font-family: var(--theme-sans-serif--sofia-pro);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin: 0px;
	padding: 0px;
}

.message,
.rte {

  h2, h3, h4, h5, h6,
  iframe, img, table, p, ul, ol {
    margin-bottom: 22px;
  }

  h2, h3, h4, h5, h6 {
    font-family: var(--theme-sans-serif--sofia-pro);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -0.03em;
  }

  ol, ul {
    li {
      @include word-wrap();
      line-height: 1.4;
    }
  }

  ul li {
  	list-style: disc;
  	padding-left: 6px;
  }

  ol, ul {
  	padding-left: 30px;
  }

  ol li {
  	list-style: decimal;
  	padding-left: 8px;
  }

  b, strong {
    font-weight: 600;
    letter-spacing: 0.02em;
  }

  &--blog-feature,
  &--error-404,
  &--feature-collection,
  &--fifty-fifty,
  &--full-width-feature,
  &--shop-guide {
    p, li {
      font-weight: normal;
      font-style: normal;
      line-height: 1.15;
    }
  }

  // &--education-feature p,
  // &--education-feature li,
  // &--wysiwyg strong {
  //   font-weight: 500;
  //   font-size: 36px;
  //   line-height: 1.1;
  // }

  // ---------------------------------------- NU STYLES
  &--primary,
  &--secondary,
  &--tertiary {
    line-height: 1.15;
    p, li {
      font-size: inherit;
      font-weight: inherit;
      font-style: inherit;
      line-height: inherit;
    }
  }

  &--primary {
    font-size: var(--theme-message-font-size);
  }

  &--secondary {
    font-size: 20px;
  }

}

// ---------------------------------------- NU RTE
.rte {

  h2, h3, h4, h5, h6 {
    font-weight: 500;
  }

  h2, h6 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4, h5 {
    font-size: 16px;
  }

  h6 {
    border-top: var(--theme-border-width) solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
    padding-top: 15px;
    margin-top: 40px;
  }

  li, p {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
  }

  ol, p, ul {
    & + h2 {
      margin-top: 48px;
    }
  }

  .citations {
    font-size: 80%;
    li  {
      & + li {
        margin-top: 5px;
      }
    }
  }

}

@include media-breakpoint-up(sm) {

  .message,
  .rte {

    // &--education-feature p,
    // &--education-feature li,
    // &--wysiwyg strong {
    //   font-size: 36px;
    // }

    // ---------------------------------------- NU STYLES
    &--primary {
      font-size: var(--theme-message-font-size--sm);
    }

    &--secondary {
      font-size: 22px;
    }

  }

  // ---------------------------------------- NU RTE
  .rte {

    h2, h6 {
      font-size: 26px;
    }

    h3 {
      font-size: 22px;
    }

    h4, h5 {
      font-size: 18px;
    }

    ol, p, ul {
      & + h2 {
        margin-top: 50px;
      }
    }

  }

} // min width sm

@include media-breakpoint-up(md) {

  .message,
  .rte {
    h2, h3, h4, h5, h6,
    iframe, img, table, p, ul, ol {
      margin-bottom: 24px;
    }
    h2, h3, h4, h5, h6 {
      font-size: 28px;
    }
    // &--education-feature p,
    // &--education-feature li,
    // &--wysiwyg strong {
    //   font-size: 46px;
    // }
    // ---------------------------------------- NU STYLES
    &--primary {
      font-size: var(--theme-message-font-size--md);
    }
    &--secondary {
      font-size: 24px;
    }
  }

  // ---------------------------------------- NU RTE
  .rte {
    h2, h6 {
      font-size: 28px;
    }
    h3 {
      font-size: 24px;
    }
    h4, h5 {
      font-size: 20px;
    }
    ol, p, ul {
      & + h2 {
        margin-top: 52px;
      }
    }
  }

} // min width md

@include media-breakpoint-up(lg) {

  .message,
  .rte {
    h2, h3, h4, h5, h6,
    iframe, img, table, p, ul, ol {
      margin-bottom: 22px;
    }
    h2, h3, h4, h5, h6 {
      font-size: 24px;
    }
    ul li {
      padding-left: 8px;
    }
    ol, ul {
      padding-left: 40px;
    }
    ol li {
      padding-left: 10px;
    }
    // &--education-feature p,
    // &--education-feature li,
    // &--wysiwyg strong {
    //   font-size: 38px;
    // }
    // ---------------------------------------- NU STYLES
    &--primary {
      font-size: var(--theme-message-font-size--lg);
    }
    &--secondary {
      font-size: 22px;
    }
  }

  // ---------------------------------------- NU RTE
  .rte {
    h2, h6 {
      font-size: 28px;
    }
    h3 {
      font-size: 18px;
    }
    h4, h5 {
      font-size: 14px;
    }
    ol, p, ul {
      & + h2 {
        margin-top: 44px;
      }
    }
  }

} // min width lg

@include media-breakpoint-up(xl) {

  .message,
  .rte {
    h2, h3, h4, h5, h6,
    iframe, img, table, p, ul, ol {
      margin-bottom: 24px;
    }
    h2, h3, h4, h5, h6 {
      font-size: 28px;
    }
    // &--education-feature p,
    // &--education-feature li,
    // &--wysiwyg strong {
    //   font-size: 46px;
    // }
    // ---------------------------------------- NU STYLES
    &--primary {
      font-size: var(--theme-message-font-size--xl);
    }
    &--secondary {
      font-size: 26px;
    }
  }

  // ---------------------------------------- NU RTE
  .rte {

    h2, h6 {
      font-size: 30px;
    }
    h3 {
      font-size: 20px;
    }
    h4, h5 {
      font-size: 16px;
    }
    ol, p, ul {
      & + h2 {
        margin-top: 46px;
      }
    }
  }

} // min width xl

@include media-breakpoint-up(xxl) {

  .message,
  .rte {
    h2, h3, h4, h5, h6,
    iframe, img, table, p, ul, ol {
      margin-bottom: 26px;
    }
    h2, h3, h4, h5, h6 {
      font-size: 32px;
    }
    // &--education-feature p,
    // &--education-feature li,
    // &--wysiwyg strong {
    //   font-size: 50px;
    // }
    // ---------------------------------------- NU STYLES
    &--primary {
      font-size: var(--theme-message-font-size--xxl);
    }
    &--secondary {
      font-size: 30px;
    }
  }

  .rte {

    h2, h6 {
      font-size: 32px;
    }
    h3 {
      font-size: 22px;
    }
    h4, h5 {
      font-size: 18px;
    }
    ol, p, ul {
      & + h2 {
        margin-top: 48px;
      }
    }
  }

} // min width xxl
