//////////////////////////////////////////////////////////
////  Blog Feature | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Blog Feature | Styles
//////////////////////////////////////////////////////////

.blog-feature {

  padding: var(--theme-section-padding) 0;

  .button {
    color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    border-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
  }

  &__feed-featured,
  &__feed-list {
    width: 100%;
  }

  &__cta {
    text-align: center;
    margin-top: 40px;
  }

  &__feed {
    margin-top: 32px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: flex-start;
    position: relative;
  }

  &__feed-list {
    margin-top: 50px;
    margin-bottom: calc( -1 * var(--bs-gutter-width) );
    .article {
      margin-bottom: var(--bs-gutter-width);
    }
  }

  &__heading {
    & + .blog-feature__message {
      margin-top: 24px;
    }
  }

  &__message {}

  &__vr {
    display: none;
    width: var(--theme-border-width);
    background: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    height: 100%;
    position: absolute;
    top: 0;
  }

  @include media-breakpoint-up(sm) {

    padding: var(--theme-section-padding--sm) 0;

    &__cta {
      margin-top: 54px;
    }

    &__feed {
      margin-top: 38px;
    }

    &__feed-list {
      margin-top: 65px;
    }

    &__message {}

  } // min width sm

  @include media-breakpoint-up(md) {

    padding: var(--theme-section-padding--md) 0;

    &__cta {
      margin-top: 64px;
    }

    &__feed {
      margin-top: 42px;
    }

    &__feed-list {
      margin-top: 75px;
    }

    &__message {}

  } // min width md

  @include media-breakpoint-up(lg) {

    padding: var(--theme-section-padding--lg) 0;

    &__feed-featured,
    &__message {
      width: calc( 62% - var(--bs-gutter-width) );
    }

    &__cta {
      margin-top: 64px;
    }

    &__feed {
      margin-top: 42px;
    }

    &__feed-list {
      width: calc( 38% - var(--bs-gutter-width) );
      margin-top: 0;
    }

    &__message {
      width: calc( 62% - var(--bs-gutter-width) );
    }

    &__vr {
      left: calc( 62% - ( var(--theme-border-width) * 0.5 ) );
      display: block;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    padding: var(--theme-section-padding--xl) 0;

  } // min width xl

  @include media-breakpoint-up(xxl) {

    padding: var(--theme-section-padding--xxl) 0;

  } // min width xxl

} // .feature-image
