//////////////////////////////////////////////////////////
////  Button | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Button | Styles
//////////////////////////////////////////////////////////

.button {

  border-radius: var(--theme-border-radius);
  border-width: var(--theme-border-width);
  border-color: transparent;
  color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
  font-size: var(--theme-foundation-font-size);
  transition: background 280ms, border 280ms, color 280ms, opacity 280ms;
  display: inline-flex;
  width: auto;
  justify-content: center;
  align-items: center;
  line-height: 1;
  text-decoration: none;
  outline: none;

  &:focus,
  &:hover {
    color: inherit;
    outline: none;
    text-decoration: none;
  }

  &__svg {
    display: block;
    height: 100%;
    width: auto;
    svg {
      display: block;
      height: 100%;
      width: auto;
    }
  }

  // ---------------------------------------- Outlined
  &--outlined {
    font-family: var(--theme-serif--avenue-x);
    border-radius: var(--theme-border-radius);
    border-width: var(--theme-border-width);
    border-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    min-height: var(--theme-button-height);
    background: transparent;
    border-style: solid;
    padding: 0 22px;
    &:focus,
    &:hover {
      &:not(select) {
        opacity: var(--theme-hover-opacity);
      }
    }
  }

  &--rounded {
    font-family: var(--theme-sans-serif--sofia-pro);
    border-radius: 999px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  // ---------------------------------------- Width
  &--wide {
    min-width: 128px;
  }

  // ---------------------------------------- With Arrow
  &--with-arrow {
    font-family: var(--theme-serif--avenue-x);
    font-size: 14px;
    align-items: center;
    justify-content: center;
    span {
      display: block;
    }
    .button__svg {
      transition: transform 280ms;
      height: 10px;
      width: 10px;
      margin-left: 10px;
    }
    &:focus,
    &:hover {
      .button__svg {
        transform: translate3d( 6px, 0, 0 );
      }
    }
  }

  &[data-colour] {
    &:hover {
      opacity: 1;
    }
  }

  @include media-breakpoint-up(sm) {

    font-size: var(--theme-foundation-font-size--sm);

    // ---------------------------------------- Width
    &--wide {
      min-width: 132px;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    font-size: var(--theme-foundation-font-size--md);

    // ---------------------------------------- Width
    &--wide {
      min-width: 148px;
    }

    // ---------------------------------------- With Arrow
    &--with-arrow {
      font-size: 16px;
      &:after {
        height: 12px;
        width: 12px;
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    font-size: var(--theme-foundation-font-size--lg);

    // ---------------------------------------- Outlined
    &--outlined {
      min-height: var(--theme-button-height--lg);
    }

    // ---------------------------------------- Width
    &--wide {
      min-width: 152px;
    }

    // ---------------------------------------- With Arrow
    &--with-arrow {
      font-size: 12px;
      &:after {
        height: 8px;
        width: 8px;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    font-size: var(--theme-foundation-font-size--xl);

    // ---------------------------------------- Width
    &--wide {
      //min-width: 148px;
    }

    // ---------------------------------------- With Arrow
    &--with-arrow {
      font-size: 14px;
      &:after {
        height: 10px;
        width: 10px;
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    font-size: var(--theme-foundation-font-size--xxl);

    // ---------------------------------------- Width
    &--wide {
      //min-width: 152px;
    }

    // ---------------------------------------- With Arrow
    &--with-arrow {
      font-size: 16px;
      &:after {
        height: 12px;
        width: 12px;
      }
    }

  } // min width xxl

} // .button
