//////////////////////////////////////////////////////////
////  Campaign Gallery | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Campaign Gallery | Styles
//////////////////////////////////////////////////////////

.campaign-gallery {

  &__content {
    color: rgba( var(--theme-white--rgb), 1 );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: row nowrap;
  }

  &__heading {
    font-family: var(--theme-sans-serif--sofia-pro);
    text-transform: lowercase;
    line-height: 1;
    font-size: 34px;
    width: auto;
    font-weight: 600;
  }

  &__hr {
    background: rgba( var(--theme-white--rgb), 1 );
    height: var(--theme-border-width);
    display: block;
    flex: 1;
    position: relative;
    top: 5px;
    &.left {
      margin-right: 30px;
    }
    &.right {
      margin-left: 30px;
    }
  }

  &__item {
    display: block;
    height: 100%;
    position: relative;
  }

  @include media-breakpoint-up(sm) {

    &__heading {
      font-size: 48px;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__heading {
      font-size: 58px;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .glide {

      &__slide {
        &:first-child {
          .campaign-gallery__hr.left {
            opacity: 0;
          }
        }
        &:last-child {
          .campaign-gallery__hr.right {
            opacity: 0;
          }
        }
      }

      &[data-glide-slide-count="1"] {
        .glide__slide {
          width: calc( 100% * (1/1));
        }
      }
      &[data-glide-slide-count="2"] {
        .glide__slide {
          width: calc( 100% * (1/2));
        }
      }
      &[data-glide-slide-count="3"] {
        .glide__slide {
          width: calc( 100% * (1/3));
        }
      }
      &[data-glide-slide-count="4"] {
        .glide__slide {
          width: calc( 100% * (1/4));
        }
      }
      &[data-glide-slide-count="5"] {
        .glide__slide {
          width: calc( 100% * (1/5));
        }
      }
    }

    &__heading {
      font-size: 32px;
    }

    &__hr {
      &.left {
        margin-right: 20px;
      }
      &.right {
        margin-left: 20px;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__heading {
      font-size: 38px;
    }

    &__hr {
      &.left {
        margin-right: 26px;
      }
      &.right {
        margin-left: 26px;
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__heading {
      font-size: 42px;
    }

    &__hr {
      &.left {
        margin-right: 32px;
      }
      &.right {
        margin-left: 32px;
      }
    }

  } // min width xxl

} // .campaign-gallery
