//////////////////////////////////////////////////////////
////  Checkbox | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Checkbox | Styles
//////////////////////////////////////////////////////////

.checkbox {

  display: inline-flex;
  width: auto;
  justify-content: flex-start;
  align-items: center;

  &__label,
  &__box {
    display: block;
  }

  &__box {
    transition: background 280ms, border 280ms, opacity 280ms;
    border: 1px solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
    height: 14px;
    width: 14px;
    background: transparent;
    margin-right: 10px;
  }

  &__label {
    line-height: 1;
    font-size: 15px;
  }

  input {
    display: none !important;
    &:checked {
      & + .checkbox__box {
        background: rgba( var(--theme-essentials-charcoal--rgb), 1 );
      }
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .checkbox
