//////////////////////////////////////////////////////////
////  Collapsible | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Collapsible | Styles
//////////////////////////////////////////////////////////

.collapsible {

  &__trigger {
    display: inline-flex;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    align-items: center;
    padding: 0;
    margin: 0;
    img, svg, &-icon, &-title {
      display: block;
    }
    img, svg {
      transition: transform 280ms;
      transform: rotate( 180deg );
      height: 100%;
      width: auto;
    }
    &-icon {
      height: 8px;
      width: auto;
    }
    &-title {
      color: inherit;
    }
    &.collapsed {
      img, svg {
        transform: rotate( 0deg );
      }
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .collapsible
