//////////////////////////////////////////////////////////
////  Collection Feature | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Collection Feature | Styles
//////////////////////////////////////////////////////////

.collection-feature {

  padding: var(--theme-section-padding) 0;

  .button {
    color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    border-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
  }

  .glide {
    &__track {
      transition: height 280ms;
    }
    &[data-glide-limit='3'] {}
    &[data-glide-limit='5'] {}
    &[data-glide-limit='7'] {}
  }

  .product {
    &__cta {
      margin-top: var(--bs-gutter-width);
      text-align: center;
    }
    &.collection-feature {
      padding: 0;
    }
  }

  &__cta,
  &__products {
    margin-top: 46px;
  }

  &__cta {
    text-align: center;
    position: relative;
    z-index: 10;
  }

  &__heading {
    & + .collection-feature__message {
      margin-top: 24px;
    }
  }

  &__description {}

  &__products {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  &__title {
    font-family: var(--theme-sans-serif--sofia-pro);
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -0.03em;
    & + .collection-feature__description {
      margin-top: 30px;
    }
  }

  @include media-breakpoint-up(sm) {

    padding: var(--theme-section-padding--sm) 0;

    &__cta,
    &__products {
      margin-top: 50px;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    padding: var(--theme-section-padding--md) 0;

    &__cta,
    &__products {
      margin-top: 60px;
    }

    &__description {
      width: 66%;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    padding: var(--theme-section-padding--lg) 0;

    .glide {
      &__slides {
        justify-content: space-between;
        align-items: flex-end;
      }
      @for $i from 1 through 12 {
        &[data-glide-limit='#{$i}'] {
          .glide__slide {
            @include set-column-width( $i, 20px );
          }
        }
      }
    }

    &__cta,
    &__products {
      margin-top: 42px;
    }

    &__message {
      width: calc(62% - var(--bs-gutter-width));
    }

    &__products {
      width: var(--bs-container-width--lg);
      padding-right: calc( var(--bs-gutter-width) * 0.5 );
      padding-left: calc( var(--bs-gutter-width) * 0.5 );
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    padding: var(--theme-section-padding--xl) 0;

    .glide {
      @for $i from 1 through 12 {
        &[data-glide-limit='#{$i}'] {
          .glide__slide {
            @include set-column-width( $i, 22px );
          }
        }
      }
    }

    &__cta,
    &__products {
      margin-top: 46px;
    }

    &__products {
      width: var(--bs-container-width--xl);
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    padding: var(--theme-section-padding--xxl) 0;

    .glide {
      @for $i from 1 through 12 {
        &[data-glide-limit='#{$i}'] {
          .glide__slide {
            @include set-column-width( $i, 24px );
          }
        }
      }
    }

    &__cta,
    &__products {
      margin-top: 50px;
    }

    &__products {
      width: var(--bs-container-width--xxl);
    }

  } // min width xxl

} // .collection-feature
