//////////////////////////////////////////////////////////
////  Contact Us | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Contact Us | Styles
//////////////////////////////////////////////////////////

.contact-us {

  .flexible-content {
    .section {
      &:first-of-type {
        .horizontal-rule {
          display: block;
        }
      }
    }
  }

  .form {

    p {
      font-size: 16px;
      line-height: 1.3;
      font-weight: 300;
    }

    &__main {
      width: 100%;
      flex-flow: column;
    }

    &__row {
      width: 100%;
      & + .form__row {
        margin-top: var(--bs-gutter-width);
      }
    }

  }

  .hero {
    .heading {
      text-transform: lowercase;
    }
  }

  .navigation {
    width: 100%;
    flex-flow: row wrap;
    margin-top: 40px;
    &__item {
      display: inline-flex;
      width: 100%;
      & + .navigation__item {
        margin-top: 18px;
      }
    }
    &__link {
      border-bottom: var(--theme-border-width) solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
      transition: border 280ms;
      font-weight: 300;
      font-size: 16px;
      text-transform: none;
      &:hover {
        border-bottom-color: transparent;
      }
    }
  }

  &__address,
  &__info {
    p {
      font-size: 16px;
      line-height: 1.1;
      margin: 0;
      & + p {
        margin-top: 10px;
      }
    }
  }

  &__address {
    margin-top: 65px;
  }

  &__body {
    padding-top: 45px;
    padding-bottom: 65px;
  }

  &__info {
    margin-top: 28px;
    span {
      display: inline-block;
      font-weight: 700;
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    .form {
      padding-right: var(--bs-gutter-width);
      p {
        font-size: 14px;
      }
    }

    .navigation {
      margin-top: 40px;
      &__item {
        & + .navigation__item {
          margin-top: 10px;
        }
      }
      &__link {
        font-size: 14px;
      }
    }

    &__address,
    &__info {
      p {
        font-size: 14px;
        & + p {
          margin-top: 6px;
        }
      }
    }

    &__address {
      margin-top: 0;
    }

    &__body {
      padding-top: 45px;
      padding-bottom: 65px;
    }

    &__info {
      margin-top: 28px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {

    .flexible-content {}

    .form {
      p {
        font-size: 16px;
      }
    }

    .hero {}

    .navigation {
      margin-top: 40px;
      &__item {
        & + .navigation__item {
          margin-top: 12px;
        }
      }
      &__link {
        font-size: 16px;
      }
    }

    &__address,
    &__info {
      p {
        font-size: 16px;
        & + p {
          margin-top: 8px;
        }
      }
    }

    &__body {
      padding-top: 45px;
      padding-bottom: 65px;
    }

    &__info {
      margin-top: 28px;
    }

  } // min width xxl

} // .contact-us
