//////////////////////////////////////////////////////////
////  Call to Action | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Call to Action | Styles
//////////////////////////////////////////////////////////

.cta {

  font-family: var( --theme-serif--avenue-x );
  color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &__icon,
  &__title {
    display: block;
  }

  &__icon {
    transition: transform 280ms;
    height: 10px;
    margin-left: 10px;
    img, svg {
      height: 100%;
      display: block;
    }
  }

  &[data-appearance="primary"],
  &[data-appearance="secondary"] {
    height: 40px;
    &:hover {
      color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    }
  }

  &[data-appearance="primary"] {
    border: 1px solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
    border-radius: 4px;
    padding: 0 24px;
    min-width: 84px;
  }

  &[data-appearance="secondary"] {
    &:hover {
      .cta__icon {
        transform: translate3d( 5px, 0, 0 );
      }
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    font-size: 10px;

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {

    font-size: 14px;

  } // min width xxl

} // .cta
