//////////////////////////////////////////////////////////
////  Education Feature | Vars
//////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////
////  Education Feature | Styles
//////////////////////////////////////////////////////////

.education-feature {

  .button {
    color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    border-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
  }

  .rte {
    font-weight: 500;
    font-size: 36px;
    letter-spacing: -0.03em;
    line-height: 1.1;
  }

  &__content,
  &__figures {
    display: inline-flex;
    width: 100%;
  }

  &__cta,
  &__html,
  &__message {
    margin-top: 46px;
  }

  &__content {
    flex-flow: row wrap;
  }

  &__html {

    ul {
      font-family: var(--theme-serif--avenue-x);
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      &::before {
        content: '';
        background: url('./OPTIMI--icon--arrow-right-dark.svg');
        width: 11px;
        height: 11px;
        background-position: center left;
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 2px 20px 0 0;
      }
      & + li {
        margin-top: 10px;
      }
    }

  }

  &__figures {
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    &-item {
      @include add-border( rgba( var(--theme-essentials-charcoal--rgb), 1 ), 9999px );
      width: calc((100% - ( 2 * var(--bs-gutter-width))) * (1/3));
      overflow: hidden;
    }
  }

  @include media-breakpoint-up(sm) {

    .rte {
      font-size: 40px;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .rte {
      font-size: 46px;
    }

    &__cta,
    &__html,
    &__message {
      margin-top: 56px;
    }

    &__html {
      ul {
        font-size: 16px;
      }
      li {
        &::before {
          width: 11px;
          height: 11px;
          margin: 2px 25px 0 0;
        }
        & + li {
          margin-top: 15px;
        }
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .rte {
      font-size: 38px;
    }

    .row {
      &--inner {
        align-items: center;
      }
    }

    &__cta,
    &__html {
      margin-top: 45px;
    }

    &__figures {
      margin-bottom: calc( -1 * var(--bs-gutter-width) );
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      width: 100%;
      &-item {
        margin-bottom: var(--bs-gutter-width);
        width: 60%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__html {
      ul {
        font-size: 14px;
      }
      li {
        &::before {
          width: 9px;
          height: 10px;
          margin: 2px 16px 0 0;
        }
        & + li {
          margin-top: 15px;
        }
      }
    }

    &__message {
      margin-top: 0;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .rte {
      font-size: 48px;
    }

    &__cta,
    &__html {
      margin-top: 55px;
    }

    &__html {
      ul {
        font-size: 15px;
      }
      li {
        &::before {
          width: 9px;
          height: 10px;
          margin: 2px 16px 0 0;
        }
        & + li {
          margin-top: 17px;
        }
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .rte {
      font-size: 50px;
    }

    &__cta,
    &__html {
      margin-top: 65px;
    }

    &__html {
      ul {
        font-size: 16px;
      }
      li {
        &::before {
          width: 9px;
          height: 10px;
          margin: 2px 16px 0 0;
        }
        & + li {
          margin-top: 19px;
        }
      }
    }

  } // min width xxl

} // .education-feature
