//////////////////////////////////////////////////////////
////  Fifty Fifty | Vars
//////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////
////  Fifty Fifty | Styles
//////////////////////////////////////////////////////////

.fifty-fifty {

  text-align: center;

  .button {
    color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    border-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
  }

  .include-border {
    @include add-border();
  }

  &__content,
  &__media {
    width: 100%;
  }

  &__hr,
  &__vr {
    display: none;
    background: rgba( var(--theme-essentials-charcoal--rgb), 1 );
  }

  &__content {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  &__cta {
    margin-top: 36px;
  }

  &__heading {
    & + .fifty-fifty__message {
      margin-top: 24px;
    }
  }

  &__layout {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    position: relative;
  }

  &__main {
    color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    width: 100%;
  }

  &__media {
    overflow: hidden;
    a, img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  [data-layout-style="education"] {
    .message {
      font-size: 18px;
    }
    .fifty-fifty {
      &__content {
        text-align: left;
        padding: 0;
        width: 100%;
        margin-top: 15px;
      }
      &__heading {
        & + .fifty-fifty__message {
          margin-top: 18px;
        }
      }
    }
  }

  [data-layout-style="product"] {
    .fifty-fifty {
      &__content {
        margin-top: 16px;
      }
    }
  }

  @include media-breakpoint-up(sm) {

    &__content {
      width: 70%;
    }

    &__cta {
      margin-top: 38px;
    }

    &__heading {
      & + .fifty-fifty__message {
        margin-top: 24px;
      }
    }

    [data-layout-style="education"] {
      .message {
        font-size: 20px;
      }
      .fifty-fifty {
        &__heading {
          & + .fifty-fifty__message {
            margin-top: 22px;
          }
        }
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__content {}

    &__cta {
      margin-top: 42px;
    }

    &__heading {
      & + .fifty-fifty__message {
        margin-top: 24px;
      }
    }

    [data-layout-style="education"] {
      .message {
        font-size: 22px;
      }
      .fifty-fifty {}
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__content,
    &__media {
      width: 48%;
      width: calc( (100% - (var(--bs-gutter-width)*2)) * 0.5 );
    }

    &__content {
      margin: 0;
      padding: 0 3.5%;
    }

    &__hr {
      height: var(--theme-border-width);
      width: 100%;
    }

    &__layout {
      justify-content: space-between;
      flex-flow: row nowrap;
    }

    &__vr {
      width: var(--theme-border-width);
      height: 100%;
      position: absolute;
      top: 0;
    }

    //////////////////////////////////////////////////////////
    ////  Layout
    //////////////////////////////////////////////////////////

    // ---------------------------------------- Media Left
    [data-layout-setting="media-left"] {
      .fifty-fifty {
        &__content {
          order: 2;
        }
        &__media {
          order: 1;
        }
      }
    }

    // ---------------------------------------- Media Right
    [data-layout-setting="media-right"] {
      .fifty-fifty {
        &__content {
          order: 1;
        }
        &__media {
          order: 2;
        }
      }
    }

    //////////////////////////////////////////////////////////
    ////  Style
    //////////////////////////////////////////////////////////

    // ---------------------------------------- Campaign & Education
    [data-layout-style="campaign"],
    [data-layout-style="product"] {
      .fifty-fifty {
        &__message {
          font-size: 24px;
        }
      }
    }

    // ---------------------------------------- Education
    [data-layout-style="education"] {
      align-items: flex-start;
      .fifty-fifty {
        &__content {
          margin-top: 0;
          width: calc( (100% - (var(--bs-gutter-width)*2)) * 0.5 );
        }
        &__heading {
          font-size: 42px;
          & + .fifty-fifty__message {
            margin-top: 34px;
          }
        }
        &__hr {
          display: block;
          margin-bottom: 16px;
        }
      }
      .message {
        font-size: 18px;
      }
    }

    // ---------------------------------------- Product
    [data-layout-style="product"] {
      .fifty-fifty {
        &__vr {
          display: block;
          left: calc( 50% - (var(--theme-border-width) * 0.5) );
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__content,
    &__media {
      width: 48%;
      width: calc( (100% - (var(--bs-gutter-width)*3)) * 0.5 );
    }

    //////////////////////////////////////////////////////////
    ////  Layout
    //////////////////////////////////////////////////////////

    // ---------------------------------------- Media Left
    [data-layout-setting="media-left"] {
      .fifty-fifty {}
    }

    // ---------------------------------------- Media Right
    [data-layout-setting="media-right"] {
      .fifty-fifty {}
    }

    //////////////////////////////////////////////////////////
    ////  Style
    //////////////////////////////////////////////////////////

    // ---------------------------------------- Campaign & Education
    [data-layout-style="campaign"],
    [data-layout-style="product"] {
      .fifty-fifty {
        &__message {
          font-size: 28px;
        }
      }
    }

    // ---------------------------------------- Campaign
    [data-layout-style="campaign"] {
      .fifty-fifty {}
    }

    // ---------------------------------------- Education
    [data-layout-style="education"] {
      .fifty-fifty {
        &__content {
          width: calc( (100% - (var(--bs-gutter-width)*3)) * 0.5 );
        }
        &__heading {
          font-size: 48px;
          & + .fifty-fifty__message {
            margin-top: 36px;
          }
        }
        &__hr {
          margin-bottom: 18px;
        }
      }
      .message {
        font-size: 20px;
      }
    }

    // ---------------------------------------- Product
    [data-layout-style="product"] {
      .fifty-fifty {}
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__content,
    &__media {
      width: 48%;
      width: calc( (100% - (var(--bs-gutter-width)*3)) * 0.5 );
    }

    //////////////////////////////////////////////////////////
    ////  Layout
    //////////////////////////////////////////////////////////

    // ---------------------------------------- Media Left
    [data-layout-setting="media-left"] {
      .fifty-fifty {}
    }

    // ---------------------------------------- Media Right
    [data-layout-setting="media-right"] {
      .fifty-fifty {}
    }

    //////////////////////////////////////////////////////////
    ////  Style
    //////////////////////////////////////////////////////////

    // ---------------------------------------- Campaign & Education
    [data-layout-style="campaign"],
    [data-layout-style="product"] {
      .fifty-fifty {
        &__message {
          font-size: 32px;
        }
      }
    }

    // ---------------------------------------- Campaign
    [data-layout-style="campaign"] {
      .fifty-fifty {}
    }

    // ---------------------------------------- Education
    [data-layout-style="education"] {
      .fifty-fifty {
        &__content {
          width: calc( (100% - (var(--bs-gutter-width)*3)) * 0.5 );
        }
        &__heading {
          font-size: 54px;
          & + .fifty-fifty__message {
            margin-top: 38px;
          }
        }
        &__hr {
          margin-bottom: 20px;
        }
      }
      .message {
        font-size: 22px;
      }
    }

    // ---------------------------------------- Product
    [data-layout-style="product"] {
      .fifty-fifty {}
    }

  } // min width xxl

} // .feature-image
