//////////////////////////////////////////////////////////
////  Flexible Content | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Flexible Content | Styles
//////////////////////////////////////////////////////////

.flexible-content {

  .section {

    .horizontal-rule {
      display: none;
    }

    &.section--full-width-feature {
      &[data-style="inset"] {
        padding: var(--theme-section-padding) 0;
        & + .section--collection-feature {
          border-top: none;
          .horizontal-rule {
            display: block;
          }
        }
      }
    }

    & + .section {
      border-top-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
      border-top-width: var(--theme-border-width);
      border-top-style: solid;
    }

    &.section--fifty-fifty[data-style="education"] {
      & + .section--fifty-fifty[data-style="education"],
      & + .section--show-and-tell {
        border-top:none;
      }
      & + .section--fifty-fifty[data-style="education"] {
        margin-top: -40px;
      }
      & + .section--show-and-tell {
        .horizontal-rule {
          display: block;
        }
      }
    }

    &.section--collection-feature,
    &.section--shop-guide {
      & + .section--fifty-fifty.campaign,
      & + .section--fifty-fifty.product {
        border-top: none;
        .horizontal-rule {
          display: block;
        }
      }
    }

    & + .section--blog-feature,
    & + .section--instagram {
      border-top: none;
      .horizontal-rule {
        display: block;
      }
    }

  }

  &--learn {
    border-bottom: var(--theme-border-width) solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
  }

  @include media-breakpoint-up(sm) {

    .section {

      &.section--fifty-fifty[data-style="education"] {
        & + .section--fifty-fifty[data-style="education"] {
          margin-top: -55px;
        }
      }

      &.section--full-width-feature {
        &[data-style="inset"] {
          padding: var(--theme-section-padding--sm) 0;
        }
      }

    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .section {

      &.section--fifty-fifty[data-style="education"] {
        & + .section--fifty-fifty[data-style="education"] {
          margin-top: -60px;
        }
      }

      &.section--full-width-feature {
        &[data-style="inset"] {
          padding: var(--theme-section-padding--md) 0;
        }
      }

    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .section {

      &.section--fifty-fifty[data-style="education"] {
        & + .section--fifty-fifty[data-style="education"] {
          margin-top: -40px;
        }
      }

      &.section--full-width-feature {
        &[data-style="inset"] {
          padding: var(--theme-section-padding--lg) 0;
        }
      }

    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .section {

      &.section--fifty-fifty[data-style="education"] {
        & + .section--fifty-fifty[data-style="education"] {
          margin-top: -50px;
        }
      }

      &.section--full-width-feature {
        &[data-style="inset"] {
          padding: var(--theme-section-padding--xl) 0;
        }
      }

    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .section {

      &.section--fifty-fifty[data-style="education"] {
        & + .section--fifty-fifty[data-style="education"] {
          margin-top: -60px;
        }
      }

      &.section--full-width-feature {
        &[data-style="inset"] {
          padding: var(--theme-section-padding--xxl) 0;
        }
      }

    }

  } // min width xxl

} // .flexible-content
