//////////////////////////////////////////////////////////
////  Full Width Feature | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Full Width Feature | Styles
//////////////////////////////////////////////////////////

.full-width-feature {

  position: relative;

  .button {
    border-color: rgba( var(--theme-white--rgb), 1 );
    color: rgba( var(--theme-white--rgb), 1 );
  }

  .heading {
    span {
      border-color: rgba( var(--theme-white--rgb), 1 );
      white-space: pre;
    }
  }

  .media {
    position: relative;
    max-width: 100vw;
    height: calc( 100vh - var(--theme-total-header-height) );
    overflow: hidden;
    &__clip {
      z-index: 5;
      position: absolute;
      clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%);
      width: 100%;
      height: 100%;
      overflow: hidden;
      .lazyload-item {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        z-index: 0;
      }
    }
    &.inset {
      @include add-border();
      width: calc( 100% - 22px - var(--bs-gutter-width) );
      margin: auto;
      height: 60vh;
      min-height: 400px;
    }
  }

  &__heading,
  &__message {
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    color: rgba( var(--theme-white--rgb), 1 );
  }

  &__cta {
    margin-top: 40px;
  }

  &__main {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 10;
    flex-flow: column;
    text-align: center;
  }

  &__message {
    width: 90%;
  }

  &.is-hero {
    border-top: none;
  }

  @include media-breakpoint-up(sm) {

    .media {
      &.inset {
        width: calc( var(--bs-container-width--sm) - var(--bs-gutter-width));
      }
    }

    &__heading,
    &__message {
      width: 90%;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .media {
      &.inset {
        width: calc( var(--bs-container-width--md) - var(--bs-gutter-width));
      }
    }

    &__heading {
      width: 100%;
    }

    &__message {
      width: 70%;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .media {
      &.inset {
        width: calc( var(--bs-container-width--lg) - var(--bs-gutter-width));
        height: 50vh;
        min-height: 450px;
      }
    }

    &__cta {
      margin-top: 46px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .media {
      &.inset {
        width: calc( var(--bs-container-width--xl) - var(--bs-gutter-width));
      }
    }


    &__cta {
      margin-top: 52px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .media {
      &.inset {
        width: calc( var(--bs-container-width--xxl) - var(--bs-gutter-width));
      }
    }

    &__cta {
      margin-top: 58px;
    }

  } // min width xxl

} // .full-width-feature
