//////////////////////////////////////////////////////////
////  Glide | Vars
//////////////////////////////////////////////////////////

:root {
  --theme-glider-bullet-size: 12px;
  --theme-glider-bullet-size--sm: 12px;
  --theme-glider-bullet-size--md: 12px;
  --theme-glider-bullet-size--lg: 10px;
  --theme-glider-bullet-size--xl: 10px;
  --theme-glider-bullet-size--xxl: 10px;
}

//////////////////////////////////////////////////////////
////  Glide | Styles
//////////////////////////////////////////////////////////

.glide {

  &__bullets {
    margin-top: calc( 1.5 * var(--bs-gutter-width) );
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &__bullet {
    transition: background 280ms, border 280ms;
    background: rgba( var(--theme-essentials-charcoal--rgb), var(--theme-hover-opacity) );
    height: var(--theme-glider-bullet-size);
    width: var(--theme-glider-bullet-size);
    border: 1px solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
    border-radius: 999px;
    outline: none;
    display: block;
    padding: 0;
    & + .glide__bullet {
      margin-left: 18px;
    }
    &--active {
      background: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    }
  }

  &__slides {
    margin: 0;
    padding: 0;
  }

  &__track {
    transition: height 280ms;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .glide
