//////////////////////////////////////////////////////////
////  Grid | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Grid | Styles
//////////////////////////////////////////////////////////

.grid {

  margin-bottom: -45px;

  &__item {
    margin-bottom: 45px;
  }

  // ---------------------------------------- Collection Feature
  &[data-grid-style="collection-feature"] {}

  @include media-breakpoint-up(sm) {

    // ---------------------------------------- Collection Feature
    &[data-grid-style="collection-feature"] {}

  } // min width sm

  @include media-breakpoint-up(md) {

    margin-bottom: -60px;

    &__item {
      margin-bottom: 60px;
    }

    // ---------------------------------------- Collection Feature
    &[data-grid-style="collection-feature"] {}

  } // min width md

  @include media-breakpoint-up(lg) {

    // ---------------------------------------- Collection Feature
    &[data-grid-style="collection-feature"] {}

  } // min width lg

  @include media-breakpoint-up(xl) {

    // ---------------------------------------- Collection Feature
    &[data-grid-style="collection-feature"] {}

  } // min width xl

  @include media-breakpoint-up(xxl) {

    margin-bottom: -80px;

    &__item {
      margin-bottom: 80px;
    }

    // ---------------------------------------- Collection Feature
    &[data-grid-style="collection-feature"] {}

  } // min width xxl

} // .grid
