//////////////////////////////////////////////////////////
////  Heading | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Heading | Styles
//////////////////////////////////////////////////////////

.heading {

  // font-size: var(--theme-heading-font-size);
  // font-weight: 600;
  // text-transform: lowercase;

  letter-spacing: -0.03em;

  &--fifty-fifty {
    font-size: calc( 0.65 * var(--theme-heading-font-size) );
  }

  &--blog-title {
    font-size: calc( 0.85 * var(--theme-heading-font-size) );
  }

  &--blog-feature,
  &--error-404,
  &--full-width-feature,
  &--feature-collection,
  &--product-knowledge, {
    line-height: 1;
    letter-spacing: -0.03em;
  }

  &--read-more {
    padding: 18px 0 45px 0;
    line-height: 0.8;
  }

  // ---------------------------------------- NU STYLES
  &--primary {
    font-size: var(--theme-heading-font-size);
    line-height: 1;
    span {
      border-bottom-width: calc( var(--theme-border-width) + 1 );
      border-bottom-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
      border-bottom-style: solid;
      display: inline-block;
      line-height: 1.05;
    }
  }

  &--secondary {
    font-size: calc( 0.65 * var(--theme-heading-font-size) );
  }

  &--tertiary {
    font-size: calc( 0.35 * var(--theme-heading-font-size) );
  }

  & + .message {
    &--primary,
    &--secondary {
      margin-top: 36px;
    }
    &--secondary {
      // margin-top: 26px;
    }
  }

  // ---------------------------------------- Font Weight Scales
  @for $i from 1 through 9 {
    &--#{$i}00 {
      font-weight: $i * 100;
    }
  }

  @include media-breakpoint-up(sm) {

    &--fifty-fifty {
      font-size: calc( 0.65 * var(--theme-heading-font-size--sm) );
    }
    &--read-more {
      padding: 18px 0 52px 0;
    }
    &--blog-title {
      font-size: calc( 0.85 * var(--theme-heading-font-size--sm) );
    }

    // ---------------------------------------- NU STYLES
    &--primary {
      font-size: var(--theme-heading-font-size--sm);
    }

    &--secondary {
      font-size: calc( 0.65 * var(--theme-heading-font-size--sm) );
    }

    &--tertiary {
      font-size: calc( 0.35 * var(--theme-heading-font-size--sm) );
    }

    & + .message {
      &--primary,
      &--secondary {
        margin-top: 38px;
      }
      &--secondary {
        //margin-top: 28px;
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &--fifty-fifty {
      font-size: calc( 0.65 * var(--theme-heading-font-size--md) );
    }
    &--read-more {
      padding: 22px 0 62px;
    }
    &--blog-title {
      font-size: calc( 0.85 * var(--theme-heading-font-size--md) );
    }

    // ---------------------------------------- NU STYLES
    &--primary {
      font-size: var(--theme-heading-font-size--md);
    }
    &--secondary {
      font-size: calc( 0.65 * var(--theme-heading-font-size--md) );
    }
    &--tertiary {
      font-size: calc( 0.35 * var(--theme-heading-font-size--md) );
    }

    & + .message {
      &--primary,
      &--secondary {
        margin-top: 40px;
      }
      &--secondary {
        //margin-top: 30px;
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &--blog-feature,
    &--feature-collection {
      font-size: calc( 0.85 * var(--theme-heading-font-size--lg) );
    }
    &--fifty-fifty {
      font-size: calc( 0.45 * var(--theme-heading-font-size--lg) );
    }
    &--read-more {
      padding: 22px 0 34px;
    }
    &--blog-title {
      font-size: calc( 0.85 * var(--theme-heading-font-size--lg) );
    }

    // ---------------------------------------- NU STYLES
    &--primary {
      font-size: var(--theme-heading-font-size--lg);
    }
    &--secondary {
      font-size: calc( 0.65 * var(--theme-heading-font-size--lg) );
    }
    &--tertiary {
      font-size: calc( 0.35 * var(--theme-heading-font-size--lg) );
    }

    & + .message {
      &--primary,
      &--secondary {
        margin-top: 24px;
      }
      &--secondary {
        //margin-top: 34px;
      }
    }

    &--product-title {
      font-size: 69px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &--blog-feature,
    &--feature-collection {
      font-size: calc( 0.85 * var(--theme-heading-font-size--xl) );
    }
    &--fifty-fifty {
      font-size: calc( 0.45 * var(--theme-heading-font-size--xl) );
    }
    &--blog-title {
      font-size: calc( 0.85 * var(--theme-heading-font-size--xl) );
    }

    // ---------------------------------------- NU STYLES
    &--primary {
      font-size: var(--theme-heading-font-size--xl);
    }
    &--secondary {
      font-size: calc( 0.65 * var(--theme-heading-font-size--xl) );
    }
    &--tertiary {
      font-size: calc( 0.35 * var(--theme-heading-font-size--xl) );
    }

    & + .message {
      &--primary,
      &--secondary {
        margin-top: 27px;
      }
      &--secondary {
        //margin-top: 40px;
      }
    }

    &--product-title {
      font-size: 72px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &--blog-feature,
    &--feature-collection {
      font-size: calc( 0.85 * var(--theme-heading-font-size--xxl) );
    }
    &--fifty-fifty {
      font-size: calc( 0.52 * var(--theme-heading-font-size--xl) );
    }
    &--blog-title {
      font-size: calc( 0.85 * var(--theme-heading-font-size--xxl) );
    }

    // ---------------------------------------- NU STYLES
    &--primary {
      font-size: var(--theme-heading-font-size--xxl);
    }
    &--secondary {
      font-size: calc( 0.65 * var(--theme-heading-font-size--xxl) );
    }
    &--tertiary {
      font-size: calc( 0.35 * var(--theme-heading-font-size--xxl) );
    }

    & + .message {
      &--primary,
      &--secondary {
        margin-top: 30px;
      }
      &--secondary {
        //margin-top: 46px;
      }
    }

    &--product-title {
      font-size: 80px;
    }

  } // min width xxl

} // .heading
