//////////////////////////////////////////////////////////
////  Hero | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Hero | Styles
//////////////////////////////////////////////////////////

.hero {

  .heading {
    border-top-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    border-top-width: var(--theme-border-width);
    border-top-style: solid;
    font-size: 36px;
    padding-top: 15px;
    font-weight: 500;
  }

  @include media-breakpoint-up(sm) {

    .heading {
      font-size: 40px;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .heading {
      font-size: 44px;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .heading {
      font-size: 46px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .heading {
      font-size: 50px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .heading {
      font-size: 54px;
    }

  } // min width xxl

} // .hero
