//////////////////////////////////////////////////////////
////  Horizontal Rule | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Horizontal Rule | Styles
//////////////////////////////////////////////////////////

.horizontal-rule {

  width: 100%;

  &__main {
    background: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    height: var(--theme-border-width);
    width: 100%;
    position: relative;
  }

} // .horizontal-rule
