//////////////////////////////////////////////////////////
////  Input | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Input | Styles
//////////////////////////////////////////////////////////

.input {

  font-family: var(--theme-serif--avenue-x);
  color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
  background: transparent;
  font-size: 14px;
  line-height: 1;
  outline: 0;
  border: none;

  &--border {
    border: rgba( var(--theme-essentials-charcoal--rgb), 1 ) solid var( --theme-border-width );
    padding-left: var(--bs-gutter-width);
    padding-right: var(--bs-gutter-width);
    border-radius: var(--theme-border-radius);
  }

  &--border-bottom {
    border-bottom: rgba( var(--theme-essentials-charcoal--rgb), 1 ) solid var( --theme-border-width );
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .input
