//////////////////////////////////////////////////////////
////  Instagram | Vars
//////////////////////////////////////////////////////////

:root {
  --theme-instagram-feed-gutter: 10px;
  --theme-instagram-feed-gutter--sm: 10px;
  --theme-instagram-feed-gutter--md: 10px;
  --theme-instagram-feed-gutter--lg: 12px;
  --theme-instagram-feed-gutter--xl: 12px;
  --theme-instagram-feed-gutter--xxl: 12px;
}

//////////////////////////////////////////////////////////
////  Instagram | Styles
//////////////////////////////////////////////////////////

.instagram {

  text-align: center;

  .button {
    color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    border-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
  }

  &__cta {
    margin-top: 36px;
  }

  &__feed {
    margin-bottom: calc( -1 * var(--theme-instagram-feed-gutter) );
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }

  &__heading {
    margin-bottom: 36px;
  }

  &__item {
    @include add-border();
    @include set-column-width( 3, var(--theme-instagram-feed-gutter) );
    margin-bottom: var(--theme-instagram-feed-gutter);
    overflow: hidden;
  }

  &__link {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    &:focus,
    &:hover {
      .instagram__image {
        opacity: var(--theme-hover-opacity);
      }
    }
  }

  &__placeholder {
    width: 100%;
    height: auto;
    img, svg {
      opacity: var(--theme-hover-opacity);
      width: 100%;
      height: auto;
      display: block;
    }
  }

  @include media-breakpoint-up(sm) {

    &__feed {
      margin-bottom: calc( -1 * var(--theme-instagram-feed-gutter--sm) );
    }

    &__item {
      @include set-column-width( 3, var(--theme-instagram-feed-gutter--sm) );
      margin-bottom: var(--theme-instagram-feed-gutter--sm);
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__feed {
      margin-bottom: calc( -1 * var(--theme-instagram-feed-gutter--md) );
    }

    &__item {
      @include set-column-width( 3, var(--theme-instagram-feed-gutter--md) );
      margin-bottom: var(--theme-instagram-feed-gutter--md);
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__cta {
      margin-top: 40px;
    }

    &__feed {
      margin-bottom: 0;
      flex-flow: row nowrap;
    }

    &__heading {
      margin-bottom: 40px;
    }

    &__item {
      @include set-column-width( 5, var(--theme-instagram-feed-gutter--lg) );
      margin-bottom: 0;
      &:last-child {
        display: none;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__item {
      @include set-column-width( 5, var(--theme-instagram-feed-gutter--xl) );
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__item {
      @include set-column-width( 5, var(--theme-instagram-feed-gutter--xxl) );
    }

  } // min width xxl

} // .instagram
