//////////////////////////////////////////////////////////
////  Lazy Loader | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Lazy Loader | Styles
//////////////////////////////////////////////////////////

.lazyload-item {

  transition-property: opacity;
	opacity: 0;
	display: block;
  width: 100%;

	&--inline {
  	height: auto;
	}

  &--image {
    &.background,
    &.lazyload-item--background {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--video-embed {
    &.background {

      top: 50%;
      left: 50%;
      transform: translate3d( -50%, -50%, 0 );

      &[data-aspect-ratio='4-3'] {
        height: 75vw; /* H / W */
        min-height: 100vh;
        min-width: 133.33vh; /* W / H */
      }

      &[data-aspect-ratio='16-9'] {
        height: 56.25vw; /* H / W */
        min-height: 100vh;
        min-width: 177.77vh; /* W / H */
      }

    }
  }

  &.background {
    position: absolute;
  }

  &.inline {
    height: auto;
  }

	&.lazyloaded {
    opacity: 1;
	}

	$base: 25;
	$step: 25;
  @while $base < 4000 {

    &[data-transition-duration='#{$base}'] {
      transition-duration: $base * 1ms;
    }

    &[data-transition-delay='#{$base}'] {
      transition-delay: $base * 1ms;
    }

    $base: $base + $step;

  }

} // .lazyload-item
