//////////////////////////////////////////////////////////
////  Link | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Link | Styles
//////////////////////////////////////////////////////////

.link {

  text-decoration: none;
  outline: none;
  display: inline-block;

  &:hover {
    text-decoration: none;
    outline: none;
  }

  &--primary {
    @include link();
  }

  &--secondary {
    @include link(false);
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

}
