//////////////////////////////////////////////////////////
////  Menu | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Menu | Styles
//////////////////////////////////////////////////////////

.menu {

  &__item,
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list {
    display: inline-flex;
    width: auto;
    justify-content: flex-start;
    align-items: center;
  }

} // .menu
