//////////////////////////////////////////////////////////
////  Message | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Message | Styles
//////////////////////////////////////////////////////////

.message,
.rte {

  @include body-copy( 1, 1.3, 300 );
  font-style: normal;

  p, li {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-style: inherit;
    a {
      transition: border 280ms;
      color: inherit;
      display: inline-block;
      width: auto;
      border-bottom: var(--theme-border-width) solid;
      text-decoration: none;
      outline: none;
      &:focus,
      &:hover {
        border-bottom-color: transparent;
        text-decoration: none;
        outline: none;
      }
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(sm) {

    // font-size: 18px;

  } // min width sm

  @include media-breakpoint-up(md) {

    // font-size: 20px;

  } // min width md

  @include media-breakpoint-up(lg) {

    //font-size: 16px;

  } // min width lg

  @include media-breakpoint-up(xl) {

    // font-size: 18px;

  } // min width xl

  @include media-breakpoint-up(xxl) {

    // font-size: 20px;

  } // min width xxl

} // .message
