//////////////////////////////////////////////////////////
////  Modal | Vars
//////////////////////////////////////////////////////////

:root {

  --theme-modal-button-close: 14px;

}

//////////////////////////////////////////////////////////
////  Modal | Styles
//////////////////////////////////////////////////////////

.modal {

  .button {
    &[data-micromodal-close] {
      height: var(--theme-modal-button-close);
      width: var(--theme-modal-button-close);
      img, svg {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  .form {
    h2, p {
      margin: 0;
      padding: 0;
      line-break: 1;
      font-size: 14px;
    }
    h2 {
      & + p {
        margin-top: 5px;
      }
    }
    &__content {
      width: 75%;
      & + .form__row {
        margin-top: 15px;
      }
    }
    &__row {
      .form__field + .form__field {
        margin-left: 20px;
      }
    }
  }

  &__content {
    color: rgba(var(--theme-essentials-charcoal--rgb),1);
    padding: 0;
    margin: 0;
    height: auto;
    min-height: auto;
    max-height: none;
    overflow: initial;
  }

  &__button {
    border: none;
    outline: none;
  }

  &--notify-me {
    .form {
      &__field {
        &.email {
          width: 100%;
        }
        &.submit {
          flex: 1;
        }
      }
      &__main {
        flex-flow: column;
      }
      &__success {
        text-align: center;
      }
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    .form {
      &__content {
        width: 100%;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .form {
      h2, p {
        font-size: 16px;
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .form {
      h2, p {
        font-size: 18px;
      }
    }

  } // min width xxl

} // .modal
