//////////////////////////////////////////////////////////
////  Newsletter | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Newsletter | Styles
//////////////////////////////////////////////////////////

.newsletter {

  .form {
    &__main {
      flex-flow: row wrap;
    }
  }

} // .newsletter
