//////////////////////////////////////////////////////////
////  Order | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Order | Styles
//////////////////////////////////////////////////////////

.order {

  .date {
    font-family: var(--theme-serif--avenue-x);
    line-height: 1;
    font-size: 12px;
    margin: 0;
  }

  .heading {
    & + .date {
      margin-top: 20px;
    }
  }

  // ---------------------------------------- Address
  &__address {
    border-top: rgba( var(--theme-essentials-charcoal--rgb), 1 ) var(--theme-border-width) solid;
    padding-top: var(--bs-gutter-width);
    margin-top: var(--bs-gutter-width);
    font-size: 14px;
    line-height: 1.45;
    text-align: center;
    p {
      font-size: inherit;
      line-height: inherit;
      margin: 0;
    }
    .fulfillment-status,
    .payment-status {
      margin-bottom: 12px;
    }
    .heading + p {
      margin-top: 18px;
    }
    .phone {
      margin-top: 12px;
    }
  }

  // ---------------------------------------- Call to Action
  &__cta {
    text-align: center;
    margin-top: 50px;
  }

  // ---------------------------------------- Intro
  &__intro {
    margin-bottom: 32px;
    text-align: center;
  }

  // ---------------------------------------- Item
  &__item {
    border-top: rgba( var(--theme-essentials-charcoal--rgb), 1 ) var(--theme-border-width) solid;
    border-bottom: rgba( var(--theme-essentials-charcoal--rgb), 1 ) var(--theme-border-width) solid;
    padding: var(--bs-gutter-width) 0;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
  }

  // ---------------------------------------- Pricing
  &__pricing {
    border-top: rgba( var(--theme-essentials-charcoal--rgb), 1 ) var(--theme-border-width) solid;
    font-family: var(--theme-serif--avenue-x);
    padding: var(--bs-gutter-width) 0;
    font-size: 12px;
    display: flex;
    flex-flow: row wrap;
    padding-left: 50%;
    .order__row {
      width: 100%;
      justify-content: space-between;
      &.total {
        border-top: rgba( var(--theme-essentials-charcoal--rgb), 1 ) var(--theme-border-width) solid;
        padding-top: 12px;
      }
      & + .order__row {
        margin-top: 12px;
      }
    }
  }

  // ---------------------------------------- Row
  &__row {
    display: inline-flex;
    width: 100%;
  }

  // ---------------------------------------- Summary
  &__summary {
    font-family: var(--theme-serif--avenue-x);
    font-size: 12px;
    .info {
      width: 50%;
      display: inline-flex;
      flex-flow: column;
      justify-content: space-between;
      .order__row {
        justify-content: space-between;
        & + .order__row {
          margin-top: 12px;
        }
      }
    }
    .line-item {
      border-top: rgba( var(--theme-essentials-charcoal--rgb), 1 ) var(--theme-border-width) solid;
      padding: var(--bs-gutter-width) 0;
    }
    .product {
      padding-right: var(--bs-gutter-width);
      flex: 1;
      text-align: left;
      a {
        display: inline;
        line-height: 1.4;
      }
    }
  }

  @include media-breakpoint-up(sm) {

    .date {
      font-size: 13px;
    }

    // ---------------------------------------- Address
    &__address {
      font-size: 15px;
      .fulfillment-status,
      .payment-status {
        margin-bottom: 13px;
      }
      .heading + p {
        margin-top: 18px;
      }
      .phone {
        margin-top: 13px;
      }
    }

    // ---------------------------------------- Call to Action
    &__cta {}

    // ---------------------------------------- Intro
    &__intro {}

    // ---------------------------------------- Item
    &__item {}

    // ---------------------------------------- Pricing
    &__pricing {
      font-size: 13px;
      .order__row {
        &.total {
          padding-top: 13px;
        }
        & + .order__row {
          margin-top: 13px;
        }
      }
    }

    // ---------------------------------------- Row
    &__row {}

    // ---------------------------------------- Summary
    &__summary {
      font-size: 13px;
      .line-item {}
      .product {}
      .info {
        .order__row {
          & + .order__row {
            margin-top: 13px;
          }
        }
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .date {
      font-size: 14px;
    }

    // ---------------------------------------- Address
    &__address {
      font-size: 16px;
      .fulfillment-status,
      .payment-status {
        margin-bottom: 14px;
      }
      .heading + p {
        margin-top: 18px;
      }
      .phone {
        margin-top: 14px;
      }
    }

    // ---------------------------------------- Call to Action
    &__cta {}

    // ---------------------------------------- Intro
    &__intro {}

    // ---------------------------------------- Item
    &__item {}

    // ---------------------------------------- Pricing
    &__pricing {
      font-size: 14px;
      .order__row {
        &.total {
          padding-top: 16px;
        }
        & + .order__row {
          margin-top: 16px;
        }
      }
    }

    // ---------------------------------------- Row
    &__row {}

    // ---------------------------------------- Summary
    &__summary {
      font-size: 14px;
      .line-item {}
      .product {}
      .info {
        .order__row {
          & + .order__row {
            margin-top: 14px;
          }
        }
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .date {
      font-size: 10px;
    }

    &__into,
    &__pricing,
    &__summary {
      margin-right: var(--bs-gutter-width);
    }

    // ---------------------------------------- Address
    &__address {
      border-top: none;
      text-align: left;
      margin: 0;
      padding: 0;
      font-size: 12px;
      .fulfillment-status,
      .payment-status {
        margin-bottom: 8px;
      }
      .heading + p {
        margin-top: 14px;
      }
      .phone {
        margin-top: 0;
      }
      & + .order__address {
        margin-top: 32px;
      }
    }

    // ---------------------------------------- Intro
    &__intro {
      text-align: left;
    }

    // ---------------------------------------- Pricing
    &__pricing {
      font-size: 10px;
      padding-left: 40%;
      .order__row {
        &.total {
          padding-top: 20px;
        }
        & + .order__row {
          margin-top: 22px;
        }
      }
    }

    // ---------------------------------------- Summary
    &__summary {
      font-size: 10px;
      .price,
      .sku,
      .quantity,
      .total {
        flex: 1;
      }
      .price,
      .quantity,
      .total {
        text-align: right;
      }
      .info {
        width: auto;
        flex: 1;
        flex-flow: row nowrap;
        .order__label {
          display: none;
        }
        .order__row {
          justify-content: flex-end;
          &.sku {
            justify-content: flex-start;
          }
          & + .order__row {
            margin-top: 0;
          }
        }
      }
      .product {
        flex: none;
        width: 40%;
      }
    }

    // ---------------------------------------- Summary Table
    &__summary-table {
      font-size: 9px;
      margin-bottom: 14px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .date {
      font-size: 12px;
    }

    // ---------------------------------------- Address
    &__address {
      border-top: none;
      text-align: left;
      margin: 0;
      padding: 0;
      font-size: 14px;
      .fulfillment-status,
      .payment-status {
        margin-bottom: 8px;
      }
      .heading + p {
        margin-top: 14px;
      }
      .phone {
        margin-top: 0;
      }
      & + .order__address {
        margin-top: 32px;
      }
    }

    // ---------------------------------------- Intro
    &__intro {
      text-align: left;
    }

    // ---------------------------------------- Pricing
    &__pricing {
      font-size: 12px;
      padding-left: 40%;
    }

    // ---------------------------------------- Summary
    &__summary {
      font-size: 12px;
      .price,
      .sku,
      .quantity,
      .total {
        flex: 1;
      }
      .price,
      .quantity,
      .total {
        text-align: right;
      }
      .info {
        width: auto;
        flex: 1;
        flex-flow: row nowrap;
        .order__label {
          display: none;
        }
        .order__row {
          justify-content: flex-end;
          &.sku {
            justify-content: flex-start;
          }
          & + .order__row {
            margin-top: 0;
          }
        }
      }
      .product {
        flex: none;
        width: 40%;
      }
    }

    // ---------------------------------------- Summary Table
    &__summary-table {
      font-size: 10px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .date {
      font-size: 14px;
    }

    // ---------------------------------------- Address
    &__address {
      font-size: 16px;
      .fulfillment-status,
      .payment-status {
        margin-bottom: 8px;
      }
      .heading + p {
        margin-top: 14px;
      }
      .phone {
        margin-top: 0;
      }
      & + .order__address {
        margin-top: 32px;
      }
    }

    // ---------------------------------------- Intro
    &__intro {}

    // ---------------------------------------- Pricing
    &__pricing {
      font-size: 14px;
    }

    // ---------------------------------------- Summary
    &__summary {
      font-size: 14px;
      .price,
      .sku,
      .quantity,
      .total {
        flex: 1;
      }
      .price,
      .quantity,
      .total {
        text-align: right;
      }
      .info {
        width: auto;
        flex: 1;
        flex-flow: row nowrap;
        .order__label {
          display: none;
        }
        .order__row {
          justify-content: flex-end;
          &.sku {
            justify-content: flex-start;
          }
          & + .order__row {
            margin-top: 0;
          }
        }
      }
      .product {
        flex: none;
        width: 40%;
      }
    }

    // ---------------------------------------- Summary Table
    &__summary-table {
      font-size: 12px;
    }

  } // min width xxl

} // .order
