//////////////////////////////////////////////////////////
////  Pagination | Vars
//////////////////////////////////////////////////////////

$block-name: 'pagination';

//////////////////////////////////////////////////////////
////  Pagination | Styles
//////////////////////////////////////////////////////////

.#{$block-name} {

  display: flex;
  justify-content: center ;
  align-items: center;
  width: 100%;
  flex-flow: row nowrap;
  padding-top: 60px;

  &__item {

    font-family: var(--theme-serif--avenue-x);
    font-size: var(--theme-foundation-font-size);
    color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    font-weight: 400;
    line-height: 1;
    display: block;
    margin: 0 14px;

    a {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid transparent;
    }

    &.active {
      a, span {
        border-bottom: 1px solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
      }
    }

    &--arrow {
      img, svg {
        height: 10px;
        width: auto;
        display: block;
      }
      &.disabled {
        img, svg {
          opacity: 0;
        }
      }
      &.previous {
        transform: rotate(180deg);
      }
    }

    &:not(.pagination__item--arrow) {
      a {
        &:hover {
          border-bottom: 1px solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
        }
      }
    }

  }

  @include media-breakpoint-up(sm) {

    &__item {
      font-size: var(--theme-foundation-font-size--sm);
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__item {
      font-size: var(--theme-foundation-font-size--md);
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    padding-top: 100px;

    &__item {
      font-size: var(--theme-foundation-font-size--lg);
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__item {
      font-size: var(--theme-foundation-font-size--xl);
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__item {
      font-size: var(--theme-foundation-font-size--xxl);
    }

  } // min width xxl

} // .pagination
