//////////////////////////////////////////////////////////
////  Placeholder | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Placeholder | Styles
//////////////////////////////////////////////////////////

.placeholder {

  &__grid {

    [class^="col"] {
      span {
        display: flex;
        height: 50px;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: rgba( black, 0.33 );
        color: #fff;
      }
    }

    .row--inner {
      & + .row--inner {
        margin-top: 20px;
      }
    }

  }

  & + .placeholder {
    margin-top: 60px;
  }

} // .placeholder
