//////////////////////////////////////////////////////////
////  Product Knowledge | Vars
//////////////////////////////////////////////////////////

@mixin supporting-images-sizing( $gutter-width: 18px, $include-offset: true ) {

  @for $i from 1 through 5 {
    &[data-count='#{$i}'] {
      $gutter-width: $gutter-width;
      $gutter-count: $i - 1;
      $item-width-percentage: math.div( 1, $i );
      $item-width: calc( ((100% + 44px) - (#{$gutter-width} * #{$gutter-count})) * #{$item-width-percentage} );
      @if $include-offset {
        width: calc( (100% + 44px) + #{$item-width} );
        left: calc( -1 * ( (44px + #{$item-width}) * 0.5 ) );
      } @else {
        width: 100%;
        left: 0;
      }
      .product-knowledge__supporting-images-item {
        width: $item-width;
      }
    }
  }

}

:root {
  --theme-knowledge-schema-border-width: 2px;
}

//////////////////////////////////////////////////////////
////  Product Knowledge | Styles
//////////////////////////////////////////////////////////

.product-knowledge {

  .button {
    color: rgba(var(--theme-essentials-charcoal--rgb), 1);
    border-color: rgba(var(--theme-essentials-charcoal--rgb), 1);
  }

  &__brand,
  &__schema,
  &__supporting-images {
    margin-top: 46px;
  }

  &__brand {
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    img, svg {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__heading {
    margin-bottom: 28px;
  }

  &__main {
    color: rgba(var(--theme-essentials-charcoal--rgb), 1);
    overflow: hidden;
  }

  &__message {
    font-family: var(--theme-sans-serif--sofia-pro);
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: -.03em;
    p, li {
      font-size: inherit;
      font-weight: inherit;
      font-style: inherit;
      letter-spacing: inherit;
    }
  }

  &__schema {
    display: flex;
    width: 100%;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    svg {
      transition: color 300ms, fill 300ms;
      fill: currentColor;
    }
    &-content,
    &-image {
      width: 50%;
    }
    &-content {
      // border: 1px solid green;
      display: inline-flex;
      flex-flow: column;
      justify-content: center;
    }
    &-cta {
      display: inline-flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      align-items: center;
      a {
        font-size: 10px;
        padding: 12px 12px;
        flex: 1;
        &:focus,
        &:hover {
          //background: rgba( var(--theme-essentials-charcoal--rgb), 1 );
          //color: var(--theme-essentials-charcoal);
          opacity: var(--theme-hover-opacity);
        }
      }
      & + .product-knowledge__schema-cta {
        margin-top: 22px;
      }
    }
    &-cta-hr {
      transition: background 280ms;
      background: rgba(var(--theme-essentials-charcoal--rgb), 1);
      height: var(--theme-knowledge-schema-border-width);
      display: block;
      margin-left: 10px;
      width: 18px;
    }
    &-image {
      color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
      position: relative;
    }
    img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
    &-image-hr,
    &-image-vr {
      transition: background 280ms;
      display: block;
      position: absolute;
      left: 0;
    }
    &-image-hr {
      background: rgba(var(--theme-essentials-charcoal--rgb), 1);
      height: var(--theme-knowledge-schema-border-width);
      &.top {
        top: 6%;
        width: 30%;
      }
      &.bottom {
        bottom: 6%;
        width: 20%;
      }
    }
    &-image-vr {
      background: rgba(var(--theme-essentials-charcoal--rgb), 1);
      width: var(--theme-knowledge-schema-border-width);
      top: 6%;
      height: 88%;
    }
  }

  &__supporting-images {
    @include supporting-images-sizing( 20px );
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &-item {
      @include add-border( rgba(var(--theme-essentials-charcoal--rgb), 1), 999px );
      overflow: hidden;
    }
  }

  @include media-breakpoint-up(sm) {

    &__brand {
      width: 250px;
    }

    &__heading {
      margin-bottom: 32px;
    }

    &__message {
      font-size: 22px;
    }

    &__schema {
      &-cta {
        a {
          font-size: 12px;
          padding: 12px 12px;
        }
        & + .product-knowledge__schema-cta {
          margin-top: 40px;
        }
      }
      &-cta-hr {
        margin-left: 10px;
        width: 22px;
      }
      &-image-hr {
        &.top {
          top: 6%;
          width: 30%;
        }
        &.bottom {
          bottom: 6%;
          width: 20%;
        }
      }
      &-image-vr {
        top: 6%;
        height: 88%;
      }
    }

    &__supporting-images {
      @include supporting-images-sizing( 22px );
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__brand {
      width: 270px;
    }

    &__heading {
      margin-bottom: 34px;
    }

    &__message {
      font-size: 26px;
    }

    &__schema {
      &-cta {
        a {
          font-size: 14px;
          padding: 12px 12px;
        }
        & + .product-knowledge__schema-cta {
          margin-top: 50px;
        }
      }
      &-cta-hr {
        margin-left: 10px;
        width: 24px;
      }
      &-image-hr {
        &.top {
          top: 6%;
          width: 30%;
        }
        &.bottom {
          bottom: 6%;
          width: 20%;
        }
      }
      &-image-vr {
        top: 6%;
        height: 88%;
      }
    }

    &__supporting-images {
      @include supporting-images-sizing( 24px );
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__brand {
      width: 320px;
      margin-left: 0;
      margin-right: 0;
    }

    &__heading {
      margin-bottom: 46px;
    }

    &__message {
      font-size: 25px;
      width: 90%;
    }

    &__schema {
      max-width: none;
      margin-top: -48px;
      &-cta {
        a {
          font-size: 12px;
          padding: 12px 12px;
        }
        & + .product-knowledge__schema-cta {
          margin-top: 46px;
        }
      }
      &-cta-hr {
        margin-left: 12px;
        width: 30px;
      }
      &-image-hr {
        &.top {
          top: 6%;
          width: 30%;
        }
        &.bottom {
          bottom: 6%;
          width: 20%;
        }
      }
      &-image-vr {
        top: 6%;
        height: 88%;
      }
    }

    &__supporting-images {
      @include supporting-images-sizing( 24px, false );
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__brand {
      width: 380px;
    }

    &__heading {
      margin-bottom: 62px;
    }

    &__message {
      font-size: 30px;
    }

    &__schema {
      margin-top: -56px;
      &-cta {
        a {
          font-size: 14px;
          padding: 12px 12px;
        }
        & + .product-knowledge__schema-cta {
          margin-top: 54px;
        }
      }
      &-cta-hr {
        margin-left: 14px;
        width: 30px;
      }
      &-image-hr {
        &.top {
          top: 6%;
          width: 30%;
        }
        &.bottom {
          bottom: 6%;
          width: 20%;
        }
      }
      &-image-vr {
        top: 6%;
        height: 88%;
      }
    }

    &__supporting-images {
      @include supporting-images-sizing( 28px, false );
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__brand {
      width: 440px;
    }

    &__heading {
      margin-bottom: 68px;
    }

    &__message {
      font-size: 35px;
    }

    &__schema {
      margin-top: -64px;
      &-cta {
        a {
          font-size: 16px;
          padding: 12px 12px;
        }
        & + .product-knowledge__schema-cta {
          margin-top: 60px;
        }
      }
      &-cta-hr {
        margin-left: 16px;
        width: 30px;
      }
      &-image-hr {
        &.top {
          top: 6%;
          width: 30%;
        }
        &.bottom {
          bottom: 6%;
          width: 20%;
        }
      }
      &-image-vr {
        top: 6%;
        height: 88%;
      }
    }

    &__supporting-images {
      @include supporting-images-sizing( 32px, false );
    }

  } // min width xxl

} // .product-knowledge
