//////////////////////////////////////////////////////////
////  Recharge App | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Recharge App | Styles
//////////////////////////////////////////////////////////

#ReCharge {

  padding-top: var(--theme-total-header-height);

  .btn {
    &.btn--primary {
      @include add-border();
      &:focus,
      &:hover {
        background: transparent;
      }
    }
  }

  .page__customers__request-invite {
    .form {
      a {
        @include link();
      }
      .button {
        margin-top: calc(1.6666 * var(--bs-gutter-width));
      }
    }
    .grid {
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // #ReCharge
