//////////////////////////////////////////////////////////
////  ReCharge Widget | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  ReCharge Widget | Styles
//////////////////////////////////////////////////////////

.rc-widget-injection-parent {

  --theme-product-btn-radio-inner-size: 8px;
  --theme-product-btn-radio-outer-size: 16px;

  display: inline-flex;
  width: 100%;
  margin: 0;
  padding: 0;

  .rc_popup__hover {
    &:hover {
      .rc_popup__block {
        display: none;
      }
    }
  }

  .rc-container {
    margin: 0 0 var(--bs-gutter-width) 0;
    padding: 0;
  }

  .rc-option--active {
    background: transparent;
    color: inherit;
  }

  .rc-radio {
    margin: 0;
    padding: 0;
    display: inline-flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    label {
      color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
      cursor: pointer;
    }
    input {
      display: inline-flex;
      -webkit-appearance: none;
      position: relative;
      display: inline-flex;
      &:after,
      &:before {
        content: '';
        display: block;
        border-radius: 999px;
        background: transparent;
      }
      &:after {
        width: var(--theme-product-btn-radio-inner-size);
        height: var(--theme-product-btn-radio-inner-size);
        margin-left: calc( -0.5 * var(--theme-product-btn-radio-inner-size) );
        margin-top: calc( -0.5 * var(--theme-product-btn-radio-inner-size) );
        top: 50%;
        left: 50%;
        position: absolute;
      }
      &:before {
        border: 1px solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
        width: var(--theme-product-btn-radio-outer-size);
        height: var(--theme-product-btn-radio-outer-size);
      }
      &:checked {
        &:after {
          background: rgba( var(--theme-essentials-charcoal--rgb), 1 );
        }
      }
    }
  }

  .rc_widget__option__selector {
    min-height: var(--theme-button-height);
    display: inline-flex;
    align-items: center;
    & > * {
      display: block;
    }
  }

  .rc-selling-plans {
    margin: 8px 0 0 !important;
    padding: 0 !important;
    width: 100%;
    select {
      @include select( 'outlined' );
      min-width: 100%;
    }
  }

  .rc_popup {
    padding: 0;
    margin: 16px 0 0 0;
    display: flex;
    justify-content: flex-end;
    &__hover {
      margin: 0;
      padding: 0;
      svg {
        display: none;
      }
    }
    &__label {
      @include body-copy-foundation( 1, 1, 400 );
      transition: border 280ms;
      display: block;
      border-bottom: 1px solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
      margin: 0;
      padding: 0;
      &:hover {
        border-bottom-color: rgba( var(--theme-essentials-charcoal--rgb), 0 );
      }
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {

    .rc-radio {
      flex-flow: row nowrap;
    }

    .rc-selling-plans {
      margin: 0 0 0 20px !important;
      width: auto;
      flex: 1;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .rc-container {
      margin-top: -16px;
    }

    .rc-radio {
      min-height: var(--theme-button-height--lg);
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .rc-container {
      margin-top: -16px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .rc-container {
      margin-top: -16px;
    }

  } // min width xxl

}
