#rc_login {

  margin: calc(2 * var(--bs-gutter-width)) 0 0 0 !important;

  h5 {
    font-size: calc( 0.3333 * var(--theme-heading-font-size) );
    line-height: 1;
    font-weight: 600;
    text-transform: lowercase;
    letter-spacing: -.03em;
  }

  p {
    color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    margin-top: var(--bs-gutter-width);
    a {
      transition: border 280ms, color 280ms, opacity 280ms;
      border-bottom: 1px solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
      color: inherit;
      &:hover {
        color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
        border-bottom-color: transparent;
      }
    }
  }

  @include media-breakpoint-up(sm) {

    h5 {
      font-size: calc( 0.3333 * var(--theme-heading-font-size--sm) );
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    h5 {
      font-size: calc( 0.3333 * var(--theme-heading-font-size--md) );
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    h5 {
      font-size: calc( 0.3333 * var(--theme-heading-font-size--lg) );
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    h5 {
      font-size: calc( 0.3333 * var(--theme-heading-font-size--xl) );
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    h5 {
      font-size: calc( 0.3333 * var(--theme-heading-font-size--xxl) );
    }

  } // min width xxl

}
