//////////////////////////////////////////////////////////
////  Select | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Select | Styles
//////////////////////////////////////////////////////////

.select {

  @include select();

  &--outlined {
    @include select( 'outlined' );
  }

  &--full-width {
    width: 100%;
    min-width: 100%;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .select
