//////////////////////////////////////////////////////////
////  Share This | Vars
//////////////////////////////////////////////////////////

$block-name: 'share-this';

//////////////////////////////////////////////////////////
////  Share This | Styles
//////////////////////////////////////////////////////////

.#{$block-name} {

  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;

  a {
    transition: opacity 280ms;
    &:hover {
      opacity: 0.5;
    }
  }

  &__item,
  &__label {
    font-size: var(--theme-foundation-font-size);
  }

  &__item {
    height: 22px;
    width: auto;
    margin-right: 22px;
    a, img {
      display: block;
      height: 100%;
      width: auto;
    }
    &:last-child {
      margin-right: 0;
    }
    &.facebook {
      height: 25px;
    }
  }

  &__label {
    font-family: var(--theme-serif--avenue-x);
    margin-right: 14px;
  }

  @include media-breakpoint-up(sm) {

    &__item,
    &__label {
      font-size: var(--theme-foundation-font-size--sm);
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__item,
    &__label {
      font-size: var(--theme-foundation-font-size--md);
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__item,
    &__label {
      font-size: var(--theme-foundation-font-size--lg);
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__item,
    &__label {
      font-size: var(--theme-foundation-font-size--xl);
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__item,
    &__label {
      font-size: var(--theme-foundation-font-size--xxl);
    }

  } // min width xxl

}
