//////////////////////////////////////////////////////////
////  Show and Tell | Vars
//////////////////////////////////////////////////////////

@mixin show-and-tell-columns( $gutter-width: 18px ) {

  @for $i from 1 through 5 {
    &[data-count='#{$i}'] {
      $gutter-width: $gutter-width;
      $gutter-count: $i - 1;
      $item-width-percentage: math.div( 1, $i );
      $item-width: calc( ( 100% - ( #{$gutter-width} * #{$gutter-count}) ) * #{$item-width-percentage} );
      .show-and-tell__item {
        width: $item-width;
      }
    }
  }

}

//////////////////////////////////////////////////////////
////  Show and Tell | Styles
//////////////////////////////////////////////////////////

.show-and-tell {

  .button {
    color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    border-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
  }

  &__header {
    & + .show-and-tell__products {
      margin-top: 42px;
    }
  }

  &__item {

    margin-bottom: calc( 1.25 * var(--bs-gutter-width));
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;


    &-cta,
    &-title,
    &-tagline {
      margin: 0;
      padding: 0;
    }

    &-cta,
    &-tagline {
      margin-top: 16px;
    }

    &-content {
      width: calc( (100% - var(--bs-gutter-width)) * 0.58 );
      text-align: left;
    }

    &-image {
      @include add-border( rgba( var(--theme-essentials-charcoal--rgb), 1 ), 999px );
      width: calc( (100% - var(--bs-gutter-width)) * 0.38 );
      transform: translate3d(0, 0, 0);
      overflow: hidden;
      a, img {
        display: block;
        width: 100%;
        height: auto;
      }
      a {
        opacity: 1;
        &:hover {
          img {
            opacity: var(--theme-hover-opacity);
          }
        }
      }
    }

    &-title {
      text-transform: lowercase;
      font-weight: 500;
      line-height: 1.1;
      letter-spacing: -0.03em;
      font-size: 24px;
    }

    &-tagline {
      font-family: var(--theme-serif--avenue-x);
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 1;
    }

  }

  &__products {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    margin-bottom: calc( -1.25 * var(--bs-gutter-width));
  }

  @include media-breakpoint-up(sm) {

    &__header {
      & + .show-and-tell__products {
        margin-top: 44px;
      }
    }

    &__item {

      &-cta,
      &-tagline {
        margin-top: 18px;
      }

      &-content {
        width: calc( (100% - var(--bs-gutter-width)) * 0.58 );
      }

      &-title {
        font-size: 26px;
      }

      &-tagline {
        font-size: 15px;
      }

    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__header {
      & + .show-and-tell__products {
        margin-top: 46px;
      }
    }

    &__item {

      &-cta,
      &-tagline {
        margin-top: 26px;
      }

      &-title {
        font-size: 34px;
      }

      &-tagline {
        font-size: 18px;
      }

    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__item,
    &__products {
      margin-bottom: 0;
    }

    &__header {
      & + .show-and-tell__products {
        margin-top: 50px;
      }
    }

    &__item {

      flex-flow: row wrap;

      &-cta,
      &-title,
      &-tagline {
        margin-top: 20px;
      }

      &-content,
      &-image {
        width: 100%;
      }

      &-content {
        text-align: center;
      }

      &-title {
        font-size: 20px;
      }

      &-tagline {
        font-size: 12px;
      }

    }

    &__products {
      @include show-and-tell-columns( 20px );
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: space-between;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__header {
      & + .show-and-tell__products {
        margin-top: 54px;
      }
    }

    &__item {

      &-cta,
      &-title,
      &-tagline {
        margin-top: 22px;
      }

      &-title {
        font-size: 22px;
      }

      &-tagline {
        font-size: 14px;
      }

    }

    &__products {
      @include show-and-tell-columns( 22px );
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__header {
      & + .show-and-tell__products {
        margin-top: 58px;
      }
    }

    &__item {

      &-cta,
      &-title,
      &-tagline {
        margin-top: 24px;
      }

      &-title {
        font-size: 24px;
      }

      &-tagline {
        font-size: 16px;
      }

    }

    &__products {
      @include show-and-tell-columns( 24px );
    }

  } // min width xxl

} // .show-and-tell
