//////////////////////////////////////////////////////////
////  Shop Guide | Vars
//////////////////////////////////////////////////////////

:root {

  --theme-shop-guide-vr-height: 15px;
  --theme-shop-guide-vr-height--sm: 15px;
  --theme-shop-guide-vr-height--md: 20px;
  --theme-shop-guide-vr-height--lg: 15px;
  --theme-shop-guide-vr-height--xl: 18px;
  --theme-shop-guide-vr-height--xxl: 21px;

}

//////////////////////////////////////////////////////////
////  Shop Guide | Styles
//////////////////////////////////////////////////////////

.shop-guide {

  padding: var(--theme-section-padding) 0;

  .button {
    color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    border-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
  }

  &__collections-guide-hr,
  &__collections-guide-vr {
    background: rgba( var(--theme-essentials-charcoal--rgb), 1 );
  }

  &__brand {
    width: 270px;
    margin: 60px auto 0;
    img, svg {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  &__collections {
    width: 100%;
    max-width: 550px;
    margin: auto;
    a {
      transition: opacity 280ms;
      &:focus,
      &:hover {
        opacity: var(--theme-hover-opacity);
        color: inherit;
        .button {
          opacity: inherit;
        }
      }
    }
  }

  &__collections-guide {
    margin-bottom: var(--bs-gutter-width);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__collections-guide-hr {
    height: var(--theme-border-width);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
  }

  &__collections-guide-vr {
    width: var(--theme-border-width);
    height: var(--theme-shop-guide-vr-height);
    display: none;
    &.top,
    &.first,
    &.last {
      display: block;
    }
    &.top {
      height: calc( 2 * var(--theme-shop-guide-vr-height));
      margin: auto;
    }
  }

  &__collections-list {
    margin-bottom: calc( -1.25 * var(--bs-gutter-width) );
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    .collection {
      margin-bottom: calc( 1.25 * var(--bs-gutter-width) );
    }
  }

  &__header {
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 28px;
  }

  &__heading {
    & + .shop-guide__message {
      margin-top: 36px;
    }
  }

  &__main {
    color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
  }

  &__message {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  &__sample-product {
    margin: 70px auto 0;
    width: 150px;
    img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  @include media-breakpoint-up(sm) {

    padding: var(--theme-section-padding--sm) 0;

    &__brand {
      margin-top: 80px;
      width: 340px;
    }

    &__collections {}

    &__collections-guide-hr {}

    &__collections-guide-vr {
      height: var(--theme-shop-guide-vr-height--sm);
      &.top {
        height: calc( 2 * var(--theme-shop-guide-vr-height--sm));
      }
    }

    &__message {
      width: 68%;
    }

    &__sample-product {
      margin: 75px auto 0;
      width: 160px;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    padding: var(--theme-section-padding--md) 0;

    &__brand {
      margin-top: 100px;
      width: 360px;
    }

    &__collections {}

    &__collections-guide-hr {}

    &__collections-guide-vr {
      height: var(--theme-shop-guide-vr-height--md);
      &.top {
        height: calc( 2 * var(--theme-shop-guide-vr-height--md));
      }
    }

    &__message {
      width: 66%;
    }

    &__sample-product {
      margin: 80px auto 0;
      width: 170px;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    padding: var(--theme-section-padding--lg) 0;

    &__brand {
      margin-top: var(--theme-section-padding--lg);
      width: 300px;
    }

    &__collections {
      max-width: none;
      width: 90%;
    }

    &__collections-guide-vr {
      height: var(--theme-shop-guide-vr-height--lg);
      display: block;
      &.top {
        height: calc( 2 * var(--theme-shop-guide-vr-height--lg));
      }
    }

    &__header {
      margin-bottom: 28px;
    }

    &__heading {
      & + .shop-guide__message {
        margin-top: 24px;
      }
    }

    &__sample-product {
      margin: 28px auto 0;
      width: 100px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    padding: var(--theme-section-padding--xl) 0;

    &__brand {
      margin-top: var(--theme-section-padding--xl);
      width: 350px;
    }

    &__collections {}

    &__collections-guide-vr {
      height: var(--theme-shop-guide-vr-height--xl);
      display: block;
      &.top {
        height: calc( 2 * var(--theme-shop-guide-vr-height--xl));
      }
    }

    &__header {
      margin-bottom: 34px;
    }

    &__heading {
      & + .shop-guide__message {
        margin-top: 27px;
      }
    }

    &__sample-product {
      margin: 34px auto 0;
      width: 110px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    padding: var(--theme-section-padding--xxl) 0;

    &__brand {
      margin-top: var(--theme-section-padding--xxl);
      width: 400px;
    }

    &__collections {}

    &__collections-guide-vr {
      height: var(--theme-shop-guide-vr-height--xxl);
      display: block;
      &.top {
        height: calc( 2 * var(--theme-shop-guide-vr-height--xxl));
      }
    }

    &__header {
      margin-bottom: 40px;
    }

    &__heading {
      & + .shop-guide__message {
        margin-top: 30px;
      }
    }

    &__sample-product {
      margin: 40px auto 0;
      width: 120px;
    }

  } // min width xxl

} // .shop-guide
