//////////////////////////////////////////////////////////
////  Subscription Details | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Subscription Details | Styles
//////////////////////////////////////////////////////////

.subscription-details {

  @include add-padding(y);
  text-align: center;
  padding-bottom: calc(1.5 * var(--theme-section-padding));

  &__item {
    padding: 40px;
    display: block;
    width: 100%;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
    & + .subscription-details__item {
      border-top: var(--theme-border-width) solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
    }
  }

  &__list {
    @include add-border();
    padding: 40px;
    display: flex;
    width: 100%;
    max-width: 360px;
    margin: auto;
    height: auto;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  &__message {
    margin-left: auto;
    margin-right: auto;
  }

  @include media-breakpoint-up(sm) {

    padding-bottom: calc(1.5 * var(--theme-section-padding--sm));

  } // min width sm

  @include media-breakpoint-up(md) {

    padding-bottom: calc(1.5 * var(--theme-section-padding--md));

    &__list {
      max-width: 500px;
    }

    &__message {
      width: 71.5%;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    padding-bottom: calc(1.5 * var(--theme-section-padding--lg));

    &__item {
      width: auto;
      padding: 24px 36px;
      &:first-child {
        padding-top: 24px;
      }
      &:last-child {
        padding-bottom: 24px;
      }
      & + .subscription-details__item {
        border-top: 0;
        border-left: var(--theme-border-width) solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
      }
    }

    &__list {
      border: none;
      padding: 0;
      flex-flow: row nowrap;
      max-width: none;
      margin-top: 68px;
    }

    &__message {
      width: 90%;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    padding-bottom: calc(1.5 * var(--theme-section-padding--xl));

    &__list {
      margin-top: 76px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    padding-bottom: calc(1.5 * var(--theme-section-padding--xxl));

    &__list {
      margin-top: 86px;
    }

  } // min width xxl

} // .subscription-details
