//////////////////////////////////////////////////////////
////  Tabbed | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Tabbed | Styles
//////////////////////////////////////////////////////////

.tabbed {

  .has-tabs {
    .tabbed__button {
      &.active,
      &:hover {
        .tabbed__button-title {
          border-bottom: 1px solid rgba( var(--theme-essentials-charcoal--rgb), 1 );
          opacity: 1;
        }
      }
    }
    .tabbed__button-title {
      border-bottom: 1px solid transparent;
      opacity: var(--theme-hover-opacity);
    }
  }

  .no-tabs {
    .tabbed__button {
      &:hover {
        cursor: default;
      }
    }
  }

  &__button {

    outline: none;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    color: inherit;

    &-title {
      transition: opacity 280ms, border 280ms;
    }

  }

  &__nav {
    border: none;
    outline: none;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .tabbed
