//////////////////////////////////////////////////////////
////  Tags | Vars
//////////////////////////////////////////////////////////

$block-name: 'tags';

//////////////////////////////////////////////////////////
////  Tags | Styles
//////////////////////////////////////////////////////////

.#{$block-name} {

  display: inline-flex;
  width: 100%;
  align-items: baseline;
  justify-content: flex-start;

  &__item,
  &__label {
    font-size: var(--theme-foundation-font-size);
  }

  &__item {
    display: inline-flex;
    justify-content: flex-start;
    align-items: baseline;
    font-style: normal;
    line-height: 1;
  }

  &__label {
    margin-right: 5px;
  }

  &__link {
    transition: border 280ms, color 280ms, opacity 280ms;
    color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
    text-transform: lowercase;
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    line-height: inherit;
    font-style: inherit;
    &:hover {
      color: inherit;
    }
  }

  // ---------------------------------------- Article
  &--article {
    font-family: var(--theme-serif--avenue-x);
    flex-flow: row wrap;
    margin-bottom: -12px;
    .#{$block-name} {
      &__item {
        margin-right: 10px;
        margin-bottom: 12px;
        &:after {
          content: ',';
        }
        &:last-child {
          margin-right: 0;
          &:after {
            display: none;
          }
        }
      }
      &__link {
        font-weight: 300;
        border-bottom-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
        &:hover {
          border-bottom-color: transparent;
        }
      }
    }
  }

  // ---------------------------------------- Blog
  &--blog {
    font-family: var(--theme-sans-serif--sofia-pro);
    .#{$block-name} {
      &__item {
        line-height: 1.4;
        & + .#{$block-name}__item {
          margin-left: 30px;
        }
      }
      &__link {
        font-weight: 500;
        border-bottom-color: transparent;
        &.active,
        &:hover {
          border-bottom-color: rgba( var(--theme-essentials-charcoal--rgb), 1 );
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {

    &__item,
    &__label {
      font-size: var(--theme-foundation-font-size--sm);
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__item,
    &__label {
      font-size: var(--theme-foundation-font-size--md);
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__item,
    &__label {
      font-size: var(--theme-foundation-font-size--lg);
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__item,
    &__label {
      font-size: var(--theme-foundation-font-size--xl);
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__item,
    &__label {
      font-size: var(--theme-foundation-font-size--xxl);
    }

  } // min width xxl

} // .tags
