//////////////////////////////////////////////////////////
////  Title | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Title | Styles
//////////////////////////////////////////////////////////

.title {

  // ---------------------------------------- Font Weight Scales
  @for $i from 1 through 9 {
    &--#{$i}00 {
      font-weight: $i * 100;
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .heading
