.video-embed {

  display: flex;
  position: relative;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  iframe {
    width: 100%;
  }

  &__overlay,
  &__positioning {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &__content {
    text-align: center;
    position: relative;
    z-index: 1;
  }

  &__overlay {
    background: rgba( var(--theme-essentials-charcoal--rgb), 0.6666 );
    z-index: 0;
  }

  &__positioning {
    z-index: -1;
  }

}
