//////////////////////////////////////////////////////////
////  WYSIWYG | Vars
//////////////////////////////////////////////////////////

// 36/26px
// 36/26px
// 46/36px

// 38/28px
// 46/34px
// 50/38px

//////////////////////////////////////////////////////////
////  WYSIWYG | Styles
//////////////////////////////////////////////////////////

.wysiwyg {

  padding-top: calc( 1.25 * var(--theme-section-padding) );
  padding-bottom: calc( 1.5 * var(--theme-section-padding) );

  .rte {
    font-size: 26px;
    letter-spacing: -0.03em;
    line-height: 1.2;
    strong {
      font-weight: 500;
      font-size: 36px;
      letter-spacing: -0.03em;
    }
  }

  @include media-breakpoint-up(sm) {

    padding-top: calc( 1.25 * var(--theme-section-padding--sm) );
    padding-bottom: calc( 1.5 * var(--theme-section-padding--sm) );

    .rte {
      font-size: 30px;
      strong {
        font-size: 40px;
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    padding-top: calc( 1.25 * var(--theme-section-padding--md) );
    padding-bottom: calc( 1.5 * var(--theme-section-padding--md) );

    .rte {
      font-size: 36px;
      strong {
        font-size: 46px;
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    padding-top: calc( 1.5 * var(--theme-section-padding--lg) );
    padding-bottom: calc( 1.75 * var(--theme-section-padding--lg) );

    .rte {
      font-size: 28px;
      strong {
        font-size: 38px;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    padding-top: calc( 1.5 * var(--theme-section-padding--xl) );
    padding-bottom: calc( 1.75 * var(--theme-section-padding--xl) );

    .rte {
      font-size: 36px;
      strong {
        font-size: 46px;
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    padding-top: calc( 1.5 * var(--theme-section-padding--xxl) );
    padding-bottom: calc( 1.75 * var(--theme-section-padding--xxl) );

    .rte {
      font-size: 40px;
      strong {
        font-size: 50px;
      }
    }

  } // min width xxl

} // .wysiwyg
