{% assign block_name = 'error-404' %}

{% assign heading = settings.error-404--heading | default: "404" %}
{% assign message = settings.error-404--message | default: "Oops! Content or page not found :(" %}
{% assign cta_title = settings.error-404--cta-title | default: false %}
{% assign cta_url = settings.error-404--cta-url | default: false %}

<section class="{{ block_name }}">
  <div class="{{ block_name }}__main">
    {% render 'layout--container', state: 'open' %}
      <div class="{{ block_name }}__content">
        <h1 class="{{ block_name }}__heading heading heading--600 lowercase heading--primary heading--{{ block_name }}">{{ heading }}</h1>
        <div class="{{ block_name }}__message message message--secondary message--{{ block_name }}">{{ message }}</div>
        {% if cta_title and cta_url %}
          <div class="{{ block_name }}__cta">
            {%
              render 'content--link',
              classes: 'button button--outlined',
              title: cta_title,
              url: cta_url
            %}
          </div>
        {% endif %}
      </div>
    {% render 'layout--container', state: 'closed' %}
  </div>
</section>
