<form action="/cart" method="post" novalidate>

  {% render 'cart--empty', include_container: true, cart: cart %}
  {% render 'cart--body', include_container: true, cart: cart %}
  {% render 'cart--footer', include_container: true, cart: cart %}

 </form>
