{% if shop.metafields.loox["global_stats"] %}
{% assign looxstats = shop.metafields.loox["global_stats"] | split: "," %}
<div itemscope itemtype="https://schema.org/Product">
<meta itemprop="name" content="{{ shop.name | escape }}"/>
<div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
<meta itemprop="ratingValue" content="{{ looxstats[0] }}"/>
<meta itemprop="ratingCount" content="{{ looxstats[1] }}"/>
</div>
</div>
{% endif %}
<section class="section section--intro">
  <div class="container"><div class="row"><div class="col-12">
		<h1>{{ page.title }}</h1>
	</div></div></div>
</section>

<section class="section section--main">
  <div class="container"><div class="row"><div class="col-12">
    <div class="message rte">
      {{ page.content }}
    </div>
  </div></div></div>
</section>

<div id="looxReviews" data-loox-aggregate="" class="loox-reviews-default"></div>