{% comment %}

##COLONY
##SHOPIFY2.0

{
  "name": "Thank You",
  "wrapper": "section#thank-you-body.thank-you-body",
  "sections": {
    "main": {
      "type": "thank-you-page"
    }
  },
  "order": ["main"]
}

{% endcomment %}

<section id="thank-you-body" class="thank-you-body">
  {% section 'page--thank-you' %}
</section>
