{% comment %}

##COLONY
##SHOPIFY2.0

{
  "name": "Privacy Page",
  "wrapper": "section#privacy-body.privacy-body",
  "sections": {
    "main": {
      "type": "privacy-page"
    }
  },
  "order": ["main"]
}

{% endcomment %}

<section id="privacy-body" class="privacy-body">
  {% section 'page--privacy' %}
</section>
