{% assign block_name = 'page' %}

<div class='{{ block_name }}__hero hero hero--page'>
  {% render 'layout--container', col: 'col-12 col-lg-10 offset-lg-1', state: 'open' %}
		<h1 class='{{ block_name }}__heading {{ block_name }}__heading--page-title heading heading--600 lowercase '>{{ page.title }}</h1>
	{% render 'layout--container', state: 'closed' %}
</div>

<div class='{{ block_name }}__body'>
  {% render 'layout--container', col: 'col-12 col-lg-10 offset-lg-1', state: 'open' %}
    <div class="message rte">{{ page.content }}</div>
  {% render 'layout--container', state: 'closed' %}
</div>
