{% comment %}

##COLONY
##SHOPIFY2.0

{
  "name": "Landing Page",
  "wrapper": "section#main-body.main-body",
  "sections": {
    "main": {
      "type": "landing-page"
    }
  },
  "order": ["main"]
}

{% endcomment %}

<section id="main-body" class="main-body">
  {% section 'page--landing-page' %}
</section>
