<div data-product-type="{{ product.type }}">
  <form action='/cart/add' method='post' enctype='multipart/form-data'>
    {% render 'product--details', product: product %}
    {% render 'product--health-badges', product: product %}
    {% render 'product--education', product: product %}
    {% render 'product--campaign-gallery', product: product %}
    {% render 'product--recommended', product: product %}
  </form>
</div>

{% if product.metafields.loox.num_reviews %}
	<script id="looxSchemaJson" type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Product",
		"@id": {{ canonical_url | json }},
		"aggregateRating": {
			"@type": "AggregateRating",
			"ratingValue": "{{ product.metafields.loox.avg_rating }}",
			"reviewCount": "{{ product.metafields.loox.num_reviews }}"
		},
		"name": {{ product.title | json }}
	}
	</script>
{% endif %}

<div id="looxReviews" data-product-id="{{product.id}}" class="loox-reviews-default">{{ product.metafields.loox.reviews }}</div>
