{% assign block_name = 'search' %}

<div class='{{ block_name }}__hero'>
  {% render 'layout--container', col: 'col-12 col-lg-10 offset-lg-1', state: 'open' %}
    {%- if search.performed -%}
      {%- if search.results_count == 0 -%}
        <h2 class='{{ block_name }}__results-heading heading heading--600 lowercase heading--tertiary'>{{ search.results_count }} results for “{{ search.terms }}”</h2>
        <div class='{{ block_name }}__results-message message'>
          <p><a href="/search/" target="_self">Try another search term?</a></p>
        </div>
      {%- endif -%}
    {%- else -%}
      {% render 'form--search' %}
    {% endif %}
  {% render 'layout--container', state: 'closed' %}
</div>

{% paginate search.results by 9 %}

  {% if search.performed %}

    {% assign result_types = 'product, article, page' | split: ', ' %}

    {% for type in result_types %}
      {%
        render 'search--results',
        results: search.results,
        type: type,
        terms: search.terms
      %}
    {% endfor %}

  {% endif %}

  {%
    render 'content--pagination',
    paginate: paginate,
    style: 'search'
  %}

{% endpaginate %}
